<div class="content-wraper ccpp">
    <mensaje></mensaje>
    <spinner></spinner>
    <!-- CONTENT-->
    <section class="container-fluid clearfix" *ngIf="data">
        <!--Title-->
        <div class="row titleSection titleSectionTable">
            <div class="col-xs-12 col-sm-8 fixtwobuttons animate" style="vertical-align:bottom;">
                <div style="line-height:0.8;">
                    <strong>Carta de Porte:
                        <span>Nº {{data.ccpp}}</span></strong>
                </div>
                <div class="titleExtraData titleExtraDataOneLine">
                    Vendedor: <strong>
                        {{data.entregasDescargas[0].descripcionVendedor}}
                    </strong>({{data.entregasDescargas[0].vendedor}})
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 btnSections">
                <spinner-small #smallSpinner></spinner-small>
                <!--<a (click)="exportExcel()" href="#" style="text-decoration:none!important" *ngIf="!isExportVisible()">-->
                <a (click)="exportExcel()" href="#" style="text-decoration:none!important"
                    *ngIf="!this.spinnerSmallComponent.visible">
                    <div class="btnSection animate align-right">Exportar <img src="Content/images/buttons/EXPORT.svg" />
                    </div>
                </a>
                <button type="button" class="btn-custom btn-add" (click)="abrirModal()">
                    Ver Carta de Porte
                </button>

                <button type="button" style="display:none" id="openModalHiddenButton" data-toggle="modal"
                    data-target="#myModal"></button>
                <!--<a href="#" style="text-decoration:none!important">
                    <div class="btnSection animate print">Imprimir <span class="fa  fa-print"></span></div>
                </a>-->
                <!-- Button trigger modal -->
                <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
                    (click)="abrirModal()" style="display: none;">Open Modal</button> -->
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                onClick="abrirModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Foto CCPP N°{{data.ccpp}}</h4>

                        </div>
                        <div class="modal-body">
                            <img src="{{fotoSrc}}" id="CartaPorteImagen" class="img-responsive"
                                style="display: block; max-width: 100%;" />
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" id="CartaPorteDescargar" download="{{data.ccpp}}.jpg"
                                href="{{fotoSrc}}">Descargar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Title-->
        <!--Datos de entrega-->
        <div id="Entrega" class="firstSection row myRow"
            *ngIf="data.entregasDescargas && data.entregasDescargas[0].cg != ''">
            <div class="row titleSection titleSectionNoBorder">
                <div class="col-xs-12 col-sm-12"><strong>Datos de entrega</strong></div>
                <div class="col-xs-12 rowInfoGrey rounded shadow animate rowInfoRoundedGreen"
                    style="padding: 10px 10px;">
                    <div>
                        <div class="col-xs-12 col-sm-2">
                            <p class="black" style="text-align: center;">Fecha</p>
                            <p style="text-align: center;">{{data.entregasDescargas[0].fecha}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <p class="black" style="text-align: center;">Producto</p>
                            <p style="text-align: center;">{{data.entregasDescargas[0].descripcionProducto}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <p class="black" style="text-align: center;">Descargado en planta</p>
                            <p style="text-align: center;">{{data.entregasDescargas[0].descargaCentro}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <p class="black" style="text-align: center;">Procedencia</p>
                            <p style="text-align: center;">{{data.entregasDescargas[0].procedencia}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-1">
                            <p class="black" style="text-align: center;">Total descargado</p>
                            <p style="text-align: center;">{{data.entregasDescargas[0].netoDescontadoString}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-1">
                            <p class="black" style="text-align: center;">Total Aplicados</p>
                            <p style="text-align: center;">{{data.entregasDescargas[0].totalAplicadosString}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <p class="black" style="text-align: center;">CG</p>
                            <p style="text-align: center;">{{data.entregasDescargas[0].cg}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="Entrega" class="firstSection row myRow"
            *ngIf="data.entregasDescargas && data.entregasDescargas[0].cg == ''">
            <div class="row titleSection titleSectionNoBorder">
                <div class="col-xs-12 col-sm-12"><strong>Datos de entrega</strong></div>
                <div class="col-xs-12 rowInfoGrey rounded shadow animate rowInfoRoundedGreen"
                    style="padding: 10px 10px;">
                    <div>
                        <div class="col-xs-12 col-sm-2">
                            <p class="black" style="text-align: center;">Fecha</p>
                            <p style="text-align: center;">{{data.entregasDescargas[0].fecha}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <p class="black" style="text-align: center;">Producto</p>
                            <p style="text-align: center;">{{data.entregasDescargas[0].descripcionProducto}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <p class="black" style="text-align: center;">Descargado en planta</p>
                            <p style="text-align: center;">{{data.entregasDescargas[0].descargaCentro}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <p class="black" style="text-align: center;">Procedencia</p>
                            <p style="text-align: center;">{{data.entregasDescargas[0].procedencia}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <p class="black" style="text-align: center;">Total descargado</p>
                            <p style="text-align: center;">{{data.entregasDescargas[0].netoString}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <p class="black" style="text-align: center;">Total Aplicados</p>
                            <p style="text-align: center;">{{data.entregasDescargas[0].totalAplicadosString}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row myRow titleSection titleSectionNoBorder">
            <!--aplicaciones-->
            <div id="Aplicaciones" class="col-xs-12 col-sm-7">
                <div id="showAplicaciones" class="showBtn height-auto btn-grande btnSection btnInfo animate"
                    onClick="showAplicaciones()">
                    <div>
                        <li class="fa fa-angle-double-right" aria-hidden="true"></li>
                    </div>
                    <div>Aplicaciones</div>
                </div>
                <div id="hideAplicaciones"
                    class="hideBtn height-auto btn-grande btnSection btnInfo animate btnInfoClose"
                    onClick="closeAplicaciones()">
                    <div>
                        <li class="fa fa-times" aria-hidden="true"></li>
                    </div>
                    <div>Aplicaciones</div>
                </div>
                <div class="row titleSection titleSectionNoBorder hideMobile">
                    <div class="col-xs-12 col-sm-12"><strong>Aplicaciones</strong></div>
                </div>
                <div id="myAplicaciones" class="row myRow hideMobile">
                    <div class="clearfix myTables">
                        <table id=""
                            class="display nowrap dataTable no-footer dtr-inline rounded shadow animate boletosTable"
                            cellspacing="0" role="grid" style="width: 100%; padding:10px 0;">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" rowspan="1" colspan="1">Fecha de Aplicaci&oacute;n</th>
                                    <th tabindex="0" rowspan="1" colspan="1">Contrato Molinos</th>
                                    <th tabindex="0" rowspan="1" colspan="1">Kilos Aplicados</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let aplicacion of data.aplicaciones" role="row" class="odd">
                                    <td tabindex="0" class="sorting_1">{{aplicacion.fecha}}</td>
                                    <td>
                                        <a class="animate"
                                            (click)="goToSeccionParam('/contrato/detalle', aplicacion.contrato)"
                                            href="#">{{aplicacion.contrato}}</a>
                                    </td>
                                    <td>{{aplicacion.kgAplicadosString}}</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr role="row" class="totalTable">
                                    <td tabindex="0">TOTAL</td>

                                    <td></td>
                                    <td>{{data.aplicacionesTotalAplicadosString}}</td>
                                </tr>
                                <tr role="row" class="totalTableWhite">
                                    <td tabindex="0">Excedente</td>

                                    <td></td>
                                    <td>{{data.aplicacionesTotalExcedentesString}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end aplicaciones -->
            <!-- DESCARGA---->
            <div id="Descarga" class="col-xs-12 col-sm-5" *ngIf="data.entregasDescargas">
                <div id="showDescarga" class="showBtn height-auto btn-grande btnSection btnInfo animate"
                    onClick="showDescarga()">
                    <div>
                        <li class="fa fa-angle-double-right" aria-hidden="true"></li>
                    </div>
                    <div>Datos de descarga</div>
                </div>
                <div id="hideDescarga" class="hideBtn height-auto btn-grande btnSection btnInfo animate btnInfoClose"
                    onClick="closeDescarga()">
                    <div>
                        <li class="fa fa-times" aria-hidden="true"></li>
                    </div>
                    <div>Datos de descarga</div>
                </div>
                <div class="row titleSection titleSectionNoBorder hideMobile">
                    <div class="col-xs-12 col-sm-12"><strong>Datos de descarga</strong></div>
                </div>
                <div id="myDescarga"
                    class="col-xs-12 rowInfoGrey rounded shadow animate rowInfoRoundedGreen hideMobile">
                    <div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="black">Vehículo</p>
                            <p>{{data.entregasDescargas[0].tipoVehiculo}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="black">Chasis</p>
                            <p>{{data.entregasDescargas[0].patente}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p class="black">Acoplado</p>
                            <p>{{data.entregasDescargas[0].acoplado}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end datos de descarga-->
        </div>


        <!--Calidad-->
        <div class="row myRow">
            <div id="Calidad" class="col-sm-12  hideMobile">
                <div class="row titleSection titleSectionNoBorder">
                    <div class="col-xs-12 col-sm-12"><strong>Calidad</strong></div>
                </div>
                <div class="row myRow">
                    <div class="clearfix totalTable">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>resultado final TOTAL</td>
                                <td width="20%">
                                    <p>Kgs Descargados</p>
                                    {{data.calidadTotalNetosString}}
                                </td>
                                <td width="20%">
                                    <p>Kgs Netos Descontados</p>
                                    {{data.calidadTotalNetosDescontadosString}}
                                </td>
                                <td width="20%">
                                    <p>Kg Aplicados</p>
                                    {{data.calidadTotalAplicadosString}}
                                </td>
                                <td width="5%"></td>
                            </tr>
                        </table>
                    </div>
                    <table class="CalidadCCPP" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="80%" valign="top">
                                <table class="CalidadCCPPData rounded shadow animate" width="100%" border="0"
                                    cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>
                                            <table class="CalidadCCPPDataPaddingBottom" width="100%" border="0"
                                                cellspacing="0" cellpadding="0">
                                                <tr *ngIf="data.camaraAPresent != ''  && (condicionCamara && porcentajeDescuento );else second"
                                                    class="CalidadCCPPDataCategoria">

                                                    <th class="black" width="20%" rowspan="2">Características</th>
                                                    <th width="40%" colspan="3" class=" CalidadCCPPDataSub">
                                                        <div class="black">
                                                            <p align="center">
                                                                C&aacute;mara <span style="color: red;">(Pendiente de
                                                                    Resultado)</span>
                                                            </p>
                                                        </div>
                                                    </th>
                                                </tr>
                                                <ng-template #second>
                                                    <tr
                                                        *ngIf="data.camaraAPresent != '' && (!condicionCamara || !porcentajeDescuento);else third">
                                                        <th class="black" width="20%" rowspan="2">Características</th>
                                                        <th width="40%" colspan="3" class="CalidadCCPPDataSub">
                                                            <div class="black">
                                                                <p align="center">C&aacute;mara</p>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template #third>
                                                    <tr>
                                                        <th class="black" width="20%" rowspan="2">Características</th>
                                                        <th width="40%" colspan="3" class="CalidadCCPPDataSub">
                                                            <div class="black">
                                                                <p align="center">Calado</p>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </ng-template>

                                                <tr *ngIf="data.camaraAPresent != '';else first"
                                                    class="CalidadCCPPDataCategoria">
                                                    <!--Camara-->
                                                    <th id="" class="black" style="text-align:right">Resultado
                                                    </th>
                                                    <th id="" class="black">Kg DTO.</th>
                                                    <th id="" class="black">DTO (%)</th>
                                                </tr>
                                                <ng-template #first>
                                                    <tr>
                                                        <!--Calado-->
                                                        <th id="" class="black" style="text-align: right;">
                                                            Resultado
                                                        </th>
                                                        <th id="" class="black">Kg DTO.</th>
                                                        <th id="" class="black">DTO (%)</th>
                                                    </tr>
                                                </ng-template>

                                                <ng-container *ngFor="let calidad of data.datosCalidad">
                                                    <tr
                                                        *ngIf="data.camaraAPresent != '' && (!condicionCamara || !porcentajeDescuento);else first">
                                                        <!--Camara-->
                                                        <td>{{calidad.caracteristica}}</td>
                                                        <td>{{calidad.resultadoCamara}}%</td>
                                                        <td>{{calidad.kgDescuentoString}}</td>
                                                        <td>
                                                            {{calidad.porcentajeDescuento}}%
                                                        </td>
                                                    </tr>
                                                    <ng-template #first>
                                                        <tr
                                                            *ngIf="data.camaraAPresent == '' || data.camaraAPresent == null; else second">
                                                            <!--Calado-->
                                                            <td>{{calidad.caracteristica}}</td>
                                                            <td>{{calidad.resultadoCalado}}%</td>
                                                            <td>{{calidad.kgDescuentoString}}</td>
                                                            <td>
                                                                {{calidad.porcentajeDescuento}}%
                                                            </td>

                                                        </tr>
                                                    </ng-template>
                                                    <ng-template #second>
                                                        <tr
                                                            *ngIf="
                                                                data.camaraAPresent != '' &&
                                                                ((condicionCamara  && porcentajeDescuento ))
                                                                && (calidad.caracteristica.toUpperCase().includes('HUMEDAD') || calidad.kgDescuento > 0)">
                                                            <!--Mostrar solo humedad-->
                                                            <td>{{calidad.caracteristica}}</td>
                                                            <td>{{calidad.resultadoCalado}}%</td>
                                                            <td>{{calidad.kgDescuentoString}}</td>
                                                            <td>
                                                                {{calidad.porcentajeDescuento}}%
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </ng-container>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--Botones mobile-->
        <div class="showBtn height-auto btn-grande btnSection btnInfo animate downloadPDF">
            <a (click)="descargarPDF()" href="#">
                <div>
                    <li class="fa fa-file-pdf-o" aria-hidden="true"></li>
                </div>
                <div>Calidad</div>
            </a>
        </div>
        <!--Fin botones mobile-->
    </section>
    <!--End CONTENT-->

</div>