<div class="content-wraper">
    <div class="row titleSection">Alta Proveedores: <strong>{{razonSocial}} ({{proveedorCUIT}})</strong></div>
    <mensaje #msjEmpresaGranos></mensaje>
    <spinner-small></spinner-small>
    <div class="myRow firstSection roundedInfo" id="container">
        <div>
            <div>
                <div class="col-xs-12 col-sm-6">
                    <div class="step-container shadow" name="Step 1" label="Informe comercial" *ngIf="!esCorredor || puedeAltaInterna">
                        <div class="col-xs-12 col-md-12 step-container-header">
                            Informe comercial
                        </div>
                        <div class="container-fluid">
                            <div class="col-xs-12">
                                <app-informe-comercial [proveedorId]="proveedorId" [displayType]="'link'">
                                </app-informe-comercial>
                            </div>
                            <div class="col-xs-12">
                                <label for="informeComercialFirmado">
                                    <span class="link-adjuntar">Adjuntar</span> informe comercial <strong>
                                        completo y
                                        firmado
                                        <span class="requerido">*</span>
                                    </strong>
                                </label>

                                <input style="display:none" type="file" class="form-control-file"
                                       id="informeComercialFirmado"
                                       (change)="handleFileInput($event.target.files, 'informeComercialFirmado')">

                                <div class="container-archivos">
                                    <span *ngFor="let archivo of listaArchivos | archivosFilterPipe:'informeComercialFirmado'">
                                        <a class="link-archivo" (click)="descargarArchivo(archivo )">
                                            {{archivo.Nombre}}
                                        </a>

                                        <a class="link-eliminar" (click)="eliminarArchivo(archivo)"
                                           title="Eliminar Adjunto">Eliminar</a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <p>
                                    Una vez recibida el alta se solicitar&aacute; la firma electr&oacute;nica de este
                                    documento, requisito para avanzar con el alta.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="step-container shadow" name="Step 1" label="Carta de presentación" *ngIf="esCorredor && !puedeAltaInterna">
                        <div class="col-xs-12 col-md-12 step-container-header">
                            Carta de presentación
                        </div>
                        <div class="container-fluid">
                            <div class="col-xs-12">

                                <app-carta-presentacion [proveedorId]="proveedorId" [proveedorMail]="proveedorMail" [displayType]="'link'">
                                </app-carta-presentacion>
                            </div>
                            <div class="col-xs-12">
                                <label class="informe-firmado label" for="cartaDePresentacionFirmada">
                                    <span class="link-adjuntar">Adjuntar</span>
                                    carta de presentación <strong>
                                        completa y firmada <span class="requerido">*</span>
                                    </strong>

                                </label>
                                <input style="display:none" type="file" class="form-control-file"
                                       id="cartaDePresentacionFirmada"
                                       (change)="handleFileInput($event.target.files, 'cartaDePresentacionFirmada')">

                                <div class="container-archivos">

                                    <span *ngFor="let archivo of listaArchivos | archivosFilterPipe:'cartaDePresentacionFirmada'">
                                        <a class="link-archivo" (click)="descargarArchivo(archivo )">
                                            {{archivo.Nombre}}
                                        </a>

                                        <a class="link-eliminar" (click)="eliminarArchivo(archivo)"
                                           title="Eliminar Adjunto">Eliminar</a>
                                    </span>
                                </div>

                            </div>
                            <div class="col-xs-12">
                                <p>
                                    Una vez recibida el alta se solicitará la firma electrónica de este documento,
                                    requisito para avanzar con el alta.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="step-container shadow" name="Step 2" label="CBU">
                        <div class="col-xs-12 col-md-12 step-container-header">
                            Constancia de CBU
                        </div>
                        <div class="container-fluid">
                            <div class="col-xs-12">
                                <label>
                                    CBU informado en SISA: {{CBUSISA}}
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <label for="constanciaCBU">
                                    <span class="link-adjuntar">Adjuntar</span> constancia de CBU SISA <span class="requerido">*</span>
                                </label>
                                <input style="display:none" type="file" class="form-control-file" id="constanciaCBU"
                                       (change)="handleFileInput($event.target.files, 'constanciaCBU')">

                                <div class="container-archivos">

                                    <span *ngFor="let archivo of listaArchivos | archivosFilterPipe:'constanciaCBU'">
                                        <a class="link-archivo" (click)="descargarArchivo(archivo )">
                                            {{archivo.Nombre}}
                                        </a>

                                        <a class="link-eliminar" (click)="eliminarArchivo(archivo)"
                                           title="Eliminar Adjunto">Eliminar</a>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <p>
                                    Recordá que deberás realizar la firma electrónica del informe comercial+carta Datanet
                                    que les enviaremos por correo electrónico desde adobesign@adobesign.com
                                </p>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div class="col-xs-12">

                                <label class="label" for="constanciaCBUMercaderia">
                                    <span class="link-adjuntar">Adjuntar</span> constancia de CBU mercadería (opcional).
                                </label>
                                <input style="display:none" type="file" class="form-control-file"
                                       id="constanciaCBUMercaderia"
                                       (change)="handleFileInput($event.target.files, 'constanciaCBUMercaderia')">

                                <div class="container-archivos">

                                    <span *ngFor="let archivo of listaArchivos | archivosFilterPipe:'constanciaCBUMercaderia'">
                                        <a class="link-archivo" (click)="descargarArchivo(archivo )">
                                            {{archivo.Nombre}}
                                        </a>

                                        <a class="link-eliminar" (click)="eliminarArchivo(archivo)"
                                           title="Eliminar Adjunto">Eliminar</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="step-container shadow" name="Step 4" label="Documentación">
                        <div class="col-xs-12 col-md-12 step-container-header">
                            Otros archivos
                        </div>
                        <div class="container-fluid">
                            <div class="col-xs-12">

                                <label for="otrosArchivos">
                                    <span class="link-adjuntar">
                                        Adjuntar
                                    </span>
                                </label>
                                <div class="container-archivos">
                                    <input style="display:none" type="file" class="form-control-file" id="otrosArchivos"
                                           multiple (change)="handleFileInput($event.target.files, 'otrosArchivos')">

                                    <div *ngFor="let archivo of listaArchivos | archivosFilterPipe:'otrosArchivos'">
                                        <a class="link-archivo" (click)="descargarArchivo(archivo)">
                                            {{archivo.Nombre}}
                                        </a>

                                        <a class="link-eliminar" (click)="eliminarArchivo(archivo)"
                                           title="Eliminar Adjunto">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="step-container shadow" name="Step 3" label="Documentación Impositiva">
                        <div class="col-xs-12 col-md-12 step-container-header">
                            Documentación Impositiva
                        </div>
                        <div class="container-fluid">
                            <div class="col-xs-12">

                                <label for="constanciaCUIT">
                                    <span class="link-adjuntar">Adjuntar</span> constancia de CUIT
                                </label>
                                <input style="display:none" type="file" class="form-control-file" id="constanciaCUIT"
                                       (change)="handleFileInput($event.target.files, 'constanciaCUIT')">

                                <div class="container-archivos">
                                    <span *ngFor="let archivo of listaArchivos | archivosFilterPipe:'constanciaCUIT'">
                                        <a class="link-archivo" (click)="descargarArchivo(archivo)">
                                            {{archivo.Nombre}}
                                        </a>

                                        <a class="link-eliminar" (click)="eliminarArchivo(archivo)"
                                           title="Eliminar Adjunto">Eliminar</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="col-xs-12">
                                <label for="inscripcionIIBB">
                                    <span class="link-adjuntar">Adjuntar</span> Inscripción en IIBB -local o
                                    Convenio (CM05
                                    vigente)
                                </label>

                                <input style="display:none" type="file" class="form-control-file" id="inscripcionIIBB"
                                       (change)="handleFileInput($event.target.files, 'inscripcionIIBB')">

                                <div class="container-archivos">
                                    <span *ngFor="let archivo of listaArchivos | archivosFilterPipe:'inscripcionIIBB'">
                                        <a class="link-archivo" (click)="descargarArchivo(archivo)">
                                            {{archivo.Nombre}}
                                        </a>

                                        <a class="link-eliminar" (click)="eliminarArchivo(archivo)"
                                           title="Eliminar Adjunto">Eliminar</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="col-xs-12">
                                <label for="certificadoExclusionIVA">
                                    <span class="link-adjuntar">Adjuntar</span> certificados de exclusión o exención IVA
                                </label>

                                <input style="display:none" type="file" class="form-control-file"
                                       id="certificadoExclusionIVA"
                                       (change)="handleFileInput($event.target.files, 'certificadoExclusionIVA')">

                                <div class="container-archivos">
                                    <span *ngFor="let archivo of listaArchivos | archivosFilterPipe:'certificadoExclusionIVA'">
                                        <a class="link-archivo" (click)="descargarArchivo(archivo)">
                                            {{archivo.Nombre}}
                                        </a>

                                        <a class="link-eliminar" (click)="eliminarArchivo(archivo)"
                                           title="Eliminar Adjunto">Eliminar</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="col-xs-12">
                                <label for="certificadoExclusionIIBB">
                                    <span class="link-adjuntar">Adjuntar</span> certificados de exclusión o exención en
                                    IIBB
                                </label>

                                <input style="display:none" type="file" class="form-control-file"
                                       id="certificadoExclusionIIBB" multiple
                                       (change)="handleFileInput($event.target.files, 'certificadoExclusionIIBB')">

                                <div class="container-archivos">
                                    <div *ngFor="let archivo of listaArchivos | archivosFilterPipe:'certificadoExclusionIIBB'">
                                        <a class="link-archivo" (click)="descargarArchivo(archivo)">
                                            {{archivo.Nombre}}
                                        </a>

                                        <a class="link-eliminar" (click)="eliminarArchivo(archivo)"
                                           title="Eliminar Adjunto">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="col-xs-12">
                                <label for="certificadoExclusionSUSS">
                                    <span class="link-adjuntar">Adjuntar</span> certificados de exclusión o exención en
                                    SUSS
                                </label>

                                <input style="display:none" type="file" class="form-control-file"
                                       id="certificadoExclusionSUSS"
                                       (change)="handleFileInput($event.target.files, 'certificadoExclusionSUSS')">

                                <div class="container-archivos">
                                    <span *ngFor="let archivo of listaArchivos | archivosFilterPipe:'certificadoExclusionSUSS'">
                                        <a class="link-archivo" (click)="descargarArchivo(archivo)">
                                            {{archivo.Nombre}}
                                        </a>

                                        <a class="link-eliminar" (click)="eliminarArchivo(archivo)"
                                           title="Eliminar Adjunto">Eliminar</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="col-xs-12">
                                <label for="certificadoExclusionGanancias">
                                    <span class="link-adjuntar">Adjuntar</span> certificados de exclusión o exención en
                                    Ganancias
                                </label>
                                <input style="display:none" type="file" class="form-control-file"
                                       id="certificadoExclusionGanancias"
                                       (change)="handleFileInput($event.target.files, 'certificadoExclusionGanancias')">


                                <div class="container-archivos">
                                    <span *ngFor="let archivo of listaArchivos | archivosFilterPipe:'certificadoExclusionGanancias'">
                                        <a class="link-archivo" (click)="descargarArchivo(archivo)">
                                            {{archivo.Nombre}}
                                        </a>

                                        <a class="link-eliminar" (click)="eliminarArchivo(archivo)"
                                           title="Eliminar Adjunto">Eliminar</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="col-xs-12">
                                <label for="SIPER">
                                    <span class="link-adjuntar">Adjuntar</span> SIPER
                                    <span *ngIf="estadoSISA != '1'" class="requerido">*</span>
                                </label>
                                <input style="display:none" type="file" class="form-control-file" id="SIPER"
                                       (change)="handleFileInput($event.target.files, 'SIPER')">

                                <div class="container-archivos">
                                    <span *ngFor="let archivo of listaArchivos | archivosFilterPipe:'SIPER'">
                                        <a class="link-archivo" (click)="descargarArchivo(archivo)">
                                            {{archivo.Nombre}}
                                        </a>

                                        <a class="link-eliminar" (click)="eliminarArchivo(archivo)"
                                           title="Eliminar Adjunto">Eliminar</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="altaInterna" class="step-container shadow" name="Step 3" label="VínculosconMolinos">
                        <div class="col-xs-12 col-md-12 step-container-header">
                            V&iacute;nculos con Molinos
                        </div>
                        <div class="container-fluid">
                            <div class="col-xs-12">

                                <label for="DDJJ">
                                    <span class="link-adjuntar">Adjuntar</span> Archivo DDJJ
                                    <span class="requerido">*</span>
                                </label>
                                <input style="display:none" type="file" class="form-control-file" id="DDJJ"
                                       (change)="handleFileInput($event.target.files, 'DDJJ')">

                                <div class="container-archivos">
                                    <span *ngFor="let archivo of listaArchivos | archivosFilterPipe:'DDJJ'">
                                        <a class="link-archivo" (click)="descargarArchivo(archivo)">
                                            {{archivo.Nombre}}
                                        </a>

                                        <a class="link-eliminar" (click)="eliminarArchivo(archivo)"
                                           title="Eliminar Adjunto">Eliminar</a>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-xs-12">
                    <div class="accordion" id="accordionExample">
                        <div class="card z-depth-0 bordered" *ngIf="!puedeAltaInterna">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="titulos " type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Vínculos a declarar con Empleados de Molinos agro S.A.<span class="requerido">*</span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse card-container " aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <div>
                                        <label>
                                            El titular la firma o cualquier empleado/representante de la misma que
                                            participe
                                            en
                                            las negociaciones con Molinos Agro,
                                            ¿Tienen vinculaciones con empleados de Molinos agro que afecten o puedan
                                            afectar
                                            la
                                            objetividad o independencia en la relación comercial?
                                        </label>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="col-xs-4"></div>
                                        <div class="form-group form-check col-xs-3">
                                            <label style="display:inline-block;">
                                                No
                                                <input type="radio" name="radioEmpleados" id="radioEmpleadosNo"
                                                       value="false" (change)="relacionConEmpleadosCheckNo($event)">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="form-group form-check col-xs-3">
                                            <label style=" display:inline-block;">
                                                Si
                                                <input type="radio" name="radioEmpleados" id="radioEmpleadosSi"
                                                       value="true" (change)="relacionConEmpleadosCheckSi($event)">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-xs-4"></div>
                                    </div>
                                    <div *ngIf="isVisibleTablaEmpleados()">

                                        <table class="table table-bordered cssTable">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <b>Nombre y Apellido</b> <br /><label style="font-weight:100;">
                                                            (integrante
                                                            de la Firma Proveedora)
                                                        </label>
                                                    </th>
                                                    <th>
                                                        <b>Cargo y/o Función</b> <br /><label style="font-weight:100;">
                                                            en la
                                                            Firma Proveedora
                                                        </label>
                                                    </th>
                                                    <th>
                                                        <b>Nombre y Apellido</b> <br /><label style="font-weight:100;">
                                                            (integrante
                                                            de Molinos agro)
                                                        </label>
                                                    </th>
                                                    <th>
                                                        <b>Vínculo</b><br /><label style="font-weight:100;">
                                                            (Comercial,
                                                            personal, parentesco, deudor, acreedor, etc.)
                                                        </label>
                                                    </th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let field of empleados; let i = index">

                                                    <td>
                                                        <input [(ngModel)]="field.NombreProveedora" class="form-control"
                                                               type="text" style="font-weight: 300;"
                                                               name="{{field.NombreProveedora}}" />
                                                    </td>
                                                    <td>
                                                        <input [(ngModel)]="field.CargoProveedora" class="form-control"
                                                               type="text" name="{{field.CargoProveedora}}" />
                                                    </td>
                                                    <td>
                                                        <input [(ngModel)]="field.NombreMolinos" class="form-control"
                                                               type="text" name="{{field.NombreMolinos}}" />
                                                    </td>
                                                    <td>
                                                        <input [(ngModel)]="field.Vinculo" class="form-control"
                                                               type="text" name="{{field.Vinculo}}" />
                                                    </td>
                                                    <td width="75px">
                                                        <button class="btn-remove btn-custom" type="button"
                                                                (click)="deleteFieldValueEmpleados(i)">
                                                            Eliminar
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="btn-add-container">
                                            <button class="btn-add btn-custom" type="button"
                                                    (click)="addFieldValueEmpleados()">
                                                Agregar
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card z-depth-0 bordered" *ngIf="!puedeAltaInterna">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="collapsed titulos" type="button" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Vínculos a declarar con Funcionarios Públicos <span class="requerido">*</span>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseTwo" class="collapse card-container" aria-labelledby="headingTwo"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <div>
                                        <label>
                                            Solicitamos declarar todo tipo de vinculaciones societarias o de parentesco
                                            -hasta
                                            segundo grado de consanguinidad o afinidad-
                                            del titular la firma o de cualquier empleado/representante de la misma que
                                            participe
                                            en las negociaciones con Molinos agro,
                                            con cualquier funcionario público, actuales o pasadas.
                                        </label>
                                    </div>
                                    <div class="form-group form-check">
                                        <div class="col-xs-12">
                                            <div class="col-md-6 text-center">
                                                <div class="form-group form-check">
                                                    <label style="display:inline-block;">
                                                        Si
                                                        <input type="radio" name="radioFuncionarios"
                                                               id="radioFuncionariosSi" value="true"
                                                               (change)="relacionConFuncionariosCheckSi($event)">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 text-center">
                                                <label style="display:inline-block;">
                                                    No
                                                    <input type="radio" name="radioFuncionarios"
                                                           id="radioFuncionariosNo" value="false"
                                                           (change)="relacionConFuncionariosCheckNo($event)">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="col-md-6" style="font-size:small;">
                                                En caso de existir vinculaciones con más de un funcionario o por más de
                                                un
                                                socio, accionista,
                                                representante o empleado; repetir la información de cada una de las
                                                vinculaciones.
                                            </div>
                                            <div class="col-md-6" style="font-size:small;">
                                                La opción elegida implica la declaración expresa de inexistencia de
                                                vínculos.
                                            </div>
                                        </div>


                                    </div>


                                    <div *ngIf="isVisibleTablaFuncionarios()">

                                        <table class="table table-bordered cssTable">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Identificación del integrante de la Firma</th>
                                                    <th colspan="2">Identificación del Funcionario Público</th>
                                                    <th>Tipo de vínculo</th>
                                                    <th rowspan="2">Acciones</th>
                                                </tr>
                                                <tr>
                                                    <th><label style="font-weight:100;">Nombre y Apellido</label></th>
                                                    <th><label style="font-weight:100;">Cargo y/o Función</label></th>
                                                    <th><label style="font-weight:100;">Nombre y Apellido</label></th>
                                                    <th>
                                                        <label style="font-weight:100;">
                                                            Ámbito donde desempeña sus
                                                            funciones
                                                            /
                                                            Cargo
                                                        </label>
                                                    </th>
                                                    <th>
                                                        <label style="font-weight:100;">
                                                            Comercial, personal, parentesco,
                                                            deudor,
                                                            acreedor, pleito pendiente, etc.
                                                        </label>
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let field of funcionarios; let i = index">

                                                    <td>
                                                        <input [(ngModel)]="field.NombreFirma" class="form-control"
                                                               type="text" style="font-weight: 300;"
                                                               name="{{field.NombreFirma}}" />
                                                    </td>
                                                    <td>
                                                        <input [(ngModel)]="field.CargoFirma" class="form-control"
                                                               type="text" name="{{field.CargoFirma}}" />
                                                    </td>
                                                    <td>
                                                        <input [(ngModel)]="field.NombreFuncionario"
                                                               class="form-control" type="text"
                                                               name="{{field.NombreFuncionario}}" />
                                                    </td>
                                                    <td>
                                                        <input [(ngModel)]="field.CargoFuncionario" class="form-control"
                                                               type="text" name="{{field.CargoFuncionario}}" />
                                                    </td>
                                                    <td>
                                                        <input [(ngModel)]="field.Vinculo" class="form-control"
                                                               type="text" name="{{field.Vinculo}}" />
                                                    </td>
                                                    <td width="75px">
                                                        <button class="btn-remove btn-custom" type="button"
                                                                (click)="deleteFieldValueFuncionarios(i)">
                                                            Eliminar
                                                        </button>
                                                    </td>
                                                </tr>

                                            </tbody>

                                        </table>
                                        <div class="btn-add-container">
                                            <button class="btn-add btn-custom" type="button"
                                                    (click)="addFieldValueFuncionarios()">
                                                Agregar
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!puedeAltaInterna" class="card z-depth-0 bordered">
                            <div *ngIf="!puedeAltaInterna" class="card-header" id="headingThree">
                                <h5 class="mb-0" (click)="abrirCodigoConducta()">
                                    <button class="titulos collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        Aceptación del Código de Conducta <span class="requerido">*</span>
                                    </button>
                                </h5>
                            </div>
                            <div *ngIf="!puedeAltaInterna" id="collapseThree" class="collapse  card-container " aria-labelledby="headingThree"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="col-xs-12">
                                        <p>
                                            Declaramos que hemos leído el
                                            <a (click)="abrirCodigoConducta(true)" class="trigger-btn">
                                                Código de
                                                Conducta de
                                                Proveedores de Molinos agro S.A.
                                            </a>
                                            ,
                                            de cuyo contenido nos notificamos y declaramos comprender y aceptar.
                                            <br />
                                            Asimismo, manifestamos que:

                                        </p>
                                        <ol>
                                            <li>
                                                Adherimos plenamente a los valores éticos de Molinos agro, expresados en
                                                su
                                                Código de Conducta;
                                            </li>
                                            <li>
                                                Conocemos acabadamente la normativa nacional e internacional
                                                anticorrupción;
                                                como así también
                                                de prevención de lavado de activos y financiación del terrorismo;
                                            </li>
                                            <li>No hemos efectuado ni efectuaremos pagos legalmente cuestionables.</li>
                                        </ol>
                                    </div>
                                    <div class="col-xs-12">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value=""
                                                   [(ngModel)]="this.codigoDeConducta"><b>Acepto</b> - Código de Conducta
                                            de
                                            Proveedores de Molinos agro S.A.
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div name="Step 7" label="Enviar">
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <p><span class="requerido">*</span> Los campos marcados son obligatorios</p>
                    </div>
                </div>
                <div class="step-actions enviar">

                    <!--  MISMO BOTON QUE EL DE LA LINEA 720 *ngIf="!esAltaInternaGranos"-->
                    <button *ngIf="!puedeAltaInterna" type="button" id="openModalNotificacion" data-toggle="modal"
                            style="display:none" data-target="#modalNotificación" class="btn-custom btn-azul"></button>
                    <input *ngIf="!puedeAltaInterna" type="submit" (click)="onSubmit()"
                           class="btn-custom btn-guardar btn-mediano" value="Enviar">

                    <!--Granos-->
                    <!-- empresa.EstadoAprobacion === 1 || empresa.EstadoAprobacion === 4) -->
                    <!--si viene de listado de altas pendientes-->
                    <input type="submit" *ngIf="puedeAltaInterna" (click)="submitAltaInterna()"
                           class="btn-custom btn-guardar btn-mediano" value="Enviar">

                    <!--
                    <button *ngIf="altaInterna" type="button"
                        style="display:none" class="btn-custom btn-azul"></button>
                    <input *ngIf="altaInterna" type="submit" (click)="onSubmit()"
                        class="btn-custom btn-guardar btn-mediano" value="Enviar">

                    <button *ngIf="!altaInterna" type="button" id="openModalNotificacion" data-toggle="modal"
                        style="display:none" data-target="#modalNotificación" class="btn-custom btn-azul"></button>
                    <input *ngIf="!altaInterna" type="submit" (click)="onSubmit()"
                        class="btn-custom btn-guardar btn-mediano" value="Enviar">-->
                </div>
            </div>
        </div>
    </div>

    <!-- Modal confirmar eliminar -->
    <a href="#confirmModal" class="trigger-btn" id="openModalConfirmModal" data-toggle="modal"
       style="display:none;">
        Click
        to Open Confirm Modal
    </a>
    <div class="modal fade fade-complete" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Esta seguro?</h4>
                </div>
                <div class="modal-body modal-notificacion">
                    <p>
                        ¿Realmente desea eliminar el adjunto {{nombreArchivoSeleccionado}}?
                    </p>

                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" (click)="eliminarArchivoSeleccionado()">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal notificacion
    <button type="button" style="display:none" id="openModalNotificacion" data-toggle="modal"
        data-target="#modalNotificación"></button> -->

    <div class="modal fade fade-complete" id="modalNotificación" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"
                            onClick="abrirModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" *ngIf="granosFlag == 'NG'" id="myModalLabel">
                        SOLICITUD ENVIADA CON ÉXITO
                    </h4>
                    <h4 *ngIf="granosFlag != 'NG'" class="modal-title" id="myModalLabel">Solicitud de alta enviada</h4>
                </div>
                <div class="modal-body modal-notificacion" *ngIf="granosFlag == 'NG'; else elseBlock">
                    <label>¡Su solicitud fue enviada con éxito!</label><br />
                    <label>¡Muchas gracias!</label><br />
                </div>
                <ng-template #elseBlock>
                    <label>¡Su solicitud fue enviada con éxito!</label><br />
                    <label style="color: red;">
                        Por favor realizar la firma electrónica del informe comercial+carta Datanet que les enviamos
                        por correo electrónico desde adobesign@adobesign.com, de ya haberlo realizado, desestimar.
                    </label><br />
                    <br>
                    <label>¡Muchas gracias!, Datos Maestros.</label><br />
                </ng-template>

                <div class="modal-footer">
                    <button (click)="redirigirAEstado()"
                            class="btn-custom btn-guardar btn-grande centerbtn">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal notificacion -->
    <!-- Modal Codigo de Conducta-->
    <a href="#conductaModal" style="display:none;" class="trigger-btn" id="openModalconductaModal"
       data-toggle="modal">
        Click
        to Open Conducta Modal
    </a>
    <div class="modal fade" id="conductaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Código de Conducta</h4>
                </div>
                <div class="modal-body">
                    <div style="width:870px; height:800px;">
                        <iframe id="iframeConducta" width="870" height="800"></iframe>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
    <!-- end modal Codigo de Conducta-->
