a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

.show {
  display: inline;
}

.hidden {
  display: none;
}

.modal,
.container {
  margin-top: 128px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-notificacion {
  font-size: 16px;
}

.fade-complete {
  margin: 0;
  padding-top: 140px;
}

.btn-close {
  color: white !important;
  text-shadow: none !important;
  opacity: 1 !important;
}

.btn-close:hover {
  text-shadow: #00000096 2px 1px !important;
}

.requerido {
  color: red;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.adjuntar {
  font-weight: 400;
  border-radius: 5px;
  color: white;
  background: #172f8f;
  margin: 5px;
  padding: 5px;
}

.adjuntar:hover {
  cursor: pointer;
}

.btn-custom {
  margin: 0 10px;
  height: 30px;
  align-items: center;
  display: flex;
  border: none;
  justify-content: center;
  color: white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: 400;
}

.btn-azul {
  background: #172f8f;
  width: 250px;
}

.btn-azul:hover {
  background: #0f1f5e;
  color: white;
}

.btn-add,
.btn-remove {
  width: auto;
  padding: 10px;
}

.btn-add {
  background: #03753e;
  margin: 0;
}

.btn-add:hover {
  background: #368860;
}

.btn-remove {
  background: #af1a16;
}

.btn-remove:hover {
  background: #b95a56;
}
.informe-comercial {
  display: flex;
  flex-direction: column;
}

.informe-comercial div {
  display: flex;
  margin: 10px 0;
}

.enviar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.download {
  color: #172f8f;
  text-decoration: none;
}

.label {
  font-weight: 100 !important;
  color: #172f8f !important;
  font-size: 17px !important;
  padding-left: 0 !important;
  text-align: start !important;
}

#myModal, #modalCartaPresentacion {
    overflow: scroll !important;
    bottom: -85px !important;
    margin-top: 0;
}
#conductaModal {
    overflow: scroll !important;
    bottom: -85px !important;
    margin-top: 0;
}

.formulario-campo {
  padding: 10px 0;
}

.padding-5-0 {
  padding: 5px 0;
}

.padding-0-5 {
  padding: 0 5px;
}
.formulario-label {
  font-size: 15px;
  font-weight: 500;
  color: #172f8f;
}

.margin-5px {
  margin: 0 5px !important;
}

.titulo {
  font-size: 17px;
  font-weight: 500;
  color: #172f8f;
}

.form-control-file {
  margin: 10px 0;
}

.input-custom {
  border-radius: 3px;
  border: 1px solid lightgray;
  padding: 3px;
  background: #e9e7e72b;
}

.modal-footer {
  justify-content: center;
  display: flex;
}

.table-title {
  font-size: 15px;
  font-weight: 500;
  color: #172f8f;
}

.dropdown-granos {
  height: 32px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.table-custom {
  margin-bottom: 10px;
}

.btn-add-container {
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.declaracionJuradaDiv {
  display: flex;
  align-items: center;
}

#declaracionJurada {
  margin: 10px;
}

.ng-autocomplete {
    width: 200px;
}

    .ng-autocomplete {
        width: 200px;
    }

    .cssTable td {
        text-align: center;
        vertical-align: middle;
    }

    .cssTable thead th {
        text-align: center;
        vertical-align: middle;
    }

    .titulos {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: #003399;
        /*margin-top: 20px;
        margin-bottom: 10px;*/
        font-size: 24px;
        border: none;
        background: none;
        width: 98%;
        text-align: left;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        /*background-color: #fff;*/
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
        width: 98%;
        text-align: left;
    }

    .titulos {
        position: relative;
    }

    .titulos::after {
        content: "\f107";
        color: #333;
        top: -2px;
        right: 0px;
        position: absolute;
        font-family: "FontAwesome"
    }

    .titulos[aria-expanded="true"]::after {
        content: "\f106";
    }