<p-dialog [(visible)]="displayPlazo" modal="modal" [width]="650" [draggable]="false" [closable]="true"
  (onHide)="onCerrarPlazo()" appendTo="body" positionTop="30" [height]="350" [max] [contentStyle]="{ 
        'max-height':'450px', 
        'min-height':'400px'}">
  <p-header class="headerModal" style="color: #067935;">
    <b>Plazos</b>
  </p-header>
  <div class="container-fluid" style="height: 273.75px;">
    <section *ngIf="cotizacionPosicion != null" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-md-12"><strong>Ingrese los plazos de entrega</strong></div>
      </div>
      <div class="linea"></div>
      <p style="font-size: 15px;">
        <ngb-alert type="danger" [dismissible]="false" *ngIf="visualizarAlert" >
           <strong >Error! </strong>{{ error }}</ngb-alert>
     </p>
      <br>
      <div class="row">
        <!-- Primera posición -->
        <div class="col-md-2" style="margin-top: 12px;">
          <strong>Plazo</strong>
        </div>
        <div class="col-md-2">
          <input type="text" pKeyFilter="num" 
          [(ngModel)]="cotizacionPosicion.PrimerPlazoDeOferta" 
          placeholder="Días"
          pInputText class="styled-select inputAltura" 
          numeric 
          (focus)="onEditarCelda(cotizacionPosicion, 'PrimerPlazoDeOferta', 0)"
          (blur)="onReestablecerValor(cotizacionPosicion, 'PrimerPlazoDeOferta')">
        </div>
        <div class="col-md-2" style="margin-top: 12px;">
          <strong>Cantidad</strong>
        </div>
        <div class="col-md-3">
          <input type="text" pKeyFilter="num" 
          [(ngModel)]="cotizacionPosicion.PrimeraCantidad" 
          placeholder="0"
          pInputText 
          class="styled-select inputAltura" 
          numeric-format 
          (focus)="onEditarCelda(cotizacionPosicion, 'PrimeraCantidad', 0)"
          (blur)="onReestablecerValor(cotizacionPosicion, 'PrimeraCantidad')">
        </div>
        <div class="col-md-1" *ngIf="mostrarBotonAgregarSegundo" style="cursor: pointer">
          <span (click)="agregarSegundaPosicion()" style="color: #1C7CD5;">
            <b class="masIcon">+</b>
          </span>
        </div>
      </div>
      <br>
      <div class="row" *ngIf="mostrarSegundaPosicion">
        <!-- Segunda posición -->
        <div class="col-md-2" style="margin-top: 12px;">
          <strong>Plazo</strong>
        </div>
        <div class="col-md-2">
          <input type="text" pKeyFilter="num" 
            [(ngModel)]="cotizacionPosicion.SegundoPlazoDeOferta" 
            placeholder="Días"
            pInputText 
            class="styled-select inputAltura" 
            numeric-format   
            (focus)="onEditarCelda(cotizacionPosicion, 'SegundoPlazoDeOferta', 0)"
            (blur)="onReestablecerValor(cotizacionPosicion, 'SegundoPlazoDeOferta')">
        </div>
        <div class="col-md-2" style="margin-top: 12px;">
          <strong>Cantidad</strong>
        </div>
        <div class="col-md-3">
          <input type="text" pKeyFilter="num" 
          [(ngModel)]="cotizacionPosicion.SegundaCantidad" 
          placeholder="0"
          pInputText class="styled-select inputAltura" 
          numeric-format 
          (focus)="onEditarCelda(cotizacionPosicion, 'SegundaCantidad', 0)"
          (blur)="onReestablecerValor(cotizacionPosicion, 'SegundaCantidad')">
        </div>
        <div class="col-md-1" style="margin-top: 7px;">
          <div *ngIf="!mostrarTerceraPosicion" style="cursor: pointer">
            <span (click)="agregarTerceraPosicion()" style="color: #1C7CD5;">
              <b class="masIcon">+</b>
            </span>
          </div>
        </div>
        <div class="col-md-1" style="margin-top: 7px;">
          <div *ngIf="!mostrarTerceraPosicion" style="cursor: pointer">
            <span (click)="ocultarSegundaPosicion()" style="cursor: pointer" style="color: #1C7CD5;">
              <b class="masIcon">-</b>
            </span>
          </div>
        </div>
      </div>
      <br>
      <div class="row" *ngIf="mostrarTerceraPosicion">
        <!-- Tercera posición -->
        <div class="col-md-2" style="margin-top: 12px;">
          <strong>Plazo</strong>
        </div>
        <div class="col-md-2">
          <input type="text" pKeyFilter="num" 
            [(ngModel)]="cotizacionPosicion.TercerPlazoDeOferta" 
            placeholder="Días"
            pInputText 
            class="styled-select inputAltura" 
            numeric-format 
            (focus)="onEditarCelda(cotizacionPosicion, 'TercerPlazoDeOferta', 0)"
            (blur)="onReestablecerValor(cotizacionPosicion, 'TercerPlazoDeOferta')">
        </div>
        <div class="col-md-2" style="margin-top: 12px;">
          <strong>Cantidad</strong>
        </div>
        <div class="col-md-3">
          <input type="text" pKeyFilter="num" 
            [(ngModel)]="cotizacionPosicion.TerceraCantidad" 
            placeholder="0"
            pInputText 
            class="styled-select inputAltura" 
            numeric-format
            (focus)="onEditarCelda(cotizacionPosicion, 'TerceraCantidad', 0)"
            (blur)="onReestablecerValor(cotizacionPosicion, 'TerceraCantidad')">
        </div>
        <div class="col-md-1" *ngIf="mostrarTerceraPosicion" style="cursor: pointer">
          <span (click)="ocultarTerceraPosicion()" style="color: #1C7CD5;">
            <b class="masIcon">-</b>
          </span>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12" style="font-style: italic"><strong>Nota: </strong> recuerde que la suma de las
          cantidades debe ser igual que la cantidad {{esCantidadCotizacion ? "solicitada" : "cotizada"}}: {{cantidad | number:'1.2-2'}}</div>
      </div>
    </section>
  </div>
  <p-footer>
    <button type="button" class="btn btn-danger botonesComprasColor" (click)="cancelarPlazo()">CANCELAR</button>
    <button type="button" class="btn btn-primary botonesComprasColor" (click)="aceptarPlazo()">ACEPTAR</button>
  </p-footer>
</p-dialog>