
<div class="row titleSection" style="margin-bottom: 10px;">
    <div class="col-xs-12 col-sm-10 "> <strong>Publicar PO multiple</strong></div>
</div>

<div class="row">
    <div class="row myRow">
        <div class="col-md-3">
            <p-dropdown [options]="tiposSolp" [(ngModel)]="selectTipoSolp"></p-dropdown>
        </div>
        <div class="col-md-3" *ngIf="showNombrePliego">
            <input class="inputAltura"
                   pInputText type="text"
                   [(ngModel)]="nombrePliego"
                   placeholder="Nombre del Pliego"
                   style="-webkit-appearance: textfield; -moz-appearance: textfield; width:100%" />
        </div>

        <div class="col-md-3 col-lg-3" *ngIf="showTipoPliegoMultiple">
            <p-multiSelect [options]="tipoPliegoItem" [(ngModel)]="selectTipoPliego" defaultLabel="Tipo de Pliego"
                           selectedItemsLabel="{0} estados elegidos"></p-multiSelect>
        </div>
    </div>

    <div class="row myRow">
        <div class="col-md-3 col-lg-3">
            <p-multiSelect [options]="grupoComprasFiltro" [(ngModel)]="selectGrupoCompras"
                           defaultLabel="Grupo de Compras" [maxSelectedLabels]="1"
                           selectedItemsLabel="{0} grupos de compras"></p-multiSelect>
        </div>

        <div class="col-md-3 col-lg-3">
            <p-multiSelect [options]="centroFiltro" [(ngModel)]="selectCentro" defaultLabel="Centro"
                           [maxSelectedLabels]="2" selectedItemsLabel="{0} centros elegidos"></p-multiSelect>
        </div>

        <div class="col-md-3 col-lg-3">
            <p-multiSelect [options]="claseDocumentoFiltro" [(ngModel)]="selectClaseDocumento" defaultLabel="Clase de Documento"
                           [maxSelectedLabels]="1" selectedItemsLabel="{0} clases elegidas"></p-multiSelect>
        </div>

        <div class="col-md-3">
            <p-calendar showButtonBar="true" [showIcon]="true" placeholder="Fecha de creacion"
                        dateFormat="dd/mm/yy" (onSelect)="onSelect($event)" appendTo="body"
                        [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" [locale]="locale"
                        (onClearClick)="returnToTodaysDate()"
                        [style]="{'width':'94%'}" [inputStyle]="{'width':'94%'}">
            </p-calendar>
        </div>
    </div>

    <div class="row myRow">
        <div class="col-md-3 ">
            <p-multiSelect [options]="tipoImputacionFiltro" [(ngModel)]="selectTipoImputacion" defaultLabel="Tipo de Imputación"
                           [maxSelectedLabels]="1" selectedItemsLabel="{0} tipos elegidos" (ngModelChange)="subtipoImputacionCombo()"></p-multiSelect>
        </div>
        <div class="col-md-3">
            <p-multiSelect [options]="valorTipoImputacionFiltro" [(ngModel)]="selectValorTipoImputacion" defaultLabel="Subtipo de Imputación"
                           [maxSelectedLabels]="1" selectedItemsLabel="{0} tipos elegidos"></p-multiSelect>
        </div>
        <div class="col-md-3">
            <p-dropdown [options]="tratada" [(ngModel)]="selectTratada" placeholder="Tiene PO" showClear="true"></p-dropdown>
        </div>
        <div class="col-md-3">
            <input class="inputAltura"
                   pInputText type="number"
                   [(ngModel)]="numeroPo"
                   pattern="[0-9]*" inputmode="numeric"
                   placeholder="Número de PO"
                   style="-webkit-appearance: textfield; -moz-appearance: textfield; width:100%" />
        </div>
    </div>

    <div class="row myRow">

        <div class="col-md-3" style="margin-top: 20px;">
            <span style="margin-right: 10px;">
                <p-checkbox class="checkboxFechas" binary="true" label="SAP" pTooltip="SAP" [(ngModel)]="sap"></p-checkbox>
            </span>
            <span style="margin-right: 10px;">
                <p-checkbox class="checkboxFechas" binary="true" label="OT" pTooltip="Mantenimiento"
                            [(ngModel)]="mantenimiento"></p-checkbox>
            </span>
            <span style="margin-right: 10px;">
                <p-checkbox class="checkboxFechas" binary="true" label="Web" [(ngModel)]="web"></p-checkbox>
            </span>
            <span style="margin-right: 10px;">
                <p-checkbox class="checkboxFechas" binary="true" label="RA" pTooltip="Reposición Automática"
                            [(ngModel)]="repoAutomatica"></p-checkbox>
            </span>
            <!--<span>
                <p-checkbox class="checkboxFechas" binary="true" label="CM" pTooltip="Contrato Marco"
                            [(ngModel)]="contratoMarco"></p-checkbox>
            </span>-->
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-4 " style="padding-right: 30px;">
            <div class="col-md-4">
                <button class="btn btn-success" (click)="download()" style="width:100%;">
                    <i class="fa fa-file-excel-o"></i>
                    Descargar
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn buscar" (click)="onBuscar()">
                    <i class="fa fa-search"></i>
                    Buscar
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-danger" (click)="clearFilters()" style="width:100%;">
                    <i class="fa fa-undo"></i>
                    Limpiar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="content-wraper alinearAlturaMenuDashboard row1 myRow firstSection" style="margin-bottom: 100px;">
    <div class="rounded shadow">
        <section class="container-fluid clearfix">
            <div>
                <div>
                    <div class="row1" *ngIf="lastSearch == 'SERVICIO'; then tablaServicio else tablaMateriales ">
                    </div>
                    <ng-template #tablaMateriales>
                        <p-table class="table-responsive" styleClass="font-size: 10px" #tabla [value]="posiciones" dataKey="Id">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th class="columna"><p-checkbox name="posiciones" [binary]="true" [(ngModel)]="TodasPosicionesSeleccionadas" (click)="seleccionarTodo()"></p-checkbox></th>
                                    <th class="columna">Nro Solp</th>
                                    <th class="columna">Pos.</th>
                                    <th class="columna">Código</th>
                                    <th class="columna">Descripción</th>
                                    <th class="columna">Centro</th>
                                    <th style="font-size: 10px;">Almacén</th>
                                    <th style="font-size: 10px;">Texto de <br /> suministro</th>
                                    <th class="columna">Modelo</th>
                                    <th class="columna">Grupo de compras</th>
                                    <th class="columna">Ctd.</th>
                                    <th class="columna">Um</th>
                                    <th class="columna">Mon.</th>
                                    <th class="columna">Fecha de entrega</th>
                                    <th class="columna">Plazo de entrega (días)</th>
                                    <th class="columna">Plazo de oferta</th>
                                    <th class="columna">Nro PO</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-posicionCompra let-expanded="expanded" let-columns="columns">
                                <tr>
                                    <td>
                                        <p-checkbox name="selectedCotizacion" binary="false" [(ngModel)]="posicionCompra.Selected"></p-checkbox>
                                        <div *ngIf="posicionCompra.SeraUsadoEnPliegoMultiple" class="col-md-2">
                                            <span>
                                                <img class="pointer" src="./Content/images/icons/book.svg" alt="Solp para PM"
                                                     style="height: 30px; cursor:default" />
                                            </span>
                                        </div>
                                    </td>
                                    <td class="columna">{{posicionCompra.NroSolp}}</td>
                                    <td class="columna">{{posicionCompra.Indice}}</td>
                                    <td class="columna">{{posicionCompra.Codigo}}</td>
                                    <td class="columna">{{posicionCompra.Tarea}}</td>
                                    <td class="columna">{{posicionCompra.CentroComprasDescripcion}}</td>
                                    <td class="columna">{{posicionCompra.AlmacenComprasDescripcion}}</td>
                                    <td class="columna">{{posicionCompra.TextoSuministro}}</td>
                                    <td class="columna">{{posicionCompra.Modelo}}</td>
                                    <td class="columna">{{posicionCompra.GrupoComprasDescripcion}}</td>
                                    <td class="columna">{{posicionCompra.Cantidad | number:'1.2-2'}}</td>
                                    <td class="columna">{{posicionCompra.UnidadComprasDescripcion}}</td>
                                    <td class="columna">{{posicionCompra.MonedaSolpDescripcion}}</td>
                                    <td class="columna">{{posicionCompra.FechaEntregaServicio | customDateFormat | date :'d/M/yyyy' }}</td>
                                    <td class="columna">{{posicionCompra.PlazoEntrega}}</td>
                                    <td class="columna">{{posicionCompra.FechaOferta | customDateFormat | date :'d/M/yyyy'}}</td>
                                    <!-- posicionCompra.ListaPO -->
                                    <td class="columna" *ngIf="!posicionCompra.TieneCotizacion">-</td>
                                    <td class="columna" *ngIf="posicionCompra.TieneCotizacion && !numeroPo">
                                        <span *ngIf="posicionCompra.ListaPO && posicionCompra.ListaPO.length > 0"
                                            style="cursor: pointer;" pTooltip="Desvincular"
                                            (click)="abrirModalDesvincularMaterial(posicionCompra.Id)">
                                            <img src="Content/images/buttons/unlink.svg" />
                                        </span>
                                        {{posicionCompra.ListaPO.join('-')}}
                                    </td>
                                    <td class="columna" *ngIf="posicionCompra.TieneCotizacion && numeroPo">
                                        <span *ngFor="let lpoElem of posicionCompra.ListaPO; last as isLast">
                                            <mark *ngIf="lpoElem == numeroPo.toString()">{{lpoElem}}</mark>
                                            <span *ngIf="lpoElem != numeroPo.toString()">{{lpoElem}}</span>
                                            <span *ngIf="!isLast">-</span>
                                        </span>
                                    </td>
                                    <!-- fin posicionCompra.ListaPO -->
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-template>
                    <ng-template #tablaServicio>
                        <p-table class="table-responsive" styleClass="font-size: 10px" #tabla [value]="solps" dataKey="Id" [autoLayout]="true">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th class="columna"><p-checkbox name="posiciones" [binary]="true" [(ngModel)]="TodasPosicionesSeleccionadas" (click)="seleccionarTodo()"></p-checkbox></th>
                                    <th class="columna">Nro Solp</th>
                                    <th class="columna">Nombre SOLP / Pliego</th>
                                    <th class="columna">Fecha Creación</th>
                                    <th class="columna">Fecha Liberación</th>
                                    <th class="columna">Solicitante</th>
                                    <th class="columna">Grupo de Compras</th>
                                    <th class="columna">Centro</th>
                                    <th class="columna">Tipo (Sin Doc. / C/Doc. Pliego)</th>
                                    <th class="columna">Nro PO</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-solp let-columns="columns">
                                <tr>
                                    <td>
                                        <p-checkbox name="selectedCotizacion" binary="false" [(ngModel)]="solp.Selected"></p-checkbox>
                                        <a href="#" [pRowToggler]="rowData" (click)="solpExpandToggle(solp)">
                                            <i [ngClass]="solp.Expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                        </a>
                                        <div *ngIf="solp.SeraUsadoEnPliegoMultiple" class="col-md-2">
                                            <span>
                                                <img class="pointer" src="./Content/images/icons/book.svg" alt="Solp para PM"
                                                     style="height: 30px; cursor:default" />
                                            </span>
                                        </div>
                                    </td>
                                    <td class="columna">{{solp.NroSolp}}</td>
                                    <td class="columna">{{solp.Nombre}}</td>
                                    <td class="columna">{{solp.FechaCreacion | customDateFormat | date :'d/M/yyyy'}}</td>
                                    <td class="columna">{{solp.FechaLiberacion | customDateFormat | date :'d/M/yyyy'}}</td>
                                    <td class="columna">{{solp.Solicitante}}</td>
                                    <td class="columna">{{solp.GrupoDeCompras}}</td>
                                    <td class="columna">{{solp.Centro}}</td>
                                    <td class="columna">{{solp.Tipo}}</td>
                                    <td class="columna" *ngIf="solp.TieneCotizacion && !numeroPo">
                                        <span *ngIf="solp.ListaPO && solp.ListaPO.length > 0"
                                            style="cursor: pointer;" pTooltip="Desvincular"
                                            (click)="abrirModalDesvincularServicio(solp.Id)">
                                            <img src="Content/images/buttons/unlink.svg" />
                                        </span>
                                        {{solp.ListaPO.join('-')}}
                                    </td>
                                    <td class="columna" *ngIf="solp.TieneCotizacion && numeroPo">
                                        <span *ngFor="let lpoElem of solp.ListaPO; last as isLast">
                                            <mark *ngIf="lpoElem == numeroPo.toString()">{{lpoElem}}</mark>
                                            <span *ngIf="lpoElem != numeroPo.toString()">{{lpoElem}}</span>
                                            <span *ngIf="!isLast">-</span>
                                        </span>
                                    </td>
                                </tr>
                                <tr *ngIf="solp.Expanded">
                                    <td [attr.colspan]="9">
                                        <p-table class="table-responsive" styleClass="font-size: 10px" #tabla [value]="solp.Posiciones" dataKey="Id" [autoLayout]="true">
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th class="columna"></th>
                                                    <th class="columna">Nro Posicion</th>
                                                    <th class="columna">Descripción</th>
                                                    <th class="columna">Tipo Imputación</th>
                                                    <th class="columna">Centro</th>
                                                    <th class="columna">Almacén</th>
                                                    <th class="columna">Noneda</th>
                                                    <th class="columna">Valor Total</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-posicion let-columns="columns">
                                                <tr>
                                                    <td>
                                                        <a href="#" [pRowToggler]="rowData" (click)="posicionExpandToggle(posicion)">
                                                            <i [ngClass]="posicion.Expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                                        </a>
                                                    </td>
                                                    <td class="columna">{{ posicion.NroPosicion }}</td>
                                                    <td class="columna">{{ posicion.Descripcion }}</td>
                                                    <td class="columna">{{ posicion.TipoImputacion }}</td>
                                                    <td class="columna">{{ posicion.Centro }}</td>
                                                    <td class="columna">{{ posicion.Almacen }}</td>
                                                    <td class="columna">{{ posicion.Moneda }}</td>
                                                    <td class="columna">{{ posicion.ValorTotal | number:'1.2-2' }}</td>
                                                </tr>
                                                <tr *ngIf="posicion.Expanded">
                                                    <td [attr.colspan]="9">
                                                        <p-table class="table-responsive" styleClass="font-size: 10px" #tabla [value]="posicion.SubPosiciones" dataKey="Id" [autoLayout]="true">
                                                            <ng-template pTemplate="header" let-columns>
                                                                <tr>
                                                                    <th class="columna">Nro SubPosicion</th>
                                                                    <th class="columna">Código Servicio</th>
                                                                    <th class="columna">Tarea</th>
                                                                    <th class="columna">Cantidad</th>
                                                                    <th class="columna">Unidad de Medida</th>
                                                                    <th class="columna">Precio Bruto</th>
                                                                    <th class="columna">Valor Neto</th>
                                                                    <th class="columna">CTA de Mayor</th>
                                                                    <th class="columna">Imputación</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-subPosicion let-columns="columns">
                                                                <tr>
                                                                    <td class="columna">{{ subPosicion.NroSubPosicion }}</td>
                                                                    <td class="columna">{{ subPosicion.CodigoServicio }}</td>
                                                                    <td class="columna">{{ subPosicion.Tarea }}</td>
                                                                    <td class="columna">{{ subPosicion.Cantidad | number }}</td>
                                                                    <td class="columna">{{ subPosicion.UnidadMedida }}</td>
                                                                    <td class="columna">{{ subPosicion.PrecioBruto | number:'1.2-2' }}</td>
                                                                    <td class="columna">{{ subPosicion.ValorNeto | number:'1.2-2' }}</td>
                                                                    <td class="columna">{{ subPosicion.CuentaMayor }}</td>
                                                                    <td class="columna">{{ subPosicion.Imputacion }}</td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-template>
                </div>
            </div>
        </section>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>

<p-sidebar visible="true" position="bottom" [modal]="false" [showCloseIcon]="false" dismissible="false" appendTo="body">
    <div class="row">
        <div class="col-xs-8 col-md-12" style="display: flex; justify-content: flex-end;">
            <div class="col-xs-2 col-md-2">
                <button class="btn btn-success botonesComprasColor" (click)="publicarCotizacion()">
                    CONTINUAR
                </button>
            </div>
        </div>
    </div>
</p-sidebar>

<app-desvincular-po-multiple
    [(displayDesvincularPoMultiple)]="mostrarPopupDesvincularPoMultiple"
    [(listaPO)]="listaPOParaDesvincular"
    [(peticiones)]="listaPeticionesParaDesvincular"
    [(idPosicionOSolp)]="solpOPosicionDesvincularId"
    [(esMaterial)]="desvincularPeticionesEsMaterial"
    (guardarDesvinculacionEmitter)="onDesvinculacionGuardada()"
    (cerrarDesvinculacionEmitter)="cerrarModalDesvincularSolp()">
</app-desvincular-po-multiple>
