.btn-secondary {
    background-color: #fff; 
    border: 1px solid #5B5B5B;
}
.btn-secondary:hover {
    background-color: #5B5B5B; 
    color: #fff;
}

.cardCompra {
    top: 15px;
    width: 100%;
    height: 110px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 11px #00000029;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;
    display: table;
    position: relative;
    margin-bottom: 15px;
  }

  .cardCompra:hover {
    background-color: #fff; 
    border: 1px solid #5B5B5B;
  }
  
  .cardText {
    text-align: center;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0px;
    opacity: 1;
    color: #666666;
    display: table-cell;
    vertical-align: middle;
  }
  
  
  .inputCompras {
    color: #000000;
    font-size: 16px;
  
  }
  
  .obligatorio {
    font-size: 12px;
    color: #1A1A1A;
    letter-spacing: 0px;
    opacity: 1;
    margin-left: 15px;
    font-family: Roboto Regular;
  }
  
  .headerCompras {
    height: 50px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--status);
    text-align: left;
    letter-spacing: 0px;
    color: #1C7CD5;
    opacity: 1;
    font-size: 24px;
    font-family: Roboto Regular;
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 20px;
    font-weight: 100;
    margin-left: 15px;
    
  
  }
  
  .margenInput {
    margin-bottom: 1em;
  }
  
  .margenNeg {
    margin-bottom: -10px;
  
  }

  .prime-hora {
    left: -2em;
  } 
 
  ::ng-deep .ui-chkbox-label,
  .labelCompras {
    font-family: "Roboto Condensed", Arial, sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important;

  }

  .enlaceVisita {
    font-size: 16px;
    color: #1C7CD5;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    font-weight: 200;
  }
 
  ::ng-deep .ui-calendar .ui-button{
    background-color:#5B5B5B !important;
    border-color: #5B5B5B !important;
} 

  .widthCompras {
    width: 75%;
  }

  ::ng-deep .ui-sidebar-bottom {
    height: 4em !important;
  }

  .pointer {
    cursor: pointer;
  }

  .inputRight {
    right: 13px;
  }

  ::ng-deep .weekDayBtn .ui-togglebutton {
    text-align: center !important;
    border-radius: 3em !important;
    width: 12% !important;
    margin-right: 2px !important;
  }

  ::ng-deep .weekDayBtn .ui-togglebutton.ui-state-default {
    background-color: #fff !important;
  }

  ::ng-deep .weekDayBtn .ui-togglebutton.ui-state-active {
    background-color: #1C7CD5 !important;
    border: 1px solid #C9C9C9 !important;
    color: honeydew !important;
  }
  
  ::ng-deep .weekDayBtn .ui-togglebutton.ui-state-focus {
    background-color: honeydew;
    border: 1px solid #C9C9C9 !important; 
  }

  ::ng-deep .ui-inputtext {
    width: 15%;
  }

  .styled-select1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #3f4845;
    overflow: hidden;
    font-family: "Roboto Condensed", Arial, sans-serif;
  }

  .weekDayBtn {
    margin-right: 2px !important;
  }

  .ejecucionCompras {
    font-weight: bold;
    font-size: 16px;
    color: black;
  }

  


  
  
  
  /*pesificaciones*/

  ::ng-deep div.ui-fileupload-buttonbar span.ui-fileupload-choose {
  width: 130px !important;
  height: 34px !important;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
  border: 1px solid #95989A !important;
  opacity: 1 !important;
}

/* estilos upload */
::ng-deep div.ui-fileupload-buttonbar span.ui-fileupload-choose {
  width: 150px !important;
  height: 34px !important;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
  border: 1px solid #95989A !important;
  opacity: 1 !important;
}

::ng-deep div.ui-fileupload-buttonbar  {
  background-color: #FFFFFF !important;
  border: none;
}

::ng-deep div.ui-fileupload-buttonbar span.ui-fileupload-choose > span{
  color: #666666;
}

::ng-deep div.ql-editor{
  font-weight:normal;
}
/* fin estilos upload */
