<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 "> <strong>¿Que tipo de SOLP quiere iniciar?</strong></div>
        </div>
        <!--End Title-->
        <!-- Form-->
        <div  class="row myRow firstSection">
            <div class="rounded shadow">
                <stepper [(pasos)]="pasos" (change)="cambioPaso($event)"></stepper>
            </div>
        </div>

        <div class="row myRow firstSection mySearch">
            <div class="col-xs-12 col-md-12 rounded shadow animate">
                <div class="col-xs-12 col-md-12 search-header">
                    <title-caps>{{"Paso " + pasoActual.Numero + ": " + pasoActual.Nombre}}</title-caps>
                </div>
                <!-- contenido -->
                <div class="col-xs-12 col-md-12">
                    <div *ngIf="pasoActual.Codigo == 'PliegoGeneracion1'" >Aca va el cuerpo del paso 1</div>
                </div>
            </div>
            
            <!-- footer dinamico con botones de guardado-->
        </div>

        <!-- END form-->
    </section>
    <!--End CONTENT-->
</div>