<div class="content-wraper alinearAlturaMenu">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 "> <strong>¿Qu&eacute; tipo de SOLP quiere
                    iniciar?</strong></div>
        </div>
        <!--End Title-->
        <!-- Form-->
        <div class="row myRow firstSection">
            <div class="rounded shadow">
                <stepper [(pasos)]="pasos" (change)="cambioPaso($event)" [(paso)]="pasoActual"></stepper>
            </div>
        </div>
        <spinner></spinner>
        <p-toast [style]="{marginTop: '105px'}"></p-toast>
        <div class="row myRow mySearch" style="margin-bottom: 4em;">
            <div class="col-xs-12 col-md-12 rounded shadow animate">
                <div class="col-xs-12 col-md-12 headerCompras" #headerCompras>
                    <strong>Paso {{pasoActual.Numero}}:</strong> {{pasoActual.Nombre}}
                </div>
                <hr class="prototipo">
                <!-- contenido -->
                <div class="col-xs-12 col-md-12" [ngSwitch]="pasoActual.Codigo">
                    <div *ngSwitchCase="enumSolp.PliegoGeneracion1" [@fadeInOut]>
                        <generacion1 #paso1 [(model)]="solpActual" [(locale)]="es" (onEstCompleto)="actualizarEstadoSolp($event)"></generacion1>
                    </div>
                    <div *ngSwitchCase="enumSolp.PliegoGeneracion2" [@fadeInOut]>
                        <generacion2 #paso2 [(model)]="solpActual" [(locale)]="es" (onEstCompleto)="actualizarEstadoSolp($event)"></generacion2>
                    </div>
                    <div *ngSwitchCase="enumSolp.PliegoEspecificacion" [@fadeInOut]>
                        <especificaciones #paso3 [(model)]="solpActual" [(locale)]="es" (onEstCompleto)="actualizarEstadoSolp($event)"></especificaciones>
                    </div>
                    <div *ngSwitchCase="enumSolp.PliegoCotizacion" [@fadeInOut]>
                        <cotizacion [(model)]="solpActual" [(locale)]="es" (onEstCompleto)="actualizarEstadoSolp($event)"></cotizacion>
                    </div>
                    <div *ngSwitchCase="enumSolp.SolpCabecera" [@fadeInOut]>
                        <cabecera #cabecera [(model)]="solpActual" [(locale)]="es" [(combos)]="combos"></cabecera>
                    </div>
                    <div *ngSwitchCase="enumSolp.SolpSubposiciones" [@fadeInOut]>
                        <subPosicion [(model)]="solpActual" [(locale)]="es" [(combos)]="combos"></subPosicion>
                    </div>

                    <div *ngSwitchDefault [@fadeInOut]>
                        Paso en construccion
                    </div>
                </div>
            </div>
        </div>
        <p-sidebar visible="true" position="bottom" [modal]="false" [showCloseIcon]="false" dismissible="false" appendTo="body">
            <div class="row">
                <div class="col-xs-1 col-md-1">
                </div>
                <div class="col-xs-3 col-md-3" style="text-align: center;">
                    <!-- <button class="btn btn-danger" (click)="cancelarSolp()"><i class="fa fa-reply"></i>&nbsp; CANCELAR</button> -->
                    <button class="btn btn-defaut btn-secondary botonesCompras" (click)="cancelarSolp()"><i
                            class="fa fa-arrow-left"></i>&nbsp; VOLVER</button>&nbsp;
                </div>
                <div class="col-xs-8 col-md-8">
                    <div class="col-xs-2 col-md-2" style="margin: 0; padding: 0; text-align: right;">
                        <button class="btn btn-defaut btn-secondary botonesCompras" *ngIf="pasoAnterior().paso" (click)="navegar(pasoAnterior())"><i class="fa fa-arrow-left"></i>&nbsp;
                            {{pasoAnterior().descripcion}}</button>&nbsp;
                    </div>
                    <div class="col-xs-2 col-md-2" style="margin: 0; padding: 0; text-align: center;">
                        <button class="btn btn-primary botonesComprasColor" (click)="guardarCambios()" [disabled]="disabledSave">GUARDAR</button>&nbsp;
                    </div>
                    <div class="col-xs-2 col-md-2" style="margin: 0; padding: 0;">
                        <button class="btn btn-defaut btn-secondary botonesCompras" *ngIf="pasoSiguiente().paso" [disabled]="disabledSave" (click)="navegar(pasoSiguiente()); guardarCambios(false, false, true)">{{pasoSiguiente().descripcion}}
                            &nbsp;<i class="fa fa-arrow-right"></i></button>
                        <button class="btn btn-success botonesComprasColor" *ngIf="!pasoSiguiente().paso" (click)="showDialog()" style="cursor: auto;">{{pasoSiguiente().descripcion}}</button>
                    </div>
                    <div class="col-xs-1 col-md-1">
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <div class="col-xs-6 col-md-6" style="text-align: left;">
                            <button class="btn btn-primary botonesComprasColor" *ngIf="pasoActual.Preview" (click)="preview()">PREVIEW</button>&nbsp;
                        </div>
                        <div class="col-xs-6 col-md-6" style="text-align: right;">
                            <!-- <button class="btn btn-secondary botonAgregarPosicion botonesCompras" *ngIf="pasoActual.Codigo == enumSolp.SolpSubposiciones" (click)="agregarPosicion(headerPosiciones)" ><i class="fa fa-plus"></i>&nbsp; Agregar posicion</button> -->
                            <!-- <button class="btn btn-secondary botonAgregarPosicion botonesCompras" *ngIf="pasoActual.Codigo == 'SolpCabecera'" (click)="agregarPosicion(headerPosiciones)" ><i class="fa fa-plus"></i>&nbsp; Agregar posicion</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </p-sidebar>
        <!-- END form-->
    </section>
    <!--End CONTENT-->
</div>
<p-dialog header="Previsualización" [(visible)]="mostrarPreview" [width]="1000" blockScroll="true" modal="modal" appendTo="body" positionTop="30" [contentStyle]="{'overflow':'visible', 'max-height':'1000px', 'min-height':'500px'}">
    <pliego-preview [src]="pdfPreview"></pliego-preview>
</p-dialog>

<!-- Modal cancelar SOLP-->
<p-confirmDialog #dialogo key="cancelarSolp" header="Advertencia" icon="pi pi-exclamation-triangle" [width]="400" [responsive]="true" appendTo="body">
    <p-footer>
        <button type="button" pButton label="No" class="ui-button-info botonModal" (click)="dialogo.reject()"></button>
        <button type="button" pButton label="Si" class="ui-button-success botonModal" (click)="dialogo.accept()"></button>
    </p-footer>
</p-confirmDialog>
<!--fin modal cancelar SOLP-->

<!-- Modal Volver a home SOLP-->
<p-confirmDialog #dialo key="solpFinalizadaVolverHome" header="Confirmacion" icon="pi pi-exclamation-triangle" [width]="400" [responsive]="true" appendTo="body">
    <p-footer>
        <button type="button" pButton label="No" class="ui-button-info botonModal" (click)="dialo.reject()"></button>
        <button type="button" pButton label="Si" class="ui-button-success botonModal" (click)="dialo.accept()"></button>
    </p-footer>
</p-confirmDialog>
<!--fin modal Volver a home SOLP-->

<p-dialog [(visible)]="displayFinalizar" [width]="650" [draggable]="false" modal="modal" appendTo="body" positionTop="30" [contentStyle]="{ 'max-height':'1500px', 'min-height':'500px'}">
    <p-header class="headerModal">
        ¡Último paso!
    </p-header>
    <div class="col-md-12 row myRow alinearTitulo margenInput">
        <div class="col-md-12 titulosModal" style="margin-right: 1em;">
            Revisado por:
        </div>
        <div class="col-md-5" style="margin-right: 1em; width: 37%;;">
            <input type="text" pInputText [(ngModel)]="solpActual.revisadoPor" class="styled-select inputComprasFinalizar" placeholder="">
        </div>
    </div>
    <div class="margenInput">
        <p><b>¿Desea editar las fechas?</b></p>
    </div>
    <div class="col-md-12 alinearTitulo">
        <div class="col-md-12 row myRow alinearTitulo margenInput">
            <div class="col-md-12 titulosModal">
                Fecha tentativa de entrega de ofertas:
            </div>
            <div class="col-md-4" style="margin-right: 1em;">
                <p-calendar [locale]="es" class="styled-select" [showIcon]="true" dateFormat="dd-M-yy" appendTo="body" [readonlyInput]="true" [minDate]="hoy" [(ngModel)]="solpActual.fechaEntrega"></p-calendar>
            </div>
            <div class="col-md-3">
                <p-calendar [locale]="es" [showIcon]="true" class="styled-select" appendTo="body" disabled="false" [(ngModel)]="solpActual.horaEntrega" icon="fa fa-clock-o" [timeOnly]="true" [readonlyInput]="true">
                </p-calendar>
            </div>
        </div>

        <div class="col-md-12 row myRow alinearTitulo margenInput">
            <div class="col-md-12 titulosModal">
                Fecha límite de consulta:
            </div>
            <div class="col-md-4" style="margin-right: 1em;">
                <p-calendar [locale]="es" class="styled-select" [showIcon]="true" dateFormat="dd-M-yy" appendTo="body" [readonlyInput]="true" [minDate]="hoy" [(ngModel)]="solpActual.fechaLimiteFecha"></p-calendar>
            </div>
            <div class="col-md-3">
                <p-calendar [locale]="es" [showIcon]="true" class="styled-select" appendTo="body" icon="fa fa-clock-o" [timeOnly]="true" [readonlyInput]="true" [(ngModel)]="solpActual.fechaLimiteHora"></p-calendar>
            </div>
        </div>

        <div class="col-md-12 row myRow alinearTitulo margenInput">

            <div class="col-md-6 titulosModal">
                Fecha de entrega previsto:
            </div>

            <div class="col-md-6" style="font-size: 10px; right: 90px; right: 90px; margin-bottom: 4px; margin-top: 6px;">
                (La fecha indicada corresponde a la posición )
            </div>
            <!-- //mayor fecha de entrega de todas las posiciones. -->
            <div class="col-md-4">
                <p-calendar [locale]="es" class="styled-select" [showIcon]="true" dateFormat="dd-M-yy" appendTo="body" [readonlyInput]="true" [minDate]="hoy" [(ngModel)]="solpActual.ultimaPosicion.fechaEntregaServicio">
                </p-calendar>
            </div>
        </div>

        <div class="col-md-12 row myRow">
            <p-panel *ngIf="solpActual.visitaDeObraMasiva" header="Visita de obra masiva" [toggleable]="true">
                <div *ngFor="let visita of solpActual.listaVisitas; let indice = index" class="ui-helper-clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-3 titulosModal" style="margin-left: 19px; font-size: 15px; margin-top: 8px;">
                        Visita #{{indice + 1}}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <p-calendar [(ngModel)]="visita.visitaDeObraFecha" class="styled-select" [style]="{'width': '85%'}" [locale]="es" [showIcon]="true" dateFormat="dd-M-yy" appendTo="body" [readonlyInput]="true" [minDate]="hoy"></p-calendar>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 margenInput">
                        <p-calendar class="styled-select" [(ngModel)]="visita.visitaDeObraHora" [style]="{'width': '75%'}" [locale]="es" [showIcon]="true" icon="fa fa-clock-o" [timeOnly]="true" appendTo="body"></p-calendar>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>

    <p-footer>
        <button type="button" pButton label="CANCELAR" class="ui-button-danger botonModal" (click)="cancelarFinalizar()"></button>
        <button type="button" pButton label="FINALIZAR" class="ui-button-success botonModal" (click)="finalizar()"></button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displaySAP" [width]="400" modal="modal" appendTo="body" [draggable]="false" [contentStyle]="{'overflow':'visible', 'max-height':'100px', 'min-height':'100px'}">
    <p-header class="headerModal">
        ¡Felicitaciones!
    </p-header>
    <br> Ha cargado con éxito la solicitud de pedido {{solpActual.NroSolp || ''}} en SAP y se ha enviado para su liberación
    <br>
    <br>
    <p-footer>
        <button type="button" pButton label="Descargar SOLP" class="btn btn-defaut btn-secondary botonesCompras" (click)="generarZipPliego(solpActual.id)"></button>
        <button type="button" pButton label="Volver a la home" class="btn btn-primary botonesComprasColor botonModal" (click)="solpFinalizadaVolverHome()()"></button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayErrorSAP" [width]="400" [height]="400" modal="modal" appendTo="body" [draggable]="false" [contentStyle]="{'overflow':'visible', 'max-height':'100px', 'min-height':'400px'}">
    <p-header class="headerModalError">
        ¡Ocurrió un error!
    </p-header>
    <div class="col-md-12 alinearTitulo">
        <h4>No se pudo procesar la SOLP</h4>
        <br>
        <p>Por favor revisar los siguientes errores:</p> 
        <br>
        <div *ngFor="let error of listadoErrores; let indice = index" class="col-md-12 alinearTitulo ui-helper-clearfix">
            <ul>
                <li>{{error}}</li>
            </ul>
        </div>
        <br>
    </div>
    <p-footer>
        <button type="button" pButton label="VOLVER" class="btn btn-secondary botonesComprasColor" (click)="cancelarFinalizar()"></button>
    </p-footer>
</p-dialog>