<style>
    .btn-secondary {
        background-color: #fff; 
        border: 1px solid #5B5B5B;
    }
    .btn-secondary:hover {
        background-color: #5B5B5B; 
        color: #fff;
    }
</style>
<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 "> <strong>¿Que tipo de SOLP quiere iniciar?</strong></div>
        </div>
        <!--End Title-->
        <!-- Form-->
        <div class="row myRow firstSection">
            <div class="rounded shadow">
                <stepper [(pasos)]="pasos" (change)="cambioPaso($event)" [(paso)]="pasoActual"></stepper>
            </div>
        </div>

        <div class="row myRow firstSection mySearch">
            <div class="col-xs-12 col-md-12 rounded shadow animate">
                <div class="col-xs-12 col-md-12 headerCompras">
                    <strong>Paso {{pasoActual.Numero}}:</strong> {{pasoActual.Nombre}}
                </div>
                <hr>
                <!-- contenido -->
                <div class="col-xs-12 col-md-12" [ngSwitch]="pasoActual.Codigo">
                    <div *ngSwitchCase="'PliegoGeneracion1'" [@fadeInOut] >
                        <generacion1 [(model)]="solpActual"></generacion1>
                    </div>
                    <div  *ngSwitchCase="'PliegoGeneracion2'" [@fadeInOut] >
                        <generacion2 [(model)]="solpActual"></generacion2>
                    </div>
                    <div *ngSwitchDefault [@fadeInOut] >
                        Paso en construccion
                    </div>
                </div>                
            </div>
        </div>
        <div class="row myRow" >
            <div class="col-xs-4">
                <button class="btn btn-danger" (click)="salir()">CANCELAR</button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-defaut btn-secondary" (click)="navegar(pasoAnterior())">{{pasoAnterior().descripcion}}</button>&nbsp;
                <button class="btn btn-primary" >GUARDAR</button>&nbsp;
                <button class="btn btn-primary" >PREVIEW</button>&nbsp;
                <button class="btn btn-defaut btn-secondary" *ngIf="pasoSiguiente().paso" (click)="navegar(pasoSiguiente())" >{{pasoSiguiente().descripcion}}</button>
                <button class="btn btn-success" *ngIf="!pasoSiguiente().paso" >{{pasoSiguiente().descripcion}}</button>
            </div>
        </div>
        <!-- END form-->
    </section>
    <!--End CONTENT-->
</div>