<div class="content-wraper">
  <!-- CONTENT-->
  <section class="container-fluid clearfix">
    <!--Title-->
    <div class="row titleSection d-flex justify-between">
      <div class="col-xs-12 col-sm-10"><strong>Mis Cursos</strong> </div>
      <div class="col-xs-12 col-sm-8 col-md-8" style="display: flex; justify-content: flex-end;">
      </div>
    </div>
    <!--End Title-->
    <!--Search-->
    <div class="row myRow firstSection mySearch mt-0">
      <div class="col-xs-12 col-md-12 rounded shadow animate">
        <div class="col-xs-12 col-md-12 search-header">
          <spinner-small></spinner-small>
          <title-caps>Refinar resultados</title-caps>
        </div>
        <div id="searchContrato" class="col-xs-12 col-sm-6 col-md-15">
          <p>Nombre</p>
          <div class="styled-select">
            <input type="search" class="" placeholder="" [formControl]="nombreFiltro" aria-controls="tableModal">
          </div>
        </div>
      </div>
    </div>
    <!-- End Search-->
    <!-- Tables-->

    <div class="row myRow">
      <div class="clearfix myTables">
        <mensaje></mensaje>
        <spinner></spinner>
        <ng-container *ngIf="isVisible">
          <table id="tableModal" class="display nowrap dataTable no-footer dtr-inline rounded shadow animate "
            role="grid" aria-describedby="tableModal_info" style="width: 100%;padding: 30px 0">
            <thead>
              <tr role="row">
                <th class="fw-bold fs-medium" id="fechaRow" tabindex="0" rowspan="1" colspan="1">
                  Nombre
                </th>
                <th id="accionesRow" tabindex="0" rowspan="1" colspan="1">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let curso of cursosDisponibles
                  | customFilter:'Nombre':nombreFiltro.value
                  | paginate: { itemsPerPage:itemsPerPage, currentPage: p }
                  ;let odd=odd" role="row" [class.odd]="!odd">
                <td>{{aplicacion.FechaAlta}}</td>
                <td>
                  <i (click)="eliminarAplicacion(aplicacion)" class="cursor-pointer"
                    *ngIf="aplicacion.Estado === estadosAplicacionCCPP.Pendiente">
                  </i>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        <pagination-template #pT="paginationApi" (pageChange)="p = $event" *ngIf="isVisible">
          <div class="dataTables_paginate paging_simple_numbers">
            <a id="tableModal_previous" class="paginate_button previous" (click)="pT.previous()"
              [class.disabled]="pT.isFirstPage()"> Anterior </a>
            <span *ngFor="let page of pT.pages" [class.current]="pT.getCurrent() === page.value">
              <a class="paginate_button" (click)="pT.setCurrent(page.value)" *ngIf="pT.getCurrent() !== page.value">{{
                page.label }}</a>
              <a class="paginate_button current" *ngIf="pT.getCurrent() === page.value">{{ page.label }}</a>
            </span>
            <a id="tableModal_next" class="paginate_button next" (click)="pT.next()" [class.disabled]="pT.isLastPage()">
              Siguiente </a>
          </div>
        </pagination-template>
      </div>
    </div>
    <!-- END tables-->
  </section>
  <!--End CONTENT-->
</div>