<div class="container-fluid">
    <!-- CONTENT-->
    <!-- Contiene todo -->
    <div #headerPosiciones></div>
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mensaje></mensaje>
        <p-messages [(value)]="mensajesEncabezado" [closable]="false"></p-messages>
        <div class="inputCompras">
            <div class="row myRow" style="padding-top: 2px;">
                <!-- Row Clase documento -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput" style="margin: 40px 0px 30px 0px;">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 margenInput">
                            Clase documento *
                            <div>
                                <p-dropdown [options]="claseDocumento" [(ngModel)]="model.selectClaseDocumento" placeholder="Elegir clase documento" dataKey="Id" optionLabel="CodigoDescripcion" (onChange)="cambiarClaseDocumento()" [disabled]="model.vincularAPliego" styleClass="claseDocumento">
                                </p-dropdown>>
                            </div>
                            <div *ngIf="mostrarValidacion('selectClaseDocumento', model.selectClaseDocumento)">
                                <p class="text-danger">campo obligatorio</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row Clase documento -->
                <hr class="separadorCompras">
                <!-- Row posiciones -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput" style="margin-top: 20px;">
                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 margenInput posicionCompras">
                            Posiciones
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 margenInput">
                            <p-dropdown [options]="model.posiciones" [(ngModel)]="model.posicionActual" dataKey="id" optionLabel="id" (onFocus)="validarPosicionActual()">
                                <ng-template let-item pTemplate="selectedItem">
                                    #{{item.value.numeroPosicion + " " + (item.value.textoGenerico || " ")}}
                                    <i *ngIf="item.value.posicionValida === false" class="fa fa-exclamation" style="color:red"></i>
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    #{{item.value.numeroPosicion + " " + (item.value.textoGenerico || " ")}}
                                    <i *ngIf="item.value.posicionValida === false" class="fa fa-exclamation" style="color:red"></i>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 margenInput" style="text-align: right;">
                            <div class="col-xs-5 col-sm- col-md-5 col-lg-5">
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <button class="btn btn-secondary botonAgregarPosicion botonesCompras" (click)="agregarPosicion(headerPosiciones)" [disabled]="model.vincularAPliego"><i class="fa fa-plus"></i>&nbsp; Agregar posicion</button>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngIf="model.posicionActual.estado">
                                <button class="btn btn-danger botonesComprasColor" (click)="eliminarPosicion()" [disabled]="model.vincularAPliego"><img src="./Content/images/icons/trashWhite.svg" alt="trashWhite" /> Eliminar posici&oacute;n</button>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngIf="!model.posicionActual.estado && this.model.nroSolp > 0">
                                <button class="btn btn-info botonesComprasColor" (click)="recuperarPosicion()" [disabled]="model.vincularAPliego"><img src="./Content/images/icons/editar.svg" alt="trashWhite" /> Recuperar posici&oacute;n</button>
                            </div>
                        </div>
                    </div>
                </div>
                <form [formGroup]="formularioActual">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 margenInput">
                                <div>
                                    Tipo de posici&oacute;n*
                                </div>
                                <p-radioButton formControlName="servicio" [ngModelOptions]="{standalone:true}" name="posiciones" value="SERVICIO" label="Servicio (F)" [(ngModel)]="model.posicionActual.servicio" inputId="servicio">
                                </p-radioButton>
                                <div *ngIf="mostrarError('servicio')">
                                    <p class="text-danger">campo obligatorio</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 margenInput">
                                <div>
                                    Tipo de imputaci&oacute;n*
                                </div>
                                <div>
                                    <div>
                                        <p-radioButton formControlName="tipoImputacion" [ngModelOptions]="{standalone:true}" name="imputacion" value="centroDeCosto" label="Centro de costo (K)" [(ngModel)]="model.posicionActual.tipoImputacion" inputId="servicio">
                                        </p-radioButton>
                                    </div>
                                    <div>
                                        <p-radioButton formControlName="tipoImputacion" [ngModelOptions]="{standalone:true}" name="imputacion" value="ordenDeOt" label="Orden de OT (F)" [(ngModel)]="model.posicionActual.tipoImputacion" inputId="servicio"></p-radioButton>
                                    </div>
                                    <div>
                                        <p-radioButton formControlName="tipoImputacion" [ngModelOptions]="{standalone:true}" name="imputacion" value="ordenDeInversion" label="Orden de inversión (F)" [(ngModel)]="model.posicionActual.tipoImputacion" inputId="servicio">
                                        </p-radioButton>
                                    </div>
                                    <div>
                                        <p-radioButton formControlName="tipoImputacion" [ngModelOptions]="{standalone:true}" name="imputacion" value="siniestroBeneficio" label="Siniestro / Centro de beneficio (Y)" [(ngModel)]="model.posicionActual.tipoImputacion" inputId="servicio">
                                        </p-radioButton>
                                    </div>
                                    <div *ngIf="mostrarError('tipoImputacion')">
                                        <p class="text-danger">campo obligatorio</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margenInput">
                                <div>
                                    Texto gen&eacute;rico*
                                </div>
                                <input pInputText class="styled-select1 widthAutocomplete p-inputtext-lg" [(ngModel)]="model.posicionActual.textoGenerico" name="textoGenerico" formControlName="textoGenerico" id="textoGenerico" placeholder="Ingrese nombre de la posicion" maxlength="40"
                                       rows="1" />
                                <div *ngIf="mostrarError('textoGenerico')">
                                    <p class="text-danger">campo obligatorio</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row posiciones -->
                    <hr class="separadorCompras">

                    <!-- Row fechas de entrega -->

                    <tab-fechas [(model)]="model" [(locale)]="locale"></tab-fechas>

                    <!-- End Row fechas de entrega -->
                    <hr class="separadorCompras">
                    <!-- Row datos direccion de entrega -->

                
                    <!-- End Row datos direccion de entrega -->
                    <hr class="separadorCompras">
                    <!-- Row grupo de compras -->

                    <tab-datos-posicion [(model)]="model" [(combos)]="combos" [(disabled)]="model.vincularAPliego"></tab-datos-posicion>

                    <!-- End Row grupo de compras -->
                    <hr class="separadorCompras">
                    <!-- Row proveedores -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput" style="font-size: 24px;">
                                Proveedores
                            </div>
                            <!-- <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            <div>
                                Rubro
                            </div>
                            <div>
                                <p-checkbox formControlName="rubroElectrico" [ngModelOptions]="{standalone:true}"
                                    class="checkboxFechas" [(ngModel)]="model.posicionActual.rubroElectrico"
                                    label="Eléctrico" binary="true"></p-checkbox>
                            </div>
                            <div>
                                <p-checkbox formControlName="rubroCivil" [ngModelOptions]="{standalone:true}"
                                    class="checkboxFechas" [(ngModel)]="model.posicionActual.rubroCivil"
                                    label="Civil" binary="true"></p-checkbox>
                            </div>
                            <div>
                                <p-checkbox formControlName="rubroMecanico" [ngModelOptions]="{standalone:true}"
                                    class="checkboxFechas" [(ngModel)]="model.posicionActual.rubroMecanico"
                                    label="Mecánico" binary="true"></p-checkbox>
                            </div>
                            <div>
                                <p-checkbox formControlName="rubroIngenieria" [ngModelOptions]="{standalone:true}"
                                    class="checkboxFechas" [(ngModel)]="model.posicionActual.rubroIngenieria"
                                    label="Ingeniería" binary="true"></p-checkbox>
                            </div>
                            <div>
                                <p-checkbox formControlName="rubroConsultoria" [ngModelOptions]="{standalone:true}"
                                    class="checkboxFechas" [(ngModel)]="model.posicionActual.rubroConsultoria"
                                    label="Consultoría" binary="true"></p-checkbox>
                            </div>
                        </div> -->

                            <div class="col-xs-12 col-sm-12 col-md-12 margenInput" style="padding-left: 0;">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ui-fluid">
                                    Válidos
                                    <p-chips [(ngModel)]="model.posicionActual.proveedoresValidos" formControlName="proveedoresValidos" name="model.posicionActual.proveedoresValidos" styleClass="widthAutocomplete" id="proveedoresValidos" [suggestions]="resultadoProveedores" (completeMethod)="search($event)"
                                             addOnTab="true" [addOnBlur]="true">
                                    </p-chips>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ui-fluid">
                                    Inválidos
                                    <p-chips [(ngModel)]="model.posicionActual.proveedoresInvalidos" formControlName="proveedoresInvalidos" name="model.posicionActual.proveedoresInvalidos" styleClass="widthAutocomplete" id="proveedoresInvalidos" [suggestions]="resultadoProveedores" (completeMethod)="search($event)"
                                             addOnTab="true" [addOnBlur]="true">
                                    </p-chips>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ui-fluid">
                                    No sugeridos
                                    <p-chips [(ngModel)]="model.posicionActual.proveedoresNoSugeridos" formControlName="proveedoresNoSugeridos" name="model.posicionActual.proveedoresNoSugeridos" styleClass="widthAutocomplete" id="proveedoresNoSugeridos" [suggestions]="resultadoProveedores"
                                             (completeMethod)="search($event)" addOnTab="true" [addOnBlur]="true">
                                    </p-chips>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row proveedores -->
                    <hr class="separadorCompras">
                    <!-- Row tipo de moneda -->
                    <div class="row myRow">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="margenInput">
                                Moneda*
                                <p-autoComplete formControlName="selectMonedaCompras" [(ngModel)]="model.posicionActual.monedaSeleccionada" [suggestions]="monedaCompras" dataKey="Id" ariaLabel="CodigoDescripcion" field="CodigoDescripcion" appendTo="body" [autoHighlight]="true" emptyMessage="Ningúna moneda encontrada"
                                                [minLength]="1" [dropdown]="true" [forceSelection]="true" (completeMethod)="buscarCombo($event, 'MONEDA COMPRAS')" (onFocus)=" $event.target.select()">
                                </p-autoComplete>
                                <div *ngIf="mostrarError('selectMonedaCompras')">
                                    <p class="text-danger">campo obligatorio</p>
                                </div>
                            </div>
                            <p *ngIf="model.posicionActual.totalPosicion()" class="valorTotal">
                                Valor Total: {{model.posicionActual.totalPosicion()}}
                            </p>
                        </div>
                    </div>
                    <!-- End Row tipo de moneda -->
                </form>
            </div>
        </div>
        <!-- END form-->
    </section>
    <!--End CONTENT-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="margenInput obligatorio">
            * Campos obligatorios
        </div>
    </div>
</div>

<!-- Modal eliminacion de posicion-->
<p-confirmDialog #dialogo header="Confirmación" icon="pi pi-exclamation-triangle" [width]="400" [responsive]="true" appendTo="body">
    <p-footer>
        <button type="button" pButton label="Cancelar" class="ui-button-info botonModal" (click)="dialogo.reject()"></button>
        <button type="button" pButton label="Aceptar" class="ui-button-success botonModal" (click)="dialogo.accept()"></button>
    </p-footer>
</p-confirmDialog>
<!--fin modal eliminacion de posicion-->