<div class="container-fluid">
    <!-- CONTENT-->
    <!-- Contiene todo -->
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mensaje></mensaje>
        <div class="inputCompras">
            <div class="row myRow" style="padding-top: 2px;">
                <!-- Row Clase documento -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput" style="margin: 40px 0px 30px 0px;">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 margenInput">
                            Clase documento*
                            <div>
                                <p-dropdown [options]="claseDocumento" [(ngModel)]="model.selectClaseDocumento"
                                    dataKey="Id" optionLabel="Descripcion" (onChange)="cambiarClaseDocumento()">
                                    <ng-template let-item pTemplate="selectedItem">
                                        {{item.value.CodigoSap + " - " + item.value.Descripcion}}
                                    </ng-template>
                                    <ng-template let-item pTemplate="item">
                                        {{item.value.CodigoSap + " - " + item.value.Descripcion}}
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row Clase documento -->
                <hr class="separadorCompras">
                <!-- Row posiciones -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput" style="margin-top: 20px;">
                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 margenInput posicionCompras">
                            Posiciones
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 margenInput">
                            <p-dropdown [options]="model.posiciones" [(ngModel)]="model.posicionActual" dataKey="id"
                                optionLabel="id" (onFocus)="validarPosicionActual()">
                                <ng-template let-item pTemplate="selectedItem">
                                    #{{item.value.numeroPosicion + " " + (item.value.textoGenerico || " ")}}
                                    <i *ngIf="item.value.posicionValida === false" class="fa fa-exclamation"
                                        style="color:red"></i>
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    #{{item.value.numeroPosicion + " " + (item.value.textoGenerico || " ")}}
                                    <i *ngIf="item.value.posicionValida === false" class="fa fa-exclamation"
                                        style="color:red"></i>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 margenInput" style="text-align: right;">
                            <button class="btn btn-danger" (click)="eliminarPosicionCabecera()"><img  src="./Content/images/icons/trashWhite.svg" alt="trashWhite"/> Eliminar posici&oacute;n</button>
                        </div>
                    </div>
                </div>
                <form [formGroup]="formularioActual">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 margenInput">
                                <div>
                                    Tipo de posici&oacute;n*
                                </div>
                                <p-radioButton formControlName="servicio" (blur)="onBlur('servicio')"
                                    [ngModelOptions]="{standalone:true}" name="posiciones" value="Servicio (F)"
                                    label="Servicio (F)" [(ngModel)]="model.posicionActual.servicio" inputId="servicio">
                                </p-radioButton>
                                <div *ngIf="mostrarError('servicio')">
                                    <p class="text-danger">campo obligatorio</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 margenInput">
                                <div>
                                    Tipo de imputaci&oacute;n*
                                </div>
                                <div>
                                    <div>
                                        <p-radioButton formControlName="tipoImputacion"
                                            [ngModelOptions]="{standalone:true}" name="imputacion" value="centroDeCosto"
                                            label="Centro de costo (K)"
                                            [(ngModel)]="model.posicionActual.tipoImputacion" inputId="servicio">
                                        </p-radioButton>
                                    </div>
                                    <div>
                                        <p-radioButton formControlName="tipoImputacion"
                                            [ngModelOptions]="{standalone:true}" name="imputacion" value="ordenDeOt"
                                            label="Orden de OT (F)" [(ngModel)]="model.posicionActual.tipoImputacion"
                                            inputId="servicio"></p-radioButton>
                                    </div>
                                    <div>
                                        <p-radioButton formControlName="tipoImputacion"
                                            [ngModelOptions]="{standalone:true}" name="imputacion"
                                            value="ordenDeInversion" label="Orden de inversión (F)"
                                            [(ngModel)]="model.posicionActual.tipoImputacion" inputId="servicio">
                                        </p-radioButton>
                                    </div>
                                    <div>
                                        <p-radioButton formControlName="tipoImputacion"
                                            [ngModelOptions]="{standalone:true}" name="imputacion"
                                            value="siniestroBeneficio" label="Siniestro / Centro de beneficio (Y)"
                                            [(ngModel)]="model.posicionActual.tipoImputacion" inputId="servicio">
                                        </p-radioButton>
                                    </div>
                                    <div *ngIf="mostrarError('tipoImputacion')">
                                        <p class="text-danger">campo obligatorio</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margenInput">
                                <div>
                                    Texto gen&eacute;rico*
                                </div>
                                <input pInputText class="styled-select1 widthAutocomplete p-inputtext-lg"
                                    [(ngModel)]="model.posicionActual.textoGenerico" name="textoGenerico"
                                    formControlName="textoGenerico" id="textoGenerico"
                                    placeholder="Ingrese nombre de la posicion" maxlength="40" rows="1" />
                                <div *ngIf="mostrarError('textoGenerico')">
                                    <p class="text-danger">campo obligatorio</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row posiciones -->
                    <hr  class="separadorCompras">

                    <!-- Row fechas de entrega -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput" style="font-size: 24px;">
                                Fechas
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 margenInput">
                                <div>
                                    Fecha de entrega {{ mostrarAsterisco('fechaEntregaServicio') }}
                                </div>
                                <div class="styled-select">
                                    <p-calendar formControlName="fechaEntregaServicio"  [ngModelOptions]="{standalone:true}" [(ngModel)]="model.posicionActual.fechaEntregaServicio" [locale]="locale" [showIcon]="true" dateFormat="dd-M-yy" appendTo="body" [readonlyInput]="true" [minDate]="hoy"></p-calendar>    
                                </div>
                                <div *ngIf="mostrarError('fechaEntregaServicio')">
                                    <p class="text-danger">campo obligatorio</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 margenInput">
                                <div>
                                    Fecha de liberaci&oacute;n {{ mostrarAsterisco('fechaDeLiberacion') }}
                                </div>
                                <div class="styled-select">
                                    <p-calendar formControlName="fechaDeLiberacion"  [ngModelOptions]="{standalone:true}" [(ngModel)]="model.posicionActual.fechaDeLiberacion" [locale]="locale" [showIcon]="true" dateFormat="dd-M-yy" appendTo="body" [readonlyInput]="true" [minDate]="hoy"></p-calendar>   
                                    <div *ngIf="mostrarError('fechaDeLiberacion')">
                                        <p class="text-danger">campo obligatorio</p>
                                    </div>
                                </div>
                            </div>
                            <div class="styled-select1 col-xs-6 col-sm-12 col-md-3 col-lg-3 ejecucionCompras">
                                <span class="ejecucionCompras">Plazo de entrega previsto &nbsp;</span>
                                <input [ngModelOptions]="{standalone:true}" pInputText type="text" pKeyFilter="pnum"
                                    [(ngModel)]="model.posicionActual.plazoDeEntrega" class="fourRounded widthInputDias"
                                    aria-controls="tableModal" placeholder="" />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 margenInput prime-hora">
                                <div class="col-xs-12 col-sm-12 col-md-12 margenInput checkboxFechas">
                                    <p-checkbox formControlName="concluido" [ngModelOptions]="{standalone:true}"
                                        class="checkboxFechas" [(ngModel)]="model.posicionActual.concluido"
                                        label="Concluido" binary="true"></p-checkbox>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                                    <p-checkbox formControlName="indiceFijacion" [ngModelOptions]="{standalone:true}"
                                        class="checkboxFechas" [(ngModel)]="model.posicionActual.indiceFijacion"
                                        label="Ind. Fijación (A definir)" binary="true"></p-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row fechas de entrega -->
                    <hr  class="separadorCompras">
                    <!-- Row datos direccion de entrega -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput" style="font-size: 24px;">
                                Direcci&oacute;n de entrega
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 margenInput">
                                <div class="margenInput">
                                    Centro {{ mostrarAsterisco('selectCentroEntrega') }}
                                    <p-dropdown formControlName="selectCentroEntrega" [options]="centroEntrega"
                                        [(ngModel)]="model.posicionActual.selectCentroEntrega" dataKey="Id"
                                        optionLabel="Descripcion" autoDisplayFirst="true" placeholder="Seleccionar"
                                        (onChange)="centroSeleccionado()" [showClear]="true" [filter]="true"
                                        filterBy="label"></p-dropdown>
                                    <div *ngIf="mostrarError('selectCentroEntrega')">
                                        <p class="text-danger">campo obligatorio</p>
                                    </div>
                                    <!-- <p-dropdown formControlName="selectCentroEntrega" dataKey="Id" optionLabel="Descripcion" [options]="centroEntrega" [(ngModel)]="model.posicionActual.selectCentroEntrega" placeholder="Select a City" [showClear]="true"></p-dropdown> -->
                                </div>

                                <div class="margenInput">
                                    Nombre
                                    <input pInputText class="styled-select1 widthAutocomplete p-inputtext-lg"
                                        [(ngModel)]="model.posicionActual.nombreEntrega" formControlName="nombreEntrega"
                                        name="nombreEntrega" id="nombreEntrega" placeholder="Ingrese nombre"
                                        maxlength="40" rows="1" />

                                    <div *ngIf="mostrarError('nombreEntrega')">
                                        <p class="text-danger">campo obligatorio</p>
                                    </div>

                                </div>

                                <div class="margenInput">
                                    C&oacute;digo postal
                                    <input pInputText class="styled-select1 widthAutocomplete p-inputtext-lg"
                                        [(ngModel)]="model.posicionActual.codigoPostalEntrega"
                                        formControlName="codigoPostalEntrega" name="codigoPostalEntrega"
                                        id="codigoPostalEntrega" placeholder="Ingrese codigo postal" maxlength="40"
                                        rows="1" />

                                    <div *ngIf="mostrarError('codigoPostalEntrega')">
                                        <p class="text-danger">campo obligatorio</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 margenInput">
                                <div class="margenInput">
                                    Almac&eacute;n {{ mostrarAsterisco('selectAlmacenEntrega') }}
                                    <p-dropdown formControlName="selectAlmacenEntrega"
                                        [ngModelOptions]="{standalone:true}" [options]="almacenEntrega"
                                        [(ngModel)]="model.posicionActual.selectAlmacenEntrega" dataKey="Id"
                                        optionLabel="Descripcion" autoDisplayFirst="false" placeholder="Seleccionar"
                                        [filter]="true" filterBy="label" [showClear]="true"></p-dropdown>
                                    <div *ngIf="mostrarError('selectAlmacenEntrega')">
                                        <p class="text-danger">campo obligatorio</p>
                                    </div>
                                </div>

                                <div class="margenInput">
                                    Calle*
                                    <input pInputText class="styled-select1 widthAutocomplete p-inputtext-lg"
                                        [(ngModel)]="model.posicionActual.calleEntrega" formControlName="calleEntrega"
                                        name="calleEntrega" id="calleEntrega" placeholder="Ingrese la calle" rows="1" />

                                    <div *ngIf="mostrarError('calleEntrega')">
                                        <p class="text-danger">campo obligatorio</p>
                                    </div>
                                </div>

                                <div class="margenInput">
                                    Pa&iacute;s
                                    <input pInputText class="styled-select1 widthAutocomplete p-inputtext-lg"
                                        [(ngModel)]="model.posicionActual.paisEntrega" formControlName="paisEntrega"
                                        name="paisEntrega" id="paisEntrega" placeholder="Ingrese la calle" rows="1" />
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 margenInput">
                                <div class="margenInput" style="margin-top: 72px;">
                                    N&uacute;mero*
                                    <input pInputText class="styled-select1 widthAutocomplete p-inputtext-lg"
                                        [(ngModel)]="model.posicionActual.numeroEntrega" formControlName="numeroEntrega"
                                        name="numeroEntrega" id="numeroEntrega" placeholder="" rows="1" />
                                    <div *ngIf="mostrarError('numeroEntrega')">
                                        <p class="text-danger">campo obligatorio</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row datos direccion de entrega -->
                    <hr  class="separadorCompras">
                    <!-- Row grupo de comras -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput">

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margenInput">
                                <div class="margenInput">
                                    Grupo de compras {{ mostrarAsterisco('selectGrupoCompras') }}
                                    <p-dropdown formControlName="selectGrupoCompras" [options]="grupoCompras"
                                        [(ngModel)]="model.posicionActual.selectGrupoCompras" dataKey="Id"
                                        optionLabel="Descripcion" autoDisplayFirst="false" placeholder="Seleccionar"
                                        [filter]="true" filterBy="label" [showClear]="true"></p-dropdown>
                                    <div *ngIf="mostrarError('selectGrupoCompras')">
                                        <p class="text-danger">campo obligatorio</p>
                                    </div>
                                </div>

                                <div class="margenInput">
                                    Grupo de art&iacute;culo*
                                    <p-dropdown formControlName="selectArticuloCompras"
                                        [ngModelOptions]="{standalone:true}" [options]="articuloCompras"
                                        [(ngModel)]="model.posicionActual.selectArticuloCompras" dataKey="Id"
                                        optionLabel="Descripcion" autoDisplayFirst="false" placeholder="Seleccionar"
                                        [filter]="true" filterBy="label" [showClear]="true"></p-dropdown>
                                    <div *ngIf="mostrarError('selectArticuloCompras')">
                                        <p class="text-danger">campo obligatorio</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margenInput">
                                <div class="margenInput">
                                    Solicitante*
                                    <input pInputText class="styled-select1 widthAutocomplete p-inputtext-lg"
                                        [(ngModel)]="model.posicionActual.selectSolicitanteCompras"
                                        formControlName="selectSolicitanteCompras" name="selectSolicitanteCompras"
                                        id="selectSolicitanteCompras" placeholder="" rows="1" />
                                    <div *ngIf="mostrarError('selectSolicitanteCompras')">
                                        <p class="text-danger">campo obligatorio</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margenInput">
                                <div class="margenInput">
                                    N° Necesidad
                                    <input pInputText class="styled-select1 widthAutocomplete p-inputtext-lg"
                                        [(ngModel)]="model.posicionActual.necesidadCompras"
                                        formControlName="necesidadCompras" name="necesidadCompras" id="necesidadCompras"
                                        placeholder="" rows="1" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row grupo de comras -->
                    <hr  class="separadorCompras">
                    <!-- Row proveedores -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput" style="font-size: 24px;">
                                Proveedores
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                                <div>
                                    Rubro
                                </div>
                                <div>
                                    <p-checkbox formControlName="rubroElectrico" [ngModelOptions]="{standalone:true}"
                                        class="checkboxFechas" [(ngModel)]="model.posicionActual.rubroElectrico"
                                        label="Eléctrico" binary="true"></p-checkbox>
                                </div>
                                <div>
                                    <p-checkbox formControlName="rubroCivil" [ngModelOptions]="{standalone:true}"
                                        class="checkboxFechas" [(ngModel)]="model.posicionActual.rubroCivil"
                                        label="Civil" binary="true"></p-checkbox>
                                </div>
                                <div>
                                    <p-checkbox formControlName="rubroMecanico" [ngModelOptions]="{standalone:true}"
                                        class="checkboxFechas" [(ngModel)]="model.posicionActual.rubroMecanico"
                                        label="Mecánico" binary="true"></p-checkbox>
                                </div>
                                <div>
                                    <p-checkbox formControlName="rubroIngenieria" [ngModelOptions]="{standalone:true}"
                                        class="checkboxFechas" [(ngModel)]="model.posicionActual.rubroIngenieria"
                                        label="Ingeniería" binary="true"></p-checkbox>
                                </div>
                                <div>
                                    <p-checkbox formControlName="rubroConsultoria" [ngModelOptions]="{standalone:true}"
                                        class="checkboxFechas" [(ngModel)]="model.posicionActual.rubroConsultoria"
                                        label="Consultoría" binary="true"></p-checkbox>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 margenInput" style="padding-left: 0;">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ui-fluid">
                                    Válidos
                                    <!-- Autocomplete and chips -->
                                    <!-- <p-autoComplete formControlName="proveedoresValidos" name="model.posicionActual.proveedoresValidos" styleClass="widthAutocomplete" id="proveedoresValidos" [(ngModel)]="model.posicionActual.proveedoresValidos" [suggestions]="resultadoProveedores" (completeMethod)="search($event)" (onKeyUp)="onKeyUp($event, model.posicionActual.proveedoresValidos)" [multiple]="true"></p-autoComplete> -->

                                    <p-chips [(ngModel)]="model.posicionActual.proveedoresValidos"
                                        formControlName="proveedoresValidos"
                                        name="model.posicionActual.proveedoresValidos" styleClass="widthAutocomplete"
                                        id="proveedoresValidos" [suggestions]="resultadoProveedores"
                                        (completeMethod)="search($event)" addOnTab="true" [addOnBlur]="true"></p-chips>

                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ui-fluid">
                                    Inválidos
                                    <!-- <p-autoComplete formControlName="proveedoresInvalidos" name="model.posicionActual.proveedoresInvalidos" styleClass="widthAutocomplete" id="proveedoresInvalidos" [(ngModel)]="model.posicionActual.proveedoresInvalidos" [suggestions]="resultadoProveedores" (completeMethod)="search($event)" (onKeyUp)="onKeyUp($event, model.posicionActual.proveedoresInvalidos)" [multiple]="true"></p-autoComplete>                           -->

                                    <p-chips [(ngModel)]="model.posicionActual.proveedoresInvalidos"
                                        formControlName="proveedoresInvalidos"
                                        name="model.posicionActual.proveedoresInvalidos" styleClass="widthAutocomplete"
                                        id="proveedoresInvalidos" [suggestions]="resultadoProveedores"
                                        (completeMethod)="search($event)" addOnTab="true" [addOnBlur]="true"></p-chips>

                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ui-fluid">
                                    No sugeridos
                                    <!-- <p-autoComplete formControlName="proveedoresNoSugeridos" styleClass="widthAutocomplete" [(ngModel)]="model.posicionActual.proveedoresNoSugeridos" id="proveedoresNoSugeridos" [suggestions]="resultadoProveedores" (completeMethod)="search($event)" (onKeyUp)="onKeyUp($event, model.posicionActual.proveedoresNoSugeridos)" [multiple]="true"></p-autoComplete> -->

                                    <p-chips [(ngModel)]="model.posicionActual.proveedoresNoSugeridos"
                                        formControlName="proveedoresNoSugeridos"
                                        name="model.posicionActual.proveedoresNoSugeridos"
                                        styleClass="widthAutocomplete" id="proveedoresNoSugeridos"
                                        [suggestions]="resultadoProveedores" (completeMethod)="search($event)"
                                        addOnTab="true" [addOnBlur]="true"></p-chips>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row proveedores -->
                    <hr  class="separadorCompras">
                    <!-- Row tipo de moneda -->
                    <div class="row myRow">
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <div class="margenInput">
                                Moneda*
                                <p-dropdown formControlName="selectMonedaCompras" [ngModelOptions]="{standalone:true}"
                                    [options]="monedaCompras" [(ngModel)]="model.posicionActual.monedaSeleccionada"
                                    dataKey="Id" optionLabel="Descripcion" autoDisplayFirst="false"
                                    placeholder="Seleccionar" [showClear]="true">
                                    <ng-template let-item pTemplate="selectedItem">
                                        {{item.value.CodigoSap + " - " + item.value.Descripcion}}
                                    </ng-template>
                                    <ng-template let-item pTemplate="item">
                                        {{item.value.CodigoSap + " - " + item.value.Descripcion}}
                                    </ng-template>
                                </p-dropdown>
                                <div *ngIf="mostrarError('selectMonedaCompras')">
                                    <p class="text-danger">campo obligatorio</p>
                                </div>
                            </div>
                            <p *ngIf="totalPosicion" class="valorTotal">Valor Total:
                                {{model.posicionActual.totalPosicion}}</p>
                        </div>
                    </div>
                    <!-- End Row tipo de moneda -->
                </form>
            </div>
        </div>
        <!-- END form-->
    </section>
    <!--End CONTENT-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="margenInput obligatorio">
            * Campos obligatorios
        </div>
    </div>
</div>

<!-- Modal eliminacion de posicion-->
<p-confirmDialog #dialogo header="Confirmación" icon="pi pi-exclamation-triangle" [width]="400" [responsive]="true" appendTo="body" >
    <p-footer>
        <button type="button" pButton  label="Cancelar" class="ui-button-info" (click)="dialogo.reject()"></button>
        <button type="button" pButton  label="Aceptar" class="ui-button-success" (click)="dialogo.accept()"></button>
    </p-footer>
</p-confirmDialog>
<!--fin modal eliminacion de posicion-->
