<div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="inputCompras">


            <div class="row myRow">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput">

                    <!-- <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="vertical-align:middle;">
                        Ejecucion en
                    </div>     -->
                        
                    <div class="styled-select1 col-xs-6 col-sm-12 col-md-3 col-lg-3">
                        <span><strong>Ejecucion en </strong></span>
                        <input pInputText type="text" [(ngModel)]="model.ejecucion" class="fourRounded" aria-controls="tableModal" placeholder="30">
                        dias corridos
                    </div>   

                </div>  


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                        Observaciones
                        <textarea [(ngModel)]="model.observacionesCotizacion" name="observaciones" id="observaciones" cols="30" rows="5" placeholder="Indicar la cantidad de dias con que se cuenta a partir de tener el equipo disponible, en una parada programada u que el trabajo depende de otros"></textarea>
                    </div>
                </div>    

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput">



                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                        <span class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="line-height: 2em;"><strong>Jornada laboral </strong></span>
                        <weekday-select class="col-xs-12 col-sm-12 col-md-9 col-lg-9" [(model)]="model.jornadaLaboralDias" ></weekday-select>
                    </div>
                   
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="right: 6em;">
                            Desde
                            <p-calendar name="hora1" [style]="{'width': '45%'}" class="styled-select" [(ngModel)]="model.comienzoJornadaLaboral" [locale]="locale" [showIcon]="true" icon="fa fa-clock-o" [timeOnly]="true"></p-calendar>    
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="right: 7em;">
                            Hasta
                            <p-calendar name="hora2" [style]="{'width': '45%'}" class="styled-select" [(ngModel)]="model.terminoJornadaLaboral" [locale]="locale" [showIcon]="true" icon="fa fa-clock-o" [timeOnly]="true"></p-calendar>    
                        </div>
                    </div>
                    
                </div>    

            </div>
    
        </div>
    </div>
</div>