<form [formGroup]="formulario">
    <!-- Form-->
    <div class="container-fluid">
        <!-- CONTENT-->
        <!-- Contiene todo -->
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <mensaje></mensaje>
            <div class="inputCompras">
                <div class="row myRow" style="padding-top: 2px;">

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput">
                            Nombre de obra *
                            <div class="styled-select">
                                <input formControlName="nombreDeObra" pInputText type="text"
                                    [(ngModel)]="model.nombreDeObra" placeholder="Ingrese nombre de obra"
                                    aria-controls="tableModal">
                            </div>

                            <div *ngIf="mostrarError('nombreDeObra')">
                                <p class="text-danger">campo obligatorio</p>
                            </div>
                        </div>

                        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 margenInput">
                            Fiscal contrato *
                            <div class="styled-select">
                                <!-- Va a ser un select a futuro -->
                                <input pInputText type="text" formControlName="fiscalContrato"
                                    [(ngModel)]="model.fiscalContrato" class="fourRounded"
                                    placeholder="Ingrese nombre de fiscal" aria-controls="tableModal">
                            </div>
                            <div *ngIf="mostrarError('fiscalContrato')">
                                <p class="text-danger">campo obligatorio</p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput">
                            Mail *
                            <div class="styled-select">
                                <input type="text" formControlName="mail" pInputText [(ngModel)]="model.mail"
                                    class="fourRounded" placeholder="" aria-controls="tableModal">
                            </div>
                            <div *ngIf="mostrarError('mail')">
                                <p class="text-danger">campo obligatorio</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inputRight margenInput">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                Fecha tentativa de entrega de ofertas *
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 margenInput">
                                <div class="form-group styled-select">
                                    <p-calendar [ngModelOptions]="{standalone:true}" name="campo4"
                                        [(ngModel)]="model.fechaEntrega" [locale]="locale" [style]="{'width': '75%'}"
                                        [showIcon]="true" dateFormat="yy-mm-dd" appendTo="body" [readonlyInput]="true"
                                        [minDate]="hoy"></p-calendar>
                                </div>
                            </div>


                            <div
                                class="col-xs-12 col-sm-12 col-md-4 col-lg-4 prime-hora col-lg-4 prime-hora margenInput">
                                <p-calendar [ngModelOptions]="{standalone:true}" name="campo5" class="styled-select"
                                    disabled="false" [(ngModel)]="model.horaEntrega" [locale]="locale" [showIcon]="true"
                                    icon="fa fa-clock-o" [timeOnly]="true" [readonlyInput]="true"></p-calendar>
                            </div>

                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Tel&eacute;fono
                            <div class="styled-select ">
                                <input [ngModelOptions]="{standalone:true}" name="campo6" type="search"
                                    [(ngModel)]="model.telefono" class="fourRounded"
                                    placeholder="Ingrese numero de telefono" aria-controls="tableModal">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="margenInput obligatorio">
                        * Campos obligatorios
                    </div>
                </div>
            </div>
        </section>
    </div>

</form>