<div class="container clearfix">
    <!-- CONTENT-->
    <!-- Contiene todo -->
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mensaje></mensaje>
        <div class="inputCompras">
            <div class="row myRow">


                <div class="row myRow" style="padding-top: 2px;">
                    
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">

                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            <input type="checkbox" style="margin-right: 5px;" id="visitaDeObra" placeholder="" 
                            [checked]="model.visitaDeObra" (change)="model.visitaDeObra = !model.visitaDeObra">
                            <label class="labelCompras" for="visitaDeObra">Visita de obra</label>
                        </div>

                       
                        <div class="col-xs-12 col-sm-6 col-md-6 margenInput">
                            <input type="checkbox" style="margin-right: 5px;" id="visitaDeObraMasiva" placeholder="" 
                            [checked]="model.visitaDeObraMasiva" (change)="model.visitaDeObraMasiva = !model.visitaDeObraMasiva">
                            <label class="labelCompras" for="visitaDeObraMasiva">Visita de obra masiva *</label>    
                        </div>
                     
                        <div *ngFor="let visita of listaVisitas">
                            <div class="col-xs-12 col-sm-12 col-md-7 margenInput">
                                <div class="styled-select" *ngIf="model.visitaDeObraMasiva">
                                    <p-calendar [style]="{'width': '75%'}" [(ngModel)]="visita.visitaDeObraFecha"  [showIcon]="true" dateFormat="yy-mm-dd" appendTo="body" [readonlyInput]="true"></p-calendar>    
                                </div>
                            </div>
                            
                            <div class="col-xs-12 col-sm-12 col-md-4 prime-hora margenInput">
                                <div *ngIf="model.visitaDeObraMasiva" >
                                    <p-calendar class="styled-select" [(ngModel)]="visita.visitaDeObraHora" [showIcon]="true" icon="fa fa-clock-o" [timeOnly]="true"></p-calendar>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-1">
                                <span (click)="eliminarVisita(visita.id)" *ngIf="model.visitaDeObraMasiva"><img src="./Content/images/icons/trash.png" alt="imageAlt" /></span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput" *ngIf="model.visitaDeObraMasiva">
                            <div>
                                <span (click)="agregarNuevaVisita()" class="enlaceVisita" ><i class="fa fa-plus-square"></i>&nbsp; Agregar nueva visita de obra</span>
                            </div>
                        </div>

                    </div>
                        


                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">

                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            Supervisor sector *
                            <div class="styled-select widthCompras">
                                <input type="text" class="" placeholder="Ingrese supervisor de sector" [(ngModel)]="model.supervisorSector" maxlength="100">
                            </div>
                        </div>
                
                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            Supervisor de trabajo *
                            <div class="styled-select widthCompras">
                                <input type="text" class="" placeholder="Ingrese supervisor de trabajo" [(ngModel)]="model.supervisorTrabajo" maxlength="100">
                            </div>
                        </div>
                    
                    </div>
                
                </div>


                <div class="row myRow margenInput" style="padding-top: 2px;">

                    <div  class="col-xs-12 col-sm-6 col-md-6 col-lg-5">


                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            <input type="checkbox" style="margin-right: 5px;" id="obradores" placeholder="" 
                            [checked]="model.obradores" (change)="model.obradores = !model.obradores">
                            <label class="labelCompras" for="obradores">Obradores</label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            <input type="checkbox" style="margin-right: 5px;" id="modoElevacion" placeholder="" 
                            [checked]="model.modoElevacion" (change)="model.modoElevacion = !model.modoElevacion">
                            <label class="labelCompras" for="modoElevacion">Modo de elevacion o andamios</label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            <input type="checkbox" style="margin-right: 5px;" id="tecnicoSeguridad" placeholder="" 
                            [checked]="model.tecnicoSeguridad" (change)="model.tecnicoSeguridad = !model.tecnicoSeguridad">
                            <label class="labelCompras" for="tecnicoSeguridad">Tecnico de seguridad</label>
                        </div> 

                    </div>

                    <div  class="col-xs-12 col-sm-6 col-md-6 col-lg-5">


                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            <input type="checkbox" style="margin-right: 5px;" id="descripcionTecnica" placeholder="" 
                            [checked]="model.descripcionTecnica" (change)="model.descripcionTecnica = !model.descripcionTecnica">
                            <label class="labelCompras" for="descripcionTecnica">Descripcion tecnica del trabajo</label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            <input type="checkbox" style="margin-right: 5px;" id="entregaDocumentacion" placeholder="" 
                            [checked]="model.entregaDocumentacion" (change)="model.entregaDocumentacion = !model.entregaDocumentacion">
                            <label class="labelCompras" for="entregaDocumentacion">Entrega de documentacion tecnica</label>
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            Fecha limite de consulta *
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-7 margenInput">
                            <div class="styled-select">
                                <p-calendar [style]="{'width': '75%'}" [(ngModel)]="model.fechaLimiteFecha" [showIcon]="true" dateFormat="yy-mm-dd" appendTo="body" [readonlyInput]="true"></p-calendar>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 prime-hora margenInput">
                            <p-calendar class="styled-select" [(ngModel)]="model.fechaLimiteHora" [showIcon]="true" icon="fa fa-clock-o" [timeOnly]="true"></p-calendar>    
                        </div>

                    </div>

                </div>


            </div>   
            
            

        </div>


        <!-- END form-->
    </section>
    <!--End CONTENT-->
</div>

