<div class="row myRow">
    <!-- CONTENT-->
    <!-- Contiene todo -->
    <section class="col-xs-12 col-sm-12 col-md-12">
        <mensaje></mensaje>
        <div class="inputCompras">
            <div class="margenNeg">


                <div class="row myRow">
                    
                    <div class="col-xs-12 col-sm-6 col-md-6 margenInput">

                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="checkbox" style="margin-right: 5px;" id="visitaDeObra" placeholder="" 
                            [checked]="model.visitaDeObra" (change)="model.visitaDeObra = !model.visitaDeObra">
                            <label for="visitaDeObra">Visita de obra</label>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" style="margin-right: 5px;" id="visitaDeObraMasiva" placeholder="" 
                            [checked]="model.visitaDeObraMasiva" (change)="model.visitaDeObraMasiva = !model.visitaDeObraMasiva">
                            <label for="visitaDeObraMasiva">Visita de obra masiva *</label>    
                        </div>
                     
                        <div class="col-xs-12 col-sm-12 col-md-8">
                            <div class="styled-select" *ngIf="model.visitaDeObraMasiva">
                                <p-calendar [(ngModel)]="model.visitaDeObraFecha" [showIcon]="true" dateFormat="yy-mm-dd" appendTo="body" [readonlyInput]="true"></p-calendar>                          
                                
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-md-4 prime-hora">
                            <div *ngIf="model.visitaDeObraMasiva">
                                <p-calendar class="styled-select" [(ngModel)]="model.visitaDeObraHora" [showIcon]="true" icon="fa fa-clock-o" [timeOnly]="true"></p-calendar>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div>
                                <a href="" >Agregar nueva visita de obra</a>
                            </div>
                        </div>

                    </div>
                        


                    <div class="col-xs-12 col-sm-6 col-md-6 margenInput">

                        <div class="col-xs-12 col-sm-12 col-md-12">
                            Supervisor sector *
                            <div class="styled-select">
                                <input type="text" class="" placeholder="" [(ngModel)]="supervisorSector" maxlength="100">
                            </div>
                        </div>
                
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            Supervisor de trabajo *
                            <div class="styled-select">
                                <input type="text" class="" placeholder="" [(ngModel)]="supervisorTrabajo" maxlength="100">
                            </div>
                        </div>
                    
                    </div>
                
                </div>


                <div class="row myRow">

                    <div  class="col-xs-12 col-sm-6 col-md-6">


                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            <input type="checkbox" style="margin-right: 5px;" id="obradores" placeholder="" 
                            [checked]="model.obradores" (change)="model.obradores = !model.obradores">
                            <label for="obradores">Obradores</label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            <input type="checkbox" style="margin-right: 5px;" id="modoElevacion" placeholder="" 
                            [checked]="model.modoElevacion" (change)="model.modoElevacion = !model.modoElevacion">
                            <label for="modoElevacion">Modo de elevacion o andamios</label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            <input type="checkbox" style="margin-right: 5px;" id="tecnicoSeguridad" placeholder="" 
                            [checked]="model.tecnicoSeguridad" (change)="model.tecnicoSeguridad = !model.tecnicoSeguridad">
                            <label for="tecnicoSeguridad">Tecnico de seguridad</label>
                        </div> 

                    </div>

                    <div  class="col-xs-12 col-sm-6 col-md-6">


                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            <input type="checkbox" style="margin-right: 5px;" id="descripcionTecnica" placeholder="" 
                            [checked]="model.descripcionTecnica" (change)="model.descripcionTecnica = !model.descripcionTecnica">
                            <label for="descripcionTecnica">Descripcion tecnica del trabajo</label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            <input type="checkbox" style="margin-right: 5px;" id="entregaDocumentacion" placeholder="" 
                            [checked]="model.entregaDocumentacion" (change)="model.entregaDocumentacion = !model.entregaDocumentacion">
                            <label for="entregaDocumentacion">Entrega de documentacion tecnica</label>
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-12 margenInput">
                            Fecha limite de consulta *
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-8">
                            <div class="styled-select">
                                <p-calendar [(ngModel)]="model.fechaLimiteFecha" [showIcon]="true" dateFormat="yy-mm-dd" appendTo="body" [readonlyInput]="true"></p-calendar>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-4">
                            <p-calendar class="styled-select" [(ngModel)]="model.fechaLimiteHora" [showIcon]="true" icon="fa fa-clock-o" [timeOnly]="true"></p-calendar>    
                        </div>

                    </div>

                </div>


            </div>   
            
            

        </div>


        <!-- END form-->
    </section>
    <!--End CONTENT-->
</div>

