<!-- Form-->
<div class="row myRow">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="inputCompras">
            <div class="row myRow margenNeg">
                <div class="col-xs-12 col-sm-6 col-md-5">
                    Nombre de obra *
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Fecha de entrega de ofertas *
                </div>
            </div>
            <div class="row myRow margenInput" style="padding-top: 2px;">
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="styled-select">
                        <input type="search" [(ngModel)]="model.nombreDeObra" class="fourRounded" placeholder="" aria-controls="tableModal">
                    </div>
                </div>

                    <!-- <div class="col-xs-6 col-sm-6 col-md-6">
                        Fecha de entrega de ofertas: *
                        <div class="styled-select fecha col-xs-3 col-sm-3 col-md-3">
                            <input type="date" [(ngModel)]="model.fechaDeEntregaDeOfertasFecha" class="fourRounded" name="trip-start" value="" min="" max="" placeholder="" aria-controls="tableModal">
                        </div>
                        <div class="styled-select hora col-xs-3 col-sm-3 col-md-3">    
                            <input type="time" [(ngModel)]="model.fechaDeEntregaDeOfertasHora" class="fourRounded" placeholder="" aria-controls="tableModal" id="appt" name="appt" min="" max="" required>
                        </div>
                    </div> -->
                
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="styled-select">
                        <div class="input-group date form_datetime" [(ngModel)]="model.fechaEntrega" data-provide="datepicker" data-date="" data-date-format="yyyy-MM-dd" data-link-field="dtp_fecha_pago">
                            <input type="text" id="noCursor" fechaInicioInput readonly />
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                        <input #dtp_fecha_pago id="dtp_fecha_pago" class="dtp_fecha_pago" value={{fechaEntrega}} style="visibility: hidden; display: none"  required />
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">
                    <div class="formulario-label">
                    </div>
                    <div class="styled-select input-group">
                        <select [(ngModel)]="model.horaEntrega">
                            <option value="{{i}}" *ngFor="let item of [].constructor(23); let i = index">{{i | number: '2.0-0'}}:
                            00
                            </option>
                        </select>
                        <span class="input-group-addon"><span class="fa fa-clock-o "></span></span>
                    </div>
                </div>
            </div>
            <div class="row myRow margenInput">
                <div class="col-xs-12 col-sm-5">
                    Fiscal contrato *
                    <div class="styled-select ">
                        <!-- Va a ser un select a futuro -->
                        <input type="search" [(ngModel)]="model.fiscalContrato" class="fourRounded" placeholder="" aria-controls="tableModal">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    Tel&eacute;fono
                    <div class="styled-select ">
                        <input type="search" [(ngModel)]="model.telefono" class="fourRounded" placeholder="" aria-controls="tableModal">
                    </div>
                </div>
            </div>
            <div class="row myRow margenInput">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    Mail *
                    <div class="styled-select">
                        <input type="search" [(ngModel)]="model.mail" class="fourRounded" placeholder="" aria-controls="tableModal">
                    </div>    
                </div>
            </div>
            <div class="margenInput obligatorio">
                * Campos obligatorios
            </div>
        </div>
    </div>
</div>

