<p-dialog [(visible)]="displayCircular" modal="modal" 
    [width]="650" [draggable]="false" [closable]="true"
    (onHide)="onCerrarCircular()" appendTo="body" positionTop="30"
    [height]="450"
    [max] [contentStyle]="{ 
        'max-height':'450px', 
        'min-height':'400px'}">
    <p-header class="headerModal" style="color: #067935;">
        <b>Circular </b> <span *ngIf="peticion != null">Petici&oacute;n de oferta #{{peticion.Id}}</span>
    </p-header>
    <div class="container-fluid" style="height: 273.75px;">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="inputCompras">
                <p>
                    <ngb-alert type="danger" [dismissible]="false" *ngIf="visualizarAlert" >
                       <strong>Error! </strong>{{ error }}</ngb-alert>
                </p>
                <div class="row myRow" style="padding-top: 2px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="labelCompras" for="editorTexto"> <strong>Adjuntar documentación
                                (opcional)</strong> </label>
                        <p-fileUpload [styles]="{'margin-left':'-13px; cursor: pointer;'}"
                            name="fileUploadPeticionDeOferta" auto="true" multiple="multiple"
                            chooseLabel="Elegir archivo" [showUploadButton]=false [showCancelButton]=false
                            [customUpload]="true" (uploadHandler)="uploadHandler($event)">
                            <ng-template let-file pTemplate="file">
                            </ng-template>
                        </p-fileUpload>
                    </div>

                    <div class="col-md-12 row" style="margin-left: -1px; margin-bottom: 3px">
                        <p-panel *ngIf="archivos.length > 0" header="Adjuntos agregados" [toggleable]="true"
                            [collapsed]="false">
                            <div class="row myRow">
                                <div class="col-xs-12 col-md-12" *ngFor="let archivo of this.archivos">
                                    <img src="./Content/images/icons/trashRed.svg" alt="imageAlt"
                                        (click)="eliminarArchivo(archivo)"
                                        style="width: 26px; padding-bottom: 3px; cursor: pointer;" />
                                    <a class="link-archivo" (click)="descargarArchivo(archivo)"
                                        style="font-weight: lighter; margin-left: 10px;cursor: pointer;">{{archivo.name }} </a>
                                </div>

                            </div>
                        </p-panel>
                    </div>
                    <div class="row myRow">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label class="labelCompras" ><strong>Observaciones*</strong></label>
                            <textarea name="Observacion" ngDefaultControl [(ngModel)]="Observacion" placeholder="Agregue los comentarios que crea necesario para los proveedores..." cols="30" rows="1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 row myRow alinearTitulo margenInput">
                <div class="col-md-12 titulosModal">
                    <strong>Requiere cambio de fechas*</strong>
                </div>               
            </div>
            <div class="col-md-12">
                    <div class="col-md-2"><p-radioButton name="group1" value="No" label="No" [(ngModel)]="val1"
                            inputId="opt1" (onClick)="estaSeleccionado(val1)"></p-radioButton></div>
                    <div class="col-md-2">
                        <p-radioButton name="group1" value="Si" label="Si" [(ngModel)]="val2"
                            inputId="opt2" (onClick)="estaSeleccionado(val2)">
                        </p-radioButton>
                    </div>               
            </div>
            <div class="col-md-12 row myRow alinearTitulo margenInput" *ngIf="peticion != null && visualizarFechas ">
                <div class="col-md-6 titulosModal">
                    <strong>Plazo de oferta*</strong>
                </div>

            </div>
            <div class="col-md-12 row myRow alinearTitulo margenInput" *ngIf="peticion != null && visualizarFechas">
                <div class="col-md-4">
                    <p-calendar [locale]="es" class="styled-select" [showIcon]="true" dateFormat="dd-M-yy" appendTo="body"
                        [readonlyInput]="true" [minDate]="hoy" [(ngModel)]="plazoDeOferta">
                    </p-calendar>
                </div>
            </div>
            <div class="col-md-12 row myRow alinearTitulo margenInput" *ngIf="peticion != null && visualizarFechas">
                <div class="col-md-6 titulosModal">
                    <strong>Fecha de entrega*</strong>
                </div>
                <div class="col-md-6 titulosModal">
                    <strong>Plazo de entrega previsto</strong>
                </div>
            </div>
            <div class="col-md-12 row myRow alinearTitulo margenInput" *ngIf="peticion != null && visualizarFechas">
                <div class="col-md-6">
                    <p-calendar [locale]="es" class="styled-select" [showIcon]="true" dateFormat="dd-M-yy" appendTo="body"
                        [readonlyInput]="true" [minDate]="hoy" [(ngModel)]="fechaDeEntrega">
                    </p-calendar>
                </div>
                <div class="col-md-6">                   
                    <div>
                      <input pInputText type="text" pKeyFilter="pnum" [(ngModel)]="plazoDias" class="fourRounded widthInputDias" aria-controls="tableModal" placeholder="" (change)="calcularFechaEntrega()" />
                     
                    </div>
                  </div>
            </div>
            <div class="col-md-12 row myRow alinearTitulo margenInput" *ngIf="peticion != null">
                <div class="col-md-12 titulosModal">
                    <strong>Elegir los proveedores a los que se le enviará la circular*</strong>
                </div>                
            </div>
            <div class="row myRow alinearTitulo margenInput" *ngIf="peticion != null">  
                <div class="col-md-12" *ngFor="let p of peticion.Usuarios"  >
                    <p-checkbox name="group1" [value]="p.UsuarioId"
                            [label]="p.RazonSocial" [disabled]="solicitante" [(ngModel)]="selectedProv" inputId="{{p.UsuarioId}}"></p-checkbox>
                            <br/>
                </div>
            </div>
        </section>
    </div>
    <p-footer>
        <button type="button" class="btn btn-danger botonesComprasColor" (click)="onCerrarCircular()">CANCELAR</button>
        <button type="button" class="btn btn-primary botonesComprasColor" (click)="grabarCircular(fileUpload)">ENVIAR</button>

    </p-footer>
</p-dialog>

<p-confirmDialog #dialogo header="Confirmación" icon="pi pi-exclamation-triangle" [width]="400" [responsive]="true" appendTo="body" >
    <p-footer>
        <button type="button" pButton  label="Cancelar" class="ui-button-info botonModal" (click)="dialogo.reject()"></button>
        <button type="button" pButton  label="Aceptar" class="ui-button-success botonModal" (click)="dialogo.accept()"></button>
    </p-footer>
</p-confirmDialog>

<p-dialog [(visible)]="displayOkCircular" [width]="400" modal="modal" appendTo="body" [draggable]="false" [contentStyle]="{'overflow':'visible', 'max-height':'100px', 'min-height':'100px'}" [closable]="false">
    <p-header class="headerModal">
        ¡Circular enviada!
    </p-header>
    <br> La circular para la petición #{{nroCircular}} se creó correctamente.
    <br>
    <p-footer>
        <button type="button" class="btn btn-primary botonesComprasColor botonModal" (click)="salir()">Aceptar</button>
    </p-footer>
</p-dialog>
