  <!-- Tables-->
  <div class="row myRow">
    <div class="clearfix myTables">

        <mensaje></mensaje>
        <spinner></spinner>

        <table id="tableModal" class="display nowrap dataTable no-footer dtr-inline rounded shadow animate contrato-vigente-table col-xs-12 col-sm-10" role="grid" aria-describedby="tableModal_info" style="margin-bottom: 1em;">
            <thead>
                <tr role="row">             
                    <th tabindex="0" rowspan="1" colspan="1">
                        Razon Social
                    </th>   
                    <th tabindex="0" rowspan="1" colspan="1">
                        Usuario
                    </th>      
                    <th tabindex="0" rowspan="1" colspan="1">
                        Codigo de Proveedor
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1">
                        Nro de Contrato
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1">
                        Nro de Liquidacíon
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1">
                        Liq. Mdas
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1">
                        Echeq Gdos
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1">
                        Fecha y Hora
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1">
                      Ctd
                  </th>
                  <th tabindex="0" rowspan="1" colspan="1">
                    Montos Echeq en ARS
                  </th>
                  <th tabindex="0" rowspan="1" colspan="1">
                    Total
                  </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let reporte of datosReporte | paginate: { itemsPerPage:itemsPerPage, currentPage: p } ; let odd = odd" role="row" [class.odd]="!odd">
                    <tr>
                      <td>{{reporte.RazonSocial}}</td>
                      <td>{{reporte.Mail}}</td>
                      <td>{{reporte.CodigoProveedor}}</td>        
                      <td>{{reporte.Contrato}}</td>
                      <td>{{reporte.Liquidacion}}</td>
                      <td>{{reporte.LiquidacionMarcada ? 'Sí' : 'No'}}</td>
                      <td>{{reporte.EcheqGenerados ? 'Sí' : 'No'}}</td>
                      <td>{{reporte.FechaCreacion.slice(6, -2) | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                      <td>{{reporte.CantidadDeEcheqs}}</td>
                      <td>
                        <div *ngFor="let monto of reporte.MontosEcheqs" style="display: block;">
                           ${{monto | number:'1.2-2':'es'}}
                        </div>
                      </td>
                      <td>${{reporte.ImporteTotal | number:'1.2-2':'es'}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <pagination-template #pT="paginationApi" (pageChange)="p = $event">
            <div class="dataTables_paginate paging_simple_numbers">
                <a id="tableModal_previous" class="paginate_button previous" (click)="pT.previous()" [class.disabled]="pT.isFirstPage()"> Anterior </a>
                <span *ngFor="let page of pT.pages" [class.current]="pT.getCurrent() === page.value">
                    <a class="paginate_button" (click)="pT.setCurrent(page.value)" *ngIf="pT.getCurrent() !== page.value">{{ page.label }}</a>
                    <a class="paginate_button current" *ngIf="pT.getCurrent() === page.value">{{ page.label }}</a>
                </span>
                <a id="tableModal_next" class="paginate_button next" (click)="pT.next()" [class.disabled]="pT.isLastPage()"> Siguiente </a>
            </div>
        </pagination-template>
    </div>
</div>
<!-- END tables-->