<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="width: 100%; font-family: Helvetica; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <p>Buenos d&iacute;as,</p>
    <br />
    <p>Se informa que el día {0} se han realizado las siguientes modificaciones para la orden de carga {1}, número de entrega {2} y número de pedido {3}:</p>
    <br />

    <table>
        <caption>Cambios:</caption>
        <thead style="background-color: #adacac;">
            <tr>
                <td scope="col">Nombre de la Columna</td>
                <td scope="col">Antes del cambio</td>
                <td scope="col">Despues del cambio</td>
                <td scope="col">Fecha</td>
            </tr>
        </thead>

        <tbody>
            {4}
        </tbody>
    </table>

    <br />
    <p>Saludos,</p>
    <p>Moa Operaciones</p>
</body>
</html>