<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="width: 100%; font-family: Helvetica; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <p>Buenos d&iacute;as,</p>
    <br />
    <p>Se informa que el dia: {0} el vendedor: {1} ha declarado:</p>
    <br />
    
    <table>
        <caption>Vinculo con empleados:</caption>
    
        <thead style="background-color: #adacac;">
            <tr>
                <th scope="col">Integrante de la firma</th>
                <th scope="col">Cargo</th>
                <th scope="col">Integrante de Molinos Agro</th>
                <th scope="col">Vinculo</th>
            </tr>
        </thead>
    
        <tbody>
            {3}
        </tbody>
    </table>

    <br /> 

    <table>
        <caption>Vinculo con funcionarios P&uacute;blicos:</caption>

        <thead style="background-color: #adacac;">
            <tr>
                <th scope="col">Integrante de la firma</th>
                <th scope="col">Cargo</th>
                <th scope="col">Raz&oacute;n Social Funcionario publico</th>
                <th scope="col">Cargo</th>
                <th scope="col">Vinculo</th>
            </tr>
        </thead>

        <tbody>
            {3}
        </tbody>
    </table>

    <br />
    <p>Saludos,</p>
    <p>Moa Operaciones</p>
</body>
</html>