<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="width: 100%; font-family: Helvetica; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <p>Buenos d&iacute;as,</p>
    <br />
    <p>Se informa que el dia {0} el vendedor de tipo {1} {2}, CUIT N° {3} ha declarado:</p>
    <br />

    <table>
        <caption>Vinculo con empleados:</caption>

        <thead style="background-color: #adacac;">
            <tr>
                <td scope="col">Integrante de la firma</td>
                <td scope="col">Cargo</td>
                <td scope="col">Integrante de Molinos Agro</td>
                <td scope="col">Vinculo</td>
            </tr>
        </thead>

        <tbody>
            {4}
        </tbody>
    </table>

    <br />

    <table>
        <caption>Vinculo con funcionarios P&uacute;blicos:</caption>

        <thead style="background-color: #adacac;">
            <tr>
                <td scope="col">Integrante de la firma</td>
                <td scope="col">Cargo</td>
                <td scope="col">Raz&oacute;n Social Funcionario publico</td>
                <td scope="col">Cargo</td>
                <td scope="col">Vinculo</td>
            </tr>
        </thead>

        <tbody>
            {5}
        </tbody>
    </table>

    <br />
    <p>Saludos,</p>
    <p>Moa Operaciones</p>
</body>
</html>