<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="width: 100%; font-family: Helvetica; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #dfdfdf">
    <p>Estimado,</p>
    <p>Tiene certificaciones de servicios pendientes de aprobaci&oacute;n:</p>

    {0}

    <div style="display:flex;">
        <p style="text-align: center; margin: auto;">Puedes visualizar esta información en MOA Operaciones, <a href={1} target="_blank">ingres&aacute; ac&aacute;</a>  </p>
    </div>

    <br>

    <div>
        <p style="text-align: center; color:red; font-size: 1.5em; font-weight: bold;">¡Atenci&oacute;n! No responder a este email</p>
    </div>
    <br>

    <div style="display:flex;" align="center">
        <img border="0" src="https://moaoperaciones.com.ar/Content/images/header/logo.png" width="200" height="100" align="center" style="margin:auto;">
    </div>

    <br>
    <br>
    <div style="border-top: 3px solid yellow; border-bottom: 3px solid yellow; background-color: #fff3cd; padding: 20px; text-align: center; font-size: 14px; color: #856404;">
        <p><strong>Este correo electrónico y sus anexos son de carácter confidencial y están destinados únicamente para el uso del destinatario mencionado.</strong></p>
        <p>Si usted no es el destinatario intencional, queda notificado que cualquier divulgación, copia, distribución o uso de la información contenida en este mensaje está estrictamente prohibida. Si ha recibido este correo electrónico por error, por favor notifíquelo al remitente inmediatamente y elimine el mensaje de su sistema.</p>
        <p><strong>CONFIDENCIAL: Este e-mail es personal para su usuario</strong></p>
    </div>
</body>
</html>
