<div style="width: 95%; margin: 50px auto; border: 2px solid #333; padding: 20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); background-color: #fdfdfd">
    <div style="display:flex;">
        <p>Proveedor: {0} </p>
    </div>
    <div style="display:flex;">
        <p>Generada por: {1}</p>
    </div>
    <div style="display:flex;">
        <p>Orden de compra: {9}</p>
    </div>
    <div style="display: flex;">
        <p>Posición número {10}</p>
    </div>
    <div style="display: flex;">
        <p>Descripci&oacute;n: {4}</p>
    </div>
    <br>

    <p>Certificaci&oacute;n {2}</p>
    <p>Fecha certificaci&oacute;n: {3}</p>

    <br>

    <p>Importe: {5}</p>

    <br>
    <p>Detalle de servicios</p>
    <!-- Table -->
    <table width="100%" style="width: 100%; border-collapse: collapse; margin-top: 20px;">
        <thead>
            <tr>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;" rowspan="2">N° LINEA</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;" rowspan="2">N° SERVICIO</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;" rowspan="2">DESCRIPCIÓN</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;" rowspan="2">CANT</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;" rowspan="2">UM</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;" rowspan="2">PRECIO UNITARIO</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;" rowspan="2">MONTO TOTAL</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;" colspan="3">ANTERIOR</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;" colspan="3">A CERTIFICAR</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;" colspan="3">ACUMULADO</th>
            </tr>
            <tr>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;">Cant.</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;">%</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;">Monto</th>

                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;">Cant.</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;">%</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;">Monto</th>

                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;">Cant.</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;">%</th>
                <th style="padding: 10px; border: 1px solid #333; background-color: #1e8449; color: white;">Monto</th>
            </tr>
        </thead>
        <tbody>
            {6}
        </tbody>
    </table>
</div>
<div style="width: 100%; max-width: 1080px; margin: 0 auto;">

    <div style="float: left; width: calc(45% - 2em); margin-right: 4em;">
        <a href={7} target="_blank" style="display: block; padding: 1.5em 2.5em; background-color: #04AA6D; color: white; text-decoration: none; font-size: 16px; text-align: center;">Aprobar</a>
    </div>

    <div style="float: right; width: calc(45% - 2em); margin-left: 4em;">
        <a href={8} target="_blank" style="display: block; padding: 1.5em 2.5em; background-color: #DC3545; color: white; text-decoration: none; font-size: 16px; text-align: center;">Rechazar</a>
    </div>

    <div style="clear: both;"></div> <!-- Clear the floats -->
</div>

<br>
<br>
