<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>MB5LR - Celular</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<p><font face="Arial" size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u><b>EMA SL
San Lorenzo</b></u><br>
<br>
Long:  62° 06' 00" W<br>
Lat:   33° 36' 00" S<br>
Alt:     50 m<br>
.................................................<br>
15/03/18&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  5:41p<br>
<br>
Temp.Actual&nbsp;   21.5°C <br>
Mínima&nbsp;  14.1°C<br>
  a las&nbsp;  8:31a<br>
Máxima&nbsp;  27.9°C<br>
  a las&nbsp;  1:08a<br><br>
Humedad Actual&nbsp; 38% <br>
Mínima&nbsp;  32% <br>
  a las&nbsp;  2:06p<br>
Máxima&nbsp;  79% <br>
  a las&nbsp;  2:23a<br><br>
Sens. Térmica <i>(T&V)&nbsp;</i> 21.2°C<br>
Sens. Térmica <i>(T&H)&nbsp;20.0 °C</i><br><br>
Viento del&nbsp; ENE(72) <br>
a 16.1km/h<br>
Velocidad Máxima&nbsp;98.2 km/h<br>
  a las&nbsp;  2:53a<br><br>
Lluvia Diaria&nbsp; 0.0mm<br>
Intensidad&nbsp; 0.0mm<br>
Lluvia Mensual&nbsp; 19.6mm<br>
Lluvia Anual&nbsp; 67.8mm<br><br>
Presión &nbsp; 1011.4 hPa<br><br>
<br>

.................................................<br>
&nbsp;<font face="Arial" size="2" color="#000000"><b>©</b></font><b><font face="Arial" size="2" color="#000080">
<a href="http://www.mercobras.com.ar" target="_blank">www.mercobras.com.ar</a></font></b></font></p>
<p>&nbsp;</p>
</body>
</html>