<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style="width: 100%; font-family: Helvetica; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <p>Buenos d&iacute;as,</p>
    <br />
    <p>Estimados, les dejamos los datos de la nómina a autorizar. Carga por cuenta de Molinos Agro SA</p>
    <br />

    <table cellspacing="5" cellpadding="5" border="3">
        <caption>Órdenes:</caption>

        <thead style="background-color: #adacac;">
            <tr>
                <td scope="col">Producto</td>
                <td scope="col">Cliente (CUIT)</td>
                <td scope="col">Chasis</td>
                <td scope="col">Acoplado</td>
                <td scope="col">Chofer (CUIL)</td>
                <td scope="col">Transporte (CUIT)</td>
                <td scope="col">Destino</td>
            </tr>
        </thead>

        <tbody>
            {0}
        </tbody>
    </table>

    <br />
    <p>Saludos,</p>
    <p>Moa Operaciones</p>
</body>
</html>