<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style="width: 100%; font-family: Helvetica; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <p>Buenos d&iacute;as,</p>
    <br />
    <p>{3}</p>
    <br />

    <table cellspacing="5" cellpadding="5" border="3">
        <caption>{4}</caption>

        <thead style="background-color: #adacac;">
            <tr>
                <td scope="col">Número de orden</td>
                <td scope="col">Cliente</td>
                <td scope="col">Corredor</td>
                <td scope="col">Chofer</td>
                <td scope="col">Patente Chasis</td>
                <td scope="col">Patente acoplado</td>
                <td scope="col">Fecha carga</td>
            </tr>
        </thead>

        <tbody>
            {2}
        </tbody>
    </table>

    <br />
    <p>Saludos,</p>
    <p>Moa Operaciones</p>
</body>
</html>