<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="width: 100%; font-family: Helvetica; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <p>Buenos d&iacute;as,</p>
    <p>Debajo encontrar&aacute; el detalle de los campos que presentaron conflictos en el d&iacute;a: {0}</p>
    <table border="0" width="100%">
        <thead style="background-color: #adacac;">
            <tr>
                <td>
                    Id
                </td>
                <td>
                    CUIT
                </td>
                <td>
                    Stock disponible
                </td>
                <td>
                    Toneladas actuales
                </td>
                <td>
                    Toneladas informadas
                </td>
            </tr>
        </thead>
        <tbody>
            {1}
        </tbody>
    </table>
    <p>Saludos,</p>
    <p>Moa Operaciones</p>
</body>
</html>