<!DOCTYPE html>
<html>
<head>
    <title>Alta ES - Certificación de servicio</title>
</head>
<body>
    <div id="alta-certificaciones">
        <h2 style="font-weight: bold;">Alta ES - Certificación de servicio</h2>
        <h3>Número de Orden de compra: <strong>{oc}</strong></h3>
        <div id="positions-panel" class="ui-panel" style="margin-bottom: 20px;">
            {table}
        </div>
        <br />
        <br />
    </div>
    <div class="text-right" style="text-align: right;"><strong>MONTO TOTAL GENERAL: {generalAmount}</strong></div>
</body>
</html>