<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="width: 100%; font-family: Helvetica; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
        <table border="0" width="100%">
            <tr>
                <td align="center">
                    <h3 style="color:red">¡Atención! No responder este mail. Leer el correo completo.</h3>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <img src="https://b2cmoagro.blob.core.windows.net/moaoperaciones/Header%20Email.png" style="display:block; margin-bottom: 5px;" />
                </td>
            </tr>
            <table border="0" width="100%">
                <tr>
                    <td width="25%"></td>
                    <td width="50%" align="center" style="font-size: 16px; padding: 25px 0px; color: #707070">
                        <table border="0">
                            <tr>
                                <td width="33%" align="center" rowspan="2" style="padding: 0px 10px">
                                    <img src="https://b2cmoagro.blob.core.windows.net/moaoperaciones/Mensaje%20Email%20Icono.png" />
                                </td>
                                <td width="66%">Tiene una respuesta en la consulta: {0}</td>
                            </tr>
                            <tr>
                                <td width="66%">Comentario: <b>{1}</b></td>
                            </tr>
                        </table>
                    </td>
                    <td width="25%"></td>
                </tr>
                <tr>
                    <td width="25%"></td>
                    <td width="50%" align="center" style="padding: 0px 80px;">
                        <p style="margin: 0px 0px 2px 0px; color: #707070">Para más info ingresar al Men&uacute: <strong>Contacto</strong>, Secci&oacuten: <strong>Mis consultas</strong></p>
                        <div style="background-color: #075088; border: none; border-radius: 4px; padding:5px 20px;
                        color: white;text-align: center; text-decoration: none; font-size: 20px; font-weight: bold;
                        cursor: pointer; text-transform: uppercase;">
                            <a href="http://moaoperaciones.com.ar/web/consulta/mis-consultas" target="_blank" style="text-decoration: none; color: white; display: inline-block;">
                                ingresa ac&aacute;
                            </a>
                        </div>
                    </td>
                    <td width="25%"></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="center" style="padding: 30px 0px 20px 0px;">
                        <img src="https://b2cmoagro.blob.core.windows.net/moaoperaciones/logo.png" width="250">
                    </td>
                    <td></td>
                </tr>
            </table>
        </table>
    </body>
</html>