<p-dialog [(visible)]="displayLegajo"
          modal="modal"
          [width]="650"
          [draggable]="false"
          [closable]="true"
          (onHide)="onHideLeajoDialog()"
          appendTo="body"
          positionTop="30"
          [contentStyle]="{ 'max-height':'1500px', 'min-height':'400px'}">
    <p-header class="headerModal" style="color: #067935;">
        <b>Legajo </b> <span *ngIf="legajo != undefined && legajo != null && legajo[0] != undefined">Petici&oacute;n de oferta #{{legajo[0].PeticionDeOfertaId}}</span>
    </p-header>
    <div class="col-md-12 row myRow alinearTitulo margenInput" *ngIf="legajo != null">
        <p>
            <ngb-alert type="danger" [dismissible]="false" *ngIf="visualizarAlert" >
               <strong>Error! </strong>{{ error }}</ngb-alert>
        </p>
        <div class="col-md-12 titulosModal" style="margin-right: 1em;">
            <span *ngIf="usuarioProveedor == false">
                <p-fileUpload #fileUpload
                              name="myfile[]"
                              customUpload="true"
                              (uploadHandler)="onBasicUploadAuto($event, fileUpload)"
                              multiple="multiple"
                              auto="auto"
                              chooseLabel="Adjuntar">
                    <ng-template let-file pTemplate="file"></ng-template>
                </p-fileUpload>
            </span>
            <p-table [value]="legajo" responsiveLayout="scroll | stack" [scrollable]="true" scrollHeight="300px" >
                <ng-template pTemplate="header">
                    <tr>
                        <th class="columna" style="border: none !important;width:115px;">Fecha</th>
                        <th class="columna" style="border: none !important;">Observaciones</th>
                        <th class="columna" style="border: none !important;width:50px;" ></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td class="columna" style="border: none !important; width: 115px;">{{rowData.FechaFormateado }}</td>
                        <td class="columna" style="border: none !important;">{{rowData.Observacion }} <b style="color:indianred;" *ngIf="usuarioProveedor == true && rowData.Leido == false"> Nuevo</b></td>
                        <td class="columna" style="border: none !important; width: 50px;">
                            <span *ngIf="rowData.ArchivoId != null">
                                <img style="cursor:pointer;" src="./Content/images/icons/descargar.svg" alt="descargar"
                                     (click)="descargarArchivo(rowData.ArchivoId, rowData.Tipo)" />
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
    <p-footer>
        <button type="button" class="btn btn-danger botonesComprasColor" (click)="onCerrarLegajo()">CANCELAR</button>
        <button *ngIf="legajo != undefined && legajo != null && legajo[0] != undefined" type="button" class="btn btn-primary botonesComprasColor" (click)="descargarLegajo()">DESCARGAR TODO</button>

    </p-footer>
</p-dialog>