<div class="row" style="margin: 0 0 15px 0;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0; padding-right: 0;">
        <!-- [scrollable]="true" -->
        <p-table #dt class="tabla-subposiciones" [value]="listadoSubposiciones" 
            [rows]="20" 
            [scrollable]="true" 
            scrollHeight="400px"
            (onEditInit)="nuevaPosicion($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th [hidden]="model.vincularAPliego" style="text-align: center;">
                        <img (click)="eliminarSubPosicion()" src="../../../../../Content/images/icons/trashWhite.svg" alt="trashWhite" class="pointer" />
                    </th>
                    <th data-toggle="tooltip" title="Servicio">#</th>
                    <th data-toggle="tooltip" title="Código de Servicio">
                        Cód. Servicio
                    </th>
                    <th data-toggle="tooltip" title="Tarea a sub contratar">Tarea a sub contratar</th>
                    <th data-toggle="tooltip" title="Cantidad">Ctd.</th>
                    <th data-toggle="tooltip" title="Unidad de Medida">UM</th>
                    <th data-toggle="tooltip" title="Precio bruto">Precio bruto</th>
                    <th data-toggle="tooltip" title="Valor neto">Valor neto</th>
                    <th data-toggle="tooltip" title="Cuenta de mayor">
                        Cta. de mayor
                    </th>
                    <th data-toggle="tooltip" title="Tipo de imputacion">
                        {{tituloColumnaTipoDeImputacion}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-posicion let-rowIndex="rowIndex">
                <tr *ngIf="!model.vincularAPliego; else elseBlock" style="text-align: center;" class="tabla-grid-subposiciones">
                    <td style="padding: revert;">
                        <img (click)="eliminarSubPosicionSolpValidate(rowIndex);" style="width: 18px;" src="../../../../../Content/images/icons/trashRed.svg" alt="trashWhite" class="pointer" />
                        <!-- <p-checkbox [(ngModel)]="posicion.eliminar" binary="true"></p-checkbox> -->
                    </td>
                    <td>
                        {{posicion.subPosicion}}
                    </td>
                    <td [pEditableColumn]="posicion" style="word-break: break-all; word-wrap:break-word">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-autoComplete class="inputGrillaSub" 
                                    [(ngModel)]="posicion.codigoServicio" 
                                    [suggestions]="autocompleteServiciosSolp"
                                    dataKey="Id" 
                                    ariaLabel="Codigo" 
                                    field="Codigo" 
                                    appendTo="body" 
                                    [autoHighlight]="true" 
                                    emptyMessage="" 
                                    [width]="400" 
                                    [minLength]="2" 
                                    (completeMethod)="autocompleteCodigoServicioSolp($event)" 
                                    (onFocus)="$event.target.select()" 
                                    (paste)="onPaste($event,enumColumnaSubPosicion.CodigoServicio,rowIndex,dt)" 
                                    (onSelect)="onSelectServicio(posicion, dt)"
                                    (onBlur)="checkCode(posicion)"
                                    (ngModelChange)="clearCode2(posicion)">
                                </p-autoComplete>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{posicion.codigoServicio?.Codigo}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td [pEditableColumn]="posicion" style="word-wrap:break-word;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-autoComplete [(ngModel)]="posicion.tareaSubcontratarObj" 
                                [suggestions]="autocompleteServiciosSolp" 
                                dataKey="Id" 
                                ariaLabel="Tarea" 
                                    field="Descripcion" 
                                    appendTo="body" 
                                    [autoHighlight]="false" 
                                    emptyMessage="" 
                                    [minLength]="2" 
                                    [forceSelection]="false" 
                                    (completeMethod)="autocompleteServicioSolp($event)"
                                    (onFocus)="$event.target.select()" 
                                    (paste)="onPaste($event,enumColumnaSubPosicion.TareaSubcontratar,rowIndex,dt)" 
                                    (onSelect)="onSelectTarea(posicion, dt)" 
                                    (onBlur)="onBlurTarea($event, posicion)"
                                    (ngModelChange)="clearCode(posicion)">
                                </p-autoComplete>
                            </ng-template>
                            <ng-template pTemplate="output" style="text-align: left;">
                                {{posicion.tareaSubcontratar}}
                                <span class="text-danger" *ngIf="validarErrorCustom(posicion, posicion.tareaSubcontratar, 'tareaSubcontratar')" style="display: inline-block;">
                                    *
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td [pEditableColumn]="posicion" style="word-break: break-all; word-wrap:break-word">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input class="inputGrillaSub" type="text" pKeyFilter="num" 
                                [(ngModel)]="posicion.cuentaTd" 
                                (paste)="onPaste($event,enumColumnaSubPosicion.CuentaTd,rowIndex,dt)" 
                                (ngModelChange)="calcularValorNeto(posicion)">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{posicion.cuentaTd | number:'1.2-2'}}
                                <span class="text-danger" *ngIf="validarConNoNulo(posicion, posicion.cuentaTd, 'cuentaTd')" style="display: inline-block;">
                                    *
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td [pEditableColumn]="posicion">
                        <p-cellEditor>
                            <ng-template pTemplate="input">                                  
                                <p-dropdown 
                                    filter="true"
                                    [(ngModel)]="posicion.unidadSeleccionada"                                
                                    [options]="unidades"
                                    optionLabel="Descripcion" 
                                    dataKey="Id"
                                    appendTo="body"                                     
                                    (completeMethod)="buscarCombo($event, 'UNIDAD MEDIDA')"
                                    (onFocus)=" $event.target.select()" 
                                    placeholder="Unidad">
                                </p-dropdown>                                                    
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{posicion.unidadSeleccionada?.Descripcion}}
                                <span class="text-danger" *ngIf="validarConNoNulo(posicion, posicion.unidadSeleccionada?.Descripcion, 'unidadMedida')" style="display: inline-block;">
                                    *
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td [pEditableColumn]="posicion" style="word-break: break-all;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input class="inputGrillaSub" type="text" pKeyFilter="num" 
                                [(ngModel)]="posicion.precioBruto" 
                                (paste)="onPaste($event,enumColumnaSubPosicion.PrecioBruto,rowIndex,dt)" 
                                (ngModelChange)="calcularValorNeto(posicion)">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{monedaPosicion}}
                                {{posicion.precioBruto | number:'1.2-2'}}
                                <span class="text-danger" *ngIf="validarPrecioBruto(posicion, posicion.precioBruto, 'precioBruto')" style="display: inline-block;">
                                    *
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td [pEditableColumn]="posicion" style="word-break: break-all;">
                        <p-cell class="inputGrillaSub">
                            {{monedaPosicion}}
                            {{posicion.valorNeto | number:'1.2-2'}}
                        </p-cell>
                    </td>
                    <td [pEditableColumn]="posicion" style="word-wrap:break-word">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-autoComplete class="inputGrillaSub" 
                                    [(ngModel)]="posicion.cuentaMayor" 
                                    [suggestions]="autocomplete" 
                                    dataKey="Id" 
                                    ariaLabel="CuentaMayor" 
                                    field="CodigoDescripcion" 
                                    appendTo="body" 
                                    [autoHighlight]="true" 
                                    emptyMessage="" 
                                    [minLength]="2" 
                                    [forceSelection]="true" 
                                    (completeMethod)="autocompleteSap($event, 'CuentasSolpSap')"
                                    (onFocus)=" $event.target.select()" 
                                    (paste)="onPaste($event, enumColumnaSubPosicion?.CuentaMayor, rowIndex, dt)" 
                                    (onSelect)="endEditCell(dt)">
                                </p-autoComplete>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{posicion.cuentaMayor?.CodigoDescripcion}}
                                <span class="text-danger" *ngIf="validarConNoNulo(posicion, posicion.cuentaMayor?.CodigoDescripcion, 'cuentaMayor')" style="display: inline-block;">
                                    *
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td [pEditableColumn]="posicion" style="word-wrap:break-word">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-autoComplete class="inputGrillaSub" 
                                    [(ngModel)]="posicion.tipoImputacion" 
                                    [suggestions]="autocomplete" 
                                    dataKey="Id" 
                                    ariaLabel="CodigoDescripcion" 
                                    field="CodigoDescripcion" 
                                    appendTo="body" 
                                    [autoHighlight]="true" 
                                    emptyMessage="" 
                                    [minLength]="2" 
                                    [forceSelection]="true" 
                                    (completeMethod)="autocompleteSap($event, '')"
                                    (onFocus)="$event.target.select()" 
                                    (paste)="onPaste($event, enumColumnaSubPosicion.TipoImputacion, rowIndex, dt)" 
                                    (onSelect)="endEditCell(dt)">
                                </p-autoComplete>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{posicion.tipoImputacion?.CodigoDescripcion}}
                                <span class="text-danger" *ngIf="validarConNoNulo(posicion, posicion.tipoImputacion?.Codigo, 'tipoImputacion')" style="display: inline-block;">
                                    *
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>

                <ng-template #elseBlock>
                    <tr style="text-align: center;" class="tabla-grid-subposiciones-pliego">
                        <td>
                            {{posicion.subPosicion}}
                        </td>
                        <td style="word-break: break-all; word-wrap:break-word">
                            {{posicion.codigoServicio?.Codigo}}
                        </td>
                        <td [pEditableColumn]="posicion" style="word-wrap:break-word">
                            {{posicion.tareaSubcontratar}}
                            <span class="text-danger" *ngIf="validarErrorCustom(posicion, posicion.tareaSubcontratar, 'tareaSubcontratar')" style="display: inline-block;">
                                *
                            </span>
                        </td>
                        <td [pEditableColumn]="posicion" style="word-break: break-all; word-wrap:break-word">
                            {{posicion.cuentaTd}}
                            <span class="text-danger" *ngIf="validarConNoNulo(posicion, posicion.cuentaTd, 'cuentaTd')" style="display: inline-block;">
                                *
                            </span>
                        </td>
                        <td [pEditableColumn]="posicion">
                            {{posicion.unidadSeleccionada?.Descripcion}}
                            <span class="text-danger" *ngIf="validarConNoNulo(posicion, posicion.unidadSeleccionada?.Descripcion, 'unidadMedida')" style="display: inline-block;">
                                *
                            </span>
                        </td>
                        <td [pEditableColumn]="posicion" style="word-break: break-all;">
                            {{posicion.monedaSeleccionada?.Codigo}} <br/> {{posicion.precioBruto | number:'1.2-2'}}                            
                            <span class="text-danger" *ngIf="validarPrecioBruto(posicion, posicion.precioBruto, 'precioBruto')" style="display: inline-block;">
                                *
                            </span>
                        </td>

                        <td [pEditableColumn]="posicion" style="word-break: break-all;">
                            {{posicion.monedaSeleccionada?.Codigo}}  <br/> {{posicion.valorNeto | number:'1.2-2'}}
                        </td>

                        <td [pEditableColumn]="posicion" style="word-wrap:break-word">
                            {{posicion.cuentaMayor?.CodigoDescripcion}}
                            <div class="text-danger" *ngIf="validarConNoNulo(posicion, posicion.cuentaMayor?.CodigoDescripcion, 'cuentaMayor')" style="display: inline-block;">
                                *
                            </div>
                        </td>
                        <td [pEditableColumn]="posicion" style="word-wrap:break-word">
                            {{posicion.tipoImputacion?.CodigoDescripcion}}
                            <div class="text-danger" *ngIf="validarConNoNulo(posicion, posicion.tipoImputacion?.CodigoDescripcion, 'tipoImputacion')" style="display: inline-block;">
                                *
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </ng-template>
        </p-table>
    </div>
</div>
<p-confirmDialog #dialogo key="validarEliminarSubPosicion" header="Advertencia" icon="pi pi-exclamation-triangle" [width]="400" [responsive]="true" appendTo="body">
    <p-footer>
        <button type="button" class="btn btn-primary botonModal" (click)="dialogo.reject()">Cancelar</button>
        <button type="button" class="btn btn-success botonModal" (click)="dialogo.accept()">Borrar posición completa</button>
    </p-footer>
</p-confirmDialog>