/* Formato de cabeceras y celdas */
/* ::ng-deep .tabla-subposiciones .ui-table .ui-table-thead > tr > th {
    background-color: transparent !important;
    color: #1A1A1A !important;
} */

::ng-deep .tabla-subposiciones .ui-table table {
    border: solid #DDD;
    border-width: 1px 1px 0px 0px;
}

.tabla-subposiciones th, .tabla-grid-subposiciones td {
    padding: 0 5px;
    text-transform: none;
    text-align: left;
    font-size: 14px;
    height: 40px;
    border: solid #DDD;
    border-width: 0px 0px 1px 1px;
}

/* Tamaños de columnas por posicion */
.tabla-subposiciones th:nth-of-type(1), .tabla-grid-subposiciones td:nth-of-type(1) {
    text-align: center;
    width: 35px;
    height: 40px;
}

.tabla-subposiciones th:nth-of-type(2), .tabla-grid-subposiciones td:nth-of-type(2), .tabla-grid-subposiciones-pliego td:nth-of-type(1) {
    width: 30px;
}

.tabla-subposiciones th:nth-of-type(3), .tabla-grid-subposiciones td:nth-of-type(3), .tabla-grid-subposiciones-pliego td:nth-of-type(2) {
    width: 70px;
}

.tabla-subposiciones th:nth-of-type(4), .tabla-grid-subposiciones td:nth-of-type(4), .tabla-grid-subposiciones-pliego td:nth-of-type(3) {
    width: 180px;
}

.tabla-subposiciones th:nth-of-type(5), .tabla-grid-subposiciones td:nth-of-type(5), .tabla-grid-subposiciones-pliego td:nth-of-type(4) {
    width: 60px;
}

.tabla-subposiciones th:nth-of-type(6), .tabla-grid-subposiciones td:nth-of-type(6), .tabla-grid-subposiciones-pliego td:nth-of-type(5) {
    width: 65px;
}

.tabla-subposiciones th:nth-of-type(7), .tabla-grid-subposiciones td:nth-of-type(7), .tabla-grid-subposiciones-pliego td:nth-of-type(6) {
    width: 90px;
}

.tabla-subposiciones th:nth-of-type(8), .tabla-grid-subposiciones td:nth-of-type(8), .tabla-grid-subposiciones-pliego td:nth-of-type(7) {
    width: 90px;
}

.tabla-subposiciones th:nth-of-type(9), .tabla-grid-subposiciones td:nth-of-type(9), .tabla-grid-subposiciones-pliego td:nth-of-type(8) {
    width: 120px;
}

.tabla-subposiciones th:nth-of-type(10), .tabla-grid-subposiciones td:nth-of-type(10), .tabla-grid-subposiciones-pliego td:nth-of-type(9) {
    width: 120px;
}

 /* poner if para cuando llega a 400 px en la cabecera y en la clase <div class="ui-table-scrollable-header-box" style="margin-right: 17px;margin-left: 0px;">
    <table class="ui-table-scrollable-header-table" ng-reflect-klass="ui-table-scrollable-header-tab"> */
