<div class="content-wraper alinearAlturaMenu">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 ">
                <strong *ngIf="!titulo && !esCreacionPliegoMultiple">¿Qu&eacute; tipo de SOLP quiere iniciar?</strong>
                <strong *ngIf="!titulo && esCreacionPliegoMultiple">¿Qu&eacute; tipo de Pliego quiere iniciar?</strong>
                <p><strong *ngIf="titulo">{{titulo}}</strong> {{tituloNroSolp}}</p>
            </div>
        </div>
        <!--End Title-->
        <!-- Form-->
        <div class="row myRow firstSection">
            <div class="rounded shadow">
                <stepper [(pasos)]="pasos" (change)="cambioPaso($event)" [(paso)]="pasoActual"></stepper>
            </div>
        </div>

        <div class="alert alert-warning mt-0 mb-0" *ngIf="mostrarAdvertenciaPliegoMultiple">
            <strong>Advertencia</strong> La solp está asociada a un pliego múltiple.
            Para editar el pliego, puede hacerlo desde la 
            <a style="cursor:pointer !important;" (click)="editarPliegoMultiple()">edición de pliegos múltiples</a>

        </div>

        <spinner></spinner>
        <p-toast [style]="{marginTop: '105px'}"></p-toast>
        <div class="row myRow mySearch" style="margin-bottom: 4em;">
            <div class="col-xs-12 col-md-12 rounded shadow animate">
                <div class="col-xs-12 col-md-12 headerCompras" #headerCompras>
                    <strong>Paso {{pasoActual.Numero}}:</strong> {{pasoActual.Nombre}}
                </div>
                <hr class="prototipo">
                <!-- contenido -->
                <div class="col-xs-12 col-md-12" [ngSwitch]="pasoActual.Codigo">
                    <div *ngSwitchCase="enumSolp.PliegoGeneracion1" [@fadeInOut]>
                        <generacion1 #paso1 [(model)]="solpActual" [(locale)]="es"
                                     [selectResponsableTrabajoChanged]="onResponsableTrabajoAutomaticallySelected"></generacion1>
                    </div>
                    <div *ngSwitchCase="enumSolp.PliegoGeneracion2" [@fadeInOut]>
                        <generacion2 #paso2 [(model)]="solpActual" [(locale)]="es"
                                     [selectResponsableTrabajoChanged]="onResponsableTrabajoAutomaticallySelected"></generacion2>
                    </div>
                    <div *ngSwitchCase="enumSolp.PliegoEspecificacion" [@fadeInOut]>
                        <especificaciones #paso3 [(model)]="solpActual" [(locale)]="es"></especificaciones>
                    </div>
                    <div *ngSwitchCase="enumSolp.PliegoCotizacion" [@fadeInOut]>
                        <cotizacion [(model)]="solpActual" [(condEspOriginales)]="condEspOriginales" [(locale)]="es"></cotizacion>
                    </div>
                    <div *ngSwitchCase="enumSolp.SolpCabecera" [@fadeInOut]>
                        <cabecera #cabecera [(model)]="solpActual" [(locale)]="es" [(combos)]="combos" [(esCreacionSolp)]="esCreacionSolp" [(getDatosUltimaSolp)]="getDatosUltimaSolp"></cabecera>
                    </div>
                    <div *ngSwitchCase="enumSolp.PliegoMultipleVincularSolp" [@fadeInOut]>
                        <vincular-solp-pliego-multiple [(locale)]="es"
                                                       (solpSeleccionadaListChanged)="onSolpSeleccionadaListChanged($event)"
                                                       [pliegoId]="pliegoIdWhenEditing"></vincular-solp-pliego-multiple>
                    </div>
                    <div *ngSwitchDefault [@fadeInOut]>
                        Paso en construccion
                    </div>
                </div>
            </div>
        </div>

        <stepper-actions [(disabledSave)]="disabledSave"
                         [saveButtonAvailable]="steppeerSaveButtonAvailable"
                         [(pasos)]="pasos"
                         [(pasoActual)]="pasoActual"
                         [(tipoSolp)]="solpActual.tipoSolp"
                         (cancelarSolpEmitter)="cancelarSolp()"
                         (navegarEmitter)="navegar($event)"
                         (guardarCambiosEmitter)="guardarCambios($event)"
                         (showFinalizarDialogEmitter)="showFinalizarDialog()"
                         (previewEmitter)="preview()"
                         [(esAuditor)]="esAuditor">
        </stepper-actions>

        <!-- END form-->
    </section>
    <!--End CONTENT-->
</div>
<p-dialog header="Previsualización" [(visible)]="mostrarPreview" [width]="1000" blockScroll="true" modal="modal" appendTo="body" positionTop="30" [contentStyle]="{'overflow':'visible', 'max-height':'1000px', 'min-height':'500px'}">
    <pliego-preview [src]="pdfPreview"></pliego-preview>
</p-dialog>

<!-- Modal cancelar SOLP-->
<p-confirmDialog #dialogo key="cancelarSolp" header="Advertencia" icon="pi pi-exclamation-triangle" [width]="400" [responsive]="true" appendTo="body">
    <p-footer>
        <button type="button" class="btn btn-primary botonModal" (click)="dialogo.reject()">No</button>
        <button type="button" class="btn btn-success botonModal" (click)="dialogo.accept()">Si</button>
    </p-footer>
</p-confirmDialog>
<!--fin modal cancelar SOLP-->
<!-- Modal Volver a home SOLP-->
<p-confirmDialog #dialo key="solpFinalizadaVolverHome" header="Confirmacion" icon="pi pi-exclamation-triangle" [width]="400" [responsive]="true" appendTo="body">
    <p-footer>
        <button type="button" class="btn btn-primary botonModal" (click)="dialo.reject()">No</button>
        <button type="button" class="btn btn-success botonModal" (click)="dialo.accept()">Si</button>
    </p-footer>
</p-confirmDialog>
<!--fin modal Volver a home SOLP-->

<finalizar-solp [(locale)]="es"
                [(displayFinalizar)]="displayFinalizar"
                [(solpActual)]="solpActual"
                (cancelarFinalizarEmitter)="cancelarFinalizar()"
                (finalizarEmitter)="finalizar($event)">
</finalizar-solp>

<p-dialog [(visible)]="displaySAP" [width]="460" modal="modal" appendTo="body" [draggable]="false" [contentStyle]="{'overflow':'visible', 'max-height':'100px', 'min-height':'100px'}" [closable]="false">
    <p-header class="headerModal">
        ¡Felicitaciones!
    </p-header>
    <br> Ha cargado con éxito la solicitud de pedido {{solpActual.NroSolp || ''}} en SAP y se ha enviado para su liberación
    <br>
    <br>
    <p-footer>
        <button class="btn btn-success botonesComprasColor" (click)="showEmailPopup(displaySAP, false)">Enviar Email</button>
        <button *ngIf="solpActual.tipoSolp == 'CON_PLIEGO' || tieneAdjuntos" class="btn btn-secondary botonesCompras" (click)="generarZipPliego(solpActual.id)">Descargar SOLP</button>
        <button class="btn btn-primary botonesComprasColor botonModal" (click)="solpFinalizadaVolverHome()">Volver a la home</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayPliegoMultipleOk" [width]="460" modal="modal" appendTo="body" [draggable]="false" [contentStyle]="{'overflow':'visible', 'max-height':'100px', 'min-height':'100px'}" [closable]="false">
    <p-header class="headerModal">
        ¡Felicitaciones!
    </p-header>
    <br> Vinculación de pliego múltiple realizada con éxito
    <br>
    <br>
    <p-footer>
        <button class="btn btn-primary botonesComprasColor botonModal" (click)="solpFinalizadaVolverHome()">Volver a la home</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displaySAPEditar" [width]="460" modal="modal" appendTo="body" [draggable]="false" [contentStyle]="{'overflow':'visible', 'max-height':'100px', 'min-height':'100px'}" [closable]="false">
    <p-header class="headerModal">
        ¡Felicitaciones!
    </p-header>
    <br> Ha editado con éxito la solicitud de pedido {{solpActual.NroSolp}} en SAP
    <br>
    <br>
    <p-footer>
        <button class="btn btn-success botonesComprasColor" (click)="showEmailPopup(false, displaySAPEditar)">Enviar Email</button>
        <button *ngIf="solpActual.tipoSolp == 'CON_PLIEGO' || tieneAdjuntos" class="btn btn-secondary botonesCompras" (click)="generarZipPliego(solpActual.id)">Descargar SOLP</button>
        <button class="btn btn-primary botonesComprasColor botonModal" (click)="salir()">Volver a la home</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displaySAPVincularPliego" [width]="400" modal="modal" appendTo="body" [draggable]="false" [contentStyle]="{'overflow':'visible', 'max-height':'100px', 'min-height':'100px'}" [closable]="false">
    <p-header class="headerModal">
        ¡Felicitaciones!
    </p-header>
    <br> La vinculación del pliego se realizó correctamente.
    <br> <p *ngIf="solpActual.tipoSolp == 'CON_PLIEGO' || tieneAdjuntos">Puede descargar la SOLP y enviarla por mail.</p>
    <br>
    <p-footer>
        <button *ngIf="solpActual.tipoSolp == 'CON_PLIEGO' || tieneAdjuntos" type="button" class="btn btn-secondary botonesCompras" (click)="generarZipPliego(solpActual.id)">Descargar SOLP</button>
        <button type="button" class="btn btn-primary botonesComprasColor botonModal" (click)="salir()">Volver a la home</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayErrorSAP" [width]="500" [height]="400" modal="modal" appendTo="body" [draggable]="false" [contentStyle]="{'overflow':'visible', 'max-height':'100px', 'min-height':'400px'}">
    <p-header class="headerModalError">
        No se pudo finalizar la SOLP
    </p-header>
    <div class="col-md-12 alinearTitulo">
        <h4>Por favor, revisar los siguientes errores:</h4>
        <br>
        <div *ngFor="let error of listadoErrores; let indice = index" class="col-md-12 alinearTitulo ui-helper-clearfix">
            <ul>
                <li>{{error}}</li>
            </ul>
        </div>
        <br>
    </div>
    <p-footer>
        <button type="button" class="btn btn-secondary botonesComprasColor" (click)="cancelarFinalizar()">CERRAR</button>
    </p-footer>
</p-dialog>

<email-compose (sendEmailWrapperEmitter)="sendEmail($event)"
               [(solpActual)]="solpActual"
               [(tieneAdjuntos)]="tieneAdjuntos">
</email-compose>

<p-dialog [(visible)]="displayEnvioCircular"
          [width]="600" modal="modal" appendTo="body"
          [draggable]="false"
          [contentStyle]="{'overflow':'visible', 'max-height':'200px', 'min-height':'100px'}"
          [closable]="false">
    <p-header class="headerModal">
        Envío de circular automática
    </p-header>
    <div class="m-2">
        <label for="icondisplay">Fecha límite para la Nueva Cotización</label>
        <p-calendar #fechaLimiteReenvioDocumentacionPorCambioCondiciones
                    showButtonBar="false" [showIcon]="true"
                    [inputStyleClass]="classGeneratorFor_fechaLimiteReenvioDocumentacionPorCambioCondiciones"
                    [styleClass]="classGeneratorFor_fechaLimiteReenvioDocumentacionPorCambioCondiciones"
                    class="{{ classGeneratorFor_fechaLimiteReenvioDocumentacionPorCambioCondiciones }}"
                    appendTo="body"
                    dateFormat="dd/mm/yy"
                    [(ngModel)]="solpActual.fechaLimiteReenvioDocumentacionPorCambioCondiciones"
                    selectionMode="single" [readonlyInput]="true" [locale]="locale"
                    [inputStyle]="{'width': '70%'}"
                    [style]="{'width': '70%'}"
                    [autoZIndex]="true">
        </p-calendar>
        <div class="text-right" style="margin-top:1em; margin-bottom:0;">
            ¿Desea enviar circulares a los proveedores?
        </div>
    </div>
    <p-footer>
        <button class="btn btn-danger botonesComprasColor" (click)="salirModalCircular()">No</button>
        <button class="btn btn-primary botonesComprasColor" (click)="enviarCircularTodos()">A todos</button>
        <button class="btn btn-success botonesComprasColor botonModal" (click)="enviarCircularVisitaRealizada()">A los que realizaron la visita</button>
    </p-footer>
</p-dialog>