.content-wraper {
  margin-top: 0;
}

/* SEARCH */
section#search {
  margin: 2em 1em;
  padding: 0;
  box-shadow: -1px 2px 11px 1px rgba(0, 0, 0, 0.11);
  transition: 0.5s;
}

.search-header {
  margin-bottom: 0;
}

.search-filters {
  background-color: white !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2em 1em;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.search-filters p {
  color: #075088;
  font-weight: bold !important;
}
.search-filters input,
:host ::ng-deep .search-filters p-autocomplete#proveedores input {
  height: 2.67em;
  border-radius: 3px;
  border: 1px solid #ddd;
  width: 100%;
}

.search-filters input:active,
.search-filters input:hover,
.search-filters input:focus {
  border: 1px solid #ddd;
}

.search-filters .btn-buscar {
  background-color: #1C7CD5;
  border-color: #1C7CD5;
  color: white;
  font-size: 1.3em;
  padding: .31em 4em;
  margin-top: 1.6em;
}

::ng-deep #viewDates #btnAplicar {
  display: none !important;
  visibility: hidden !important;
}

::ng-deep p-autocomplete#proveedores .ui-autocomplete-loader.pi.pi-spinner.pi-spin {
  margin: auto !important;
}
/* SEARCH END */


/* TABLE */
p-checkbox .ui-chkbox {
  height: 16px;
}

.hidden {
  visibility: hidden !important;
}

:host ::ng-deep .ui-table-wrapper:not(table.level4 .ui-table-wrapper) {
  overflow: auto;
}


::ng-deep .ui-confirmdialog.ui-dialog .ui-dialog-content {
  text-align: center !important;
}

.filters {
  padding: 8px;
  border-top: 0.5px solid #959595;
  border-left: 0.5px solid #959595;
  border-right: 0.5px solid #959595;
  width: max-content;
  background: white;
}

.filters .pi.pi-filter {
  font-size: 1.6em;
  margin: auto;
  vertical-align: bottom;
  margin-right: .4rem;
}

.container-button {
    justify-content: center;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-certificar {
    color: white;
    background: #075088;
    border: none;
    border-radius: 6px;
    width: 40px;
    padding: 10px;
    font-weight: bolder;
    min-width: 22%;
    text-align: center;
    font-size: 16px;
}


.msj-error {
    margin-right: 5px !important;
}


.emptyData {
  text-align: center !important;
}



:host ::ng-deep #certificaciones .ui-table table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto !important;
}

#certificaciones p-table th {
  word-wrap: normal;
  white-space: nowrap;
  width: max-content;
  color: #fff !important;
  text-align: center;
}

#certificaciones .level1 th, 
.ui-sortable-column.ui-state-highlight {
  background-color: #666 !important;
}

:host ::ng-deep #certificaciones .ui-sortable-column a {
  color: white !important;
  font-size: 1rem;
  padding-left: .5rem;
}

#certificaciones .level2 th {
  background-color: #075088 !important;
}

#certificaciones .level3 th {
  background-color: #1C7CD5 !important;
}

#certificaciones .level4 th {
  background-color: #4760ac !important;
}

#certificaciones .level4 th:first-child {
  min-width: 9rem;
}

#certificaciones p-table tr {
  font-size: 1.3rem !important;
  width: max-content;
}

#certificaciones p-table tr th:first-child:not(.level4 tr th:first-child) {
  font-size: 0 !important;
  min-width: 5rem;
}

#certificaciones p-table td {
  text-align: left;
  white-space: nowrap;
}

#certificaciones p-table td:first-child {
  max-width: 0;
}

#certificaciones p-table th:first-child {
  max-width: 6rem;
}

#certificaciones i.ui-sortable-column-icon {
  color: white;
  font-size: 1.3rem;
  padding-left: .8rem;
}

#certificaciones .level3 i.pi-chevron-down,
#certificaciones .level3 i.pi-chevron-right {
  padding-left: .6rem;
  vertical-align: sub;
}

.percentage-green {
  background-color: #2acc53 !important;
  text-align: center;
  color: black;
  border: 1px solid #c8c8c8 !important;
}

.percentage-yellow {
  background-color: yellow !important;
  text-align: center;
  color: black;
  border: 1px solid #c8c8c8 !important;
}

.delete-icon {
  height: 20px;
  display: block;
  margin: auto;
}


/* TABLE END */

/* Level3 : Items */
p-table.level3 input[type="text"] {
  text-align: center;
  border: 1px solid #ccc;
}

p-table.level3 input[type=text]:disabled {
  border: none;
  background-color: transparent;
}

p-table.level3 input[type="text"]:invalid {
  border: 1px solid red;
}

p-table.level3 button.btn-refresh {
  height: 1.7em;
  margin: auto .6em;
  vertical-align: middle;
}

p-table.level3 button.btn-refresh:disabled {
  background-color: gray;
  border: none;
}

/* END Level3 : Items */

.btn:disabled {
  background-color: #959595;
}


/* Rules here apply to devices from 1400px and up */
@media (min-width: 1399px) {
    .delete-icon {
    height: 23px;
  }
}
