<div id="certificacionesDeServicios" class="content-wraper" [class.fullscreen]="fullscreen" [class.show-scrollbar]="showScrollbar">
    <!-- HEADER -->
    <!--section class="container-fluid clearfix"-->
    <section class="container-fluid clearfix">
        <div class="row headerTitle">
            <div class="col-xs-12 col-sm-10">
                <strong>
                    Dashboard - Solicitante - Lista de todas las OCs - Certificación de Servicios
                </strong>
            </div>
            <i id="btn-fullscreen" [ngClass]="fullscreen ? 'fa fa-compress' : 'fa fa-expand'" [class.i-disabled]="!displayContent" title="Pantalla completa" (click)="toggleFullscreen()"></i>
            <i id="btn-filtros" class="fa fa-filter" title="Filtros" (click)="togglePanel('search')" [class.i-disabled]="!displayContent"></i>
            <i id="btn-table" class="fa fa-table" title="Configuracion Columnas" (click)="togglePanel('columns')" [class.i-disabled]="!displayContent"></i>
        </div>
    </section>

    <!-- SEARCH PANEL -->
    <section class="aux-panel" id="search">
        <div class="aux-panel-header">
            Refinar resultados
            <i class="pi pi-times" (click)="togglePanel('search')"></i>
        </div>
        <div class="aux-panel-body">
            <div class="search-filters">
                <div class="filtro-nro-orden col-md-3">
                    <p>Número de OC:</p>
                    <input pInputText type="text" [(ngModel)]="ordenCompraId" placeholder="Orden de compra" maxlength="10" />
                </div>

                <div class="filtro-proveedor col-md-3">
                    <p>Proveedor:</p>
                    <p-autoComplete class="filtro-proveedor" [(ngModel)]="proveedorSeleccionado" [suggestions]="proveedorList" (completeMethod)="autocompleteProveedor($event)" field="valor" placeholder="Proveedor" [minLength]="4" autoZIndex="true" emptyMessage="No hay resultados para mostrar"></p-autoComplete>
                </div>

                <div class="filtro-fechas col-md-3">
                    <p>Ver:</p>
                    <filtro-fecha key="periodo-certificaciones"></filtro-fecha>
                </div>

                <div class="SearchBtn col-md-3 p-d-flex vertical-align-middle">
                    <button class="btn btn-buscar" (click)="onBuscar()" [disabled]="recalculando || !displayContent">Buscar</button>
                </div>
            </div>
        </div>
    </section>

    <!-- COLUMNS CONFIG PANEL -->
    <section class="aux-panel hidden" id="columns">
        <div class="aux-panel-header">
            Ver columnas
            <i class="pi pi-times" (click)="togglePanel('columns')"></i>
        </div>
        <div class="aux-panel-body">
            <ng-container *ngTemplateOutlet="columnList; context: { $implicit: userTablesConfig[0] }"></ng-container>
            <ng-container *ngTemplateOutlet="columnList; context: { $implicit: userTablesConfig[1] }"></ng-container>
            <ng-container *ngTemplateOutlet="columnList; context: { $implicit: userTablesConfig[2] }"></ng-container>
            <ng-container *ngTemplateOutlet="columnList; context: { $implicit: userTablesConfig[3] }"></ng-container>
        </div>
        <ng-template #columnList let-t>
            <div class="columns-config-container" *ngIf="t">
                <h4 *ngIf="tieneColumnasOpcionales(t.columns)">{{ t.name }}</h4>
                <ul>
                    <li *ngFor="let col of t.columns; index as i">
                        <label [hidden]="col.required">
                            <input type="checkbox"
                                   [id]="col.id+'_'+index"
                                   [disabled]="col.required"
                                   [checked]="col.visible"
                                   [value]="col.id"
                                   (click)="actualizarConfiguarcionDeTablas(t.name, col.id)" />
                            {{col.header}}
                        </label>
                    </li>
                </ul>
            </div>
        </ng-template>
    </section>

    <!-- ERROR MESSAGE -->
    <div class="col-xs-12" *ngIf="isVisibleError()">
        <div class="alert alert-danger">
            <i aria-hidden="true" class="fa fa-exclamation-triangle msj-error"></i>{{mensajeError}}
        </div>
    </div>

    <spinner *ngIf="!recalculando"></spinner>

    <div class="container-table" *ngIf="displayContent">
        <!-- FILTERS ROW -->
        <div class="filters-row">
            <i class="pi pi-filter"></i>
            <div class="filtro-saldo">
                <div>
                    <input [disabled]="disabledFilter" type="checkbox" [(ngModel)]="ocFilterApplied" tooltip="Saldo pendiente en ordenes de compra" (click)="filtrarElementosSinSaldoACertificar($event.target.checked)">
                    <label>Saldo pendiente</label>
                </div>
            </div>
            <div class="filtro-solicitante">
                <p-multiSelect #filtroSolicitantes [disabled]="disabledFilter" id="select-solicitante" appendTo="body" [options]="listadoGeneralSolicitantes" defaultLabel="Solicitantes" [maxSelectedLabels]="1" (onChange)="filtrarPorSolicitantes($event)"></p-multiSelect>
            </div>
        </div>
        <!-- TABLA 1: ORDENES -->
        <p-table #tabla class="level1"
                 id="ordenes"
                 [value]="tablaPO"
                 [responsive]="true"
                 dataKey="NumeroOrdenDeCompra"
                 [columns]="columns"
                 [paginator]="true"
                 [alwaysShowPaginator]="false"
                 [loading]="loading"
                 [rows]="10"
                 [globalFilterFields]="['NumeroOrdenDeCompra','Proveedor', 'NombreProveedor']"
                 [autoLayout]="true"
                 rowExpandMode="single">
            <!-- TABLE 1 HEADERS -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th></th>
                    <ng-container *ngFor="let col of userTablesConfig[0].columns">
                        <th [id]="col.id" *ngIf="col.sortable && col.visible" [pSortableColumn]="col.field">{{ col.header }}<p-sortIcon [field]="col.field"></p-sortIcon></th>
                        <th [id]="col.id" *ngIf="!col.sortable && col.visible">{{ col.header }}</th>
                    </ng-container>
                </tr>
            </ng-template>

            <!-- TABLE 1 BODY -->
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
                <tr [class.purple-row]="totalesBloqueadasEliminadas(rowData)" [class.orange-row]="isPendingRelease(rowData)" [pSelectableRow]="rowData" *ngIf="!ocFilterApplied || (ocFilterApplied && tienePosicionesConItemsACertificar(rowData.Posiciones))" [class.highlighted]="expanded">
                    <td>
                        <a href="#" [pRowToggler]="rowData" (click)="loadSolicitantesList(rowData);clearCheckboxes(rowData)">
                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                        </a>
                    </td>
                    <ng-container *ngFor="let col of userTablesConfig[0].columns">
                        <td *ngIf="col.visible">{{ formatCurrency(col.field, rowData) }}</td>
                    </ng-container>
                </tr>
            </ng-template>

            <!-- TABLE 1 EMPTY MESSAGE -->
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="emptyData" [attr.colspan]="cantidadColumnasTabla('ordenes')">No hay ordenes de compra para mostrar</td>
                </tr>
            </ng-template>

            <!-- TABLE 1 ROW EXPANSION: POSICIONES -->
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns" let-orderIndex="rowIndex">
                <tr [pSelectableRow]="rowData" *ngIf="!ocFilterApplied || (ocFilterApplied && tienePosicionesConItemsACertificar(rowData.Posiciones))">
                    <td [attr.colspan]="cantidadColumnasTabla('ordenes')">

                        <div *ngIf="loading" class="spinner"></div>

                        <p-table #tablaPosiciones
                                *ngIf="!loading"
                                 id="posiciones"
                                 class="level2"
                                 [value]="rowData.Posiciones"
                                 dataKey="Id"
                                 [paginator]="true"
                                 [alwaysShowPaginator]="false"
                                 [rows]="40"
                                 (onRowExpand)="setExpanded(tablaPosiciones)"
                                 (onRowCollapse)="setExpanded(tablaPosiciones)"
                                 rowExpandMode="single">
                            <!-- TABLE 2 HEADERS -->
                            <ng-template pTemplate="header" *ngIf="rowData.Posiciones && rowData.Posiciones.length > 0">
                                <tr>
                                    <th title="Arrow"></th>
                                    <ng-container *ngFor="let col of userTablesConfig[1].columns">
                                        <th [id]="col.id" *ngIf="col.sortable && col.visible" [pSortableColumn]="col.field">{{ col.header }}<p-sortIcon [field]="col.field"></p-sortIcon></th>
                                        <th [id]="col.id" *ngIf="!col.sortable && col.visible">{{ col.header }}</th>
                                    </ng-container>
                                </tr>
                            </ng-template>

                            <!-- TABLE 2 BODY-->
                            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-posIndex="rowIndex">
                                <tr [class.purple-row]="isNotReceibeMoreMerchandise(rowData)" class="posicion" *ngIf="!ocFilterApplied || (ocFilterApplied && tieneItemsACertificar(rowData))" [class.green-row]="esPosicionCompleta(rowData)" [class.highlighted]="expanded">
                                    <ng-container *ngIf="mostrarPosicionSolicitante(rowData)">

                                        <!-- SE AGREGA CHECKBOX PARA SELECCIOANR N POSICIONES -->
                                        <td>
                                            <input *ngIf="mostrarCheckboxDeSeleccionarPosicion(rowData)" 
                                                   #seleccionarPosicionCheckbox
                                                   type="checkbox" 
                                                   [attr.disabled]="tieneItemsACertificarTodosValidos(rowData) ? null: true"
                                                   [(ngModel)]="rowData.isSelected"
                                                   (change)="seleccionarPosicion($event, rowData)"/>
                                            <a href="#" [pRowToggler]="rowData" (click)="calcularValoresACertificar(rowData)">
                                                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                            </a>
                                        </td>
                                        <ng-container *ngFor="let col of userTablesConfig[1].columns">
                                            <td *ngIf="col.visible">{{ formatCurrency(col.field, rowData) }}</td>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </ng-template>

                            <!-- TABLE 2 EMPTY MESSAGE -->
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td class="emptyData" [attr.colspan]="cantidadColumnasTabla('posiciones')">No hay posiciones de para mostrar</td>
                                </tr>
                            </ng-template>

                            <!-- TABLE 2 ROW EXPANSION: ITEMS -->
                            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns" let-posIndex="rowIndex">
                                <tr [pSelectableRow]="rowData" *ngIf="!ocFilterApplied || (ocFilterApplied && tieneItemsACertificar(rowData))">
                                    <!-- TABLE 3 -->
                                    <td [attr.colspan]="cantidadColumnasTabla('posiciones')">
                                        <!-- Spinner que se muestra mientras se actualizan las entradas de servicio -->
                                        <div class="msj-actualizando" *ngIf="recalculando">
                                            <div>Cargando, por favor espere...</div>
                                            <div class="dot-pulse"></div>
                                        </div>

                                        <p-table *ngIf="!recalculando"
                                                 #tablaItems
                                                 id="items"
                                                 class="level3"
                                                 [value]="rowData.Items"
                                                 dataKey="NumeroLinea"
                                                 [paginator]="false"
                                                 [alwaysShowPaginator]="false"
                                                 [rows]="10"
                                                 (onRowExpand)="setExpanded(tablaItems)"
                                                 (onRowCollapse)="setExpanded(tablaItems)"
                                                 rowExpandMode="single">

                                            <!-- TABLE 3 HEADERS -->
                                            <ng-template pTemplate="header" *ngIf="rowData.Items && rowData.Items.length > 0">
                                                <tr>
                                                    <th>
                                                        <input *ngIf="mostrarCheckboxDeSeleccionarTodosItems(rowData)" 
                                                               #seleccionarTodosItemsCheckbox
                                                               type="checkbox" 
                                                               [attr.disabled]="tieneItemsACertificarTodosValidos(rowData) ? null: true"
                                                               [(ngModel)]="rowData.isSelected" 
                                                               (change)="selectAllItems($event, rowData)">
                                                    </th>
                                                    <ng-container *ngFor="let col of userTablesConfig[2].columns">
                                                        <th [id]="col.id" *ngIf="col.sortable && col.visible" [pSortableColumn]="col.field">{{ col.header }}<p-sortIcon [field]="col.field"></p-sortIcon></th>
                                                        <th [id]="col.id" *ngIf="!col.sortable && col.visible && col.id !== 'iAcciones'">{{ col.header }}</th>

                                                        <th *ngIf="col.id === 'iAcciones'">
                                                            {{ col.header }}
                                                            <button class="btn btn-primary"
                                                            (click)="habilitarTodosCampoDeValorACertificar(i)"
                                                            [disabled]="!hayElementosParaCertificar()">
                                                                <i class="fa fa-refresh"></i>
                                                            </button>
                                                        </th>
                                                    </ng-container>
                                                </tr>
                                            </ng-template>

                                            <!-- TABLE 3 BODY -->
                                            <ng-template pTemplate="body" let-rowItem let-expanded="expanded" let-i="rowIndex">
                                                <tr *ngIf="!ocFilterApplied || ocFilterApplied && (rowItem.Porcentaje*1) < 100" [class.highlighted]="expanded">
                                                    <td>
                                                        <input type="checkbox"
                                                               [(ngModel)]="rowItem.isSelected"
                                                               (change)="onCheckboxChange(rowItem)"
                                                               [attr.disabled]="deshabilitarCheckboxDeItem(rowItem) || rowData.Bloqueada ? true : null" />
                                                        <a href="#" [pRowToggler]="rowItem" *ngIf="rowItem.EntradasServicio.length > 0">
                                                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                                        </a>
                                                    </td>

                                                    <ng-container *ngFor="let col of userTablesConfig[2].columns">
                                                        <td *ngIf="col.type === 'date' && col.visible">{{ rowItem[col.field] | date: 'dd/MM/yyyy' }}</td>
                                                        <td *ngIf="col.type==='string' && col.visible">{{ formatImport(col.id, rowItem[col.field]) }}</td>
                                                        <!-- Celdas de columas con contenido customizado -->
                                                        <td *ngIf="col.type==='custom' && col.visible">
                                                            <input *ngIf="col.id === 'iCantidadACertificar'"
                                                                   type="text"
                                                                   name="cantidad"
                                                                   (keypress)="numbersOnly($event)"
                                                                   (keyup)="actualizarValoresACertificarPorCantidad(rowItem);"
                                                                   (blur)="validarMantenerItemSeleccionado(rowItem)"
                                                                   (ngModelChange)="rowItem.CantidadACertificar=eliminarFormatoNumeroLocal($event)"
                                                                   [ngModel]="rowItem.CantidadACertificar | customNumberFormatter:3"
                                                                   required
                                                                   pattern="^(\d{1,3}(?:,\d{3})*)(?:.\d{1,3})?$"
                                                                   [disabled]="rowItem.Porcentaje==100"
                                                                   [ngClass]="{'input-border-color': !isCantidadDisabled}" />

                                                            <input *ngIf="col.id === 'iPorcentajeACertificar'"
                                                                   type="text"
                                                                   name="porcentaje"
                                                                   id="porcentaje_{{rowData.Id}}_{{rowData.LINE_NO}}"
                                                                   (keypress)="numbersOnly($event)"
                                                                   (keyup)="actualizarValoresACertificarPorPorcentaje(rowItem,$event);"
                                                                   (blur)="validarMantenerItemSeleccionado(rowItem)"
                                                                   (ngModelChange)="rowItem.PorcentajeACertificar=eliminarFormatoNumeroLocal($event)"
                                                                   [ngModel]="rowItem.PorcentajeACertificar | number:'1.0-3'"
                                                                   pattern="^(?=.*[1-9])[0-9]*[.]?[0-9]{1,3}$"
                                                                   required
                                                                   disabled
                                                                   [ngClass]="{ 'input-border-color': !isPorcentajeDisabled}" />

                                                            <span *ngIf="col.id==='iPorcentaje'" [ngClass]="{ 'percentage-green': rowItem.Porcentaje >= 100, 'percentage-yellow': rowItem.Porcentaje < 100 }">
                                                                {{ rowItem[col.field] | defaultData }}%
                                                            </span>
                                                            <span *ngIf="col.id==='iCantidadTotal'">
                                                                {{ rowItem.CantidadReal + rowItem.CantidadACertificar }}
                                                            </span>
                                                            <span *ngIf="col.id === 'iMonto' || col.id === 'iMontoACertificar'">
                                                                {{ calculateAmount(col.id, rowItem) }}
                                                            </span>

                                                            <button *ngIf="col.id === 'iAcciones'"
                                                                    class="btn-refresh"
                                                                    type="button"
                                                                    pButton icon="fa fa-refresh"
                                                                    (click)="habilitarCampoDeValorACertificar(i)"
                                                                    [disabled]="rowItem.CantidadACertificar === 0 || rowItem.PorcentajeACertificar === 0">
                                                            </button>
                                                        </td>
                                                    </ng-container>
                                                </tr>
                                            </ng-template>

                                            <!-- TABLE 3 EMPTY MESSAGE -->
                                            <ng-template pTemplate="emptymessage">
                                                <tr>
                                                    <td class="emptyData" [attr.colspan]="cantidadColumnasTabla('posiciones')">No hay servicios para mostrar</td>
                                                </tr>
                                            </ng-template>

                                            <!-- TABLE 3 ROW EXPANSION: ENTRADAS DE SERVICIO -->
                                            <ng-template pTemplate="rowexpansion" let-rowItem let-columns="columns">
                                                <tr id="entradasServicio" *ngIf="(!ocFilterApplied || ocFilterApplied && (rowItem.Porcentaje*1) < 100) && (rowItem.EntradasServicio && rowItem.EntradasServicio.length > 0)">
                                                    <td [attr.colspan]="cantidadColumnasTabla('items')">
                                                        <p-table id="entradasServicio"
                                                                 class="level4"
                                                                 [value]="rowItem.EntradasServicio"
                                                                 dataKey="Id">
                                                            <!-- TABLE 4 HEADERS -->
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                    <ng-container *ngFor="let col of userTablesConfig[3].columns">
                                                                        <th [id]="col.id" *ngIf="col.sortable && col.visible" [pSortableColumn]="col.field">{{ col.header }}<p-sortIcon [field]="col.field"></p-sortIcon></th>
                                                                        <th [id]="col.id" *ngIf="!col.sortable && col.visible">{{ col.header }}</th>
                                                                    </ng-container>
                                                                </tr>
                                                            </ng-template>
                                                            <!-- TABLE 4 HEADERS END -->
                                                            <!-- TABLE 4 BODY -->
                                                            <ng-template pTemplate="body" let-rowData let-item>
                                                                <tr>
                                                                    <ng-container *ngFor="let col of userTablesConfig[3].columns">
                                                                        <td *ngIf="col.type === 'date' && col.visible">{{ rowData[col.field] | date: 'dd/MM/yyyy' }}</td>
                                                                        <td *ngIf="col.type === 'string' && col.visible && col.id !== esNro">
                                                                            {{ col.id === 'esImporte' ? formatESImport(col.id, rowData) : rowData[col.field] | defaultData }}
                                                                        </td>                                                                        

                                                                        <td *ngIf="col.type === 'custom' && col.visible" [style.max-width]="(col.field === 'Referencia' || col.field === 'TextoBreve' || col.field === 'FechaDocumentoString') && rowData.Ingresante === usuario ? 'max-content' : '8em'">
                                                                            <ng-container *ngIf="col.id === 'esFechaDoc'">
                                                                                <compras-celda-editable-ingresante 
                                                                                    *ngIf="rowData.Ingresante === usuario"
                                                                                    [columnaEditar]="'FechaDocumento'"
                                                                                    [value]="rowData.FechaDocumentoString"
                                                                                    [procesando]="procesandoCelda['FechaDocumento'][rowData.IdES]"
                                                                                    (infoEmitter)="enviarInformacionIngresante($event, 'FechaDocumento', rowData.IdES, rowItem.NroOrdenCompra)"
                                                                                >
                                                                                </compras-celda-editable-ingresante>
                                                                                <ng-container *ngIf="rowData.Ingresante !== usuario">
                                                                                    {{ rowData.FechaDocumentoString }}
                                                                                </ng-container>
                                                                            </ng-container>
                                                                            <ng-container *ngIf="col.id === 'esDescripcion'">
                                                                                <compras-celda-editable-ingresante 
                                                                                    *ngIf="rowData.Ingresante === usuario"
                                                                                    [columnaEditar]="'DescripcionES'"
                                                                                    [value]="rowData.TextoBreve"
                                                                                    [procesando]="procesandoCelda['DescripcionES'][rowData.IdES]"
                                                                                    (infoEmitter)="enviarInformacionIngresante($event, 'DescripcionES', rowData.IdES, rowItem.NroOrdenCompra)"
                                                                                >
                                                                                </compras-celda-editable-ingresante>
                                                                                <ng-container *ngIf="rowData.Ingresante !== usuario">
                                                                                    {{ rowData.TextoBreve }}
                                                                                </ng-container>
                                                                            </ng-container>
                                                                            <ng-container *ngIf="col.id === 'esReferencia'">
                                                                                <compras-celda-editable-ingresante 
                                                                                    *ngIf="rowData.Ingresante === usuario"
                                                                                    [columnaEditar]="'Remito'"
                                                                                    [value]="rowData.Referencia"
                                                                                    [procesando]="procesandoCelda['Remito'][rowData.IdES]"
                                                                                    (infoEmitter)="enviarInformacionIngresante($event, 'Remito', rowData.IdES, rowItem.NroOrdenCompra)"
                                                                                >
                                                                                </compras-celda-editable-ingresante>
                                                                                <ng-container *ngIf="rowData.Ingresante !== usuario">
                                                                                    {{ rowData.Referencia }}
                                                                                </ng-container>
                                                                            </ng-container>
                                                                            <ng-container *ngIf="col.id==='esNro'">
                                                                                {{(rowData[col.field] !== 0 ? rowData[col.field] : rowData.TemporalId) | defaultData }}
                                                                            </ng-container>
                                                                            <ng-container *ngIf="col.id==='esAcciones'">
                                                                                <div *ngIf="rowData.SePuedeBorrar == false else SePuedeBorrar">
                                                                                    <i>
                                                                                        <img src="../../../../../Content/images/icons/trash.svg" alt="trash" class="delete-icon" />
                                                                                    </i>
                                                                                </div>
                                                                                <ng-template #SePuedeBorrar>
                                                                                    <i>
                                                                                        <img (click)="deleteES(rowData.Id, rowData.TemporalId, rowData.FechaContabilizacion)" src="../../../../../Content/images/icons/trashRed.svg" alt="trashRed" class="delete-icon" />
                                                                                    </i>
                                                                                </ng-template>
                                                                            </ng-container>
                                                                            <ng-container *ngIf="col.id==='esAdjuntos'">                                                                                
                                                                                <button class="fa fa-download"  (click)="descargarArchivos(rowData)" ></button>
                                                                            </ng-container>
                                                                        </td>
                                                                    </ng-container>
                                                                </tr>
                                                            </ng-template>

                                                            <!-- TABLE 4 EMPTY MESSAGE -->
                                                            <ng-template pTemplate="emptymessage">
                                                                <tr>
                                                                    <td class="emptyData" [attr.colspan]="cantidadColumnasTabla('items')">No hay servicios para mostrar</td>
                                                                </tr>
                                                            </ng-template>

                                                        </p-table>
                                                    </td>
                                                    <!-- TABLE 4 END -->
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </td>
                                    <!-- TABLE 3 END -->
                                </tr>
                            </ng-template>
                        </p-table>
                    </td>
                    <!-- TABLE 2 END -->
                </tr>
            </ng-template>
        </p-table>
        <div class="container-button">
            <button (click)="openModal()" class="btn btn-certificar" [attr.disabled]="itemSelected.length === 0? true : null">
                Certificar ES - Ítem
            </button>
        </div>
        <div class="reference-section">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Referencias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="reference-pending-release"></div>
                        </td>
                        <td>&emsp;Orden de compra pendiente de liberacion</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="reference-position-complete"></div>
                        </td>
                        <td>&emsp;Posición completa</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="reference-merchandise"></div>
                        </td>
                        <td>&emsp;Entrega final / Eliminadas / Bloqueadas</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- POC TABLE END -->
</div>


    <app-modal-alta-entrada-de-servicio *ngIf="showModal"
                                        [showModal]="showModal"
                                        [itemSelected]="itemSelected"
                                        [posicionSelected] ="posicionSelected"
                                        [elementSelected]="elementSelected"
                                        [itemIdSelected]="itemIdSelected"
                                        (closeModal)="onCloseModal()"
                                        (enviarMensajeGrilla)="actualizarGrilla($event)">
    </app-modal-alta-entrada-de-servicio>



<p-confirmDialog [(visible)]="showDialog"
                 (closeDialog)="onCloseDialog()"
                 header="Atención" icon="pi pi-exclamation-circle" width="425"
                 appendTo="body" acceptLabel="Aceptar" rejectLabel="Cancelar">
</p-confirmDialog>
