#certificacionesDeServicios.content-wraper {
    margin-top: 0;
    position: relative;
    font-family: "Roboto Condensed", Arial, sans-serif !important;
}

/* HEADER */
.fullscreen {
    position: fixed !important;
    left: 0;
    top: 0;
    width: calc(100%);
    height: calc(100%);
    background-color: #f4f4f4;
    z-index: 10;
    /* hide scrollbar but allow scrolling */
    overflow-y: auto;
    box-sizing: border-box;
    /* for Internet Explorer, Edge */
    /* for Firefox */
}

.content-wraper {
    overflow: hidden;
}

.fullscreen.show-scrollbar {
    display: block; /* Forzar la barra de desplazamiento visible */
    
}

.green-row {
    background-color: rgba(14, 146, 59, 0.11) !important;
}

.orange-row {
    background-color: rgba(236, 127, 26, 0.11) !important;
}

.purple-row {
    background-color: rgba(175, 50, 234, 0.11) !important;
}

.reference-position-complete {
    width: 50px; /* Ancho del rectángulo */
    height: 25px; /* Alto del rectángulo */
    background-color: rgba(14, 146, 59, 0.2); /* Color de referencia HTML */
    /*border: 1px solid #000;*/ /* Borde negro opcional */
}

.reference-pending-release {
    width: 50px; /* Ancho del rectángulo */
    height: 25px; /* Alto del rectángulo */
    background-color: rgba(236, 127, 26, 0.2); /* Color de referencia HTML */
    /*border: 1px solid #000;*/ /* Borde negro opcional */
}

.reference-merchandise {
    width: 50px; /* Ancho del rectángulo */
    height: 25px; /* Alto del rectángulo */
    background-color: rgba(175, 50, 234, 0.2); /* Color de referencia HTML */
    /*border: 1px solid #000;*/ /* Borde negro opcional */
}

.reference-section {
    margin: 20px 0;  /* Espacio superior */
    display: flex;     /* Usa flexbox */
    justify-content: flex-end; /* Alinea los elementos al final del contenedor */
}

.reference-section > table tr th {
    color: #333;
    text-transform: none;
}

.reference-section > table tr th,
.reference-section > table tr td {
  padding-bottom: 1em;
}

/* Ocultar la barra de desplazamiento del modo normal */
.content-wraper {
    overflow-y: scroll;
}

.show-scrollbar::-webkit-scrollbar {
    display: block;
    width: 10px;
}



i#btn-fullscreen,
i#btn-table,
i#btn-filtros {
    font-size: 1.7rem;
    float: right;
    margin-top: .6em;
    margin-left: 1em;
    cursor: pointer;
}

.i-disabled {
    pointer-events: none;
    color: #959595;
}

i#btn-fullscreen {
    background-color: transparent;
    cursor: pointer;
    transform: rotate(-90deg);
}

.headerTitle {
    background-color: #f4f4f4;
    padding-top: .3em;
    font-size: 1.6em;
    border-bottom: 1px solid #707070;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    /*    font-family: "Roboto Condensed", Arial, sans-serif;
*/
}

.headerTitle>div {
    padding-left: 0;
}

/* HEADER END */

/* PANELS */
.hidden {
    visibility: hidden;
}

.aux-panel {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    margin: .5em 0 1em 0;
}

.aux-panel:has(.columns-config-container) {
    background-color: rgba(255, 255, 255, .93) !important;
}

.aux-panel-header {
    padding: 10px;
    background-color: #959595;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding-left: 15px;
    min-height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aux-panel-header>.pi-times {
    cursor: pointer;
}

.aux-panel-body {
    margin: 1em;
}

/* Columns Config Panel */
.aux-panel-body:has(> .columns-config-container) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 1em 0;
}

.columns-config-container h4 {
    font-size: 1.1em;
}

.columns-config-container ul {
    list-style: none;
    margin-left: -2.7em;
    max-width: 23em;
    font-size: .93em;
}

.columns-config-container ul li {
    float: left;
    width: 45%;
    white-space: nowrap;
    padding-right: .3em;
}


/* Search Panel */
.search-filters p {
    color: #075088;
    font-weight: bold !important;
}

:host ::ng-deep p-autocomplete.filtro-proveedor>span.ui-autocomplete {
    top: -10px !important;
}

.filtro-nro-orden>input[type=text],
:host ::ng-deep p-autocomplete.filtro-proveedor>span>input[type=text] {
    border-radius: 4px;
    border: 1px solid #ddd;
    height: 2.69em;
    width: 100%;
    height: 2.68em;
    padding: 0.429em;
    font-family: Roboto Regular;
    font-size: 15px;
    line-height: 21.4333px;
}

.filtro-nro-orden>input:active,
.filtro-nro-orden>input:hover,
.filtro-nro-orden>input:focus,
:host ::ng-deep p-autocomplete.filtro-proveedor>span>input[type=text]:active,
:host ::ng-deep p-autocomplete.filtro-proveedor>span>input[type=text]:hover,
:host ::ng-deep p-autocomplete.filtro-proveedor>span>input[type=text]:focus {
    border: 1px solid #ddd;
}

::ng-deep p-autocomplete.filtro-proveedor .ui-autocomplete-loader.pi.pi-spinner.pi-spin {
    margin: auto !important;
}

.search-filters .btn-buscar {
    background-color: #1C7CD5;
    border-color: #1C7CD5;
    color: white;
    font-size: 1.3em;
    padding: .31em 4em;
    margin-top: 1.6em;
}

::ng-deep .filtro-fechas #btnAplicar {
    display: none !important;
    visibility: hidden !important;
}

/* PANELS END */

/* FILTERS */
.filters-row {
    padding: 4px 8px;
    border-top: 0.5px solid #959595;
    border-left: 0.5px solid #959595;
    border-right: 0.5px solid #959595;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: max-content;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters-row .pi.pi-filter {
    padding: 0 .7em .1em 0;
}

.filters-row>div+div:before {
    content: "|";
    padding: .6em;
    color: #959595;
    position: relative;
    bottom: .3em;
    font-size: 1.3em;
}

.filtro-saldo {
    display: flex;
    flex-direction: row;
    width: max-content;
    position: relative;
    top: .1em;
}

.filtro-saldo label {
    margin-left: .4em;
}

.filtro-solicitante {
    height: min-content;
}

:host ::ng-deep .filtro-solicitante>p-multiselect#select-solicitante>.ui-multiselect {
    height: 1.8em;
    width: 9em;
    position: relative;
    top: .2em;
    display: inline-block !important;
    border: 1px solid #a6a6a6 !important;
}

:host ::ng-deep .filtro-solicitante>p-multiselect#select-solicitante>.ui-multiselect>.ui-multiselect-label-container {
    font-size: .9em !important;
    font-family: "Roboto Condensed", Arial, sans-serif !important;
    height: 2em;
}

:host ::ng-deep .filtro-solicitante>p-multiselect#select-solicitante>.ui-multiselect>.ui-multiselect-label-container>label {
    padding: .2em .4em;
    margin-bottom: 0;
    margin-top: 0 !important;
    color: #3f4845 !important;
}

:host ::ng-deep .filtro-solicitante>p-multiselect#select-solicitante>.ui-multiselect>.ui-multiselect-trigger>.ui-multiselect-trigger-icon {
    font-size: .9em;
}

/* TABLE */
.container-table {
    margin-top: 1em;
}

:host ::ng-deep #ordenes>.ui-table>.ui-table-wrapper>table,
:host ::ng-deep #posiciones>.ui-table>.ui-table-wrapper>table,
:host ::ng-deep #items>.ui-table>.ui-table-wrapper>table,
:host ::ng-deep #entradasServicio>.ui-table>.ui-table-wrapper>table {
    table-layout: auto;
}

:host ::ng-deep #ordenes>.ui-table>.ui-table-wrapper>table {
    border-collapse: collapse;
    border: none;
}

:host ::ng-deep #ordenes>.ui-table>.ui-table-wrapper>table>thead>tr>th,
:host ::ng-deep #posiciones>.ui-table>.ui-table-wrapper>table>thead>tr>th,
:host ::ng-deep #items>.ui-table>.ui-table-wrapper>table>thead>tr>th,
:host ::ng-deep #entradasServicio>.ui-table>.ui-table-wrapper>table>thead>tr>th {
    color: white;
    text-align: center;
    max-width: 8em;
    font-size: .76em;
}

:host ::ng-deep #ordenes>.ui-table>.ui-table-wrapper>table>thead>tr>th.ui-sortable-column>p-sorticon>a,
:host ::ng-deep #posiciones>.ui-table>.ui-table-wrapper>table>thead>tr>th.ui-sortable-column>p-sorticon>a,
:host ::ng-deep #items>.ui-table>.ui-table-wrapper>table>thead>tr>th.ui-sortable-column>p-sorticon>a,
:host ::ng-deep #entradasServicio>.ui-table>.ui-table-wrapper>table>thead>tr>th.ui-sortable-column>p-sorticon>a {
    color: white !important;
    font-size: 1rem;
    padding-left: .5rem;
}

:host ::ng-deep #ordenes>.ui-table>.ui-table-wrapper>table>thead>tr>th {
    background-color: #666 !important;
}

:host ::ng-deep #posiciones>.ui-table>.ui-table-wrapper>table>thead>tr>th {
    background-color: #075088 !important;
}

:host ::ng-deep #items>.ui-table>.ui-table-wrapper>table>thead>tr>th {
    background-color: #4760ac !important;
}

:host ::ng-deep #entradasServicio>.ui-table>.ui-table-wrapper>table>thead>tr>th {
    background-color: #1C7CD5 !important;
}

:host ::ng-deep #ordenes>.ui-table>.ui-table-wrapper>table>tbody>tr>td,
:host ::ng-deep #posiciones>.ui-table>.ui-table-wrapper>table>tbody>tr>td,
:host ::ng-deep #items>.ui-table>.ui-table-wrapper>table>tbody>tr>td,
:host ::ng-deep #entradasServicio>.ui-table>.ui-table-wrapper>table>tbody>tr>td {
    max-width: 8em;
    font-size: .8em;
    text-align: center;
    word-wrap: break-word;
}

/* --- HIGHLIGHTED ROWS --- */
:host ::ng-deep #ordenes > .ui-table > .ui-table-wrapper > table > tbody > tr.highlighted,
:host ::ng-deep #posiciones > .ui-table > .ui-table-wrapper > table > tbody > tr.highlighted,
:host ::ng-deep #items > .ui-table > .ui-table-wrapper > table > tbody > tr.highlighted {
    font-weight: bold;
}
/* --- END HIGHLIGHTED ROWS --- */

/* Positions Table */
#pSolicitante {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.divFiltroSolicitante {
    float: right;
    padding: 0 .2em;
}

#filtroSolicitante {
    text-transform: capitalize;
    line-height: 80%;
}

.center-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-dropdown #filtroSolicitante {
    width: 130%;
    box-sizing: border-box;
    padding-right: 2em;
}


:host ::ng-deep #filterSolicitanteBtn {
    display: block;
    height: 1.2em;
    width: 1.2em;
    background: #c8c8c8;
}

:host ::ng-deep #filterSolicitanteBtn .ui-button-icon-left.ui-clickable.pi.pi-filter {
    font-size: 0.8em;
    color: #212121;
}

:host ::ng-deep .divFiltroSolicitante button.active {
    background-color: #007ad9 !important;
}

:host ::ng-deep #filterSolicitanteBtn.active .ui-button-icon-left.ui-clickable.pi.pi-filter {
    color: #ffffff !important;
}

/* Items Table */
:host ::ng-deep #items>.ui-table>.ui-table-wrapper>table>thead>tr>th:first-child,
:host ::ng-deep #items>.ui-table>.ui-table-wrapper>table>tbody>tr>td:first-child {
    min-width: 6rem;
    text-align: left;
}

p-table.level2 .posicion>td>a {
    vertical-align: middle;
    padding-left: .3em;
}

p-table.level3 i.pi-chevron-down,
p-table.level3 i.pi-chevron-right {
    padding-left: .6rem;
    vertical-align: sub;
}

p-table.level3 input[type="text"] {
    text-align: center;
    /* border: 1px solid #ccc; */
    max-width: 6em;
}

p-table.level3 input[type=text]:disabled {
    border: none;
    background-color: transparent;
}

p-table.level3 input[type="text"]:invalid {
    border: 1px solid red;
}

p-table.level3 button.btn-refresh,
p-table.level3 button.btn-refresh:focus {
    height: 1.7em;
    margin: auto .6em;
    vertical-align: middle;
    padding: .6rem;
    color: white !important;
    border-radius: 4px;
}

p-table.level3 button.btn-refresh:disabled {
    background-color: gray;
    border: none;
}

td:has(> span.percentage-green) {
    background-color: #2acc53 !important;
    color: black;
}

input {
    border: 3px solid #007AD9;
}

td:has(> span.percentage-yellow) {
    background-color: yellow !important;
}

p-checkbox .ui-chkbox {
    height: 16px;
}

.msj-error {
    margin-right: 5px !important;
}

.emptyData {
    text-align: center !important;
}

/* Bot�n Certificar */
.container-button {
    justify-content: center;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-certificar {
    color: white;
    background: #075088;
    border: none;
    border-radius: 6px;
    width: 40px;
    padding: 10px;
    font-weight: bolder;
    min-width: 22%;
    text-align: center;
    font-size: 16px;
}

.btn-certificar :disabled {
    background-color: #959595;
}


/* LOADER */
.msj-actualizando {
    width: fit-content;
    margin: 2em auto;
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #067935;
    color: #067935;
    box-shadow: 9999px 0 0 -5px;
    animation: dot-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
    margin-top: 10px;
    margin-left: 6em;
}

.dot-pulse::before,
.dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #067935;
    color: #067935;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dot-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dot-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
    0% {
        box-shadow: 9984px 0 0 -5px;
    }

    30% {
        box-shadow: 9984px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 9984px 0 0 -5px;
    }
}

@keyframes dot-pulse {
    0% {
        box-shadow: 9999px 0 0 -5px;
    }

    30% {
        box-shadow: 9999px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 9999px 0 0 -5px;
    }
}

@keyframes dot-pulse-after {
    0% {
        box-shadow: 10014px 0 0 -5px;
    }

    30% {
        box-shadow: 10014px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 10014px 0 0 -5px;
    }
}

@media (min-width: 990px) {
    .delete-icon {
        height: 23px;
    }
}