::ng-deep .estiloCalendarDashboard {
    width: 33%;
}

.fa{
    margin-right:-10px;
}
.buscar {
    background-color: #1C7CD5;
    border-color: #1C7CD5;
    color: white;
    width: 100%;   
    font-size: 18px;
}

.buttonBuscar{
    margin-left: -121px;
    margin-top: 4px;
}
body.ui-paginator.ui-dropdown{
    width: 10% !important;
}
.ng-tns-c7-9.ui-dropdown.ui-widget.ui-state-default.ui-corner-all.ui-helper-clearfix{
    width: 10% !important;
}

th{
    border: 0px !important;
}

.detalle-th {    
    text-align: center;
}

.columna{
    /* word-break: break-all; word-wrap:break-word; font-size: 12px; */
     word-break: break-all; word-wrap:break-word; font-size: 13px;
}

.almacen-centro{
    font-size: 12px;
}

.emptyData{
    text-align: center;
}

.headerth {
    font-size: 13px !important;
    width: max-content;
    color: #ffffff !important;
    background-color: #666666 !important;
    padding: 1em 0.857em !important;
}

.headerth2 {
    font-size: 13px !important;
    color: #ffffff !important;
    background-color: #666666 !important;
    padding: 1em 0.857em !important;
    width: max-content;
}

.padding{
    padding: 8px;
  }
  
.td {
    padding: 0px;
}

.fz {
    font-size: 0px;
}

.bg-e {
    background-color: #959595 !important;
}
.bg-c {
    background-color: #075088 !important;
}

.bg-d {
    background-color: #1C7CD5 !important;
}

.bg-f {
    background-color: #4760ac !important;
}

.title-fix {
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 0px;
    border-left-style: solid;
    padding-left: 20px;
}


.percentage-green {
    background-color: #2acc53 !important;
    text-align: center;
    color: black;
    border: 2px solid #756f6f !important;
}

.percentage-yellow {
    background-color: yellow !important;
    text-align: center;
    color: black;
    border: 2px solid #756f6f !important;
}

.container-button {
    justify-content: center;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-certificar {
    color: white;
    background: #075088;
    border: none;
    border-radius: 6px;
    width: 40px;
    padding: 10px;
    font-weight: bolder;
    min-width: 22%;
    text-align: center;
    font-size: 16px;
}


.expandSmallColumn {
    width:4em;
}

.expandSmallColumn2 {
    width: 6em;
}

.limitedColumn {
    max-width: 2em;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 13px;
}

.btn-buscar {
    top: 35px;
}