<section class="container-fluid clearfix">
    <div class="row titleSection">
        <div class="col-xs-12 col-sm-10 "> <strong>Dashboard - Solicitante - Lista de todas las OCs - Certificación de
                Servicios</strong></div>
    </div>
    <br>
</section>
<div class="content-wraper" style="padding-top: 0px !important;">
    <spinner></spinner>
    <app-filtro-dashboard-certificacion-de-servicios></app-filtro-dashboard-certificacion-de-servicios>
    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: -15px;">

        <p-table #tabla [value]="tablaPO" responsiveLayout="scroll | stack" dataKey="Id">
            <ng-template pTemplate="header" let-columns class="lista-header">
                <tr>
                    <th class="headerth" title="Detalle" style="width: 40px; text-align: center;">
                        Detalle
                    </th>
                    <th class="headerth" title="Fecha" (click)="onOrder('Fecha')" style="width: 80px">
                        Fecha
                        <span>
                            <i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': columna === 'Fecha' && orden == false  }"></i>
                            <i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': columnaOrden === 'Fecha' && orden == true }"></i>
                        </span>
                    </th>

                    <th title="Número de OC" class="headerth" (click)="onOrder('OrdenCompraId')" style="width: 80px">
                        Número de OC
                        <span>
                            <i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': columnaOrden === 'OrdenCompraId' && orden == false  }"></i>
                            <i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': columnaOrden === 'OrdenCompraId' && orden == true }"></i>
                        </span>
                    </th>

                    <th title="Proveedor" class="headerth" (click)="onOrder('ProveedorNombre')" style="width: 105px;">
                        Proveedor
                        <span>
                            <i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': columnaOrden === 'ProveedorNombre' && orden == false  }"></i>
                            <i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': columnaOrden === 'ProveedorNombre' && orden == true }"></i>
                        </span>
                    </th>
                    <th title="Descripción" class="headerth" style="width: 90px;">
                        Descripción
                    </th>

                    <th title="Monto total" class="headerth columna" style="width:80px ;">
                        Monto total
                    </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td class="columna" style="text-align: center;">
                        <a href="#" [pRowToggler]="rowData">
                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                        </a>
                    </td>
                    <td class="columna">
                        {{rowData.Fecha | customDateFormat | date :'d/M/yyyy' }}
                    </td>
                    <td class="columna">
                        {{rowData.OrdenCompraId || ""}}
                    </td>
                    <td class="columna">
                        {{rowData.ProveedorNombre}}
                    </td>
                    <td class="columna">
                        {{rowData.Descripcion }}
                    </td>
                    <td class="columna">
                        {{rowData.MontoTotal}}
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-paginator #paginator [rows]="10" [totalRecords]="length"
            (onPageChange)="handlePageEvent($event)">
        </p-paginator>

    </div>
</div>