<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10" style="font-weight: bold;">Nuevo campo sustentable</div>
        </div>
        <mensaje #mensajeGeneral></mensaje>
        <spinner></spinner>
        <app-declaracion-conformidad [proveedorId]="proveedorId" [cosechaId]="cosechaId"
            (resultadoDeclaracion)="onResultadoDeclaracion($event)" [nombreCosecha]="nombreCosecha">
        </app-declaracion-conformidad>
        <p-toast [style]="{marginTop: '105px'}"></p-toast>
        <!--End Title-->
        <!-- Form-->
        <div class="row myRow mySearch cargaDeDatos">
            <div class="rounded shadow col-xs-12 col-sm-6 col-md-8">
                <div class="row myRow cargaDeDatosFields cargaDeDatosForm" style="padding: 20px;">
                    <div class="row myRow cargaDeDatosFields" *ngIf="esCorredor">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <p class="crearConsultaTitulos">Modo de ingreso</p>
                            <input type="radio" id="operarComoCorredor" [(ngModel)]="operarComo" name="operarComo"
                                [value]="1" (change)="cambiarModoOperacion()" checked="checked">
                            <label for="operarComoCorredor">Corredor</label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <p class="crearConsultaTitulos"></p>
                            <input type="radio" id="operarComoAcopiador" [(ngModel)]="operarComo" name="operarComo"
                                [value]="2" (change)="cambiarModoOperacion()">
                            <label for="operarComoAcopiador">Acopiador</label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6">
                        </div>
                    </div>

                    <div class="row myRow cargaDeDatosFields">
                        <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="!ingresarProveedorPorCUIT">
                            <p class="crearConsultaTitulos">Titular de la CP<span class="requerido">*</span></p>
                            <app-seleccionar-proveedor (onProveedorSeleccionado)="onselectProveedor($event)"
                                [(valorInicial)]="CodigoProveedorEdit"
                                (onProveedorPreSeleccionado)="onSePreseleccionaProveedor()"
                                (onBlur)="revisarProveedorSeleccionado()" (onFocus)="sePreseleccionoProveedor=false"
                                (onQuery)="onQuery($event)">
                            </app-seleccionar-proveedor>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6"
                            *ngIf="ingresarProveedorPorCUIT || corredorDebeCargarCuit">
                            <p class="crearConsultaTitulos">
                                CUIT
                                <ng-container *ngIf="!corredorDebeCargarCuit">
                                    titular de la CP
                                </ng-container>

                                <span class="requerido">*</span>
                            </p>
                            <div class="styled-select" style="overflow: initial;">
                                <input type="search" [(ngModel)]="CUIT" class="fourRounded" mask="00-00000000-0"
                                    maxlength="13" (change)="verificarCUITIngresado(); renspaChanged();" aria-controls="tableModal">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">Cosecha <span class="requerido">*</span></p>
                            <div class="styled-select">
                                <!-- <p-dropdown placeholder="Elegir cosecha" [options]="cosechas" [(ngModel)]="cosecha"
                                    optionLabel="Nombre">
                                </p-dropdown> -->

                                <select [(ngModel)]="cosechaId" (change)="onChangeCosecha()">
                                    <option *ngFor="let x of cosechas" value="{{x.Id}}">{{x.Nombre}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row myRow cargaDeDatosFields">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">
                                Nombre del establecimiento<span class="requerido">*</span>
                            </p>
                            <div class="styled-select ">
                                <input type="search" [(ngModel)]="nombreEstablecimiento" class="fourRounded"
                                    aria-controls="tableModal">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">Localidad <span class="requerido">*</span></p>
                            <app-autocomplete-localidad
                                (onLocalidadSeleccionada)="localidadId = $event"
                                [localidad_Id]="campoProveedorE?.Localidad_Id"
                                [localidadPreseleccionada]="localidadPreseleccionada"
                                (nombreLocalidadSeleccionada)="campoProveedorE.LocalidadNombre = $event">
                            </app-autocomplete-localidad>
                        </div>
                    </div>

                    <div class="row myRow cargaDeDatosFields">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">RENSPA <span class="requerido">*</span></p>
                            <div class="styled-select">
                                <input type="text" pInputText [(ngModel)]="renspa" (change)="renspaChanged()" class="fourRounded"
                                    aria-controls="tableModal" mask="00.000.0.00000/00">
                            </div>
                            <div class="alert alert-warning" *ngIf="renspaExiste.RenspaExiste && !renspaExiste.MismoCuit">
                                Este campo ya fue presentado, la carga se vinculará a su CUIT.
                            </div>
                            <div class="alert alert-danger" *ngIf="renspaExiste.RenspaExiste && renspaExiste.MismoCuit">
                                Este campo ya fue presentado.
                            </div>
                        </div>
                    </div>
                    
                    <div class="row myRow cargaDeDatosFields">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">Hectareas Totales<span class="requerido">*</span></p>
                            <div class="styled-select ">
                                <input min="1" [type]="'number'" name="hectareasTotales" [(ngModel)]="hectareasTotales"
                                    class="fourRounded" aria-controls="tableModal">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">Hectareas de Soja<span class="requerido">*</span></p>
                            <div class="styled-select ">
                                <input type="number" name="hectareasSoja" [(ngModel)]="hectareasSoja"
                                    class="fourRounded" aria-controls="tableModal">
                            </div>
                        </div>
                    </div>

                    <div class="row myRow cargaDeDatosFields">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">Latitud<span class="requerido">*</span></p>
                            <div class="styled-select ">
                                <input type="search" name="latitud" [(ngModel)]="latitud" class="fourRounded"
                                    aria-controls="tableModal">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">Longitud<span class="requerido">*</span></p>
                            <div class="styled-select ">
                                <input type="search" name="longitud" [(ngModel)]="longitud" class="fourRounded"
                                    aria-controls="tableModal">
                            </div>
                        </div>
                    </div>

                    <div class="row myRow cargaDeDatosFields" *ngIf="Archivo_Id > 0">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">Utilizar KMZ de la carga anterior</p>
                            <span class="col-md-6">
                                <input type="radio" id="UsarArchivo_Id" [(ngModel)]="UsarArchivo_Id"
                                    name="UsarArchivo_IdSi" [value]="true" (change)="cambiarModoOperacion()"
                                    checked="checked">
                                <label for="UsarArchivo_IdSi">Si</label>
                            </span>
                            <span class="col-md-6">
                                <input type="radio" id="UsarArchivo_Id" [(ngModel)]="UsarArchivo_Id"
                                    name="UsarArchivo_IdNo" [value]="false" (change)="cambiarModoOperacion()">
                                <label for="UsarArchivo_IdNo">No</label>
                            </span>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="UsarArchivo_Id == false">
                        <p class="crearConsultaTitulos">Archivo KMZ<span class="requerido">*</span></p>
                        <div class="styled-select">
                            <input #fileInput type="file" (change)="cargarArchivo($event)" placeholder="Cargar Archivo">
                        </div>
                        <br />
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-xs-0 col-md-3">
                            <button type="button" (click)="redirigirAListado()" class="btn-custom btn-add btn-mediano">
                                Volver
                            </button>
                        </div>
                        <div class="col-xs-0 col-md-4">
                        </div>

                        <div class="col-xs-0 col-md-3">
                            <button class="btn-custom btn-guardar btn-grande" (click)="campoProveedorAgregar()"
                                    (disabled)="renspaExiste.RenspaExiste && renspaExiste.MismoCuit">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <spinner></spinner>
        </div>
        <!-- END form-->
    </section>
    <!--End CONTENT-->
</div>

<p-dialog [header]="'Editar campo para campaña ' + getNombreCosecha()"
    [(visible)]="mostrarEdicionSugerencia" [modal]="true" [responsive]="true" [closable]="false"
    [style]="{width: '800px', minWidth: '700px', maxWidth:'800px'}" [minY]="70" [draggable]="false" appendTo="body">
    <div class="content-wraper">
        <mensaje #mensajeEdicionSugerencia></mensaje>
        <div class="row myRow firstSection mySearch cargaDeDatos">
                <div class="row myRow cargaDeDatosFields cargaDeDatosForm" style="padding: 20px;">
                    <div class="row myRow cargaDeDatosFields">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">
                                Nombre establecimiento <span class="requerido">*</span>
                            </p>
                            <div class="styled-select">
                                <input type="search" [(ngModel)]="campoSugeridoEnEdicion.NombreCampo" class="fourRounded" aria-controls="tableModal">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">
                                Localidad
                            </p>
                            <app-autocomplete-localidad
                                (onLocalidadSeleccionada)="campoSugeridoEnEdicion.Localidad_Id = $event"
                                [localidad_Id]="campoSugeridoEnEdicion.Localidad_Id"
                                [localidadPreseleccionada]="localidadCampoSugeridoEnEdicion"
                                (nombreLocalidadSeleccionada)="campoSugeridoEnEdicion.LocalidadNombre = $event">
                            </app-autocomplete-localidad>
                        </div>
                    </div>
                    <div class="row myRow cargaDeDatosFields">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">
                                RENSPA
                            </p>
                            <div class="styled-select">
                                <input type="text" [(ngModel)]="campoSugeridoEnEdicion.Renspa" class="fourRounded" aria-controls="tableModal" mask="00.000.0.00000/00" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row myRow cargaDeDatosFields">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">
                                Hectáreas totales <span class="requerido">*</span>
                            </p>
                            <div class="styled-select">
                                <input min="1" [type]="'number'" name="campoSugeridoEnEdicion.HectareasTotales"
                                    [(ngModel)]="campoSugeridoEnEdicion.HectareasTotales" class="fourRounded" aria-controls="tableModal">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">
                                Hectáreas de soja <span class="requerido">*</span>
                            </p>
                            <div class="styled-select">
                                <input min="1" [type]="'number'" name="campoSugeridoEnEdicion.HectareasSoja"
                                    [(ngModel)]="campoSugeridoEnEdicion.HectareasSoja" class="fourRounded" aria-controls="tableModal">
                            </div>
                        </div>
                    </div>
                    <div class="row myRow cargaDeDatosFields">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">
                                Latitud <span class="requerido">*</span>
                            </p>
                            <div class="styled-select">
                                <input type="search" [(ngModel)]="campoSugeridoEnEdicion.Latitud" class="fourRounded" aria-controls="tableModal">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="crearConsultaTitulos">
                                Longitud <span class="requerido">*</span>
                            </p>
                            <div class="styled-select">
                                <input type="search" [(ngModel)]="campoSugeridoEnEdicion.Longitud" class="fourRounded" aria-controls="tableModal">
                            </div>
                        </div>
                    </div>
                    <div class="row myRow cargaDeDatosFields">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <p class="crearConsultaTitulos">
                                Usar nuevo KMZ
                            </p>
                            <div class="styled-select">
                                <input #fileInputSugerencia type="file" (change)="cargarArchivoEnSugerencia($event)" placeholder="Cargar nuevo archivo">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="guardarEdicionSugerencia()" label="Guardar"></button>
        <button type="button" pButton icon="pi pi-close" (click)="cancelarEdicionSugerencia()" label="Cancelar" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<p-dialog [header]="'Campos sugeridos para la campaña ' + getNombreCosecha()"
    [(visible)]="mostrarSugerenciasCamposNuevos" [modal]="true" [responsive]="true" [closable]="false"
    [style]="{width: '800px', minWidth: '700px', maxWidth:'800px'}" [minY]="70" [draggable]="false" appendTo="body">
    <div class="row titleSection">
        <div class="col-xs-12 col-sm-6"></div>
        <div class="col-xs-12 col-sm-6" style="display: flex; justify-content: flex-end;">
            <div class="row">
                <div class="col-xs-12 col-sm-6" style="display: flex; justify-content: flex-end;">
                    <spinner-small></spinner-small>
                    <a (click)="exportarSugerencias()" href="#" style="text-decoration:none!important" *ngIf="!this.spinnerExportarSugerencias.visible">
                        <div class="btnSection animate align-right">
                            Exportar <img src="Content/images/buttons/EXPORT.svg" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table id="tablaCamposSugeridos" *ngIf="camposNuevosSugeridos && camposNuevosSugeridos.length > 0"
            class="display nowrap dataTable no-footer dtr-inline rounded shadow animate usuarios-list-table"
            cellspacing="0" role="grid" aria-describedby="tableModal_info" style="width: 100%; padding:10px 0;">
            <thead>
                <tr role="row">
                    <th>
                        <input type="checkbox" [(ngModel)]="camposSugeridosSeleccionaTodos" (change)="onSugeridosSeleccionarTodosChange()" />
                    </th>
                    <th>
                        Nombre campo
                    </th>
                    <th>
                        Localidad
                    </th>
                    <th>
                        RENSPA
                    </th>
                    <th>
                        Hectáreas totales / soja
                    </th>
                    <th>
                        Toneladas aprobadas
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let campo of camposNuevosSugeridos">
                    <td>
                        <input type="checkbox"
                            [disabled]="campo.CampoYaPresentado"
                            [(ngModel)]="campo.Seleccionado"
                            (change)="onSugerenciaSeleccionadaChange(campo)"
                            [title]="campo.CampoYaPresentado ? 'El campo ya fue presentado' : ''" />
                    </td>
                    <td>{{campo.NombreCampo}}</td>
                    <td>{{campo.LocalidadNombre}}</td>
                    <td>{{campo.Renspa | mask: '00.000.0.00000/00'}}</td>
                    <td>{{campo.HectareasTotales}} / {{campo.HectareasSoja}}</td>
                    <td>{{campo.ToneladasAprobadas}}</td>
                    <td>
                        <div class="form-group row justify-content-center">
                            <div class="col-sm-2" style="padding-left: 0px; padding-right: 14px;">
                                <span>
                                    <button type="button" class="btn-sin-fondo btn-descargar" title="Descargar KMZ"
                                        (click)="descargarKmz(campo.CampoCosechaId, campo.Proveedor_Id)">
                                    </button>
                                </span>
                                <span *ngIf="!campo.CampoYaPresentado">
                                    <button type="button" class="btn-sin-fondo fa fa-edit" title="Editar"
                                        style="font-size: 22px; color: #009688; margin-right: 5px;"
                                        (click)="abrirEdicionCampoSugerido(campo)">
                                    </button>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="grabarSugerenciaCamposNuevos()" label="Guardar"
            [disabled]="!haySugerenciaSeleccionada()"></button>
        <button type="button" pButton icon="pi pi-close" (click)="cancelarSugerenciaCamposNuevos()" label="Cancelar" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
    
