<div class="rounded shadow">
  <section class="container-fluid clearfix">
      <div class="col-md-12 row myRow alinearTitulo margenInput" style="margin-bottom: 10px; border-bottom: 1px solid #dbd7d7 !important; font-size: 18px;">
          <div class="col-md-12">
              <strong>Estimación de horas</strong>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <p-table #dt [columns]="cols" [value]="cotizacion?.CotizacionesHoras">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="background-color: #4760ac !important;
                    text-transform: none !important;">Categoria</th>
                    <th style="background-color: #4760ac !important;
                    text-transform: none !important;">Gremio</th>
                        <th style="background-color: #4760ac !important;
                    text-transform: none !important;">Cantidad de personas</th>
                        <th style="background-color: #4760ac !important;
                    text-transform: none !important;" pTooltip="Hs en planta" tooltipPosition="top">
                            Hs
                            Normales
                        </th>
                        <th style="background-color: #4760ac !important;
                    text-transform: none !important;" pTooltip="Hs en planta" tooltipPosition="top">
                            Hs
                            Nocturnas
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td style="text-align: center;" colspan="5">Sin carga de horas</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <ng-container *ngIf="cotizacion != null">
                            <td>{{rowData.Categoria}}</td>
                            <td>{{rowData.Gremio}}</td>
                            <td>{{rowData.CantidadPersonas}}</td>
                            <td>{{rowData.HorasNormales}}</td>
                            <td>{{rowData.HorasNocturnas}}</td>                       
                        </ng-container>
                    </tr>
                </ng-template>
            </p-table>
          </div>
      </div>
      <div class="col-md-12 row myRow alinearTitulo margenInput">
        <div class="col-md-4" style="margin-top: 12px;">
            <strong> Porcentaje de horas</strong>
        </div>
        <div class="col-md-2" *ngIf="cotizacion != null">
            <input type="text" pKeyFilter="num" [(ngModel)]="cotizacion.PorcentajeDeHoras"
                placeholder="% horas"
                pInputText
                disabled="true"
                class="styled-select inputAltura">
        </div>
    </div>
  </section>
</div>