<div style="z-index: 10;" class="ui-widget-overlay ui-dialog-mask"></div>

<p-dialog id="alta-certificaciones"
          header="Alta ES - Certificación de servicio"
          [(visible)]="showModal"
          [responsive]="true"
          [style]="{ 'width': '450px', 'height': '400px' }"
          [maximizable]="true"
          draggable="false"
          (onHide)="this.closeModal.emit();">

    <div id="col-select">
        Ver columnas:
        <ng-container *ngFor="let col of colConfig">
            <input type="checkbox" [id]="col.name" [name]="col.name" [value]="col.name" (click)="toggleColumn($event)" [(ngModel)]="col.visible">
            <label [for]="col.name">{{ col.name | titlecase }}</label><br>
        </ng-container>
    </div>

    <p-panel id="positions-panel" [toggleable]="true" *ngFor="let position of itemsAgrupadosPorPosicion; let i = index">
        <p-header>
            <span id="title" class="ui-panel-title">Posicion {{ position.NroPosicion }}</span>
            <input id="description" pInputText type="text" [(ngModel)]="position.Descripcion" maxlength="40">
        </p-header>

        <p-table id="items-list"
                 [value]="position.Items"
                 dataKey="NumeroLinea"
                 [scrollable]="true" 
                 scrollHeight="300px">
            <!-- TABLE HEADERS-->
            <ng-template pTemplate="header">
                <tr>
                    <th rowspan="2">N° LINEA</th>
                    <th rowspan="2">N° Servicio</th>
                    <th rowspan="2">Txt. Breve</th>
                    <th rowspan="2">Cant.</th>
                    <th rowspan="2">UM</th>
                    <th rowspan="2">Precio Unitario</th>
                    <th rowspan="2">Monto Total</th>
                    <th colspan="3" class="anterior">Anterior</th>
                    <th colspan="3" class="acertificar">A Certificar</th>
                    <th colspan="3" class="acumulado">Acumulado</th>
                </tr>
                <tr>
                    <th class="anterior">Cant.</th>
                    <th class="anterior">%</th>
                    <th class="anterior">Monto</th>

                    <th class="acertificar">Cant.</th>
                    <th class="acertificar">%</th>
                    <th class="acertificar">Monto</th>

                    <th class="acumulado">Cant.</th>
                    <th class="acumulado">%</th>
                    <th class="acumulado">Monto</th>
                </tr>
            </ng-template>
            <!-- TABLE HEADERS END-->
            <!-- TABLE BODY -->
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-i="rowIndex">
                <tr>
                    <td>{{ rowData.NumeroLinea | defaultData }}</td>
                    <td>{{ rowData.ServicioNumero | defaultData }}</td>
                    <td>{{ rowData.Descripcion | defaultData }}</td>
                    <td>{{ rowData.Cantidad | defaultData }}</td>
                    <td>{{ rowData.UM | defaultData }}</td>
                    <td class="text-right">
                        {{
                            rowData.Moneda === 'ARP' ? ('$ ' + (rowData.Importe | number:'1.2-2' | defaultData)) : (rowData.Importe | number:'1.2-2' | defaultData)
                        }}
                    </td>

                    <td class="text-right">
                        {{
                            (rowData.Moneda === 'ARP' ? ('$ ' + (rowData.Cantidad * rowData.Importe | number:'1.2-2')) : (rowData.Cantidad * rowData.Importe | number:'1.2-2'))
                        }}
                    </td>

                    <!-- Anteriores -->
                    <!-- * 1  is just to turn it into a number -->
                    <td class="anterior">{{ rowData.CantidadReal * 1 | number:'1.0-3' }}</td>
                    <td class="anterior">{{ rowData.Porcentaje | number:'1.0-3' }}%</td>
                    <td class="anterior text-right">
                        {{
                            (rowData.Moneda === 'ARP' ? '$ ' + (calcularMontoAnterior(rowData) | number:'1.2-2') : (calcularMontoAnterior(rowData) | number:'1.2-2'))
                        }}
                    </td>

                    <!-- A certificar -->
                    <td>{{ rowData.CantidadACertificar | number:'1.0-3' }}</td>
                    <td>{{ rowData.PorcentajeACertificar | number:'1.0-3' }}%</td>
                    <td class="text-right">
                        {{
                            (rowData.Moneda === 'ARP' ? '$ ' + (rowData.CantidadACertificar * rowData.Importe | number:'1.2-2') : (rowData.CantidadACertificar * rowData.Importe | number:'1.2-2'))
                        }}
                    </td>

                    <!-- Acumulado -->
                    <td class="acumulado">{{ rowData.CantidadReal + (rowData.CantidadACertificar * 1) | number:'1.0-3'}}</td>
                    <td class="acumulado">{{ calcularPorcentajeAcumulado(rowData) | number:'1.0-3' }}%</td>
                    <td class="acumulado text-right">
                        {{
                            (rowData.Moneda === 'ARP' ? '$ ' + (calcularMontoAnterior(rowData) + (rowData.CantidadACertificar * rowData.Importe) | number:'1.2-2') : (calcularMontoAnterior(rowData) + (rowData.CantidadACertificar * rowData.Importe) | number:'1.2-2'))
                        }}
                    </td>
                </tr>
            </ng-template>
            <!-- TABLE BODY END -->

            <ng-template pTemplate="footer">
                <tr class="footer">
                    <td [attr.colspan]="colspanMonto"></td>
                    <td colspan="2" class="text-right">MONTO TOTAL</td>
                    <td class="text-right">
                        {{
                            (position.Items[0].Moneda === 'ARP' ? '$ ' + (position.MontoTotalACertificar | number:'1.2-2') : (position.MontoTotalACertificar | number:'1.2-2'))
                        }}
                    </td>
                    <td colspan="3" class="acumulado"></td>
                </tr>
            </ng-template>



            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="emptyData" colspan="12">No hay items para mostrar</td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <br>
    <div class="text-right"><strong>MONTO TOTAL GENERAL: {{ calculateGeneralTotalAmount() }}</strong></div>

    <section class="alta-form">
        <div class="row fields">
            <div class="col-md-3">
                <p>Fecha Documento</p>
                <p-calendar [(ngModel)]="fechaDocumento"
                            class="smallCal"
                            id="fechaDocumento"
                            dateFormat="yy-mm-dd"
                            [locale]="es"
                            [readonlyInput]="true"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            [minDate]="fechaDocMin"
                            [maxDate]="fechaDocMax"
                            yearRange="{{fechaDocMin.getFullYear()}}:{{fechaDocMax.getFullYear()}}"
                            autoZIndex="true"
                            [showIcon]="true">
                </p-calendar>
            </div>

            <div class="col-md-3">
                <p>Fecha Contabilización</p>
                <p-calendar [(ngModel)]="fechaContabilizacion"
                            id="fechaContabilizacion"
                            class="smallCal"
                            dateFormat="yy-mm-dd"
                            [locale]="es"
                            [readonlyInput]="true"
                            [monthNavigator]="monthNavStatus"
                            [minDate]="fechaContabilizacionMin"
                            [maxDate]="fechaContabilizacionMax"
                            [showIcon]="true">
                </p-calendar>
            </div>

            <div class="col-md-3">
                <p>Referencia Remito</p>
                <input type="text"
                       id="ref"
                       (keyup)="validarReferenciaRemito($event)"
                       pattern="[0-9]{4}R[0-9]{8}"
                       maxlength="13"
                       [(ngModel)]="referencia">
                <div class="hint">Formato 4 dígitos + R + 8 dígitos.</div>
            </div>

            <!--Provisional - hasta implementación MVP2-->
            <!--<div class="col-md-3">
              <p for="texto-breve" class="form-label">Aprobador</p>
              <p-dropdown [options]="['Aprobador 1','Aprobador 2']" [(ngModel)]="aprobador" optionLabel="name" [showClear]="true" placeholder="Seleccionar aprobador..."></p-dropdown>
            </div>-->
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-azul btn-certificar" (click)="certificarPosicion()">Certificar</button>
        </div>
    </section>

</p-dialog>