<div class="content-wraper documentacion">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection titleSectionTable ">
            <div class="col-xs-12 col-sm-10  animate" style="vertical-align:bottom;"><strong>Documentación</strong>
            </div>
        </div>
        <!--End Title-->
        <!--Search-->
        <div class="myRow firstSection roundedInfo">
            <div class="col-xs-12 col-sm-5 col-md-4 squareInfo animate datos">
                <div id="showDatos" class="showBtn height-auto btn-grande btnSection btnInfo animate"
                    onClick="showDatos()">
                    <div>
                        <li class="fa fa-angle-double-right" aria-hidden="true"></li>
                    </div>
                    <div>Datos útiles</div>
                </div>
                <div id="hideDatos" class="hideBtn height-auto btn-grande btnSection btnInfo animate btnInfoClose"
                    onClick="closeDatos()">
                    <div>
                        <li class="fa fa-times" aria-hidden="true"></li>
                    </div>
                    <div>Datos útiles</div>
                </div>
                <title-caps class="hideMobile blue">Datos útiles</title-caps>
                <div id="Datos" class="hideMobile">
                    <div class="datoMail">
                        <span class="fa fa-clock-o blue" aria-hidden="true"></span>
                        <div class="info">
                            <p>Lunes a Jueves de 9 a 13 hs. y de 14 a 17 hs.</p>
                            <p>Y Viernes de 9 a 13 hs. y de 14 a 16 hs.</p>
                        </div>
                    </div>
                    <div class="datoMail" style="margin-bottom:20px">
                        <span class="fa fa-envelope-o blue" aria-hidden="true"></span>
                        <div class="info">
                            <a href="mailto:materias.primas@molinosagro.com.ar" target="_blank"
                                style="text-decoration:none!important">
                                <p>materias.primas@molinosagro.com.ar</p>
                            </a>
                        </div>
                    </div>
                    <hr class="hideMobile">
                    <title-caps class="hideMobile blue"><span class="fa fa-map-marker blue"
                            aria-hidden="true"></span>Direcciones de envío:</title-caps>
                    <div class="direcciones">
                        <p>
                            <strong>Planta Victoria - Administración de Materias Primas</strong><br>
                            Uruguay 4075, Victoria (B1644HKG). Buenos Aires, Argentina
                        </p>
                        <p>
                            <strong>Casillero en Bolsa de Cereales de Buenos Aires</strong><br>
                            Corrientes 123 PB - C.A.B.A. (C1106ABF), Argentina
                        </p>
                        <p>
                            <strong>Oficina Bolsa de Cereales de Rosario</strong><br>
                            Paraguay 777, Rosario (S2000CVO). Santa Fe, Argentina
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8 squareInfo animate documentos">
                <div class="row myRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 titulo">
                        <title-caps class="blue">Alta de proveedores o actualización de cuenta</title-caps>
                        <br>
                        <p>Todos los documentos deben ser firmados por el apoderado de la firma en original.</p>
                        <p>Deben ser entregados en cualquiera de nuestras oficinas a nombre de: Sector Materias Primas
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Formulario Alta No Granos MOA.doc?a={{a}}" target="_blank"
                                style="text-decoration:none!important">
                                <div class="doc-header">
                                    <p><i class="fa fa-file-word-o" aria-hidden="true"></i>LISTADO DOCUMENTACION ALTA -
                                        PROVEEDORES NO GRANOS</p>
                                </div>
                                <div class="doc-description">
                                    Incluir este documento dentro del legajo, señalando la documentación que se envía.
                                    Por favor, completar todos los campos sin dejar espacios en blanco.
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Formulario alta Prov Granos MOA vendedor c Corredor - Alta.doc?a={{a}}"
                                target="_blank" style="text-decoration:none!important">
                                <div class="doc-header">
                                    <p><i class="fa fa-file-word-o" aria-hidden="true"></i>LISTADO DOCUMENTACION ALTA -
                                        PROVEEDOR GRANOS VENDEDOR C/CORREDOR</p>
                                </div>
                                <div class="doc-description">
                                    Incluir este documento dentro del legajo, señalando la documentación que se envía.
                                    Por favor, completar todos los campos sin dejar espacios en blanco.
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Formulario alta Prov Granos MOA vendedor Directo - Alta.doc?a={{a}}"
                                target="_blank" style="text-decoration:none!important">
                                <div class="doc-header">
                                    <p><i class="fa fa-file-word-o" aria-hidden="true"></i>LISTADO DOCUMENTACION ALTA -
                                        PROVEEDOR GRANOS VENDEDOR DIRECTO</p>
                                </div>
                                <div class="doc-description">
                                    Incluir este documento dentro del legajo, señalando la documentación que se envía.
                                    Por favor, completar todos los campos sin dejar espacios en blanco.
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Modelo de carta datanet.doc?a={{a}}" target="_blank"
                                style="text-decoration:none!important">
                                <div class="doc-header">
                                    <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Modelo de carta datanet</p>
                                </div>
                                <div class="doc-description">
                                    Es requisito para el pago completar la carta con los datos de la cuenta informada en
                                    el registro fiscal de operadores de granos (Cuenta AFIP). Puede presentarse otra
                                    cuenta para transferir el pago correspondiente a la mercadería. La firma debe ser
                                    certificada por banco o escribano y en original.
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/GMP MOA.pdf?a={{a}}" target="_blank"
                                style="text-decoration:none!important">
                                <div class="doc-header no-border">
                                    <p><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Carta de garantía</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Legajos Molinos Agro S.A..pdf?a={{a}}" target="_blank"
                                style="text-decoration:none!important">
                                <div class="doc-header no-border">
                                    <p><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Legajos Molinos Agro S.A.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Criterios de Retención MOA.pdf?a={{a}}" target="_blank"
                                style="text-decoration:none!important">
                                <div class="doc-header">
                                    <p><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Criterio de Retenci&oacute;n
                                    </p>
                                </div>
                                <div class="doc-description">
                                    Se detallan los criterios de retención con los que opera Molinos Agro
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/CodigoDeConductaParaProveedoresMOA.pdf?a={{a}}"
                                target="_blank" style="text-decoration:none!important">
                                <div class="doc-header no-border">
                                    <p><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Código de Conducta para
                                        Proveedores</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row myRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 titulo">
                        <title-caps class="blue">Cesiones de pago y mercadería</title-caps>
                        <br>
                        <p>
                            Todos los documentos que se detallan a continuación deben ser presentados en una carta
                            documento o con firma certificada por escribano,
                            y entregados en cualquiera de nuestras oficinas a nombre de: Sector Materias Primas.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Requisitos de cesión de pago.pdf?a={{a}}" target="_blank"
                                style="text-decoration:none!important">
                                <div class="doc-header">
                                    <p><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Requisitos de cesión de pago
                                    </p>
                                </div>
                                <div class="doc-description">
                                    Se detallan los requisitos para presentar una solicitud de cesión de pago.
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Carta de cesión de pago.doc?a={{a}}" target="_blank"
                                style="text-decoration:none!important">
                                <div class="doc-header no-border">
                                    <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Carta de cesión de pago</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Carta de cesión de mercadería.doc?a={{a}}" target="_blank"
                                style="text-decoration:none!important">
                                <div class="doc-header no-border">
                                    <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Carta de cesión de mercadería
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Carta de notificación de cambio de cuenta.doc?a={{a}}"
                                target="_blank" style="text-decoration:none!important">
                                <div class="doc-header">
                                    <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Carta de notificación de
                                        cambio de cuenta</p>
                                </div>
                                <div class="doc-description">
                                    Se detallan los requisitos para presentar una solicitud de cesión de pago.
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Carta de notificación de anulación de cesión.doc?a={{a}}"
                                target="_blank" style="text-decoration:none!important">
                                <div class="doc-header">
                                    <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Carta de notificación de
                                        anulación de cesión</p>
                                </div>
                                <div class="doc-description">
                                    Es indispensable presentarla en el caso de querer dejar sin efecto la notificación
                                    de cesión.
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row myRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 titulo">
                        <title-caps class="blue">Certificado de depósito y carta de garantía</title-caps>
                        <br>
                        <p>
                            Todos los documentos que se detallan a continuación deben ser presentados en una carta
                            documento o con firma certificada por escribano,
                            y entregados en cualquiera de nuestras oficinas a nombre de: Sector Materias Primas.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Carta de certificado de deposito.doc?a={{a}}" target="_blank"
                                style="text-decoration:none!important">
                                <div class="doc-header no-border">
                                    <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Carta de certificado de
                                        deposito</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Carta de garantía.doc?a={{a}}" target="_blank"
                                style="text-decoration:none!important">
                                <div class="doc-header no-border">
                                    <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Carta de garantía</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row myRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 titulo">
                        <title-caps class="blue"> Tarifas de servicios de Molinos Agro S.A.</title-caps>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Tarifas de secada y zaranda.pdf?a={{a}}" target="_blank"
                                style="text-decoration:none!important">
                                <div class="doc-header no-border">
                                    <p><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Tarifas de secada y zaranda
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row myRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 titulo">
                        <title-caps class="blue"> Instructivos</title-caps>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="documento">
                            <a href="../../../Documentacion/Instructivo - Pago de Tasa Municipal con Mercado Pago.pdf?a={{a}}"
                                target="_blank" style="text-decoration:none!important">
                                <div class="doc-header no-border">
                                    <p>
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Pago de Tasa Municipal con
                                        Mercado Pago
                                    </p>
                                </div>
                            </a>
                            <a href="https://b2cmoagro.blob.core.windows.net/moaopublic/INSTRUCTIVO%20CARGA%20DE%20CONTRATO%20-%20CORREDOR.pdf?a={{a}}"
                                target="_blank" style="text-decoration:none!important">
                                <div class="doc-header no-border">
                                    <p>
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Carga de Contrato - Corredor
                                    </p>
                                </div>
                            </a>
                            <a href="https://b2cmoagro.blob.core.windows.net/moaopublic/INSTRUCTIVO%20CARGA%20DE%20CONTRATO%20-%20DIRECTO.pdf?a={{a}}"
                                target="_blank" style="text-decoration:none!important">
                                <div class="doc-header no-border">
                                    <p>
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Carga de Contrato - Directo
                                    </p>
                                </div>
                            </a>
                            <a href="https://b2cmoagro.blob.core.windows.net/moaopublic/INDUCCION_CONTRATISTAS_MEDIA.mp4?a={{a}}"
                                target="_blank" style="text-decoration:none!important">
                                <div class="doc-header no-border">
                                    <p>
                                        <i class="fa fa-video-camera" aria-hidden="true"></i>Inducción de Seguridad
                                        Higiene y
                                        Medio Ambiente de MOA
                                    </p>
                                </div>
                            </a>
                            <a href="https://b2cmoagro.blob.core.windows.net/moaopublic/Manual para Empresas Contratistas MOA.pdf?a={{a}}"
                                target="_blank" style="text-decoration:none!important">
                                <div class="doc-header no-border">
                                    <p>
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Manual de Seguridad Higiene y
                                        Medio Ambiente
                                    </p>
                                </div>
                            </a>
                            <a href="https://b2cmoagro.blob.core.windows.net/moaopublic/Manual de Usuario Autogestión Certificaciones.docx?a={{a}}"
                                target="_blank" style="text-decoration:none!important">
                                <div class="doc-header no-border">
                                    <p>
                                        <i class="fa fa-file-word-o" aria-hidden="true"></i>Manual de Certificación de
                                        Servicios
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End CONTENT-->
</div>