<div *ngIf="showNews">
    <div class="col-xs-12 col-md-12 titleNovedad">
        <strong>¡Bienvenido {{nombre}}!</strong>
    </div>
    <div class="col-xs-12 col-md-12 novedadContainer" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <div class="d-flex">
            <div *ngIf="!enableIndividualNews" class="beforeArrow">
                <i class="fa fa-caret-left btnPrevious" *ngIf="showPreviousButton" (click)="previousNews()"></i>
            </div>

            <div *ngIf="enableIndividualNews" class="beforeArrow-individual">
                <i class="fa fa-caret-left btnPrevious" *ngIf="showPreviousButton" (click)="previousNews()"></i>
            </div>

            <div class="center-card">
                <div *ngFor="let notificacion of newCurrent; let i = index" [@efecto] class="card-group" [ngClass]="{'new-b': !notificacionLeida[notificacion.Id], 'viewed-b': notificacionLeida[notificacion.Id]}">
                    <div class="card-header">

                        <div class="w-card">
                            <a [ngClass]="{'btn-hide': notificacionLeida[notificacion.Id]}" class="btn btn-primary new-label">Nuevo</a>
                            <p class="text-date">{{notificacion?.FechaInicio.split(" ")[0] }}</p>
                        </div>

                        <div>
                            <div *ngFor="let adjunto of notificacion.ArchivosAdjuntos" class="w-card">
                                <div *ngIf="adjunto.AdjuntoTipo == 'previsualizacion'">
                                    <img class="b-image imagenPrevisualizacion" id="imagePrevisualization" [src]="convertImage(adjunto.AdjuntoContenido)" alt="Imagen">
                                </div>
                            </div>
                        </div>
                    </div>

                    <app-modal-notificaciones #myModal id="openModalHiddenButton" [notificacion]="notificacionModal" [adjunto]="adjuntoModal"></app-modal-notificaciones>

                    <div class="card-body">
                        <h5 class="card-title text-title">{{notificacion?.Nombre || ""}}</h5>
                        <p class="card-text text-message" [innerHTML]="notificacion?.Mensaje || ''"></p>
                    </div>

                    <a class="btn btn-primary read-button" (click)="openModalNovedad(notificacion.Id)" [ngClass]="{'new-button': !notificacionLeida[notificacion.Id], 'viewed-button': notificacionLeida[notificacion.Id] }">
                        {{ notificacionLeida[notificacion.Id] ? 'Volver a leer' : 'Leer' }}
                    </a>

                </div>
            </div>

            <div class="nextArrow">
                <i class="fa fa-caret-right btnNext" *ngIf="showNextButton" (click)="nextNews()"></i>
            </div>
        </div>

        <div class="pointsContainer">
            <span *ngFor="let point of pointsArray; let i = index"
                  class="point"
                  [ngClass]="{ 'active': i === selectedPoint }"
                  (click)="changePage(i)"></span>
        </div>
    </div>

</div>