.titleNovedad {
    padding: 0px 0px 0px 7%;
    font-size: 30px;
}

.novedadContainer {
    display: block;
    width: 100%;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-available;
}

strong {
    color: #3f4845;
}

.btnNext,
.btnPrevious {
    font-size: 45px;
    align-items: center;
    height: 100%;
}

.beforeArrow {
    float: left;
    width: 6%;
}

.beforeArrow-individual {
    float: left;
    width: 10%;
    position: relative;
    left: -19%;
}

.nextArrow {
    float: right;
    width: 6%;
    text-align: right;
}

.text-title {
    height: auto;
    font-family: "Roboto Condensed", Arial, sans-serif;
    color: #3f4845;
    white-space: normal;
    overflow: visible;
    word-wrap: break-word;
}

.read-button {
    width: 100%;
    font-family: "Roboto Condensed", Arial, sans-serif;
}

.viewed-button {
    border: 2px solid #158e3eed;
    color: #1f8241ed;
    background-color: #ffffffb3;
    padding: 5px;
}

.new-button {
    background-color: #1f8241ed;
    color: white;
    border-color: #1f8241ed;
    padding: 5px;
}

.new-label {
    background-color: #2c2675ed;
    width: 80%;
    font-family: "Roboto Condensed", Arial, sans-serif;
    max-width: 140px;
    &:hover

{
    cursor: default !important;
}

}

.text-date {
    font-family: "Roboto Condensed", Arial, sans-serif;
    color: #3f4845;
}

.btn-hide {
    visibility: hidden;
}


.card-w-icon {
    width: 50%;
}
  
.card-w-no-icon {
    width: 100%;
}

.card-image {
    height: 100px;
}
.card-image-individual {
    height: 100px;   
    width: fit-content;
}

.card-no-image-individual {
    height: 100px;
    width: 100% !important;
}


.card-text {
    height: 74px;
    display: block;
}

.text-message {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-family: "Roboto Condensed", Arial, sans-serif;
    color: #3f4845;
}




.read-button-individual {

    width: 100%;
    font-family: "Roboto Condensed", Arial, sans-serif;
    color: #3f4845;

}

.w-card {
    width: 52%;
}

.card-group {
    width: 100% !important;
    padding: 22px;
    margin: 6px;
    border-radius: 10px;
    height: 270px;
    display: block;
    background-color: #ffffffb3;
    max-width: 40%;
}

.new-b {
    border: 2px solid #158e3eed;
}

.viewed-b {
    border: 2px solid #959595;
}

.center-card {
    display: contents;
}

.b-image {
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    border-width: 0;
}

.imagenPrevisualizacion {
  /*  object-fit: cover;*/
    height: 55px;
    width: 55px;
}


.imagenPrevisualizacion-individual {
    height: 220px;
    width: 226px;
    position: absolute;
    right: 29%;

}


.card-header {
    display: flex;
    justify-content: space-between;
}


.card-header-individual {
    display: flex;

    justify-content: space-between;
}

h5 {
    font-size: 18px;
}

.pointsContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #ccc;
    cursor: pointer;
}

    .point.active {
        background-color: #007bff;
    }

@media (max-width: 4000px) {
    .card-group {
        width: 20% !important;
    }
}

@media (max-width: 3000px) {

    .card-group {
        width: 25% !important;
    }
}

@media (max-width: 2500px) {
    .card-group {
        width: 35% !important;
    }
}

@media (max-width: 2000px) {

    .card-group {
        width: 50% !important;
    }
}


@media (max-width: 576px) {
    .novedadContainer {
        flex-direction: column;
    }
}
