<div *ngIf="mostrarNotificaciones">
  <div class="col-xs-12 col-md-12 tituloNotificacion">
    <strong>¡Bienvenido!</strong>
  </div>
  <div class="col-xs-12 col-md-12 subtituloNotificacion">
    Hoy tienes una nueva noticia.
  </div>

  <div class="col-xs-12 col-md-12 notificacionContainer">

    <div class="row">
      <div class="col-xs-12 col-md-9 container notificacionMensaje">
        <div class="divAnterior">
          <i class="fa fa-caret-left btnPrevious" (click)="notificacionAnterior()"></i>
        </div>
        <div class="divMensaje">
          {{notificacionActual.Mensaje}}
        </div>
        <div class="divSiguiente">
          <i class="fa fa-caret-right btnNext" (click)="siguienteNotificacion()"></i>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 notificacionContenedorBotones">
        <div class="">
          <a *ngIf="notificacionActual.LinkAdjunto!=''" href="{{notificacionActual.LinkAdjunto}}" target="blank"
            class="button btn-custom btn-guardar btn-mediano">VER MAS</a>
        </div>
        <div class="">
          <button class="btn-custom btn-cerrar btn-mediano" (click)="cerrarNotificaciones()"> CERRAR </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="divPaddingFinal">

</div>