<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 ">Contacto</div>
        </div>
        <!--End Title-->
        <!-- Form-->
        <div class="row myRow firstSection mySearch cargaDeDatos">
            <div class="rounded shadow">
                <div class="row myRow cargaDeDatosFields cargaDeDatosForm">
                    <div class="col-xs-12 col-sm-6">
                        Proveedor: *
                        <div class="styled-select ">
                            <input type="search" [(ngModel)]="proveedor" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        Nombre: *
                        <div class="styled-select ">
                            <input type="search" [(ngModel)]="nombre" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        Email: *
                        <div class="styled-select ">
                            <input type="search" [(ngModel)]="email" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        Tel&eacute;fono:
                        <div class="styled-select">
                            <input type="search" [(ngModel)]="telefono" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="col-xs-12 col-sm-4">
                            Categor&iacute;a: *
                            <div class="styled-select perfiles-select">
                                <dropdown #dropdown_categoria [tipoDropdown]="'selectInput'" (select)="setCategoria($event)" [options]="categoriaOptions"></dropdown>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-xs-12 col-sm-4" *ngIf="camposAdicionales">
                        Raz&oacute;n Social: *
                        <div class="styled-select">
                            <input type="search" [(ngModel)]="razonSocial" name="razonSocial" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4" *ngIf="camposAdicionales">
                        Nombre Vendedor: *
                        <div class="styled-select">
                            <input type="search" [(ngModel)]="nombreVendedor" name="nombreVendedor" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4" *ngIf="camposAdicionales">
                        Contrato: *
                        <div class="styled-select">
                            <input type="search" [(ngModel)]="contrato" name="contrato" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-2" *ngIf="camposAdicionales">
                        CUIT: *
                        <div class="styled-select">
                            <input type="search" [(ngModel)]="cuit" name="cuit" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4" *ngIf="camposAdicionales">
                        Comprobante: *
                        <div class="styled-select">
                            <input type="search" [(ngModel)]="comprobante" name="comprobante" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-2" *ngIf="camposAdicionales">
                        Fecha Pago: *
                        <div class="styled-select">
                            <div class="input-group date form_datetime" data-provide="datepicker" data-date="" data-date-format="yyyy-MM-dd" data-link-field="dtp_fecha_pago">
                                <input type="text" id="noCursor" readonly />
                                <span class="input-group-addon"><span class="fa fa-calendar "></span></span>
                            </div>
                            <input #dtp_fecha_pago id="dtp_fecha_pago" class="dtp_fecha_pago" value={{fechaPago}} />
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-2" *ngIf="camposAdicionales">
                        Importe: *
                        <div class="styled-select">
                            <input type="search" [(ngModel)]="importe" name="importe" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-2" *ngIf="camposAdicionales">
                        Impuesto: *
                        <div class="styled-select">
                            <input type="search" [(ngModel)]="impuesto" name="impuesto" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4" *ngIf="camposAdicionales">
                        Inscripci&oacute;n: *
                        <div class="styled-select">
                            <input type="search" [(ngModel)]="inscripcion" name="inscripcion" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4" *ngIf="camposAdicionales">
                        Motivo: *
                        <div class="styled-select">
                            <input type="search" [(ngModel)]="motivo" name="motivo" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        Comentario: *
                        <textarea type="search" [(ngModel)]="comentario" class="fourRounded" placeholder="" aria-controls="tableModal" rows="8"></textarea>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        Archivo:
                        <div class="styled-select">
                            <input #fileInput type="file" (change)="cargarArchivo($event)" placeholder="Cargar Archivo" [(ngModel)]="inputFile">
                        </div>
                        <br />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4">
                        <re-captcha #recaptchaComponent (captchaResponse)="handleCorrectCaptcha($event)" site_key="6LcuYm4UAAAAAIoEEAYe5mrkPUNemcT4blHgjide"></re-captcha>
                    </div> 
                </div>
                <hr>
                <div class="row myRow cargaDeDatosBtn">
                    <div class="col-xs-12 col-sm-3 col-sm-offset-9">
                        <spinner-small></spinner-small>
                        <a (click)="sendContactoMail()" href="#" style="text-decoration:none!important" *ngIf="!this.spinnerSmallComponent.visible">
                            <div class="btnSection animate">Enviar <span class="fa  fa-play "></span></div>
                        </a>
                    </div>
                </div>
            </div>
            <spinner></spinner>
        </div>


        <!-- END form-->
    </section>
    <!--End CONTENT-->
</div>