<div class="content-wraper">
    <!-- CONTENT-->

    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 "><strong>Formulario Solicitud de alta No granos</strong> </div>
        </div>
        <!--End Title-->
        <mensaje></mensaje>
        <div class="row myRow firstSection mySearch">
            <div class="col-xs-12 col-md-12 rounded shadow animate">
                <div class="col-xs-12 col-md-12 search-header">
                    <title-caps>Datos Generales</title-caps>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    CUIT:
                    <div class="styled-select">
                        <input type="text" class="form-control" placeholder="" mask="00-00000000-0" [(ngModel)]="CUIT"
                            (change)="obtenerRazonSocial()" maxlength="13"
                            [readonly]="readonlyCUIT ? 'readonly' : null" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Razón Social:
                    <div class="styled-select">
                        <input type="text" class="" placeholder="" [(ngModel)]="RazonSocial" maxlength="100"
                            [readonly]="readonlyRazonSocial ? 'readonly' : null">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6">
                    Email:
                    <div class="styled-select">
                        <input type="text" class="form-control" placeholder="" [(ngModel)]="Email" maxlength="100"
                            [readonly]="readonlyEmail ? 'readonly' : null" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Telefono:
                    <div class="styled-select">
                        <input type="text" class="" placeholder="" [(ngModel)]="Telefono" maxlength="20">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Rubro proveedor:
                    <div class="styled-select">
                        <select [(ngModel)]="IdRubro" (change)="esObligatorioFlete()">
                            <option value="0" selected>Seleccione uno</option>
                            <option *ngFor="let x of rubros" value="{{x.Id}}">{{x.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Condición de Pago:
                    <div class="styled-select">
                        <input type="text" class="" placeholder="" [(ngModel)]="condicionDePago" maxlength="100">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Servicio prestado a Molinos:
                    <div class="styled-select">
                        <input type="text" class="" placeholder="" [(ngModel)]="servicioPrestado" maxlength="100">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Organización de Compra:
                    <div class="styled-select">
                        <input type="text" class="" placeholder="" [(ngModel)]="organizacionDeCompra" maxlength="100">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Razón de elección del proveedor:
                    <div class="styled-select">
                        <input type="text" class="" placeholder="" [(ngModel)]="razonDeEleccion" maxlength="200">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Estimado facturación anual a MOA ($):
                    <div class="styled-select">
                        <input type="text" class="" placeholder="" numeric decimals="0" [(ngModel)]="facturacionAnual"
                            maxlength="12" (change)="calcularFacturacion()">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <input type="checkbox" style="margin-right: 5px;" id="RealizarAnalisisNOSIS" placeholder=""
                        [disabled]="nosisObligatorio" [(ngModel)]="RealizarAnalisisNOSIS">
                    <label for="RealizarAnalisisNOSIS">Realizar Analisis NOSIS</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <input type="checkbox" style="margin-right: 5px;" id="RequiereVerificacionCompras"
                        [disabled]="ingresoAPlanta" class="checkboxMargin" placeholder=""
                        [(ngModel)]="RequiereVerificacionCompras">
                    <label for="RequiereVerificacionCompras">Requiere Verificación de compras</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <input type="checkbox" style="margin-right: 5px;" id="ingresoAPlanta" class="checkboxMargin"
                        placeholder="" [(ngModel)]="ingresoAPlanta" (change)="verificarIngresoAPlanta()">
                    <label for="ingresoAPlanta">Proveedor con ingreso a planta</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <input type="checkbox" style="margin-right: 5px;" id="altaInterna" class="checkboxMargin"
                        placeholder="" [(ngModel)]="altaInterna" [disabled]="!puedeAltaInterna">
                    <label for="altaInterna"> Alta interna</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <input type="checkbox" style="margin-right: 5px;" id="siperObligatorio" class="checkboxMargin"
                        placeholder="" [(ngModel)]="siperObligatorio" [disabled]="siperDisabled">
                    <label for="siperObligatorio"> SIPER obligatorio</label>
                </div>



                <div class="col-xs-12 col-sm-12 col-md-12">
                    Observaciones para el Proveedor:
                    <div class="styled-select">
                        <textarea class="" placeholder="" [(ngModel)]="observacionesParaElProveedor"></textarea>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    Observaciones internas:
                    <div class="styled-select">
                        <textarea class="" placeholder="" [(ngModel)]="observacionInterna"></textarea>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <input type="button" class="btn btn-custom btn-add" placeholder="" value="Grabar" (click)="grabar()"
                        *ngIf="!spinnerComponent.visible">
                    <input type="button" class="btn btn-custom btn-remove" placeholder="" value="Rechazar"
                        (click)="rechazar()" *ngIf="!spinnerComponent.visible && proveedorId>0">
                    <spinner></spinner>
                </div>
            </div>
        </div>


        <!-- END form-->
    </section>
    <!--End CONTENT-->
</div>

<button type="button" style="display:none" id="openModalNotificacion" data-toggle="modal"
    data-target="#modalNotificaci&oacute;n"></button>
<div class="modal fade fade-complete" id="modalNotificaci&oacute;n" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"
                    onClick="abrirModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Proveedor cargado correctamente</h4>
            </div>
            <div class="modal-body modal-notificacion">
                <label>{{mensajeSuccess}}</label>
                <div class="modal-footer">
                    <button (click)="redirigir()" class="btn-custom btn-guardar btn-grande">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>