<p-sidebar visible="true" position="bottom" [modal]="false" [showCloseIcon]="false" dismissible="false" appendTo="body">
  <div class="row">
      <div class="col-xs-1 col-md-1">
      </div>
      <div class="col-xs-3 col-md-3" style="text-align: center;">
          <!-- <button class="btn btn-danger" (click)="cancelarSolp()"><i class="fa fa-reply"></i>&nbsp; CANCELAR</button> -->
          <button class="btn btn-secondary botonesCompras" (click)="onCancelarSolp()">
              <i class="fa fa-arrow-left"></i>&nbsp; VOLVER
          </button>&nbsp;
      </div>
      <div class="col-xs-8 col-md-8">
          <div class="col-xs-2 col-md-2" style="margin: 0; padding: 0; text-align: right;">
              <button class="btn btn-secondary botonesCompras" *ngIf="pasoAnterior().paso" (click)="onPasoAnterior()">
                  <i class="fa fa-arrow-left"></i>&nbsp;
                  {{pasoAnterior().descripcion}}
              </button>&nbsp;
          </div>
          <div class="col-xs-2 col-md-2" style="margin: 0; padding: 0; text-align: center;">
              <button class="btn btn-primary botonesComprasColor" [disabled]="disabledSave" (click)="onGuardar()">GUARDAR</button>&nbsp;
          </div>
          <div class="col-xs-2 col-md-2" style="margin: 0; padding: 0;">
              <button class="btn btn-secondary botonesCompras" *ngIf="pasoSiguiente().paso" [disabled]="disabledSave" (click)="onPasoSiguiente()">
                  {{pasoSiguiente().descripcion}}
                  &nbsp;<i class="fa fa-arrow-right"></i>
              </button>
              <button class="btn btn-success botonesComprasColor" *ngIf="!pasoSiguiente().paso" (click)="onShowFinalizarDialog()">
                  {{pasoSiguiente().descripcion}}
              </button>
          </div>
          <div class="col-xs-1 col-md-1">
          </div>
          <div class="col-xs-4 col-md-4">
              <div class="col-xs-6 col-md-6" style="text-align: left;">
                  <button class="btn btn-primary botonesComprasColor" *ngIf="pasoActual.Preview" (click)="onPreview()">PREVIEW</button>&nbsp;
              </div>
              <div class="col-xs-6 col-md-6" style="text-align: right;">
              </div>
          </div>
      </div>
  </div>
</p-sidebar>