<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 ">ABM Commodities</div>
        </div>
        <!--End Title-->
        <!-- Form-->

        <spinner></spinner>
        <mensaje></mensaje>

        <div class="row myRow firstSection mySearch cargaDeDatos">
            <div class="rounded shadow">
                <div class="row myRow cargaDeDatosFields cargaDeDatosForm">

                    <div class="col-xs-12 col-sm-12">
                        Commodity:
                        <div class="styled-select ">
                            <dropdown [tipoDropdown]="'selectInput'" [options]="filtroCommoditie" (select)="setFiltroCommoditie($event)"></dropdown>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        Descripci&oacute;n:
                        <div class="styled-select ">
                            <input type="search" [(ngModel)]="descripcion" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        Material SAP:
                        <div class="styled-select ">
                            <input type="search" [(ngModel)]="materialSAP" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        Almacen Origen:
                        <div class="styled-select ">
                            <input type="search" [(ngModel)]="almacenOrigen" class="fourRounded" placeholder="" aria-controls="tableModal">
                        </div>
                    </div>
                </div>

                <hr>
                <!--<div class="row myRow cargaDeDatosBtn" *ngIf="visibleButton">-->
                <div class="row myRow cargaDeDatosBtn">
                    <div class="col-xs-4 col-sm-4">
                        <a (click)="guardarCommodity()" href="#" style="text-decoration:none!important">
                            <div class="btnSection animate">Guardar Nuevo <span class="fa  fa-play "></span></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <a (click)="actualizarCommodity()" href="#" style="text-decoration:none!important">
                            <div class="btnSection animate">Actualizar <span class="fa  fa-play "></span></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <a (click)="borrarCommodity()" href="#" style="text-decoration:none!important">
                            <div class="btnSection animate">Borrar <span class="fa  fa-play "></span></div>
                        </a>
                    </div>
                </div>
            </div>

            <spinner></spinner>
            <mensaje></mensaje>
        </div>


        <!-- END form-->
    </section>
    <!--End CONTENT-->
</div>

