<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 ">Aduana: <strong>C&aacute;maras Consolidaci&oacute;n</strong> </div>
        </div>
        <!--End Title-->
        <!--Search-->
        <div class="row myRow firstSection mySearch">
            <div class="col-xs-12 col-md-12 rounded shadow animate cargaDeDatos">
                <div class="col-md-2">
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.21/jpg/image.jpg', 'BZA-CABEZAL')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> BZA-CABEZAL</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.20/jpg/image.jpg', 'BZA-DEL')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> BZA-DEL</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.22/jpg/image.jpg', 'BZA-TRAS')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> BZA-TRAS</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.27/jpg/image.jpg', 'CALLE SALIDA HARINA')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CALLE SALIDA HARINA</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.32/jpg/image.jpg', 'CALLE SALIDA HIDRAULICA')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CALLE SALIDA HIDRAULICA</a></p>
                </div>
                <div class="col-md-2">
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.28/jpg/image.jpg', 'CALLE SALIDA PELLETS')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CALLE SALIDA PELLETS</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.33/jpg/image.jpg', 'CALLE TARA')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CALLE TARA</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.31/jpg/image.jpg', 'CALLE TARA CONT')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CALLE TARA CONT</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.35/jpg/image.jpg', 'CAMIONES PRECINTADOS')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CAMIONES PRECINTADOS</a></p>
                </div>
                <div class="col-md-2">
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.50/jpg/image.jpg', 'CARGA ACEITE 1')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CARGA ACEITE 1</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.51/jpg/image.jpg', 'CARGA ACEITE 2')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CARGA ACEITE 2</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.52/jpg/image.jpg', 'CARGA ACEITE 3')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CARGA ACEITE 3</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.53/jpg/image.jpg', 'CARGA ACEITE 4')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CARGA ACEITE 4</a></p>
                </div>
                <div class="col-md-2">
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.54/jpg/image.jpg', 'CARGA ACEITE 5')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CARGA ACEITE 5</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.55/jpg/image.jpg', 'CARGA ACEITE 6')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CARGA ACEITE 6</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.56/jpg/image.jpg', 'CARGA ACEITE 7')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CARGA ACEITE 7</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.24/jpg/image.jpg', 'CARGA-HARINA-ALTA')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CARGA-HARINA-ALTA</a></p>
                </div>
                <div class="col-md-2">
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.26/jpg/image.jpg', 'CARGA-HARINA-BAJA')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CARGA-HARINA-BAJA</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.25/jpg/image.jpg', 'CARGA-PELLET-ALTA')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CARGA-PELLET-ALTA</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.23/jpg/image.jpg', 'CARGA-PELLET-BAJA')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CARGA-PELLET-BAJA</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.36/jpg/image.jpg', 'CURVA TARA')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> CURVA TARA</a></p>
                </div>
                <div class="col-md-2">
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.34/jpg/image.jpg', 'ENTRADA BZA 3')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> ENTRADA BZA 3</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.40/jpg/image.jpg', 'PLAYA INTERNA 1')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> PLAYA INTERNA 1</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.41/jpg/image.jpg', 'PLAYA INTERNA 2')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> PLAYA INTERNA 2</a></p>
                    <p><a class="camara" (click)="cambiarCamara('http://10.10.115.42/jpg/image.jpg', 'PLAYA INTERNA 3')" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i> PLAYA INTERNA 3</a></p>
                </div>
            </div>
        </div>
        <!-- End Search-->
        <!-- Tables-->

        <div class="row myRow">
            <div class="clearfix myTables">
                <div>
                    <div>Cámara actual: <span class="camaraActual">{{camaraActualNombre}}</span></div>
                </div>
                <mensaje></mensaje>
                <spinner></spinner>
                <div>
                    <img class="imgCtrl" [src]="camaraImagen" />
                </div>
            </div>
        </div>
        <!-- END tables-->
    </section>
    <!--End CONTENT-->
</div>