<div class="content-wraper msf">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 ">Factura</div>

        </div>
        <!--End Title-->
        <!--Search-->
        <div class="row myRow firstSection mySearch cargaDeDatos">
            <div *ngFor="let resultado of resultados">
                <div class="alert"
                     [ngClass]="{'alert-success': resultado.IsValid, 'alert-danger': !resultado.IsValid}"
                     role="alert">
                    <div *ngIf="mensajeIrAOC(resultado); else mensajeSimple">
                        <b>{{ resultado.FileName }}</b> - <b>{{ resultado.Message }} Si desea certificar hace click 
                                                              <a (click)="irACertificaciones(resultado.Value)" href="#">
                                                                  acá
                                                              </a>
                        </b>
                    </div>
                    <ng-template #mensajeSimple>
                        <b>{{ resultado.FileName }}</b> - <b>{{ resultado.Message }}</b>
                    </ng-template>
                </div>
            </div>

            <div class="col-xs-12 col-md-12 rounded shadow animate">
                <div class="col-xs-12 col-md-12 search-header">
                    <title-caps>Subida de PDF</title-caps>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Archivo:
                    <div class="styled-select">
                        <p-fileUpload #fileUpload [styles]="{'margin-left':'-13px; cursor: pointer;'}"  maxFileSize="10000000" 
                                      name="fileUploadPeticionDeOferta" auto="true" multiple="multiple"
                                      chooseLabel="Elegir archivos" [showUploadButton]=false [showCancelButton]=false
                                      [customUpload]="true" (uploadHandler)="uploadHandler($event)" (onRemove)="removeFile($event)">
                        </p-fileUpload>
                    </div>
                    <br />
                </div>
                <div class="row myRow">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <re-captcha #recaptchaComponent (captchaResponse)="handleCorrectCaptcha($event)"
                                    site_key="6LcuYm4UAAAAAIoEEAYe5mrkPUNemcT4blHgjide"></re-captcha>
                    </div>
                </div>
                <div *ngIf="certificaciones?.length > 0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div *ngFor="let grupo of agrupadasPorArchivo">
                        <h1>{{ grupo.nombreArchivo }}</h1>

                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>Número OC</th>
                                    <th>Número Certificación</th>
                                    <th>Importe Certificación</th>
                                    <th>Moneda</th>
                                    <th>Archivo Adjunto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let certificacion of grupo.items">
                                    <td>
                                        <input type="checkbox"
                                               (change)="onCheckCertificacion(certificacion)">
                                    </td>
                                    <td>{{ certificacion.NRO_OC }}</td>
                                    <td>{{ certificacion.NRO_Certificacion }}</td>
                                    <td>{{ formatPrice(certificacion.Importe) }}</td>
                                    <td>{{ certificacion.Moneda }}</td>
                                    <td *ngIf="certificacion.Archivo.length !== 0">
                                        <div class="filesColumn">
                                            <a *ngFor="let archivo of certificacion.Archivo"
                                               (click)="descargarDocumentoAdjunto(archivo.Id)">
                                                {{ obtenerNombreDeArchivo(archivo.Ruta) }}
                                            </a>
                                        </div>
                                    </td>
                                    <td *ngIf="certificacion.Archivo.length == 0"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="archivos?.length > 0" class="row myRow cargaDeDatosBtn">
                    <spinner-small></spinner-small>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <button pButton
                                class="btn-nuevoPliego"
                                type="button"
                                label="Enviar"
                                (click)="obtenerCertificaciones()"
                                [disabled]="certificaciones.length > 0">
                        </button>
                    </div>
                    <div *ngIf="certificaciones.length > 0" class="col-xs-12 col-sm-6 col-md-3">
                        <button pButton
                                class="btn-nuevoPliego"
                                type="button"
                                label="Guardar selección"
                                (click)="registrarCertificaciones()"
                                [disabled]="alMenosUnaSeleccionadaPorGrupo()">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End CONTENT-->
</div>