<!-- Row grupo de comras -->
<form [formGroup]="formularioActual">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margenInput">
            <div class="margenInput">
                Grupo de compras {{ mostrarAsterisco('selectGrupoCompras') }}
                <p-autoComplete formControlName="selectGrupoCompras" [(ngModel)]="model.posicionActual.selectGrupoCompras" [suggestions]="grupoCompras" dataKey="Id" ariaLabel="CodigoDescripcion" field="CodigoDescripcion" appendTo="body" [autoHighlight]="true" emptyMessage="Ningún grupo de compras encontrado"
                    [minLength]="1" placeholder="Seleccionar" [dropdown]="true" [forceSelection]="true" (completeMethod)="buscarCombo($event, 'GRUPO COMPRAS')" (onFocus)=" $event.target.select()">
                </p-autoComplete>

                <div *ngIf="mostrarError('selectGrupoCompras')">
                    <p class="text-danger">campo obligatorio</p>
                </div>
            </div>

            <div class="margenInput">
                Grupo de art&iacute;culo*
                <p-autoComplete formControlName="selectArticuloCompras" [(ngModel)]="model.posicionActual.selectArticuloCompras" [suggestions]="articuloCompras" dataKey="Id" ariaLabel="CodigoDescripcion" field="CodigoDescripcion" appendTo="body" [autoHighlight]="true"
                    emptyMessage="Ningún articulo de compras encontrado" [minLength]="1" placeholder="Seleccionar" [dropdown]="true" [forceSelection]="true" (completeMethod)="buscarCombo($event, 'ARTICULO COMPRAS')" (onFocus)=" $event.target.select()">
                </p-autoComplete>
                <div *ngIf="mostrarError('selectArticuloCompras')">
                    <p class="text-danger">campo obligatorio</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margenInput">
            <div class="margenInput">
                Solicitante*
                <input pInputText class="styled-select1 widthAutocomplete p-inputtext-lg" [(ngModel)]="model.posicionActual.selectSolicitanteCompras" formControlName="selectSolicitanteCompras" name="selectSolicitanteCompras" id="selectSolicitanteCompras" placeholder=""
                    rows="1" />
                <div *ngIf="mostrarError('selectSolicitanteCompras')">
                    <p class="text-danger">campo obligatorio</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margenInput">
            <div class="margenInput">
                N° Necesidad
                <input pInputText class="styled-select1 widthAutocomplete p-inputtext-lg" [(ngModel)]="model.posicionActual.necesidadCompras" formControlName="necesidadCompras" name="necesidadCompras" id="necesidadCompras" placeholder="" rows="1" />
            </div>
        </div>
    </div>
  </div>
</form>  
<!-- End Row grupo de comras -->