<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 ">Aduana: <strong>C&aacute;maras Muelle</strong> </div>
        </div>
        <!--End Title-->
        <!--Search-->
        <div class="row  myRow firstSection mySearch">
            En caso que la ventana para visualizar las c&aacute;maras no se haya abierto, hacer <a (click)="abrirCamara()" href="#">click aqui</a>.
        </div>
    </section>
</div>
