<div class="content-wraper">
    <div class="row titleSection">Alta Proveedores</div>
    <mensaje #msjEmpresaGranos></mensaje>
    <spinner-small></spinner-small>


    <div class="row myRow firstSection roundedInfo" id="container">
        <!-- Modal informe comercial-->

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"
                            onClick="abrirModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Carta de presentación</h4>
                </div>
                <div class="modal-body">
                    <spinner-small #spinnerModal></spinner-small>
                    <div class="tab-pane" id="tab2">
                        <div class="formulario">
                            <div class="titulo">
                                Domicilio Actividad
                            </div>
                            <div class="formulario-campo">
                                <div class="col-xs-12 col-md-6">
                                    <div class="formulario-label">
                                        CUIT Vendedor
                                    </div>
                                    <div class="formulario-input">
                                        <input type="text" class="form-control"
                                               placeholder="CUIT Vendedor" [(ngModel)]="cartaPresentacion.cuitVendedor"
                                               maxlength="100" />
                                    </div>
                                </div>
                            </div>

                            <div class="formulario-campo">
                                <div class="col-xs-12 col-md-6">
                                    <div class="formulario-label">
                                        Antigüedad en la actividad
                                    </div>
                                    <div class="formulario-input">
                                        <input type="text" class="form-control"
                                               placeholder="Antigüedad en la actividad" [(ngModel)]="cartaPresentacion.antiguedadActividad"
                                               maxlength="100" />
                                    </div>
                                </div>
                            </div>

                            <div class="formulario-campo">
                                <div class="col-xs-12 col-md-6">
                                    <div class="formulario-label">
                                        Razón social vendedor
                                    </div>
                                    <div class="formulario-input">
                                        <input type="text" class="form-control"
                                               placeholder="Razón social vendedor" [(ngModel)]="cartaPresentacion.razonSocialVendedor"
                                               maxlength="100" />
                                    </div>
                                </div>
                            </div>

                            <div class="formulario-campo">
                                <div class="col-xs-12 col-md-6">
                                    <div class="formulario-label">
                                        Antecedes comerciales
                                    </div>
                                    <div class="formulario-input">
                                        <input type="text" class="form-control"
                                               placeholder="Antecedes comerciales" [(ngModel)]="cartaPresentacion.antecedentesComerciales"
                                               maxlength="100" />
                                    </div>
                                </div>
                            </div>

                            <div class="formulario-campo">
                                <div class="col-xs-12 col-md-6">
                                    <div class="formulario-label">
                                        Actividad
                                    </div>
                                    <div class="formulario-input">
                                        <select [(ngModel)]="cartaPresentacion.actividadId"
                                                class="dropdown-granos ng-pristine ng-valid ng-touched">
                                            <option value="1">Productor</option>
                                            <option value="2">Acopiador</option>
                                            <option value="3">Otros</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="formulario-campo">
                                <div class="col-xs-12 col-md-6">
                                    <div class="formulario-label">
                                        Mail de contacto
                                    </div>
                                    <div class="formulario-input">
                                        <input type="text" class="form-control"
                                               placeholder="Mail de contacto" [(ngModel)]="cartaPresentacion.mailContacto"
                                               maxlength="100" />
                                    </div>
                                </div>
                            </div>

                            <div class="formulario-campo">
                                <div class="col-xs-12 col-md-6">
                                    <div class="formulario-label">
                                        Telefono de contacto
                                    </div>
                                    <div class="formulario-input">
                                        <input type="text" class="form-control"
                                               placeholder="Telefono de contacto" [(ngModel)]="cartaPresentacion.telefonoContacto"
                                               maxlength="100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-12">
                                <p class="table-title">
                                    Campaña:
                                    <select name="{{campaniaActual}}" [(ngModel)]="campaniaActual"
                                            class="dropdown-granos">
                                        <option *ngFor="let camp of listaCampanias" value="{{camp.CampaniaIdActual}}">
                                            {{camp.CampaniaActual}}
                                        </option>
                                    </select>
                                </p>
                            </div>
                            <div>
                                <p class="table-title">Capacidad productiva</p>
                            </div>
                            <table class="table table-striped table-bordered table-custom">
                                <thead>
                                    <tr>
                                        <th>Grano</th>
                                        <th>Localidad</th>
                                        <th>Has</th>
                                        <th>TNs</th>
                                        <th>Condicion</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let field of cartaPresentacion.nuevosCampos; let i = index">
                                        <td width="140px">
                                            <div class="formulario-input">
                                                <select name="{{field.MaterialId}}" [(ngModel)]="field.MaterialId"
                                                        class="dropdown-granos">
                                                    <option *ngFor="let material of listaMateriales"
                                                            value="{{material.Id}}">
                                                        {{material.Descripcion}}
                                                    </option>
                                                </select>
                                                <input [(ngModel)]="field.CampaniaId" class="form-control" type="text"
                                                       value="0" name="{{field.CampaniaId}}" style="display:none;" />
                                            </div>
                                        </td>
                                        <td>
                                            <input [(ngModel)]="field.LocalidadId" class="form-control" type="hidden" style="font-weight: 100 !important;">

                                            <ng-autocomplete [data]="data" [searchKeyword]="keyword"
                                                             (selected)='selectEventCampo($event, i)'
                                                             [(ngModel)]="field.Localidad"
                                                             (inputChanged)='onChangeLocalidad($event)'
                                                             [itemTemplate]="itemTemplate" [notFoundText]="autocompleteNotFoundText"
                                                             [notFoundTemplate]="notFoundTemplate">
                                            </ng-autocomplete>

                                            <ng-template #itemTemplate let-item>
                                                <a [innerHTML]="item"></a>
                                            </ng-template>

                                            <ng-template #notFoundTemplate let-notFound>
                                                <div [innerHTML]="notFound"></div>
                                            </ng-template>
                                        </td>
                                        <td width="100px">
                                            <input [(ngModel)]="field.Hectareas" class="form-control" type="number"
                                                   name="{{field.Hectareas}}" />
                                        </td>
                                        <td width="100px">
                                            <input [(ngModel)]="field.Toneladas" class="form-control" type="number"
                                                   name="{{field.Toneladas}}" />
                                        </td>
                                        <td width="75px">
                                            <select [(ngModel)]="field.ArrendaPropia"
                                                    class="dropdown-granos ng-pristine ng-valid ng-touched">
                                                <option value="true">Propio</option>
                                                <option value="false">Alquilado</option>
                                            </select>
                                        </td>
                                        <td width="75px">
                                            <button class="btn-remove btn-custom" type="button"
                                                    (click)="borrarCampo(i)">
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                            <div class="btn-add-container">
                                <button class="btn-add btn-custom" type="button" (click)="agregarCampo()">
                                    Agregar
                                </button>

                            </div>
                        </div>

                        <!-- TABLA 2 -->
                        <div>
                            <div>
                                <p class="table-title">Capacidad planta</p>
                            </div>
                            <table class="table table-striped table-bordered table-custom">
                                <thead>
                                    <tr>
                                        <th>Localidad</th>
                                        <th>TNs</th>
                                        <th>Condición</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let acopio of cartaPresentacion.nuevosAcopios; let i = index">

                                        <td>
                                            <input [(ngModel)]="acopio.CampaniaID" class="form-control" type="text"
                                                   value="0" name="{{acopio.CampaniaID}}" style="display:none;" />

                                            <input [(ngModel)]="acopio.LocalidadID" class="form-control" type="hidden"
                                                   id="localidadalm_{{i}}" style="font-weight: 100 !important;">

                                            <ng-autocomplete [data]="localidades" [searchKeyword]="keyword"
                                                             (selected)='selectEventAcopio($event, i)'
                                                             [(ngModel)]="acopio.Localidad"
                                                             (inputChanged)='onChangeLocalidad($event)'
                                                             [itemTemplate]="itemTemplate" [notFoundText]="autocompleteNotFoundText"
                                                             [notFoundTemplate]="notFoundTemplate">
                                            </ng-autocomplete>

                                            <ng-template #itemTemplate let-item>
                                                <a [innerHTML]="item.Nombre"></a>
                                            </ng-template>

                                            <ng-template #notFoundTemplate let-notFound>
                                                <div [innerHTML]="notFound"></div>
                                            </ng-template>
                                        </td>
                                        <td width="100px">
                                            <input [(ngModel)]="acopio.Toneladas" class="form-control" type="number" />
                                        </td>
                                        <td width="75px">
                                            <select [(ngModel)]="acopio.ArrendaPropia"
                                                    class="dropdown-granos ng-pristine ng-valid ng-touched">
                                                <option value="true">Propio</option>
                                                <option value="false">Alquilado</option>
                                            </select>
                                        </td>
                                        <td width="75px">
                                            <button class="btn-remove btn-custom" type="button"
                                                    (click)="borrarAcopio(i)">
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="btn-add-container">
                                <button class="btn-add btn-custom" type="button" (click)="agregarAcopio()">
                                    Agregar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="formulario" style="width:100%;text-align: center;">
                        <div *ngIf="mensajeError != ''" class="formulario-input;">
                            <div class="alert alert-danger">
                                <i aria-hidden="true"
                                   class="fa fa-exclamation-triangle"></i>{{mensajeError}}
                            </div>
                        </div>
                        <div class="formulario-input">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <a class="btn btn-primary" id="CartaPresentacionDescargar"
                               (click)="generarCartaPresentacion()">Guardar y Descargar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal informe comercial-->
</div>
