.tablaInformacion {
    font-size: 18px;
    color: #707070;
    font-weight: 500;
}

.containerBotones > div {
    padding-bottom: 10px;
}

.semaforo {
    margin-bottom: -5px;
}

.px-4{
    padding-right: 2rem;
    padding-left: 2rem;
}

.fw-bold{
    font-weight: bold!important;
}
.fw-normal{
    font-weight: normal!important;
}
