.ui-calendar .ui-datepicker-buttonbar {
    display: flex;
    justify-content: center;
}

/* Ensure the button itself does not override the centering */
.center-clear-button {
    margin: 0 auto;
}

.center-today-button {
    margin: 0 auto;
}

.btn-style {
    color: #ffffff;
    background-color: #007ad9;
    border: 1px solid #007ad9;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.calendar-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
}

