.ui-calendar .ui-datepicker-buttonbar {
    display: flex;
    justify-content: center;
}

/* Ensure the button itself does not override the centering */
.center-clear-button {
    margin: 0 auto;
}

.center-today-button {
    margin: 0 auto;
}

.btn-style {
    color: #ffffff;
    background-color: #007ad9;
    border: 1px solid #007ad9;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.calendar-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
}

  .error-border {
    border: 2px solid red;
    box-shadow: 0 0 5px red;
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
/* Lista de sugerencias */
.suggestion-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  /* Elementos de la lista de sugerencias */
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #007ad9;
    color: white;
  }
  
  .invalid-input {
    border: 1px solid red;
  }
  
  