<div class="content-wraper documentacion">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection titleSectionTable ">
            <div class="col-xs-12 col-sm-10  animate" style="vertical-align:bottom;"> Documentación </div>
        </div>
        <!--End Title-->
        <!--Search-->
        <div class="row myRow firstSection roundedInfo">
            <div class="col-xs-12 col-sm-3 col-md-2 squareInfo animate datos">
                <div id="showDatos" class="showBtn btnSection btnInfo animate" onClick="showDatos()">
                    <div>
                        <li class="fa fa-angle-double-right" aria-hidden="true"></li>
                    </div>
                    <div>Datos útiles</div>
                </div>
                <div id="hideDatos" class="hideBtn btnSection btnInfo animate btnInfoClose" onClick="closeDatos()">
                    <div>
                        <li class="fa fa-times" aria-hidden="true"></li>
                    </div>
                    <div>Datos útiles</div>
                </div>
                <title-caps class="hideMobile">Datos útiles</title-caps>
                <hr class="hideMobile">
                <div id="Datos" class="hideMobile">
                    <p><span>Consultas:</span></p>
                    <div class="datoMail" style="margin-bottom:20px;">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                        <p>0800-999-6381 </p>
                        <span> // </span>
                        <p> (011) 4340-1200 </p>
                    </div>
                    Lunes a Jueves de 9 a 13 hs. y de 14 a 17 hs. <br>
                    Y Viernes de 9 a 13 hs. y de 14 a 16 hs.<br>
                    <br>
                    <div class="datoMail" style="margin-bottom:20px; display:block">
                        <i class="fa fa-envelope-o " aria-hidden="true"></i>
                        <a href="mailto:materias.primas@molinosagro.com.ar" target="_blank" style="text-decoration:none!important">
                            <p>materias.primas</p>
                            <p>@molinosagro.com.ar</p>
                        </a>
                    </div>
                    <br>
                    <p><span>Direcciones de envío:</span></p>
                    <p>
                        <i class="fa fa-caret-right" aria-hidden="true"></i> <strong>Planta Victoria - Administración de Materias Primas</strong><br>
                        Uruguay 4075, Victoria (B1644HKG). Buenos Aires, Argentina
                    </p>
                    <p>
                        <i class="fa fa-caret-right" aria-hidden="true"></i><strong>Casillero en Bolsa de Cereales de Buenos Aires</strong><br>
                        Corrientes 123 PB - C.A.B.A. (C1106ABF), Argentina
                    </p>
                    <p>
                        <i class="fa fa-caret-right" aria-hidden="true"></i><strong>Oficina Bolsa de Cereales de Rosario</strong><br>
                        Paraguay 777, Rosario (S2000CVO).  Santa Fe, Argentina
                    </p>
                </div>

            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 squareInfo animate documentos">
                <div class="row myRow">
                    <title-caps>Alta de proveedores o actualización de cuenta</title-caps>
                    <br>
                    <p>Todos los documentos deben ser firmados por el apoderado de la firma en original.</p>
                    <p>Deben ser entregados en cualquiera de nuestras oficinas a nombre de: Sector Materias Primas</p>
                    <hr>
                    <div class="clearfix">
                        <a href="../../../Documentacion/Formulario Alta No Granos MOA.doc" target="_blank" style="text-decoration:none!important">
                            <!--<a (click)="getDocumento('Listado de documentos requeridos para el alta o actualización.doc')" href="#" target="_blank" style="text-decoration:none!important">-->
                            <div class="documento">
                                <p><i class="fa fa-file-word-o" aria-hidden="true"></i>LISTADO DOCUMENTACION ALTA - PROVEEDORES NO GRANOS</p>
                                Incluir este documento dentro del legajo, señalando la documentación que se envía. Por favor, completar todos los campos sin dejar espacios en blanco.
                            </div>
                        </a>
                        <a href="../../../Documentacion/Formulario alta Prov Granos MOA vendedor c Corredor - Alta.doc" target="_blank" style="text-decoration:none!important">
                            <!--<a (click)="getDocumento('Listado de documentos requeridos para el alta o actualización.doc')" href="#" target="_blank" style="text-decoration:none!important">-->
                            <div class="documento">
                                <p><i class="fa fa-file-word-o" aria-hidden="true"></i>LISTADO DOCUMENTACION ALTA - PROVEEDOR GRANOS VENDEDOR C/CORREDOR</p>
                                Incluir este documento dentro del legajo, señalando la documentación que se envía. Por favor, completar todos los campos sin dejar espacios en blanco.
                            </div>
                        </a>
                        <a href="../../../Documentacion/Formulario alta Prov Granos MOA vendedor Directo - Alta.doc" target="_blank" style="text-decoration:none!important">
                            <!--<a (click)="getDocumento('Listado de documentos requeridos para el alta o actualización.doc')" href="#" target="_blank" style="text-decoration:none!important">-->
                            <div class="documento">
                                <p><i class="fa fa-file-word-o" aria-hidden="true"></i>LISTADO DOCUMENTACION ALTA - PROVEEDOR GRANOS VENDEDOR DIRECTO</p>
                                Incluir este documento dentro del legajo, señalando la documentación que se envía. Por favor, completar todos los campos sin dejar espacios en blanco.
                            </div>
                        </a>
                        <a href="../../../Documentacion/Modelo de carta datanet.doc" target="_blank" style="text-decoration:none!important">
                            <!--<a (click)="getDocumento('Modelo de carta datanet.doc')" href="#" target="_blank" style="text-decoration:none!important">-->
                            <div class="documento">
                                <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Modelo de carta datanet</p>
                                Es requisito para el pago completar la carta con los datos de la cuenta informada en el registro fiscal de operadores de granos (Cuenta AFIP). Puede presentarse otra cuenta para transferir el pago correspondiente a la mercadería. La firma debe ser certificada por banco o escribano y en original.
                            </div>
                        </a>
                        <a href="../../../Documentacion/Legajos Molinos Agro S.A..pdf" target="_blank" style="text-decoration:none!important">
                            <!--<a (click)="getDocumento('Legajos Molinos Agro S.A..pdf')" href="#" target="_blank" style="text-decoration:none!important">-->
                            <div class="documento">
                                <p><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Legajos Molinos Agro S.A.</p>
                            </div>
                        </a>
                        <a href="../../../Documentacion/Criterios de Retención MOA.docx" target="_blank" style="text-decoration:none!important">
                            <!--<a (click)="getDocumento('Criterios de Retención MOA.docx')" href="#" target="_blank" style="text-decoration:none!important">-->
                            <div class="documento">
                                <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Criterio de Retenci&oacute;n</p>
                                Se detallan los criterios de retención con los que opera Molinos Agro
                            </div>
                        </a>

                    </div>
                </div>
                <div class="row myRow">
                    <title-caps>Cesiones de pago y mercadería</title-caps>
                    <br>
                    <p>
                        Todos los documentos que se detallan a continuación deben ser presentados en una carta documento o con firma certificada por escribano,
                        y entregados en cualquiera de nuestras oficinas a nombre de: Sector Materias Primas.
                    </p>
                    <hr>
                    <div class="clearfix">
                        <a href="../../../Documentacion/Requisitos de cesión de pago.pdf" target="_blank" style="text-decoration:none!important">
                            <!--<a (click)="getDocumento('Requisitos de cesión de pago.pdf')" href="#" target="_blank" style="text-decoration:none!important">-->
                            <div class="documento">
                                <p><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Requisitos de cesión de pago</p>
                                Se detallan los requisitos para presentar una solicitud de cesión de pago.
                            </div>
                        </a>
                        <a href="../../../Documentacion/Carta de cesión de pago.doc" target="_blank" style="text-decoration:none!important">
                            <!--<a (click)="getDocumento('Carta de cesión de pago.doc')" href="#" target="_blank" style="text-decoration:none!important">-->
                            <div class="documento">
                                <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Carta de cesión de pago</p>
                            </div>
                        </a>
                        <a href="../../../Documentacion/Carta de cesión de mercadería.doc" target="_blank" style="text-decoration:none!important">
                            <!--<a (click)="getDocumento('Carta de cesión de mercadería.doc')" href="#" target="_blank" style="text-decoration:none!important">-->
                            <div class="documento">
                                <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Carta de cesión de mercadería</p>
                            </div>
                        </a>
                        <a href="../../../Documentacion/Carta de notificación de cambio de cuenta.doc" target="_blank" style="text-decoration:none!important">
                            <!--<a (click)="getDocumento('Carta de notificación de cambio de cuenta.doc')" href="#" target="_blank" style="text-decoration:none!important">-->
                            <div class="documento">
                                <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Carta de notificación de cambio de cuenta</p>
                                Se presenta en el caso de que el titular de la cuenta cesionaria sea el mismo que el vendedor.
                            </div>
                        </a>
                        <a href="../../../Documentacion/Carta de notificación de anulación de cesión.doc" target="_blank" style="text-decoration:none!important">
                            <!--<a (click)="getDocumento('Carta de notificación de anulación de cesión.doc')" href="#" target="_blank" style="text-decoration:none!important">-->
                            <div class="documento">
                                <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Carta de notificación de anulación de cesión</p>
                                Es indispensable presentarla en el caso de querer dejar sin efecto la notificación de cesión.
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row myRow">
                    <title-caps>Certificado de depósito y carta de garantía</title-caps>
                    <br>
                    <p>
                        Todos los documentos que se detallan a continuación deben ser presentados en una carta documento o con firma certificada por escribano,
                        y entregados en cualquiera de nuestras oficinas a nombre de: Sector Materias Primas.
                    </p>
                    <hr>
                    <div class="clearfix">
                        <a href="../../../Documentacion/Carta de certificado de deposito.doc" target="_blank" style="text-decoration:none!important">
                            <!--<a (click)="getDocumento('Carta de certificado de deposito.doc')" href="#" target="_blank" style="text-decoration:none!important">-->
                            <div class="documento">
                                <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Carta de certificado de deposito</p>
                            </div>
                        </a>
                        <a href="../../../Documentacion/Carta de garantía.doc" target="_blank" style="text-decoration:none!important">
                            <!--<a (click)="getDocumento('Carta de garantía.doc')" href="#" target="_blank" style="text-decoration:none!important">-->
                            <div class="documento">
                                <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Carta de garantía</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row myRow">
                    <title-caps> Tarifas de servicios de Molinos Agro S.A.</title-caps>
                    <hr>
                    <div class="clearfix">
                        <a href="../../../Documentacion/Tarifas de secada y zaranda.pdf" target="_blank" style="text-decoration:none!important">
                            <!--<a (click)="getDocumento('Tarifas de secada y zaranda.pdf')" href="#" target="_blank" style="text-decoration:none!important">-->
                            <div class="documento">
                                <p><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Tarifas de secada y zaranda</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row myRow">
                    <title-caps> Instructivos</title-caps>
                    <hr>
                    <div class="clearfix">
                        <a href="../../../Documentacion/Instructivo - Pago de Tasa Municipal con Mercado Pago.pdf" target="_blank" style="text-decoration:none!important">
                            <div class="documento">
                                <p><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Pago de Tasa Municipal con Mercado Pago</p>
                            </div>
                        </a>
                        <a href="../../../Documentacion/Código de Conducta para Proveedores MOA.pdf" target="_blank" style="text-decoration:none!important">
                            <div class="documento">
                                <p><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Código de Conducta para Proveedores</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End CONTENT-->
</div>