a {
    text-decoration: none;
}

.btn-reabrir-consulta {
    position: relative;
    left: 5px;
    top: 10px;
    width: 150px;
    height: 36px;
    background: #075088 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 2px 2px #0000003D;
    border-radius: 2px;
    opacity: 1;
}