<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10" style="font-weight: bold;">Campos sustentables: Editar</div>
        </div>
        <mensaje></mensaje>
        <spinner></spinner>
        <spinner #spinnerDatosGenerales></spinner>
        <!--End Title-->
        <!-- Form-->
        <ng-container *ngIf="campoProveedor">
            <div class="row myRow firstSection mySearch cargaDeDatos">
                <div class="rounded shadow col-xs-12 col-sm-6 col-md-8">
                    <div class="row myRow cargaDeDatosFields cargaDeDatosForm" style="padding: 20px;">
                        <div class="row myRow cargaDeDatosFields">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p class="crearConsultaTitulos">Nombre del establecimiento <span
                                        class="requerido">*</span>
                                </p>
                                <div class="styled-select ">
                                    <input type="search" [(ngModel)]="campoProveedor.NombreCampo" class="fourRounded"
                                        aria-controls="tableModal">
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p class="crearConsultaTitulos">Localidad</p>
                                <app-autocomplete-localidad
                                    (onLocalidadSeleccionada)="campoProveedor.Localidad_Id = $event"
                                    [localidad_Id]="campoProveedor.Localidad_Id">
                                </app-autocomplete-localidad>
                            </div>
                        </div>

                        <div class="row myRow cargaDeDatosFields">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <p class="crearConsultaTitulos">Normativa<span class="requerido">*</span></p>
                                <label style="margin-right: 40px; color: #818A91;">
                                    <input type="checkbox" [(ngModel)]="campoProveedor.BSVS2" name="normBSVS2"
                                        disabled>
                                    2BSVS
                                </label>
                                <label style="margin-right: 40px; color: #818A91;">
                                    <input type="checkbox" [(ngModel)]="campoProveedor.EPA" name="normEPA" disabled>
                                    EPA
                                </label>
                                <label style="color:#818A91;">
                                    <input type="checkbox" [(ngModel)]="campoProveedor.EUDR" name="normEUDR" disabled>
                                    EUDR
                                </label>
                            </div>
                        </div>

                        <div class="row myRow cargaDeDatosFields">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p class="crearConsultaTitulos">RENSPA <span class="requerido">*</span></p>
                                <div class="styled-select">
                                    <input type="text" [(ngModel)]="campoProveedor.Renspa" class="fourRounded"
                                        aria-controls="tableModal" mask="00.000.0.00000/00">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                            </div>
                        </div>

                        <div class="row myRow cargaDeDatosFields">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p class="crearConsultaTitulos">
                                    Titular de la CP
                                </p>
                                <div class="styled-select" style="overflow: initial;">
                                    <input type="search" [value]="campoProveedor.ProveedorNombre" class="fourRounded"
                                        aria-controls="tableModal" [disabled]="true">
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p class="crearConsultaTitulos">
                                    CUIT titular de la CP
                                </p>
                                <div class="styled-select" style="overflow: initial;">
                                    <input type="search" [value]="campoProveedor.CUIT" class="fourRounded"
                                        mask="00-00000000-0" maxlength="13" aria-controls="tableModal"
                                        [disabled]="true">
                                </div>
                            </div>
                        </div>
                        <div class="row myRow cargaDeDatosFields">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p class="crearConsultaTitulos">Cosecha<span class="requerido">*</span></p>
                                <div class="styled-select ">
                                    <input type="search" [(ngModel)]="NombreCosecha" class="fourRounded"
                                        aria-controls="tableModal" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row myRow cargaDeDatosFields">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p class="crearConsultaTitulos">Hectáreas Totales<span class="requerido">*</span></p>
                                <div class="styled-select ">
                                    <input min="1" [type]="'number'" name="campoProveedor.HectareasTotales"
                                        [(ngModel)]="campoProveedor.HectareasTotales" class="fourRounded"
                                        aria-controls="tableModal">
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p class="crearConsultaTitulos">Hectáreas de Soja<span class="requerido">*</span></p>
                                <div class="styled-select ">
                                    <input type="number" name="campoProveedor.HectareasSoja"
                                        [(ngModel)]="campoProveedor.HectareasSoja" class="fourRounded"
                                        aria-controls="tableModal">
                                </div>
                            </div>
                        </div>

                        <div class="row myRow cargaDeDatosFields">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p class="crearConsultaTitulos">Latitud<span class="requerido">*</span></p>
                                <div class="styled-select ">
                                    <input type="search" [(ngModel)]="this.campoProveedor.Latitud" class="fourRounded"
                                        aria-controls="tableModal">
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p class="crearConsultaTitulos">Longitud<span class="requerido">*</span></p>
                                <div class="styled-select ">
                                    <input type="search" [(ngModel)]="this.campoProveedor.Longitud" class="fourRounded"
                                        aria-controls="tableModal">
                                </div>
                            </div>
                        </div>

                       <!-- <div class="row myRow cargaDeDatosFields">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p class="crearConsultaTitulos">Toneladas Aprobadas<span class="requerido">*</span></p>
                                <div class="styled-select ">
                                    <input type="search" [(ngModel)]="this.campoProveedor.ToneladasAprobadas"
                                        class="fourRounded" aria-controls="tableModal" disabled>
                                </div>
                            </div>
                        </div>-->

                        <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="campoProveedor.EPA">
                            <p class="crearConsultaTitulos">Evidencia EPA<span class="requerido">*</span></p>
                            <div class="styled-select">
                                <input #fileInputEPA type="file" [disabled]="evidenciaEpaPresentada" (change)="cargarArchivoEpa($event)"
                                    placeholder="Cargar Archivo"
                                    accept=".pdf,.doc,.docx,.jpg,.jpeg,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/jpeg">
                            </div>
                        <div *ngIf="!fileEPA && campoProveedor.NombreArchivoEPA && !evidenciaEpaPresentada" style="margin-top:10px;">
                            <span class="fa fa-paperclip" style="margin-right:5px;"></span>
                            <a [href]="archivoEpaUrl">{{ campoProveedor.NombreArchivoEPA }}</a>
                        </div>
                        <div style="margin-top: 10px;">
                            <label>
                                <input type="checkbox" [(ngModel)]="evidenciaEpaPresentada" name="evidenciaEpaYaPresentada"
                                    (change)="onEvidenciaEpaPresentadaChange()">
                                Evidencia ya presentada
                            </label>
                        </div>
                            <br />
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="col-xs-0 col-md-3">
                                <button type="button" (click)="goToSeccion('/sustentable/listado-campos')"
                                    class="btn-custom btn-add btn-mediano">
                                    Volver
                                </button>
                            </div>
                            <div class="col-xs-0 col-md-4">
                            </div>

                            <div class="col-xs-0 col-md-3">
                                <button class="btn-custom btn-guardar btn-grande"
                                    (click)="campoProveedorEditar()">Guardar</button>

                            </div>
                        </div>
                    </div>
                </div>
                <spinner></spinner>
            </div>
        </ng-container>
        <!-- END form-->
    </section>
    <!--End CONTENT-->
</div>