<div class="content-wraper">

    <div class="row titleSection">Alta Proveedores</div>
    <mensaje #msjEmpresaGranos></mensaje>
    <spinner></spinner>
    <spinner-small></spinner-small>

    <div class="row myRow firstSection roundedInfo" id="container">
        <mdb-stepper #stepper>
            <mdb-step name="Step 1" label="Informe comercial">
                <h3>Informe comercial</h3>
                <div class="form-group informe-comercial">
                    <div>
                        <p>Complete el informe comercial</p>
                        <!-- Button trigger modal -->
                        <button type="button" id="openModalHiddenButton" data-toggle="modal" data-target="#myModal"
                            class="btn-custom btn-azul">
                            Completar informe Comercial
                        </button>
                        <button type="button" class="btn-custom btn-azul">
                            Descargar
                        </button>
                    </div>
                    <div style="flex-direction: column;">
                        <label class="informe-firmado label" for="informeComercialFirmado">
                            Por favor <span class="adjuntar">adjuntar </span> el
                            informe comercial <strong>completo y firmado</strong>
                        </label>
                        <input style="display:none" type="file" class="form-control-file" id="informeComercialFirmado"
                            (change)="handleFileInput($event.target.files, 'informeComercialFirmado')">

                        <a *ngIf="nombreArchivoInformeComercialFirmado != ''"
                            (click)="descargarArchivo('informeComercialFirmado')">Ver archivo subido</a>
                    </div>

                </div>
            </mdb-step>
            <mdb-step name="Step 2" label="CBU">
                <h3> Constancia de CBU</h3>
                <div class="form-group">
                    <label class="label" for="constanciaCBU">
                        <span class="adjuntar">Adjuntar </span> constancia de CBU certificada
                        por Banco
                    </label>
                    <input style="display:none" type="file" class="form-control-file" id="constanciaCBU"
                        (change)="handleFileInput($event.target.files, 'constanciaCBU')">

                    <a *ngIf="nombreArchivoConstanciaCBU != ''" (click)="descargarArchivo('constanciaCBU')">Ver archivo
                        subido</a>
                </div>

                <div class="form-group">
                    <label class="label" for="constanciaCBUMercaderia">
                        <span class="adjuntar">Adjuntar </span> constancia de CBU Mercaderia
                    </label>
                    <input style="display:none" type="file" class="form-control-file" id="constanciaCBUMercaderia"
                        (change)="handleFileInput($event.target.files, 'constanciaCBUMercaderia')">

                    <a *ngIf="nombreArchivoConstanciaCBUMercaderia != ''"
                        (click)="descargarArchivo('constanciaCBUMercaderia')">Ver archivo subido</a>
                </div>
            </mdb-step>
            <mdb-step name="Step 3" label="Documentación Impositiva">
                <h3>Documentación Impositiva</h3>
                <div class="form-group">
                    <label style="font-weight: 100 !important;" for="constanciaCUIT"><span class="adjuntar">Adjuntar
                        </span>constancia de CUIT</label>
                    <input style="display:none" type="file" class="form-control-file" id="constanciaCUIT"
                        (change)="handleFileInput($event.target.files, 'constanciaCUIT')">

                    <a *ngIf="nombreArchivoconstanciaCUIT != ''" (click)="descargarArchivo('constanciaCUIT')">Ver
                        archivo subido</a>

                </div>
                <div class="form-group">
                    <label class="label" for="inscripcionIIBB">
                        <span class="adjuntar">Adjuntar </span>inscripción en IIBB -local o
                        Convenio (CM05
                        vigente)
                    </label>
                    <input style="display:none" type="file" class="form-control-file" id="inscripcionIIBB"
                        (change)="handleFileInput($event.target.files, 'inscripcionIIBB')">

                    <a *ngIf="nombreArchivoInscripcionIIBB != ''" (click)="descargarArchivo('inscripcionIIBB')">Ver
                        archivo subido</a>
                </div>
                <div class="form-group">
                    <label class="label" for="certificadoExclusionIVA">
                        <span class="adjuntar">Adjuntar </span>certificados de exclusión o exención IVA
                    </label>
                    <input style="display:none" type="file" class="form-control-file" id="certificadoExclusionIVA"
                        (change)="handleFileInput($event.target.files, 'certificadoExclusionIVA')">

                    <a *ngIf="nombreArchivoCertificadoExclusionIVA != ''"
                        (click)="descargarArchivo('certificadoExclusionIVA')">Ver archivo subido</a>
                </div>
                <div class="form-group">
                    <label class="label" for="certificadoExclusionIIBB">
                        <span class="adjuntar">Adjuntar </span>certificados de exclusión o exención en IIBB.
                    </label>
                    <input style="display:none" type="file" class="form-control-file" id="certificadoExclusionIIBB"
                        (change)="handleFileInput($event.target.files, 'certificadoExclusionIIBB')">

                    <a *ngIf="nombreArchivoCertificadoExclusionIIBB != ''"
                        (click)="descargarArchivo('certificadoExclusionIIBB')">Ver archivo subido</a>
                </div>
                <div class="form-group">
                    <label class="label" for="certificadoExclusionSUSS">
                        <span class="adjuntar">Adjuntar </span>certificados de exclusión o exención en SUSS.
                    </label>
                    <input style="display:none" type="file" class="form-control-file" id="certificadoExclusionSUSS"
                        (change)="handleFileInput($event.target.files, 'certificadoExclusionSUSS')">

                    <a *ngIf="nombreArchivoCertificadoExclusionSUSS != ''"
                        (click)="descargarArchivo('certificadoExclusionSUSS')">Ver archivo subido</a>
                </div>
                <div class="form-group">
                    <label class="label" for="certificadoExclusionGanancias">
                        <span class="adjuntar">Adjuntar </span>certificados de exclusión o exención en Ganancias.
                    </label>
                    <input style="display:none" type="file" class="form-control-file" id="certificadoExclusionGanancias"
                        (change)="handleFileInput($event.target.files, 'certificadoExclusionGanancias')">

                    <a *ngIf="nombreArchivoCertificadoExclusionGanancias != ''"
                        (click)="descargarArchivo('certificadoExclusionGanancias')">Ver archivo subido</a>
                </div>
                <div class="form-group">
                    <label class="label" for="SIPER">
                        <span class="adjuntar">Adjuntar </span> SIPER. Solamente en caso de SISA 2 / SISA 3.
                    </label>
                    <input style="display:none" type="file" class="form-control-file" id="SIPER"
                        (change)="handleFileInput($event.target.files, 'SIPER')">

                    <a *ngIf="nombreArchivoSIPER != ''" (click)="descargarArchivo('constanciaCUIT')">Ver archivo
                        subido</a>

                </div>
            </mdb-step>
            <mdb-step name="Step 4" label="Documentación">
                <h3>Documentación al día en Bolsa</h3>
                <div class="form-group">
                    <label style="font-weight: 100 !important;" for="documentacionEnBolsa">
                        <span class="adjuntar">Adjuntar </span> documentación. Sólo Personas Físicas
                        podrán operar sin oblea si remiten copia
                        certificada y legalizada
                        de DNI.
                    </label>
                    <input style="display:none" type="file" class="form-control-file" id="documentacionEnBolsa"
                        (change)="handleFileInput($event.target.files, 'documentacionEnBolsa')">

                    <a *ngIf="nombreArchivoDocumentacionEnBolsa != ''" (click)="descargarArchivo('constanciaCUIT')">Ver
                        archivo subido</a>

                </div>
            </mdb-step>
            <mdb-step name="Step 7" label="Enviar">
                <div class="step-actions enviar">
                    <button type="button" id="openModalNotificacion" data-toggle="modal"
                        data-target="#modalNotificación" class="btn-custom btn-azul">
                        <input type="submit" (click)="onSubmit()" class="btn-custom btn-azul">
                    </button>
                </div>
            </mdb-step>
        </mdb-stepper>
    </div>


    <!-- modal notificacion -->
    <button type="button" style="display:none" id="openModalNotificacion" data-toggle="modal"
        data-target="#modalNotificación"></button>
    <div class="modal fade fade-complete" id="modalNotificación" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"
                        onClick="abrirModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Solicitud de alta enviada</h4>
                </div>
                <div class="modal-body modal-notificacion">
                    <p>¡Su solicitud fue enviada con éxito!</p>
                    <p>Un asesor le informará el estado de su registro.</p>
                    <p>¡Muchas gracias!</p>

                </div>
                <div class="modal-footer">
                    <a class="btn-azul btn-custom" id="InformeComercialDescargar">Aceptar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal notificacion -->
    <!-- Modal informe comercial-->
    <button type="button" style="display:none" id="openModalHiddenButton" data-toggle="modal"
        data-target="#myModal"></button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"
                        onClick="abrirModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Informe comercial</h4>

                </div>
                <div class="modal-body">

                    <div class="tab-pane" id="tab2">
                        <div class="formulario">
                            <div class="formulario-campo">
                                <div class="formulario-label">
                                    Domicilio Legal
                                </div>
                                <div class="formulario-input">
                                    <input type="text" id="Domicilio" class="input-custom"
                                        placeholder="Domicilio (50 caracteres)" [(ngModel)]="informe.Domicilio"
                                        maxlength="50" />
                                </div>
                            </div>
                            <div class="formulario-campo">
                                <div class="formulario-label">
                                    Empleados en relación de dependencia
                                </div>
                                <div class="formulario-input">
                                    <div>
                                        <div class="padding-5-0">
                                            <label for="si" class="padding-0-5">
                                                <input type="radio" id="si" value="si" name="depen"
                                                    [(ngModel)]="informe.EmplRelDep" class="margin-5px">Si
                                            </label>
                                            <input type="text" id="EmplRelDepCant" class="input-custom"
                                                [(ngModel)]="informe.EmplRelDepCant"
                                                placeholder="Cantidad (50 caracteres)" maxlength="50" disabled />
                                        </div>
                                        <div class="padding-5-0">
                                            <label for="no" class="padding-0-5">
                                                <input type="radio" id="no" value="no" name="depen"
                                                    [(ngModel)]="informe.EmplRelDep" class="margin-5px">No
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="formulario-campo">
                                <div class="formulario-label">
                                    Rodados / Equipos aptos para la actividad rural
                                </div>
                                <div class="formulario-input">
                                    <div>
                                        <div class="padding-5-0">
                                            <label for="equipro">
                                                <input type="radio" id="equipro" value="equipro" name="rodado"
                                                    [(ngModel)]="informe.Rodados" class="margin-5px">Equipamiento
                                                Propio
                                            </label>
                                        </div>
                                        <div class="padding-5-0">
                                            <label for="equialq">
                                                <input type="radio" id="equialq" value="equialq" name="rodado"
                                                    [(ngModel)]="informe.Rodados" class="margin-5px">Alquilado
                                            </label>
                                        </div>
                                        <div class="padding-5-0">
                                            <label for="proyalq">
                                                <input type="radio" id="proyalq" value="proyalq" name="rodado"
                                                    [(ngModel)]="informe.Rodados" class="margin-5px">Propio y alquilado
                                            </label>
                                        </div>
                                        <div class="padding-5-0">
                                            <label for="otrosro" class="padding-0-5">
                                                <input type="radio" class="input-custom" id="otrosro" value="otrosro"
                                                    name="rodado" [(ngModel)]="informe.Rodados" class="margin-5px">Otros
                                            </label>
                                            <input type="text" id="RodadosOtros" class="input-custom"
                                                placeholder="Otros (50 caracteres)" [(ngModel)]="informe.RodadosOtros"
                                                maxlength="50" disabled />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="formulario-campo">
                                <div class="formulario-label">
                                    Servicios de chacra
                                </div>
                                <div class="formulario-input">
                                    <div>
                                        <div class="padding-5-0">
                                            <label for="persprop">
                                                <input type="radio" id="persprop" value="persprop" name="servicios"
                                                    [(ngModel)]="informe.Chacra" class="margin-5px">Personal propio
                                            </label>
                                        </div>
                                        <div class="padding-5-0">
                                            <label for="perscont">
                                                <input type="radio" id="perscont" value="perscont" name="servicios"
                                                    [(ngModel)]="informe.Chacra" class="margin-5px">Personal contratado
                                            </label>
                                        </div>
                                        <div class="padding-5-0">
                                            <label for="persprco">
                                                <input type="radio" id="persprco" value="persprco" name="servicios"
                                                    [(ngModel)]="informe.Chacra" class="margin-5px">Personal propio y
                                                contratado
                                            </label>
                                        </div>
                                        <div class="padding-5-0">
                                            <label for="otros" class="padding-0-5">
                                                <input type="radio" id="otros" value="otros" name="servicios"
                                                    [(ngModel)]="informe.Chacra" class="margin-5px">Otros
                                            </label>
                                            <input type="text" id="ChacraOtros" class="input-custom"
                                                placeholder="Otros (50 caracteres)" [(ngModel)]="informe.ChacraOtros"
                                                maxlength="50" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="titulo">
                                Antecedentes de la siembra
                            </div>
                            <div class="formulario-campo">
                                <div class="formulario-label">
                                    Antigüedad en la actividad
                                </div>
                                <div class="formulario-input">
                                    <input type="text" class="input-custom" id="AntigActividad"
                                        placeholder="Antigüedad (100 caracteres)" [(ngModel)]="informe.AntigActividad"
                                        maxlength="100" />
                                </div>
                            </div>
                            <div class="formulario-campo">
                                <div class="formulario-label">
                                    Actuación como productor / siembras anteriores
                                </div>
                                <div class="formulario-input">
                                    <input type="text" id="ActuacionProd" class="input-custom"
                                        placeholder="Actuación (100 caracteres)" [(ngModel)]="informe.ActuacionProd"
                                        maxlength="100" />

                                </div>
                            </div>

                            <div class="titulo">
                                Antecedentes comerciales
                            </div>
                            <div class="formulario-campo">
                                <div class="formulario-label">
                                    Clientes anteriores
                                </div>
                                <div class="formulario-input">
                                    <input type="text" id="ClienteAnt" class="input-custom"
                                        placeholder="Clientes (100 caracteres)" [(ngModel)]="informe.ClienteAnt"
                                        maxlength="100" />
                                </div>
                            </div>

                            <div class="formulario-campo">
                                <div class="formulario-label">
                                    Otros comentarios
                                </div>
                                <div class="formulario-input">
                                    <textarea id="Comentarios" class="input-custom"
                                        placeholder="Comentarios (300 caracteres)" [(ngModel)]="informe.Comentarios"
                                        maxlength="300"></textarea>
                                </div>
                            </div>


                        </div>
                        <div>

                            <div>
                                <p class="table-title">Capacidad productiva</p>
                            </div>
                            <table class="table table-striped table-bordered table-custom">
                                <thead>
                                    <tr>
                                        <th>Grano</th>
                                        <th>Localidad</th>
                                        <th>Has</th>
                                        <th>TNs</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let field of fieldArray; let i = index">
                                        <td>
                                            <div class="formulario-input">
                                                <select [(ngModel)]=" selected" name="{{field.grano}}"
                                                    class="dropdown-granos">
                                                    <option *ngFor="let material of listaMateriales"
                                                        [ngValue]="material.id">
                                                        {{material.Descripcion}}</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <input [(ngModel)]="field.localidad" class="form-control required"
                                                type="text" name="{{field.localidad}}" />
                                        </td>
                                        <td>
                                            <input [(ngModel)]="field.has" class="form-control" type="text"
                                                name="{{field.has}}" />
                                        </td>
                                        <td>
                                            <input [(ngModel)]="field.tns" class="form-control" type="text"
                                                name="{{field.tns}}" />
                                        </td>
                                        <td>
                                            <button class="btn-remove btn-custom" type="button"
                                                (click)="deleteFieldValue(i)">Eliminar</button>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                            <div class="btn-add-container">
                                <button class="btn-add btn-custom" type="button"
                                    (click)="addFieldValue()">Agregar</button>
                            </div>
                        </div>

                        <!-- TABLA 2 -->
                        <div>


                            <div>
                                <p class="table-title">Capacidad planta</p>
                            </div>
                            <table class="table table-striped table-bordered table-custom">
                                <thead>
                                    <tr>
                                        <th>Localidad</th>
                                        <th>TNs</th>
                                        <th>Condición</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let field of fieldArrayAlm; let i = index">
                                        <td>
                                            <input [(ngModel)]="field.localidadAlm" class="form-control" type="text"
                                                name="{{field.localidadAlm}}" style="font-weight: 100 !important;">
                                        </td>
                                        <td>
                                            <input [(ngModel)]="field.tnsAlm" class="form-control" type="text"
                                                name="{{field.tnsAlm}}" />
                                        </td>
                                        <td>
                                            <input [(ngModel)]="field.condicionAlm" class="form-control" type="text"
                                                name="{{field.condicionAlm}}" />
                                        </td>
                                        <td>
                                            <button class="btn-remove btn-custom" type="button"
                                                (click)="deleteFieldValueAlm(i)">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="btn-add-container">
                                <button class="btn-add btn-custom" type="button"
                                    (click)="addFieldValueAlm()">Agregar</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a class="btn-azul btn-custom" id="InformeComercialDescargar"
                        (click)="generarInformeComercial()">Descargar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal informe comercial-->
</div>