<div class="content-wraper">

    <div class="row titleSection">Alta Proveedores</div>

    <div class="row myRow firstSection roundedInfo" id="container">
        <mdb-stepper #stepper>
            <mdb-step name="Step 1" label="Informe comercial">
                <h3>Informe comercial</h3>
                <div class="form-group informe-comercial">
                    <div>
                        <p>Complete el informe comercial</p>
                        <!-- Button trigger modal -->
                        <button type="button" id="openModalHiddenButton" data-toggle="modal" data-target="#myModal"
                            class="btn btn-info col-xs-12 col-sm-11"
                            style="margin: 0 10px; height: 30px; align-items: center; display: flex; background: #172f8f; border: none; justify-content: center;">
                            Completar informe Comercial

                        </button>

                    </div>
                    <div>
                        <label class="informe-firmado" for="informeComercialFirmado">Por favor adjunte el
                            informe comercial <strong>completo y firmado</strong></label>
                        <input type="file" class="form-control-file" id="informeComercialFirmado" required="required">
                    </div>

                </div>
            </mdb-step>
            <mdb-step name="Step 2" label="CBU">
                <h3> Constancia de CBU</h3>
                <div class="form-group">
                    <label class="label" for="constanciaCBU">Cargar constancia de CBU certificada
                        por Banco</label>
                    <input type="file" class="form-control-file" id="constanciaCBU" required="required">
                </div>
            </mdb-step>
            <mdb-step name="Step 3" label="Documentación Impositiva">
                <h3>Documentación Impositiva</h3>
                <div class="form-group">
                    <label class="label" for="constanciaCUIT">Constancia de CUIT</label>
                    <input type="file" class="form-control-file" id="constanciaCUIT" required="required">
                </div>
                <div class="form-group">
                    <label class="label" for="inscripcionIIBB">Inscripción en IIBB -local o
                        Convenio (CM05
                        vigente)</label>
                    <input type="file" class="form-control-file" id="inscripcionIIBB" required="required">
                </div>
                <div class="form-group">
                    <label class="label" for="gananciasIVAIIBB">Certificados de exclusión o
                        exención en Ganancias, IVA e
                        IIBB.</label>
                    <input type="file" class="form-control-file" id="gananciasIVAIIBB" required="required">
                </div>
                <div class="form-group">
                    <label class="label" for="SIPER">Solamente en caso de SISA 2 / SISA 3,
                        presentar SIPER.</label>
                    <input type="file" class="form-control-file" id="SIPER" required="required">
                </div>
            </mdb-step>
            <mdb-step name="Step 4" label="Documentación">
                <h3>Documentación al día en Bolsa</h3>
                <div class="form-group">
                    <label class="label" for="exampleFormControlFile1">Sólo Personas Físicas
                        podrán operar sin oblea si remiten copia
                        certificada y legalizada
                        de DNI.</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" required="required">
                </div>
            </mdb-step>
            <mdb-step name="Step 7" label="Enviar">
                <div class="step-actions enviar">

                    <input type="submit" (click)="onSubmit()" class="btn-custom">

                    <!-- <button mdbBtn size="sm" color="primary" (click)="onSubmit()"
                        >
                        Enviar
                    </button> -->
                </div>
            </mdb-step>
        </mdb-stepper>
    </div>
    <!-- modal notificacion -->
    <div id="modal" class="hidden modal">
        <h3>Solicitud de alta enviada</h3>
        <p>Un asesor le informará el estado de su registro.</p>
        <p>¡Muhcas gracias!</p>
    </div>
    <!-- end modal notificacion -->

    <!-- Modal informe comercial-->
    <button type="button" style="display:none" id="openModalHiddenButton" data-toggle="modal"
        data-target="#myModal"></button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="abrirModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Informe comercial</h4>

                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Razón social">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="CUIT">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Domicilio Legal">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Domicilio comercial/Real">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Teléfono">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Mail">
                            </div>
                        </div>
                        <div class="form-check">
                            <p>Área de compras:</p>
                            <input class="form-check-input" type="checkbox" value="" id="corredorBsAs">
                            <label class="form-check-label" for="corredorBsAs">
                                Corredor Bs As
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="corredorRosarino">
                            <label class="form-check-label" for="corredorRosarino">
                                Corredor Rosarino
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="origIntNorte">
                            <label class="form-check-label" for="origIntNorte">
                                Orig Int Norte
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="origIntCentro">
                            <label class="form-check-label" for="origIntCentro">
                                Orig Int Centro
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="origIntSur">
                            <label class="form-check-label" for="origIntSur">
                                Orig Int Sur
                            </label>
                        </div>
                        <div class="contactos">
                            <p>Contactos:</p>
                            <div class="form-row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Nombre">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Cargo">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Teléfono">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Mail">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Nombre">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Cargo">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Teléfono">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Mail">
                                </div>
                            </div>
                        </div>
                        <div class="form-check">
                            <p>Actividades</p>
                            <input class="form-check-input" type="checkbox" value="" id="actividadAcopio">
                            <label class="form-check-label" for="actividadAcopio">
                                Acopio
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="actividadArrendador">
                            <label class="form-check-label" for="actividadArrendador">
                                Arrendador
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="actividadProductor">
                            <label class="form-check-label" for="actividadProductor">
                                Productor
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="actividadContratistaRural">
                            <label class="form-check-label" for="actividadContratistaRural">
                                Contratista Rural
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="actividadProveedorInsumos">
                            <label class="form-check-label" for="actividadProveedorInsumos">
                                Proveedor de Insumos
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="actividadOtros">
                            <label class="form-check-label" for="actividadOtros">
                                Otros
                            </label>
                            <input type="text" class="form-control" placeholder="Detalle">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="InformeComercialDescargar" download="{{cartaPorteDescarga}}.jpg"
                        href="{{fotoSrc}}">Descargar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal informe comercial-->
</div>