<div class="content-wraper">
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 fixtwobuttons">RYD: <strong>Informe</strong> </div>
            <div class="col-xs-12 col-sm-2">
                <!--<spinner-small></spinner-small>
                <a (click)="exportExcel()" href="#" style="text-decoration:none!important" *ngIf="!this.spinnerSmallComponent.visible">
                    <div class="btnSection animate">Imprimir <span class="fa  fa-print"></span></div>
                </a>-->
                <spinner-small></spinner-small>
                <a (click)="exportExcel()" href="#" style="text-decoration:none!important" *ngIf="!this.spinnerSmallComponent.visible">
                    <div class="btnSection animate align-right">Exportar <img src="Content/images/buttons/EXPORT.svg"/></div>
                </a>
            </div>
        </div>
        <!--End Title-->
        <!--Add 1-->
        <div class="row myRow firstSection mySearch cargaDeDatos">
            <div class="rounded shadow">
                <div class="row myRow cargaDeDatosFields">
                    <div class="col-xs-12 col-sm-3 ">
                        Balanza:
                        <div class="styled-select ">
                            <dropdown [tipoDropdown]="'selectInput'" [options]="filtroBalanza" (select)="setFiltroBalanza($event)"></dropdown>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row myRow cargaDeDatosBtn">
                    <div class="col-xs-12 col-sm-3 col-sm-offset-9 ">
                        <a href="#" style="text-decoration:none!important" (click)="getData()">
                            <div class="btnSection animate">Actualizar <span class="fa  fa-refresh "></span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row myRow">
            <spinner></spinner>
            <mensaje></mensaje>

            <div class="row myRow firstSection mySearch rowInfoGrey" *ngIf="isVisible()">
                <div class="col-xs-12 col-sm-3"><p>Fecha de inicio:</p>{{data.fecha}}</div>
                <div class="col-xs-12 col-sm-3 "><p>Balanza:</p>{{data.balanza}}</div>
                <div class="col-xs-12 col-sm-3 "><p>Bodega:</p>{{data.bodega}}</div>
                <div class="col-xs-12 col-sm-3 "><p>Exportador:</p>{{data.exportador}}</div>
                <div class="col-xs-12 col-sm-3 "><p>Peso Programado:</p>{{data.pesoProgramado}}</div>
                <div class="col-xs-12 col-sm-3 "><p>Commodity:</p>{{data.commodity}}</div>
                <div class="col-xs-12 col-sm-3 "><p>Destino:</p>{{data.destino}}</div>
                <div class="col-xs-12 col-sm-3 "><p>Vapor:</p>{{data.vapor}}</div>
            </div>
            <!-- End add 1-->
            <!-- Tables-->
            <div class="row myRow" *ngIf="isVisible()">
                <div class="clearfix myTables">
                    <table id="tableModal" class="display nowrap dataTable no-footer dtr-inline rounded shadow animate " cellspacing="0" role="grid" aria-describedby="tableModal_info" style="width: 100%; padding:10px 0;">
                        <thead>
                            <tr role="row">
                                <th tabindex="0" rowspan="1" colspan="1" style="">Fecha/Hora</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="">Peso Bruto</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="">Peso Tara</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="">Peso Neto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pesada of data.pesadas | paginate: { itemsPerPage:5, currentPage: p } ; let odd = odd" role="row" [class.odd]="!odd">
                                <td tabindex="0" style="">{{pesada.fecha}} {{pesada.hora}}</td>
                                <td>{{pesada.pesoBruto}}</td>
                                <td style="">{{pesada.pesoTara}}</td>
                                <td style="">{{pesada.pesoNeto}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-template #pT="paginationApi" (pageChange)="p = $event">
                        <div class="dataTables_paginate paging_simple_numbers">
                            <a id="tableModal_previous" class="paginate_button previous" (click)="pT.previous()" [class.disabled]="pT.isFirstPage()"> Anterior </a>
                            <span *ngFor="let page of pT.pages" [class.current]="pT.getCurrent() === page.value">
                                <a class="paginate_button" (click)="pT.setCurrent(page.value)" *ngIf="pT.getCurrent() !== page.value">{{ page.label }}</a>
                                <a class="paginate_button current" *ngIf="pT.getCurrent() === page.value">{{ page.label }}</a>
                            </span>
                            <a id="tableModal_next" class="paginate_button next" (click)="pT.next()" [class.disabled]="pT.isLastPage()"> Siguiente </a>
                        </div>
                    </pagination-template>
                </div>
            </div>
        </div>
            <!-- END tables-->
</section>
</div>
