<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<variable name="appName" value="MOAOperaciones" />

	<targets async="true">
		<target xsi:type="File"
				name="default"
				layout="${longdate} - ${level:uppercase=true} - [${logger}] - ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}} ${newline}"
				fileName="C:/MOAOperacionesLogsCompras/Web_${shortdate}.log"
				keepFileOpen="false"
				archiveFileName="C:/MOAOperacionesLogsCompras/Debug_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />

		<target xsi:type="File"
				name="azure"
				layout="${longdate} - ${level:uppercase=true} - [${logger}] - ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}} ${newline}"
				fileName="C:/MOAOperacionesLogsCompras/Azure_${shortdate}.log"
				keepFileOpen="false"
				archiveFileName="C:/MOAOperacionesLogsCompras/Azure_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />
		<target xsi:type="File"
				name="externalapi"
				layout="${longdate} - ${level:uppercase=true} - [${logger}] - ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}} ${newline}"
				fileName="C:/MOAOperacionesLogsCompras/ExternalAPI_${shortdate}.log"
				keepFileOpen="false"
				archiveFileName="C:/MOAOperacionesLogsCompras/ExternalAPI_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />
		<target xsi:type="File"
				name="front"
				layout="${longdate} - ${level:uppercase=true} - [${logger}] - ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}} ${newline}"
				fileName="C:/MOAOperacionesLogs/FrontErrors_${shortdate}.log"
				keepFileOpen="false"
				archiveFileName="C:/MOAOperacionesLogs/FrontErrors_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />
		<target xsi:type="File"
				name="comprasRegistroInfo"
				layout="${longdate} - ${level:uppercase=true} - [${logger}] - ${message} ${newline}"
				fileName="C:/MOAOperacionesLogs/RegistroInfo/${shortdate}.log"
				keepFileOpen="false"
				archiveFileName="C:/MOAOperacionesLogs/RegistroInfo/${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />
	</targets>
	<rules>
		<logger name="defaultLogger" writeTo="default" minlevel="Debug" />
		<logger name="azureLogger" writeTo="azure" minlevel="Debug" />
		<logger name="externalApiLogger" writeTo="externalapi" minlevel="Debug" />
		<logger name="frontLogger" writeTo="front" minlevel="Debug" />
		<logger name="comprasRegistroInfoLogger" writeTo="comprasRegistroInfo" minlevel="Debug" />
	</rules>
</nlog>