<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  <extensions>
    <add assembly="NLog.Database" />
  </extensions>

  <variable name="appName" value="MOAOperaciones" />
  <variable name="dbConnectionString" value="" />

  <targets async="true">
		<target xsi:type="File"
				name="default"
				layout="${longdate} - ${level:uppercase=true} - [${logger}] - ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}} ${newline}"
				fileName="C:/MOAOperacionesLogsPRE/Web_${shortdate}.log"
				keepFileOpen="false"
				archiveFileName="C:/MOAOperacionesLogsPRE/Debug_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />

		<target xsi:type="File"
				name="azure"
				layout="${longdate} - ${level:uppercase=true} - [${logger}] - ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}} ${newline}"
				fileName="C:/MOAOperacionesLogsPRE/Azure_${shortdate}.log"
				keepFileOpen="false"
				archiveFileName="C:/MOAOperacionesLogsPRE/Azure_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />
		<target xsi:type="File"
				name="externalapi"
				layout="${longdate} - ${level:uppercase=true} - [${logger}] - ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}} ${newline}"
				fileName="C:/MOAOperacionesLogsPRE/ExternalAPI_${shortdate}.log"
				keepFileOpen="false"
				archiveFileName="C:/MOAOperacionesLogsPRE/ExternalAPI_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />
		<target xsi:type="File"
				name="front"
				layout="${longdate} - ${level:uppercase=true} - [${logger}] - ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}} ${newline}"
				fileName="C:/MOAOperacionesLogs/FrontErrors_${shortdate}.log"
				keepFileOpen="false"
				archiveFileName="C:/MOAOperacionesLogs/FrontErrors_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />
		<target xsi:type="File"
				name="comprasRegistroInfo"
				layout="${longdate} - ${level:uppercase=true} - [${logger}] - ${message} ${newline}"
				fileName="C:/MOAOperacionesLogs/RegistroInfo/${shortdate}.log"
				keepFileOpen="false"
				archiveFileName="C:/MOAOperacionesLogs/RegistroInfo/${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />
    <!-- Target para SQL Server -->
    <target xsi:type="Database"
            name="dbLog"
            connectionString="${var:dbConnectionString}" >
      <commandText>
        INSERT INTO [logs].LogTable (Date, Level, Logger, Message, Exception)
        VALUES (@time_stamp, @level, @logger, @message, @exception)
      </commandText>
      <parameter name="@time_stamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:format=ToString}" />
    </target>
  </targets>
  <rules>
    <logger name="defaultLogger" writeTo="default" minlevel="Debug" />
    <logger name="azureLogger" writeTo="azure" minlevel="Debug" />
    <logger name="externalApiLogger" writeTo="externalapi" minlevel="Debug" />
    <logger name="frontLogger" writeTo="front" minlevel="Debug" />
    <logger name="comprasRegistroInfoLogger" writeTo="comprasRegistroInfo" minlevel="Debug" />
    <!-- Regla para escribir en SQL Server -->
    <logger name="*" writeTo="dbLog" minlevel="Debug" />
  </rules>
</nlog>