<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BigExcelCreator" version="3.2.2024.32600" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.5.0" targetFramework="net48" />
  <package id="CsvHelper" version="33.0.1" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="3.2.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.2.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="ExcelDataReader" version="2.1.2.3" targetFramework="net48" />
  <package id="FluentValidation" version="11.11.0" targetFramework="net48" />
  <package id="Google.Apis" version="1.68.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.68.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.68.0" targetFramework="net48" />
  <package id="Google.Apis.Drive.v3" version="1.68.0.3608" targetFramework="net48" />
  <package id="Handlebars.Net" version="2.1.6" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net48" />
  <package id="itextsharp.xmlworker" version="5.5.13" targetFramework="net48" />
  <package id="Microsoft.Azure.CognitiveServices.Vision.ComputerVision" version="7.0.1" targetFramework="net48" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.5" targetFramework="net48" />
  <package id="Microsoft.Azure.Storage.Blob" version="11.2.3" targetFramework="net48" />
  <package id="Microsoft.Azure.Storage.Common" version="11.2.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net48" />
  <package id="NetTopologySuite" version="2.6.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NLog" version="5.3.4" targetFramework="net48" />
  <package id="NLog.Database" version="5.3.4" targetFramework="net48" />
  <package id="Quartz" version="3.13.1" targetFramework="net48" />
  <package id="SharpKml.Core" version="6.1.0" targetFramework="net48" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.CodeDom" version="9.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0" targetFramework="net48" />
  <package id="System.Linq.Dynamic" version="1.0.8" targetFramework="net48" />
  <package id="System.Management" version="9.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" requireReinstallation="true" />
</packages>