<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BigExcelCreator" version="2.3.2024.30215" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net452" />
  <package id="CsvHelper" version="30.0.1" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.20.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="ExcelDataReader" version="2.1.2.3" targetFramework="net452" />
  <package id="FluentValidation" version="8.6.3" targetFramework="net452" />
  <package id="Google.Apis" version="1.42.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.42.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.42.0" targetFramework="net452" />
  <package id="Google.Apis.Drive.v3" version="1.42.0.1778" targetFramework="net452" />
  <package id="Handlebars.Net" version="2.1.2" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net452" />
  <package id="itextsharp.xmlworker" version="5.5.13" targetFramework="net452" />
  <package id="Microsoft.Azure.CognitiveServices.Vision.ComputerVision" version="6.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.Storage.Blob" version="11.2.2" targetFramework="net452" />
  <package id="Microsoft.Azure.Storage.Common" version="11.2.2" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.18" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NLog" version="4.7.6" targetFramework="net452" />
  <package id="Quartz" version="3.0.3" targetFramework="net452" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net452" />
  <package id="System.Linq.Dynamic" version="1.0.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.0" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>