<div class="information-detail-container">
  @if (cargoData(); as data) {
    <div class="logo-section">
      <img src="assets/moa_full_logo.svg" alt="Molinos agro" class="logo">
    </div>

    <button class="back-header" (click)="goBack()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="back-icon">
        <path d="M15 18l-6-6 6-6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <span class="back-title">{{ getTitle() }}</span>
    </button>

    @if (detailType() === 'carga') {
      <app-information-carga [data]="data"></app-information-carga>
    } @else {
      <app-information-documentos [data]="data"></app-information-documentos>
    }
  }
</div>