<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-10 col-sm-10 ">
                <strong>
                    Orden de carga Fason #{{ordenDeCargaFason.Id}} - {{ordenDeCargaFason.DescripcionEstado}}
                </strong>
                <div *ngIf="esAdmin" class="semaforo {{ordenDeCargaFason.ColorSemaforo}}"></div>
            </div>

            <div class="col-xs-12 col-sm-2" style="display: flex; justify-content: flex-end;">
                <!-- Button trigger modal -->
                <button *ngIf="botones.editar" type="button"
                    class="btn btn-custom col-xs-12 col-sm-11 btn-add btn-grande" (click)="editarOrden()"
                    id="modalToggleButton">
                    Editar
                </button>
            </div>
        </div>
        <div class="row myRow">
            <div class="clearfix myTables">
                <mensaje></mensaje>
                <spinner></spinner>
                <p-confirmDialog #dialogoSA key="confirmarSA" header="Confirmación de anulación" [responsive]="true"
                    appendTo="body">
                    <p-footer>
                        <button type="button" pButton label="No" class="ui-button-info botonModal"
                            (click)="dialogoSA.reject()"></button>
                        <button type="button" pButton label="Si" class="ui-button-success botonModal"
                            (click)="dialogoSA.accept()"></button>
                    </p-footer>
                </p-confirmDialog>
                <p-confirmDialog #dialogoRSA key="confirmarRSA" header="Confirmación de solicitud de anulación"
                    [responsive]="true" appendTo="body">
                    <p-footer>
                        <button type="button" pButton label="No" class="ui-button-info botonModal"
                            (click)="dialogoRSA.reject()"></button>
                        <button type="button" pButton label="Si" class="ui-button-success botonModal"
                            (click)="dialogoRSA.accept()"></button>
                    </p-footer>
                </p-confirmDialog>
                <p-confirmDialog #dialogoConfirmarAnular key="confirmarAnular" header="Confirmación de anulación"
                    [responsive]="true" appendTo="body">
                    <p-footer>
                        <button type="button" pButton label="No" class="ui-button-info botonModal"
                            (click)="dialogoConfirmarAnular.reject()"></button>
                        <button type="button" pButton label="Si" class="ui-button-success botonModal"
                            (click)="dialogoConfirmarAnular.accept()"></button>
                    </p-footer>
                </p-confirmDialog>
                <p-confirmDialog #dialogoConfirmarEdicion key="confirmarSolicitudEdicion"
                    header="Confirmación de edición" [responsive]="true" appendTo="body">
                    <p-footer>
                        <button type="button" pButton label="No" class="ui-button-info botonModal"
                            (click)="dialogoConfirmarEdicion.reject()"></button>
                        <button type="button" pButton label="Si" class="ui-button-success botonModal"
                            (click)="dialogoConfirmarEdicion.accept()"></button>
                    </p-footer>
                </p-confirmDialog>
            </div>
        </div>
        <div class="mySearch">
            <div class="formulario-input;">
                <div *ngIf="mensajeError != ''" class="formulario-input;">
                    <div class="alert alert-danger">
                        <i aria-hidden="true" class="fa fa-exclamation-triangle"></i>{{mensajeError}}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 rounded shadow animate no-padding-left-right">
                <div class="formulario-campo">
                    <div class="col-xs-12 col-md-12 search-header">
                        <title-caps>Informaci&oacute;n</title-caps>
                    </div>

                    <!-- Detalles interno -->
                    <div class="row myRow firstSection ">
                        <div class="squareInfo animate tablaInformacion">
                            <div class="row myRow">

                                <!-- cliente -->
                                <div class="col-xs-12 col-md-6">
                                    <div class="col-xs-12 col-md-12" *ngIf="validaCPEDG">
                                        <p class="blue"><strong>Reventa</strong></p>
                                        <p-checkbox name="reventa" [binary]="true"
                                            [(ngModel)]="ordenDeCargaFason.Reventa" [disabled]="true"></p-checkbox>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Raz&oacute;n social cliente</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.RazonSocialCliente}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Cliente</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.Cliente}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12" [hidden]="!esAdmin && !esCorredor">
                                        <p class=" blue"><strong>Raz&oacute;n social corredor</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.RazonSocialCorredor}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12" [hidden]="!esAdmin && !esCorredor">
                                        <p class=" blue"><strong>Corredor</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.Corredor}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12" *ngIf="validaCPEDG">
                                        <p class="blue"><strong>Destinatario</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.RazonSocialDestinatario}}
                                            ({{ordenDeCargaFason.CUITDestinatario}})</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12" *ngIf="validaCPEDG">
                                        <p class="blue"><strong>Destino</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.RazonSocialDestino}}
                                            ({{ordenDeCargaFason.CUITDestino}})</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12" *ngIf="validaCPEDG">
                                        <p class="blue"><strong>Planta</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.PlantaCodigo}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12" *ngIf="validaCPEDG">
                                        <p class="blue"><strong>Domicilio</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.DomicilioDescr}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Producto</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.Material}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Cantidad</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.Cantidad}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Fecha de retiro</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.FechaRetiro}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Destino</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.LocalidadDescripcion}}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-12" *ngIf="!validaCPEDG">
                                        <p class="blue"><strong>Destino Mercadería</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.DestinoMercaderia}}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Estado</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.DescripcionEstado}}</p>
                                    </div>
                                </div>

                                <!-- Chofer -->
                                <div class="col-xs-12 col-md-6">
                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Patente chasis</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.PatenteChasis}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Patente acoplado</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.PatenteAcoplado}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Nombre y apellido del chofer</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.NombreChofer}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Cuil Chofer</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.CUILChofer}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Raz&oacute;n social transporte</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.RazonSocialTransporte}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Cuit transporte</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.CUITTransporte}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12" *ngIf="validaCPEDG">
                                        <p class="blue"><strong>CUIT intermediario flete</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.CUITIntermediarioFlete || '-'}}</p>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Camión escalable</strong></p>
                                        <p-checkbox name="escalable" [binary]="true"
                                            [(ngModel)]="ordenDeCargaFason.Escalable" [disabled]="true"></p-checkbox>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Flete MOA</strong></p>
                                        <p-checkbox name="fleteMoa" [binary]="true"
                                            [(ngModel)]="ordenDeCargaFason.FleteMOA" [disabled]="true"></p-checkbox>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <p class="blue"><strong>Fecha</strong></p>
                                        <p style="width:100%">{{ordenDeCargaFason.FechaCreacion}}</p>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-12">
                                    <p class="blue"><strong>Observaci&oacute;n</strong></p>
                                    <p style="width:100%">{{ordenDeCargaFason.Observacion}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="myRow px-4" *ngIf="ordenDeCargaFason.Estado == estadoOrdenDeCargaFason.Entregada">
                            <div class="clearfix myTables">
                                <table #tabla id="tableModal"
                                    class="display nowrap dataTable no-footer dtr-inline rounded shadow animate ccpp-table"
                                    role="grid" aria-describedby="tableModal_info"
                                    style="width: 100%; padding:10px 0; background: white !important;">
                                    <thead>
                                        <tr role="row">
                                            <th>Fecha de salida</th>
                                            <th>Fecha de ingreso</th>
                                            <th>Cantidad de {{ordenDeCargaFason.UniMedCant | lowercase}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="fw-normal">{{ordenDeCargaFason.FechaEgreso}}</td>
                                            <td class="fw-normal">{{ordenDeCargaFason.FechaIngreso}}</td>
                                            <td class="fw-normal">{{ordenDeCargaFason.CantidadEntregada |
                                                number:'2.0-0'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="formulario">
                        <div class="containerBotones">
                            <div class="col-xs-5 col-md-3" *ngIf="botones.verificarTransporte">
                                <input type="button" (click)="verificarTransporte()"
                                    class="btn-custom btn-add btn-grande" value="Verificar Transporte">
                            </div>
                            <div class="col-xs-5 col-md-3" *ngIf="botones.aprobarRechazarAnulacion">
                                <input type="button" (click)="confirmarRechazarSolicitudAnulacion(true)"
                                    class="btn-custom btn-add btn-grande" value="Aprobar anulación">
                            </div>
                            <div class="col-xs-5 col-md-3" *ngIf="botones.verificarCuitsTercero">
                                <input type="button" (click)="verificarCuitsTerceros()"
                                    class="btn-custom btn-add btn-grande" value="Verificar Cuits Terceros">
                            </div>
                            <div class="col-xs-5 col-md-3" *ngIf="botones.aprobarRechazarAnulacion">
                                <input type="button" (click)="confirmarRechazarSolicitudAnulacion(false)"
                                    class="btn-custom btn-remove btn-grande" value="Rechazar anulación">
                            </div>
                            <div class="col-xs-5 col-md-3" *ngIf="botones.aprobarRechazarEdicion">
                                <input type="button" (click)="confirmarRechazarSolicitudEdicion(true)"
                                    class="btn-custom btn-add btn-grande" value="Aprobar edición">
                            </div>
                            <div class="col-xs-5 col-md-3" *ngIf="botones.aprobarRechazarEdicion">
                                <input type="button" (click)="confirmarRechazarSolicitudEdicion(false)"
                                    class="btn-custom btn-remove btn-grande" value="Rechazar edición">
                            </div>
                            <div class="col-xs-5 col-md-3" *ngIf="botones.solicitarAnulacion">
                                <input type="button" (click)="confirmarSolicitudAnulacion()"
                                    class="btn-custom btn-remove btn-grande" value="Solicitar Anulación">
                            </div>
                            <div class="col-xs-5 col-md-3" *ngIf="botones.anular">
                                <input type="button" (click)="confirmarAnulacion()"
                                    class="btn-custom btn-remove btn-grande" value="Anular">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>