<div class="content-wraper">
  <!-- CONTENT-->
  <section class="container-fluid clearfix">
    <!--Title-->
    <div class="row titleSection d-flex justify-between">
      <div class="col-xs-12 col-sm-10"><strong>Aplicación de CCPP</strong> </div>
      <div class="col-xs-12 col-sm-8 col-md-8" style="display: flex; justify-content: flex-end;">
        <a (click)="exportExcelAplicacionesCCPP()" style="text-decoration:none!important">
          <div class="btnSection animate align-right">
            Exportar <img src="Content/images/buttons/EXPORT.svg" alt="exportar" />
          </div>
        </a>
      </div>
    </div>
    <!--End Title-->
    <!--Search-->
    <div class="row myRow firstSection mySearch mt-0">
      <div class="col-xs-12 col-md-12 rounded shadow animate">
        <div class="col-xs-12 col-md-12 search-header">
          <spinner-small></spinner-small>
          <title-caps>Refinar resultados</title-caps>
        </div>
        <div id="searchVer" class="col-xs-12 col-sm-6 col-md-15">
          <p>Ver</p>
          <filtro-fecha (ClickEvent)="getListadoFechas()"></filtro-fecha>
        </div>
        <div id="searchContrato" class="col-xs-12 col-sm-6 col-md-15">
          <p>Contrato</p>
          <div class="styled-select">
            <input type="search" class="" placeholder="" [formControl]="contratoFiltro" aria-controls="tableModal">
          </div>
        </div>
        <div id="searchCCPP" class="col-xs-12 col-sm-6 col-md-15">
          <p>Carta Porte</p>
          <div class="styled-select">
            <input type="search" class="" placeholder="" [formControl]="ccppFiltro" aria-controls="tableModal">
          </div>
        </div>
        <div id="searchEstado" class="col-xs-12 col-sm-6 col-md-15">
          <p>Estado</p>
          <div class="styled-select">
            <dropdown [tipoDropdown]="'filtroVariable'" [options]="opcionesEstadoAplicacionCCPP"
              (select)="estadoFiltro.setValue($event)"></dropdown>
          </div>
        </div>
        <div id="searchCliente" class="col-xs-12 col-sm-6 col-md-15" *ngIf="filtraClientes">
          <p>Cliente</p>
          <div class="styled-select">
            <dropdown [tipoDropdown]="'filtroVariable'" [options]="opcionesClientes"
              (select)="clienteFiltro.setValue($event)"></dropdown>
          </div>
        </div>
        <div id="searchMostrar" class="col-xs-12 col-sm-6 col-md-15">
          <p>Mostrar</p>
          <div class="styled-select">
            <dropdown [tipoDropdown]="'numberItems'" (select)="setItemsPerPage($event)"></dropdown>
          </div>
        </div>
      </div>
    </div>
    <!-- End Search-->
    <!-- Tables-->

    <div class="row myRow">
      <div class="clearfix myTables">
        <mensaje></mensaje>
        <spinner></spinner>
        <ng-container *ngIf="isVisible">
          <table id="tableModal" class="display nowrap dataTable no-footer dtr-inline rounded shadow animate "
            role="grid" aria-describedby="tableModal_info" style="width: 100%;padding: 30px 0">
            <thead>
              <tr role="row">
                <th class="fw-bold fs-medium" id="fechaRow" tabindex="0" rowspan="1" colspan="1">
                  Fecha
                </th>
                <th class="fw-bold fs-medium" id="usuarioRow" tabindex="0" rowspan="1" colspan="1" *ngIf="verUsuario">
                  Usuario
                </th>
                <th class="fw-bold fs-medium" id="usuarioRow" tabindex="0" rowspan="1" colspan="1"
                  *ngIf="verRazonSocial">
                  Razon Social
                </th>
                <th class="fw-bold fs-medium" id="contratoRow" tabindex="0" rowspan="1" colspan="1">
                  CTO
                </th>
                <th class="fw-bold fs-medium" id="ccppRow" tabindex="0" rowspan="1" colspan="1">
                  CCPP
                </th>
                <th class="fw-bold fs-medium" id="kilosRow" tabindex="0" rowspan="1" colspan="1">
                  KGS
                </th>
                <th class="fw-bold fs-medium" id="estadoRow" tabindex="0" rowspan="1" colspan="1">
                  Estado
                </th>
                <th class="fw-bold fs-medium" id="observacionesRow" tabindex="0" rowspan="1" colspan="1">
                  Observaciones
                </th>
                <th id="accionesRow" tabindex="0" rowspan="1" colspan="1">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aplicacion of aplicaciones 
                  | customFilter:'Contrato':contratoFiltro.value
                  | customFilter:'CartaPorte':ccppFiltro.value
                  | customFilter:'LabelEstado':estadoFiltro.value
                  | customFilter:'RazonSocialCuit':clienteFiltro.value
                  | paginate: { itemsPerPage:itemsPerPage, currentPage: p }
                  ;let odd=odd" role="row" [class.odd]="!odd">
                <td>{{aplicacion.FechaAlta}}</td>
                <td *ngIf="verUsuario">{{aplicacion.MailUsuario}}</td>
                <td *ngIf="verRazonSocial">{{aplicacion.RazonSocial}}</td>
                <td>{{aplicacion.Contrato}}</td>
                <td>{{aplicacion.CartaPorte}}</td>
                <td>
                  {{
                  aplicacion.Estado !== estadosAplicacionCCPP.Error?
                  (aplicacion.Kilogramos| number:'2.0' )
                  : null
                  }}
                </td>
                <td [ngClass]="[aplicacion.ColorEstado,'fw-bold']">{{aplicacion.LabelEstado}}</td>
                <td>{{aplicacion.Error}}</td>
                <td>
                  <ng-container *ngIf="!develop">
                    <i *ngIf="aplicacion.Estado === estadosAplicacionCCPP.Pendiente"
                      (click)="eliminarAplicacion(aplicacion)">
                      <img src="../../../../Content/images/icons/trashRed.svg" alt="trashRed" class="cursor-pointer"
                        style="height:25px;" />
                    </i>
                  </ng-container>

                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        <pagination-template #pT="paginationApi" (pageChange)="p = $event" *ngIf="isVisible">
          <div class="dataTables_paginate paging_simple_numbers">
            <a id="tableModal_previous" class="paginate_button previous" (click)="pT.previous()"
              [class.disabled]="pT.isFirstPage()"> Anterior </a>
            <span *ngFor="let page of pT.pages" [class.current]="pT.getCurrent() === page.value">
              <a class="paginate_button" (click)="pT.setCurrent(page.value)" *ngIf="pT.getCurrent() !== page.value">{{
                page.label }}</a>
              <a class="paginate_button current" *ngIf="pT.getCurrent() === page.value">{{ page.label }}</a>
            </span>
            <a id="tableModal_next" class="paginate_button next" (click)="pT.next()" [class.disabled]="pT.isLastPage()">
              Siguiente </a>
          </div>
        </pagination-template>
      </div>
    </div>
    <!-- END tables-->
  </section>
  <!--End CONTENT-->
</div>