<div class="content-wraper">
    <section class="container-fluid clearfix">
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 ">
                <strong>Gestión de CM05</strong>
                <button type="button" pButton icon="fa fa-refresh" (click)="listarCabeceras()" style="background-color: #067935; float: right"></button>
            </div>
        </div>
        <div>
            <p-table #dt [columns]="cabeceraCols" [value]="cabeceras" selectionMode="single" [(selection)]="selectedCabecera" [paginator]="true" [rows]="10">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th class="col-md-1 th-cabecera" rowspan="2">Id</th>
                        <th class="col-md-3 th-cabecera" style="border-bottom:none">
                            Estado
                        </th>
                        <th class="col-md-2 th-cabecera">CUIT</th>
                        <th class="col-md-1 th-cabecera" rowspan="2">Anticipo</th>
                        <th class="col-md-1 th-cabecera" rowspan="2">Sede</th>
                        <th class="col-md-2 th-cabecera" rowspan="2">Fecha Carga</th>
                        <th class="col-md-2 th-cabecera" rowspan="2">Última modificación</th>
                    </tr>
                    <tr>
                        <th class="col-md-2 th-cabecera" style="font-size:10px !important; text-transform:capitalize; border-top:none">
                            <p-multiSelect [styleClass]="spanFiltroMultiSelect" appendTo="body" [options]="estados" defaultLabel="" (onChange)="dt.filter($event.value, 'Estado', 'in')">
                                <ng-template let-estado pTemplate="item">
                                    <span>{{estado.label}}</span>
                                </ng-template>
                            </p-multiSelect>
                        </th>
                        <th>
                            <input [(ngModel)]="cuitFiltro" mask="00-00000000-0" (input)="filtrarCuit(dt)" unmask="false">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [ngClass]="rowData.MalCargada ? 'tr-cabecera-error' : null" (click)="onCabeceraClick(rowData)">
                        <td class="td-cabecera">
                            {{rowData.Id}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.Estado}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.CUIT}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.Anticipo}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.Sede}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.FechaCarga | date:'dd/MM/yyyy hh:mm:ss'}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.FechaUltimaModificacion | date:'dd/MM/yyyy HH:mm'}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </section>
</div>

<p-dialog *ngIf="selectedCabecera" [(visible)]="displayDialog" [maximizable]="true" [responsive]="true" showEffect="fade" [modal]="true" [width]="900" appendTo="body">
    <p-header>
        <div class="col-md-3">
            <label class="headerDetalle">
                CUIT:
            </label>
            <label>
                {{selectedCabecera.CUIT}}
            </label>
        </div>
        <div class="col-md-3">
            <label class="headerDetalle">
                Anticipo:
            </label>
            <label>
                {{selectedCabecera.Anticipo}}
            </label>
        </div>
        <div class="col-md-3">
            <label class="headerDetalle">
                Sede:
            </label>
            <label>
                {{selectedCabecera.Sede}}
            </label>
        </div>
    </p-header>
    <p-table [columns]="detalleCols" [value]="detalles" dataKey="Id" editMode="row" [scrollable]="true" scrollHeight="flex" [frozenColumns]="frozenCols" frozenWidth="min-width">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="col-md-3 th-detalle" colspan="2">Jurisdicción</th>
                <th class="col-md-1 th-detalle">Fecha Inicio</th>
                <th class="col-md-1 th-detalle">Fecha Cese</th>
                <th class="col-md-4 th-detalle">Coeficiente Unificado</th>
                <th class="col-md-2 th-detalle">Última modificación</th>
                <th class="col-md-1 th-detalle" *ngIf="selectedCabecera.Estado=='Pendiente'"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-columns="columns">
            <tr *ngIf="!rowData.Editar; else elseBlock">
                <td class="td-detalle">
                    {{rowData.Jurisdiccion}}
                </td>
                <td class="td-detalle">
                    {{rowData.NumeroJurisdiccion}}
                </td>
                <td class="td-detalle">
                    {{rowData.FechaInicio | date:'dd/MM/yyyy'}}
                </td>
                <td class="td-detalle">
                    {{rowData.FechaCese | date:'dd/MM/yyyy'}}
                </td>
                <td class="td-detalle">
                    {{rowData.CoeficienteUnificado}}
                </td>
                <td class="td-detalle">
                    {{rowData.FechaUltimaModificacion | date:'dd/MM/yyyy HH:mm'}}
                </td>
                <td class="td-detalle" style="text-align:center" *ngIf="selectedCabecera.Estado=='Pendiente'">
                    <button pButton type="button" (click)="editarRow(rowData)" class="p-button-secondary" style="background-color: #075088;" icon="fa fa-edit"></button>
                </td>
            </tr>
            <ng-template #elseBlock>
                <tr>
                    <td class="td-detalle">
                        <input type="text" [(ngModel)]="rowData.Jurisdiccion" name="rowData.Jurisdiccion" required>
                    </td>
                    <td class="td-detalle">
                        <input type="text" pattern="[0-9]+" [(ngModel)]="rowData.NumeroJurisdiccion" name="rowData.NumeroJurisdiccion" required>
                    </td>
                    <td class="td-detalle">
                        <p-calendar [(ngModel)]="rowData.FechaInicio" name="rowData.FechaInicio" dateFormat="dd/mm/yy"></p-calendar>
                    </td>
                    <td class="td-detalle">
                        <p-calendar [(ngModel)]="rowData.FechaCese" name="rowData.FechaCese" dateFormat="dd/mm/yy"></p-calendar>
                    </td>
                    <td class="td-detalle">
                        <input type="text" pattern="[0-9]+" [(ngModel)]="rowData.CoeficienteUnificado" name="rowData.CoeficienteUnificado" required>
                    </td>
                    <td class="td-detalle">
                        {{rowData.FechaUltimaModificacion | date:'dd/MM/yyyy HH:mm'}}
                    </td>
                    <td class="td-detalle" style="text-align:center" *ngIf="selectedCabecera.Estado=='Pendiente'">
                        <button pButton type="button" (click)="guardarRow(rowData)" class="p-button-secondary" style="background-color: #067935;" icon="fa fa-check"></button>
                        <button pButton type="button" (click)="cancelarGuardarRow(rowData)" class="p-button-secondary" style="background-color: #ff4343;" icon="fa fa-times"></button>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
    <p-footer [minHeight]="'auto'">
        <button pButton label="Autorizar" (click)="autorizarCabecera()" [disabled]="selectedCabecera.Estado!='Pendiente'" type="button" icon="fa fa-check-circle" iconPos="right" style="float: right"></button>
        <button pButton label="Descargar PDF" (click)="descargarFormularioCM05()" type="button" icon="fa fa-file" iconPos="right" style="float: right"></button>
    </p-footer>
<p-toast></p-toast>
</p-dialog>
