.th-cabecera {
    text-align: center;
    text-transform: capitalize;
    font-size: 10px;
}

.td-cabecera {
    text-align: center;
    font-size: 10px;
    width: min-content;
}

.tr-cabecera-error {
    background-color: #E86B6B !important;
}

.spanFiltroMultiSelect {
    width: 100%;
    font-size: 10px !important;
    text-align: center;
    text-transform: capitalize;
}

.th-detalle {
    text-align: center;
    text-transform: capitalize;
    width: auto;
}

.td-detalle {
    font-size: 10px;
    width: auto;
}

.headerDetalle {
    font-size:14px;
    padding-right:0.5em;
    text-align:center;
    vertical-align:central;
}

.th-movimiento {
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
}

.td-movimiento {
    font-size: 10px;
}

input {
    width: 100%;    
}

::ng-deep .ui-calendar input{
    width: 100%;
}

::ng-deep .ui-datepicker {
    width: 450%;
}

::ng-deep .ui-multiselect .ui-multiselect-label-container {
    font-size: 10px;
}
::ng-deep .ui-multiselect {
    width: 100%;
}

::ng-deep .ui-dialog .ui-dialog-footer{
    height: 50px;
}

ng-multiselect-dropdown /deep/ .multiselect-dropdown > .dropdown-btn {
    font-size: 12px !important;
}

::ng-deep .ui-dialog-titlebar {
    background-color: #067935 !important
}

.titulo-dialog-CM05 {
    font-family:"Roboto Condensed", Arial, sans-serif !important;
    color: #FFFFFF !important;
    font-size: 21px !important;
    font-weight: bold !important;
}

::ng-deep .ui-button,
::ng-deep .ui-tabmenuitem.ui-state-active,
::ng-deep .ui-paginator-page.ui-state-active {
    margin-right: 8px;
    color: #FFFFFF !important;
    font-weight: bold !important;
    background-color: #067935 !important;
}

::ng-deep body .ui-datepicker table td {
    padding: 0;
}

::ng-deep body .ui-datepicker:not(.ui-datepicker-inline) {
    width: 266px;
    padding: 3px;
}

::ng-deep body .ui-datepicker table td > a, body .ui-datepicker table td > span {
    padding: 3px;
}