.th-detalle {
    font-size: 9px;
    justify-content: center;
    width: min-content;
}

.td-detalle {
    font-size: 9px;
    width: min-content;
}

input {
    width: 100%;    
}

::ng-deep .ui-calendar input{
    width: 100%;
}

::ng-deep .ui-datepicker{
    width: 450%;
}