<div class="content-wraper">
    <section class="container-fluid clearfix">
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 ">
                <strong>Gestión de CM05</strong>
            </div>
            <div class="col-xs-12 col-sm-2" style="display: flex; justify-content: flex-end;">
                <!-- Button trigger modal -->
                <button type="button" pButton icon="fa fa-refresh" (click)="listarCabeceras()" style="background-color: #067935; float: right"></button>   
                <button type="button" id="openModalCargaCM05" data-toggle="modal" data-target="#ModalCargaCM05" class="btn btn-custom col-xs-12 col-sm-11 btn-add btn-grande" id="modalToggleButton">
                  Cargar CM05
                </button>    
              </div>
        </div>
        <div>
            <div style="width: 75%; height: 35px; margin-top: 10px; margin-bottom: 10px;">
                <button type="button" pButton icon="fa fa-refresh" (click)="listarCabeceras()" style="background-color: #067935; float: right"></button>
            </div>
            <p-table #dt [columns]="cabeceraCols" [value]="cabeceras" selectionMode="single" [(selection)]="selectedCabecera" [paginator]="true" [rows]="10">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th class="col-md-1 th-cabecera" rowspan="2">Id</th>
                        <th class="col-md-1 th-cabecera" rowspan="2">Id Consulta</th>
                        <th class="col-md-1 th-cabecera" rowspan="2">Razón Social</th>
                        <th class="col-md-3 th-cabecera" style="border-bottom:none">
                            Estado
                        </th>
                        <th class="col-md-1 th-cabecera" rowspan="2">Secuencia</th>
                        <th class="col-md-2 th-cabecera">CUIT</th>
                        <th class="col-md-1 th-cabecera" rowspan="2">Anticipo</th>
                        <th class="col-md-1 th-cabecera" rowspan="2">Sede</th>
                        <th class="col-md-2 th-cabecera" rowspan="2">Fecha Carga</th>
                        <th class="col-md-2 th-cabecera" rowspan="2">Última modificación</th>
                    </tr>
                    <tr>
                        <th class="col-md-2 th-cabecera" style="font-size:10px !important; text-transform:capitalize; border-top:none">
                            <p-multiSelect [styleClass]="spanFiltroMultiSelect" appendTo="body" [options]="estados" defaultLabel="" (onChange)="dt.filter($event.value, 'Estado', 'in')">
                                <ng-template let-estado pTemplate="item">
                                    <span>{{estado.label}}</span>
                                </ng-template>
                            </p-multiSelect>
                        </th>
                        <th>
                            <input [(ngModel)]="cuitFiltro" placeholder="00-00000000-0" mask="00-00000000-0" (input)="dt.filter(cuitFiltro, 'CUIT', 'startsWith')" unmask="true">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [ngClass]="rowData.MalCargada ? 'tr-cabecera-error' : null" (click)="onCabeceraClick(rowData)">
                        <td class="td-cabecera">
                            {{rowData.Id}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.ConsultaId}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.RazonSocial}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.Estado}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.Secuencia}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.CUIT | mask: '00-00000000-0'}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.Anticipo}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.Sede}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.FechaCarga | date:'dd/MM/yyyy hh:mm:ss'}}
                        </td>
                        <td class="td-cabecera">
                            {{rowData.FechaUltimaModificacion | date:'dd/MM/yyyy HH:mm'}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </section>
</div>

<p-dialog *ngIf="selectedCabecera" [(visible)]="displayDialog" [maximizable]="true" [responsive]="true" showEffect="fade" [modal]="true" [width]="900" appendTo="body" (onHide)="closeDialogDetalles()">
    <p-header>
        <div class="col-md-3">
            <label class="headerDetalle">
                Id:
            </label>
            <label>
                {{selectedCabecera.Id}}
            </label>
        </div>
        <div class="col-md-3">
            <label class="headerDetalle">
                Id Consulta:
            </label>
            <label>
                {{selectedCabecera.ConsultaId}}
            </label>
        </div>
    </p-header>
    <div class="row">
        <div class="col-md-10">
            <div class="col-12 col-sm-12">
                <div class="col-2 col-sm-2" style="padding-right:0px">
                    <label class="headerDetalle" style="text-align: left">
                        Razón Social:
                    </label>
                </div>
                <div class="col-10 col-sm-10" >
                    <label *ngIf="!editandoCabecera; else elseRazonSocialBlock">
                        {{selectedCabecera.RazonSocial}}
                    </label>
                    <ng-template #elseRazonSocialBlock>
                        <textarea pInputTextarea rows="1" [(ngModel)]="selectedCabecera.RazonSocial"></textarea>
                    </ng-template>
                </div>
            </div>
            <div class="col-12 col-sm-12">
                <div class="col-2 col-sm-2">
                    <label class="headerDetalle">
                        CUIT:
                    </label>
                </div>
                <div class="col-3 col-sm-3">
                    <label *ngIf="!editandoCabecera; else elseCUITBlock">
                        {{selectedCabecera.CUIT | mask: '00-00000000-0'}}
                    </label>
                    <ng-template #elseCUITBlock>
                        <input type="text" mask="00-00000000-0" [(ngModel)]="selectedCabecera.CUIT" name="selectedCabecera.CUIT" required> <!--style="width:max-content"-->
                    </ng-template>
                </div>
                <div class="col-2 col-sm-2">
                    <label class="headerDetalle">
                        Anticipo:
                    </label>
                </div>
                <div class="col-3 col-sm-3">
                    <label *ngIf="!editandoCabecera; else elseAnticipoBlock">
                        {{selectedCabecera.Anticipo}}
                    </label>
                    <ng-template #elseAnticipoBlock>
                        <input type="text" [(ngModel)]="selectedCabecera.Anticipo" name="selectedCabecera.Anticipo" required> <!--style="width:max-content"-->
                    </ng-template>
                </div>
            </div>
            <div class="col-12 col-sm-12">
                <div class="col-2 col-sm-2">
                    <label class="headerDetalle">
                        Sede:
                    </label>
                </div>
                <div class="col-3 col-sm-3">
                    <label *ngIf="!editandoCabecera; else elseSedeBlock">
                        {{selectedCabecera.Sede}}
                    </label>
                    <ng-template #elseSedeBlock>
                        <input type="text" [(ngModel)]="selectedCabecera.Sede" name="selectedCabecera.Sede" required>
                    </ng-template>
                </div>
                <div class="col-2 col-sm-2">
                    <label class="headerDetalle">
                        Secuencia:
                    </label>
                </div>
                <div class="col-5 col-sm-5">
                    <label *ngIf="!editandoCabecera; else elseSecuenciaBlock">
                        {{selectedCabecera.Secuencia}}
                    </label>
                    <ng-template #elseSecuenciaBlock>
                        <p-dropdown [options]="secuencias" [(ngModel)]="selectedCabecera.SecuenciaId" [style]="{'width':'75% !important'}"
                                    [showClear]="true" [autoDisplayFirst]="false"></p-dropdown>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-sm-1" style="width:12%" *ngIf="selectedCabecera.Estado=='Pendiente'">
            <button *ngIf="!editandoCabecera; else elseBotonesBlock" pButton type="button" (click)="editarCabecera()" class="p-button-secondary" style="background-color: #075088;" icon="fa fa-edit"></button>
            <ng-template #elseBotonesBlock>
                <button pButton type="button" (click)="guardarCabeceraEditada()" class="p-button-secondary" style="background-color: #067935;" icon="fa fa-check"></button>
                <button pButton type="button" (click)="cancelarEditarCabecera()" class="p-button-secondary" style="background-color: #ff4343;" icon="fa fa-times"></button>
            </ng-template>
        </div>
    </div>
    <p-table [columns]="detalleCols" [value]="detalles" dataKey="Id" editMode="row" [scrollable]="true" scrollHeight="flex" [frozenColumns]="frozenCols" frozenWidth="min-width">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="col-md-3 th-detalle" colspan="2">Jurisdicción</th>
                <th class="col-md-1 th-detalle">Fecha Inicio</th>
                <th class="col-md-1 th-detalle">Fecha Cese</th>
                <th class="col-md-4 th-detalle">Coeficiente Unificado</th>
                <th class="col-md-2 th-detalle">Última modificación</th>
                <th class="col-md-1 th-detalle" *ngIf="selectedCabecera.Estado=='Pendiente'"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-columns="columns">
            <tr *ngIf="!rowData.Editar; else elseBlock">
                <td class="td-detalle">
                    {{rowData.NumeroJurisdiccion}}
                </td>
                <td class="td-detalle">
                    {{rowData.Jurisdiccion}}
                </td>
                <td class="td-detalle">
                    {{rowData.FechaInicio | date:'dd/MM/yyyy'}}
                </td>
                <td class="td-detalle">
                    {{rowData.FechaCese | date:'dd/MM/yyyy'}}
                </td>
                <td class="td-detalle">
                    {{rowData.CoeficienteUnificado}}
                </td>
                <td class="td-detalle">
                    {{rowData.FechaUltimaModificacion | date:'dd/MM/yyyy HH:mm'}}
                </td>
                <td class="td-detalle" style="text-align:center" *ngIf="selectedCabecera.Estado=='Pendiente'">
                    <button pButton type="button" (click)="editarRow(rowData)" class="p-button-secondary" style="background-color: #075088;" icon="fa fa-edit"></button>
                </td>
            </tr>
            <ng-template #elseBlock>
                <tr>
                    <td class="td-detalle">
                        <input type="text" pattern="[0-9]+" [(ngModel)]="rowData.NumeroJurisdiccion" name="rowData.NumeroJurisdiccion" required>
                    </td>
                    <td class="td-detalle">
                        <input type="text" [(ngModel)]="rowData.Jurisdiccion" name="rowData.Jurisdiccion" required>
                    </td>
                    <td class="td-detalle">
                        <p-calendar [(ngModel)]="rowData.FechaInicio" name="rowData.FechaInicio" dateFormat="dd/mm/yy"></p-calendar>
                    </td>
                    <td class="td-detalle">
                        <p-calendar [(ngModel)]="rowData.FechaCese" name="rowData.FechaCese" dateFormat="dd/mm/yy"></p-calendar>
                    </td>
                    <td class="td-detalle">
                        <input type="text" pattern="[0-9]+" [(ngModel)]="rowData.CoeficienteUnificado" name="rowData.CoeficienteUnificado" required>
                    </td>
                    <td class="td-detalle">
                        {{rowData.FechaUltimaModificacion | date:'dd/MM/yyyy HH:mm'}}
                    </td>
                    <td class="td-detalle" style="text-align:center" *ngIf="selectedCabecera.Estado=='Pendiente'">
                        <button pButton type="button" (click)="guardarRow(rowData)" class="p-button-secondary" style="background-color: #067935;" icon="fa fa-check"></button>
                        <button pButton type="button" (click)="cancelarGuardarRow(rowData)" class="p-button-secondary" style="background-color: #ff4343;" icon="fa fa-times"></button>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
    <p-footer [minHeight]="'auto'">
        <button pButton label="Autorizar" (click)="autorizarCabecera()" [disabled]="selectedCabecera.Estado!='Pendiente'" type="button" icon="fa fa-check-circle" iconPos="right" style="float: right"></button>
        <button pButton label="Descargar PDF" (click)="descargarFormularioCM05()" type="button" icon="fa fa-file" iconPos="right" style="float: right"></button>
    </p-footer>
    <p-toast></p-toast>
</p-dialog>

<div class="modal fade" id="ModalCargaCM05" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    data-backdrop="false" style="overflow-y: scroll;background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog" role="document" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"
                    id="hideModalCargaCM05">
                    <span aria-hidden="true" id="HideModalOperando">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Cargar CM05
                </h4>
            </div>
            <div class="modal-body" style="padding-top:0;">
                <mensaje #mensajeModalComponent></mensaje>
                <div class="content-wraper" style="margin-top:0;padding-top:0">
                    <div class="for row myRow">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input class="adjuntarArchivo" #fileInput type="image"
                            src="Content/images/buttons/Adjuntar.svg" style="padding-left: 15px; margin-top: 15px; width: 190px; text-align: center;">
                            <input class="adjuntarArchivo1" #fileInput type="file"
                            style="display:none" (change)="cargarArchivo($event)" multiple>
                            <br />
    
                            <div *ngIf="listaArchivos.length > 0" class="col-xs-12 col-sm-12 col-md-12 archivosBox">
                                <ng-container *ngFor="let Archivo of listaArchivos, let i = index">
                                    <p class="col-xs-10 col-sm-10 col-md-10">{{Archivo.name}}</p>
                                    <span class="fa fa-times col-xs-1 col-sm-1 col-md-1" (click)="borrarArchivo(i)"></span>
                                    <br>
                                </ng-container>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="for row myRow center">
                        <button type="button" class="btn-custom btn-mediano btn-add"
                            (click)="cargarCM05()">
                            Cargar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>