<div class="tab-pane" id="tab2">
    <spinner></spinner>
    <p-toast key="toastPopupDetalles" [style]="{'white-space': 'pre-line'}"></p-toast>
    <div class="formulario">
        <section class="container-fluid">
            <form [formGroup]="modificarDatosForm">
                <div class="row">
                    <div class="col-md-4">
                        <div class="formulario-label">
                            Tipo de Usuario
                        </div>
                        <div class="styled-select">
                            <select formControlName="idTipoUsuario" (change)="onActualizaTipoProveedor()">
                                <option value="">Seleccione</option>
                                <option *ngFor="let tipo of tipoUsuario" [ngValue]="tipo.Id">{{tipo.Nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="formulario-label">
                            CUIT
                        </div>
                        <div class="styled-select">
                            <input type="search" formControlName="cuit" class="form-control" mask="00-00000000-0"
                                autocomplete="chrome-off" (change)="onActualizaCuitProveedor()" maxlength="13" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="formulario-label">
                            Código de Organización de Compra
                        </div>
                        <div class="styled-select">
                            <input type="text" formControlName="organizacionDeCompra" class="form-control"
                                autocomplete="chrome-off" maxlength="20"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="div-division" *ngIf="!existeProveedores">
                    <p class="titulo-rojo">
                        El usuario no tiene correctamente configurado un proveedor: no es posible editar código ni razón
                        social.<br />
                        Por favor, comunicarse con sistemas.
                    </p>
                </div>
                <div class="div-division" formArrayName="proveedores" *ngIf="existeProveedores">
                    <div
                        *ngFor="let proveedor of modificarDatosForm.get('proveedores').value; let i = index; trackBy:trackByFn">
                        <div class="row" [formGroupName]="i">
                            <div class="col-md-2">
                                <div class="formulario-label">
                                    Código Proveedor
                                </div>
                                <div class="styled-select">
                                    <input type="text" formControlName="codigoProveedor" class="form-control"
                                        autocomplete="chrome-off" maxlength="100"
                                        onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode==67" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="formulario-label">
                                    Razón Social
                                </div>
                                <div class="styled-select">
                                    <input type="text" formControlName="razonSocial" class="form-control"
                                        autocomplete="chrome-off" maxlength="200" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="formulario-label">
                                    Es Revendedor
                                </div>
                                <div class="styled-select">
                                    <input type="checkbox" formControlName="esRevendedor" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
                <br />
                <div class="row center">
                    <button type="button" class="btn-custom btn-mediano btn-add animate tamanio-button"
                        data-target="#modalCargarNuevaCUIT" data-toggle="modal">
                        Asignar nueva CUIT<span class="fa  fa-address-book "></span>
                    </button>
                    <button type="button" class="btn-custom btn-mediano btn-add animate tamanio-button"
                        (click)="onModificarDatos()">
                        Guardar Cambios <span class="fa  fa-save "></span>
                    </button>

                </div>
            </form>
        </section>
    </div>
</div>

<div class="modal fade" id="modalCargarNuevaCUIT" role="dialog" aria-labelledby="" data-backdrop="false"
    style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content p-2">
            <div class="modal-header">
                <button id="cerrarModalCargarNuevaCUIT" type="button" class="close btn-close" data-toggle="modal"
                    aria-label="Close" data-target="#modalCargarNuevaCUIT" (click)="limpiarFormAsignar()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="asignarCUITHeaderLabel">Asignar nueva CUIT
                </h4>
            </div>
            <div class="modal-body">
                <spinner #spinnerModalAsignar></spinner>
                <div class="formulario">
                    <section class="container-fluid">
                        <form [formGroup]="formAsignarCUIT">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="formulario-label">
                                        CUIT a asignar
                                    </div>
                                    <div class="styled-select">
                                        <input type="search" class="form-control" formControlName="cuit"
                                            mask="00-00000000-0" autocomplete="chrome-off" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="formulario-label">
                                        Razon social
                                    </div>
                                    <div class="styled-select">
                                        <input type="text" class="form-control" formControlName="razonSocial" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="formulario-label">
                                        Tipo de Proveedor
                                    </div>
                                    <div class="styled-select">
                                        <select formControlName="tipoProveedorId">
                                            <option *ngFor="let tipo of tipoUsuario" [ngValue]="tipo.Id">{{tipo.Nombre}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="formulario-label">
                                        Código de Proveedor
                                    </div>
                                    <div class="styled-select">
                                        <input type="text" class="form-control" formControlName="codigoProveedor" />
                                    </div>
                                </div>
                            </div>

                            <p-toast key="toastAsignacion" [style]="{'white-space': 'pre-line'}"></p-toast>
                            <br />
                            <div class="row center">
                                <button type="button" class="btn-custom btn-mediano btn-add animate tamanio-button"
                                    (click)="onAsignarNuevaCuit()"
                                    [disabled]="formAsignarCUIT.invalid || asignandoCuit">
                                    Asignar <span class="fa fa-save "></span>
                                </button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>