<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<system.web>
		<compilation targetFramework="4.5.2" debug="true" />
		<httpRuntime targetFramework="4.5.2" maxRequestLength="10240" />
	</system.web>
	<system.webServer>
		<modules>
			<remove name="UrlRoutingModule-4.0" />
			<add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<!--<security>
			<authentication>
				<anonymousAuthentication userName="" />
			</authentication>
		</security>-->
	</system.webServer>
	<connectionStrings>
		<add name="ConnectionMOADB" providerName="System.Data.SqlClient" connectionString="gpXxKC1K0b8WHLMHWKI3DOw/VkKbZ5Gd1j8H+UXunIqaaS8x3xvU8Fy6TihNULC8jyDZiUGk9a4DkP/4fzdNl1hwq/h/NJqoyOHJVl1yBWDxAvaKRUKvyf9O3dQAFEeW7hDLKd227Eikb6j9Kx0PcVuWCvzeNewRnfsnwH7IeyTD40jaTtX7ulNK7kBrJzatVJvzs+Jrse5yW6PW3XNkBf9BgksIMFdRYAtou2S17Ig=" />
		<add name="CONTEXTO" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MOAOperaciones;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
		<add name="HfContexto" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MOAOperacionesHangfire;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="UserNameSapEnc" value="sv6WLPZyW9ukoEl5MiBnZw==" />
		<add key="PasswordSapEnc" value="JJB4bZok9i28exDKsPlaTA==" />
		<add key="CamUserEnc" value="nGuHGtwa7jlw3mp+L8orjg==" />
		<add key="CamPassEnc" value="PACrQ+YJTdEqpk6Xtzj2kA==" />
		<add key="HabilitarEnvioMail" value="true" />
		<!--<add key="HostEmail" value="smtp.molinosagro.com.ar" />
		<add key="PortEmail" value="25" />-->

		<add key="HostEmail" value="localhost" />
		<add key="PortEmail" value="1025" />

		<add key="EmailTo" value="materias.primas@molinosagro.com.ar" />
		<add key="EmailToDocumentacion" value="documentacion@molinosagro.com.ar" />
		<add key="EmailToFletes" value="mariadelosmilagros.labandibar@molinosagro.com.ar" />
		<!--QA-->
		<add key="EmailToAuditoria" value="alejandra.duarte@molinosagro.com.ar,santiago.barbarotta@molinosagro.com.ar" />
		<!--<add key="EmailToAuditoria" value="auditoria.interna@molinosagro.com.ar,corina.covatti@molinosagro.com.ar,matias.aboy@molinosagro.com.ar,documentacion@molinosagro.com.ar" />-->
		<add key="EmailToReporteLiquidacion" value="Trinidadluciana.Dorna@molinosagro.com.ar,gisela.toso@molinosagro.com.ar,alejandra.rodriguez@molinosagro.com.ar,CristianDamian.Cabral@molinosagro.com.ar" />
		<add key="EmailToMesaENTSL" value="emartin@baufest.com" />
		<add key="EmailToMesaVentaFas" value="emartin@baufest.com" />
		<add key="EmailToGestionAltaCuit" value="moaoperaciones@baufest.com" />
		<add key="CopiaEmailToGestionAltaCuit" value="moaoperaciones@baufest.com" />
		<add key="EmailToCobranzas" value="emartin@baufest.com" />
		<add key="EmailToComerciales" value="emartin@baufest.com;evilliate@baufest.com" />
		<add key="EmailToComercialesAlimAnimal" value="moaoperaciones@baufest.com" />
		<add key="EmailToAuditoriaOrdenesVencidas" value="moaoperaciones@baufest.com;noelia.caceres@molinosagro.com.ar;luciano.calaon@molinosagro.com.ar;martin.manoni@molinosagro.com.ar" />
		<add key="EmailToReporteLogins" value="moaoperaciones@baufest.com" />
		<add key="CantidadOrdenDeCarga" value="30000" />
		<add key="EmailFrom" value="moaoperaciones@molinosagro.com.ar" />
		<add key="EmailToReporteCamposSustentables" value="emartin@baufest.com,evilliate@baufest.com,jyon@baufest.com" />
		<add key="UsuarioAutomaticoSAP" value="noelia.caceres@molinosagro.com.ar" />
		<add key="EmailAsuntoPrefijo" value="" />
		<add key="HoraCortePesificaciones" value="14:00" />
		<add key="UserNameDataAgroWS" value="OufWV8Hz8VMciqdj1JzdJA==" />
		<add key="PasswordDataAgroWS" value="Sdz5V68CAREHA8322PZChQ==" />
		<add key="DominioDataAgroWS" value="lZKxJ8csZnNnRZcdXOytfA==" />
		<add key="RutaArchivosProveedores" value="C:/ArchivosProveedores" />
		<add key="RutaArchivosCampoSustentable" value="C:/ArchivosCampoSustentable" />
		<add key="RutaArchivosLogPesificacion" value="C:/ArchivosLogPesificacion" />
		<add key="RutaArchivosCompras" value="C:/ArchivosCompras" />
		<add key="RutaArchivosCM05" value="C:/ArchivosCM05" />
		<add key="Url" value="http://gslopidevqa00.molinosagro.ad:50000/" />
		<!--<add key="DataAgroURL" value="http://localhost:52498" />-->
		<add key="DataAgroURL" value="http://test.dataagro.com.ar" />
		<add key="RutaArchivosConsulta" value="C:/ArchivosProveedores/Consultas" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="EsLocal" value="true" />
		<add key="SpaUrl" value="http://localhost:4200" />
		<add key="ComputerVisionApiKey" value="8fe9fe6828914b89895459ee0bdf17f8" />
		<add key="ComputerVisionEndpoint" value="https://moacv.cognitiveservices.azure.com/" />
		<add key="BlobStorageEndpoint" value="DefaultEndpointsProtocol=https;AccountName=moafiles;AccountKey=AtshyE0fzFqwUEIMNmopo8mAjB8IEOHWsFTBq07Qm4qgf7+okqeQLWLmPnVIAdcESVWIwGFZlH47zBcInYgdSw==;EndpointSuffix=core.windows.net" />

		<!--MSAL -->
		<add key="ida:RedirectUri" value="http://localhost:58280/" />
		<add key="ida:Tenant" value="moagroQA.onmicrosoft.com" />
		<add key="ida:TenantId" value="196fe16f-d755-45a8-a27d-47856a18d695" />
		<add key="ida:ClientId" value="331d5323-ba12-498c-956c-e001d44e3088" />
		<add key="ida:ClientSecret" value="JC78V31FOQ07MGmw4z_8F1BKfzd-~P.rAc" />
		<add key="ida:AadInstance" value="https://moagroqa.b2clogin.com/tfp/{0}/{1}" />
		<add key="ida:SignUpPolicyId" value="B2C_1_Registro" />
		<add key="ida:SignInPolicyId" value="B2C_1_IniciodeSesion" />
		<add key="ida:SignUpAndSignInPolicyId" value="B2C_1_RegistroConLogin" />
		<add key="ida:EditProfilePolicyId" value="b2c_1_edit_profile" />
		<add key="ida:ResetPasswordPolicyId" value="B2C_1_ResetPassword" />

		<!--MSAL -->
		<!-- Uncomment the localhost url if you want to run the API locally -->
		<!--<add key="api:TaskServiceUrl" value="https://aadb2cplayground.azurewebsites.net/" />-->
		<!--add key="api:TaskServiceUrl" value="https://localhost:44332/" /-->
		<!-- The following settings is used for requesting access tokens -->
		<!--<add key="api:ApiIdentifier" value="https://webOpDev.onmicrosoft.com/tasks/" />
		<add key="api:ReadScope" value="demo.read" />
		<add key="api:WriteScope" value="demo.write" />-->
		<add key="MailsMesaVentaFas" value="16-17" />
		<add key="CampanaMin" value="16-17" />
		<add key="ObtenerSolpsDesdeSAPJob_Habilitado" value="1" />
		<add key="FechaInicioObtenerSolpsDesdeSAPJob" value="28/03/2022" />
		<add key="FechaFinObtenerSolpsDesdeSAPJob" value="28/03/2050" />
		<add key="FechaInicioConsultaSolp" value="01/01/2020" />
		<add key="FechaFinConsultaSolp" value="01/10/2050" />
		<add key="ScatoRepositorioBaseAddress" value="http://gsloscatoapq01.molinosagro.ad/Scato.WebApiCore/" />
		<add key="ScatoRepositorioUsername" value="ScatoLogistica" />
		<add key="ScatoRepositorioPassword" value="ServicioExternoPass" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.7.1.0" newVersion="6.7.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.7.1.0" newVersion="6.7.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.7.1.0" newVersion="6.7.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.7.1.0" newVersion="6.7.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.7.1.0" newVersion="6.7.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="sap_basic" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:30" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="5000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Basic" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="sap_long" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="5000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Basic" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IAuthService">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Ntlm" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IServicioRepositorio" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:30" maxBufferPoolSize="5000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="99999999" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
				<binding name="BasicHttpBinding_IDataAgroServices">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Basic" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_APLICACIONES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="AplicacionesWebServiceMOA.SI_MPMF_MOAOP_APLICACIONES" name="SI_MPMF_MOAOP_APLICACIONES" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_CONTRATOS&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ContratosWebServiceMOA.SI_MPMF_MOAOP_CONTRATOS" name="SI_MPMF_MOAOP_CONTRATOS" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_CREA_USER&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="CrearUsuarioWebServiceMOA.SI_MPMF_MOAOP_CREA_USER" name="SI_MPMF_MOAOP_CREA_USER" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DET_FIJACIONES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="FijacionDetalleWebServiceMOA.SI_MPMF_MOAOP_DET_FIJACIONES" name="SI_MPMF_MOAOP_DET_FIJACIONES" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DET_VINCULA&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="VinculaDetalleWebServiceMOA.SI_MPMF_MOAOP_DET_VINCULA" name="SI_MPMF_MOAOP_DET_VINCULA" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DETALLE_CCPP&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="CartaPorteDetalleWebServiceMOA.SI_MPMF_MOAOP_DETALLE_CCPP" name="SI_MPMF_MOAOP_DETALLE_CCPP" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DETALLES_CONTRATO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ContratoDetalleWebServiceMOA.SI_MPMF_MOAOP_DETALLES_CONTRATO" name="SI_MPMF_MOAOP_DETALLES_CONTRATO" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DETALLES_VENDEDOR&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="VendedorDetalleWebServiceMOA.SI_MPMF_MOAOP_DETALLES_VENDEDOR" name="SI_MPMF_MOAOP_DETALLES_VENDEDOR" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_FIJACIONES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="FijacionesWebServiceMOA.SI_MPMF_MOAOP_FIJACIONES" name="SI_MPMF_MOAOP_FIJACIONES" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_HOME&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="HomeWebServiceMOA.SI_MPMF_MOAOP_HOME" name="SI_MPMF_MOAOP_HOME" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LIQUIDACIONES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="LiquidacionesWebServiceMOA.SI_MPMF_MOAOP_LIQUIDACIONES" name="SI_MPMF_MOAOP_LIQUIDACIONES" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LIQUIDACIONES_NG&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="LiquidacionesNGWebServiceMOA.SI_MPMF_MOAOP_LIQUIDACIONES_NG" name="SI_MPMF_MOAOP_LIQUIDACIONES_NG" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LOGIN_IN&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="LoginWebServiceMOA.SI_MPMF_MOAOP_LOGIN_IN" name="SI_MPMF_MOAOP_LOGIN_IN" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LOGIN_CAMBIOPASS&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="CambioPassWebServiceMOA.SI_MPMF_MOAOP_LOGIN_CAMBIOPASS" name="SI_MPMF_MOAOP_LOGIN_CAMBIOPASS" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LOGIN_DESBUSR&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="UsuarioDesbloquearWebServiceMOA.SI_MPMF_MOAOP_LOGIN_DESBUSR" name="SI_MPMF_MOAOP_LOGIN_DESBUSR" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LOGIN_HABUSR&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="UsuarioHabilitarWebServiceMOA.SI_MPMF_MOAOP_LOGIN_HABUSR" name="SI_MPMF_MOAOP_LOGIN_HABUSR" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LOGIN_INHAUSR&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="UsuarioInhabilitarWebServiceMOA.SI_MPMF_MOAOP_LOGIN_INHAUSR" name="SI_MPMF_MOAOP_LOGIN_INHAUSR" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LOGIN_NVOUSR&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="UsuarioNuevoWebServiceMOA.SI_MPMF_MOAOP_LOGIN_NVOUSR" name="SI_MPMF_MOAOP_LOGIN_NVOUSR" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LOGIN_OLVPASS&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="UsuarioOlvidePassWebServiceMOA.SI_MPMF_MOAOP_LOGIN_OLVPASS" name="SI_MPMF_MOAOP_LOGIN_OLVPASS" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_PERFILES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PerfilesWebServiceMOA.SI_MPMF_MOAOP_PERFILES" name="SI_MPMF_MOAOP_PERFILES" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_PERMISOS&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PermisosWebServiceMOA.SI_MPMF_MOAOP_PERMISOS" name="SI_MPMF_MOAOP_PERMISOS" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_RECEPCIONES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="RecepcionesWebServiceMOA.SI_MPMF_MOAOP_RECEPCIONES" name="SI_MPMF_MOAOP_RECEPCIONES" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_VENDEDORES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="VendedoresWebServiceMOA.SI_MPMF_MOAOP_VENDEDORES" name="SI_MPMF_MOAOP_VENDEDORES" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_PAGOS_CTA_CTE&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PagosWebServiceMOA.SI_MPMF_MOAOP_PAGOS_CTA_CTE" name="SI_MPMF_MOAOP_PAGOS_CTA_CTE" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DETALLE_PAGO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PagoDetalleWebServiceMOA.SI_MPMF_MOAOP_DETALLE_PAGO" name="SI_MPMF_MOAOP_DETALLE_PAGO" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_PAGOS_NG&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PagosNGWebServiceMOA.SI_MPMF_MOAOP_PAGOS_NG" name="SI_MPMF_MOAOP_PAGOS_NG" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_HOME_NG&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="HomeNGWebServiceMOA.SI_MPMF_MOAOP_HOME_NG" name="SI_MPMF_MOAOP_HOME_NG" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_MOVIMIENTOS_BALANZA&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="MovimientoBalanzaWebServiceMOA.SI_MPMF_MOAOP_MOVIMIENTOS_BALANZA" name="SI_MPMF_MOAOP_MOVIMIENTOS_BALANZA" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_PDF_CONTRATO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ContratoPDFWebServiceMOA.SI_MPMF_MOAOP_PDF_CONTRATO" name="SI_MPMF_MOAOP_PDF_CONTRATO" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_PDF&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PDFWebServiceMOA.SI_MPMF_MOAOP_PDF" name="SI_MPMF_MOAOP_PDF" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DETALLES_NOTICIAS&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="NoticiasDetalleWebServiceMOA.SI_MPMF_MOAOP_DETALLES_NOTICIAS" name="SI_MPMF_MOAOP_DETALLES_NOTICIAS" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_USUARIOS&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="UsuariosWebServiceMOA.SI_MPMF_MOAOP_USUARIOS" name="SI_MPMF_MOAOP_USUARIOS" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_CUENTA_CORRIENTE&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="CuentaCorrienteWebServiceMOA.SI_MPMF_MOAOP_CUENTA_CORRIENTE" name="SI_MPMF_MOAOP_CUENTA_CORRIENTE" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DET_PAGOS_NG&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PagoComprobantesWebServiceMOA.SI_MPMF_MOAOP_DET_PAGOS_NG" name="SI_MPMF_MOAOP_DET_PAGOS_NG" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_VIAJES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="FletesWebServiceMOA.SI_MPMF_MOAOP_VIAJES" name="SI_MPMF_MOAOP_VIAJES" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_VAL_IMPORTE&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="FleteValidarImporteWebServiceMOA.SI_MPMF_MOAOP_VAL_IMPORTE" name="SI_MPMF_MOAOP_VAL_IMPORTE" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_RELAC_PL&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="FletesRelacionWebServiceMOA.SI_MPMF_MOAOP_RELAC_PL" name="SI_MPMF_MOAOP_RELAC_PL" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DETALLE_CTE&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="DetalleCteWebServiceMOA.SI_MPMF_MOAOP_DETALLE_CTE" name="SI_MPMF_MOAOP_DETALLE_CTE" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_MAIL_CONTACTO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ContactoMailWebServiceMOA.SI_MPMF_MOAOP_MAIL_CONTACTO" name="SI_MPMF_MOAOP_MAIL_CONTACTO" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_CATEG_CONTACTO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ContactoMailCategoriasWebServiceMOA.SI_MPMF_MOAOP_CATEG_CONTACTO" name="SI_MPMF_MOAOP_CATEG_CONTACTO" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_VENDED_HABILIT&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="VendedorHabilitadoWebServiceMOA.SI_MPMF_MOAOP_VENDED_HABILIT" name="SI_MPMF_MOAOP_VENDED_HABILIT" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_CP_DESPLEGABLES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="CartaPorteFormularioDesplegablesWebServiceMOA.SI_MPMF_MOAOP_CP_DESPLEGABLES" name="SI_MPMF_MOAOP_CP_DESPLEGABLES" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_BUSCA_CTG&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="CartaPorteFormularioCTGWebServiceMOA.SI_MPMF_MOAOP_BUSCA_CTG" name="SI_MPMF_MOAOP_BUSCA_CTG" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DET_FLETE_PROC&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ProformaFleteProcedenciaServiceMOA.SI_MPMF_MOAOP_DET_FLETE_PROC" name="SI_MPMF_MOAOP_DET_FLETE_PROC" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_PDF_PROFORMA&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PDFProformaFinalWebServiceMOA.SI_MPMF_MOAOP_PDF_PROFORMA" name="SI_MPMF_MOAOP_PDF_PROFORMA" />
			<!-- Compras -->

			<!-- Pesificaciones -->
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_OBTENER_PEND_USD&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PesificacionWebServiceMOA.SI_MPMF_MOAOP_OBTENER_PEND_USD" name="SI_MPMF_MOAOP_OBTENER_PEND_USD" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_GUARDAR_PESIF&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PesificacionGuadarWebServiceMOA.SI_MPMF_MOAOP_GUARDAR_PESIF" name="SI_MPMF_MOAOP_GUARDAR_PESIF" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LISTAR_PESIF&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ListarPesificaciones.SI_MPMF_MOAOP_LISTAR_PESIF" name="SI_MPMF_MOAOP_LISTAR_PESIF" />
			<!-- Orden de carga -->
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_ORDEN_CARGA_ENTRE&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="OrdenCargaEstadoEntregadaSAP.SI_MPMF_MOAOP_ORDEN_CARGA_ENTRE" name="SI_MPMF_MOAOP_ORDEN_CARGA_ENTRE" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_CONTROL_ESTADO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="OrdenCargaControlEstadoSAP.SI_MPMF_MOAOP_CONTROL_ESTADO" name="SI_MPMF_MOAOP_CONTROL_ESTADO" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_CREAR_ORDEN_CARGA&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="OrdenCargaCrearSAP.SI_MPMF_MOAOP_CREAR_ORDEN_CARGA" name="SI_MPMF_MOAOP_CREAR_ORDEN_CARGA" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_CONTROL_CARGA&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="OrdenCargaControlSAP.SI_MPMF_MOAOP_CONTROL_CARGA" name="SI_MPMF_MOAOP_CONTROL_CARGA" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_VISUALIZAR_ZFAS&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="OrdenCargaVisualizarCliente.SI_MPMF_MOAOP_VISUALIZAR_ZFAS" name="SI_MPMF_MOAOP_VISUALIZAR_ZFAS" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_MOD_ENTREGA&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ModificarEntregaOrdenFasWebServiceMOA.SI_MPMF_MOAOP_MOD_ENTREGA" name="SI_MPMF_MOAOP_MOD_ENTREGA" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_MOD_ORDEN_CARGA&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ModificarOrdenCargaFasWebServiceMOA.SI_MPMF_MOAOP_MOD_ORDEN_CARGA" name="SI_MPMF_MOAOP_MOD_ORDEN_CARGA" />
			<!-- Login Data Agro -->
			<endpoint address="http://test.dataagro.com.ar/services/AuthService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthService" contract="DataAgroAuthWebServiceMOA.IAuthService" name="BasicHttpBinding_IAuthService" />
			<endpoint address="http://test.dataagro.com.ar/services/DataAgroServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataAgroServices" contract="DataAgroServices.IDataAgroServices" name="BasicHttpBinding_IDataAgroServices" />
			<endpoint address="http://scatoqa.molinosagro.com.ar/Scato.serviciosWeb/ServicioRepositorio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioRepositorio" contract="ScatoWebService.IServicioRepositorio" name="BasicHttpBinding_IServicioRepositorio" />
			<endpoint address="http://scatoqa.molinosagro.com.ar/Scato.serviciosWeb/ServicioComandos.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioRepositorio" contract="ScatoComandosWebService.IServicioComandos" name="BasicHttpBinding_IServicioComandos" />
			<!-- Comprobantes NG-->
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_COMPROB_NOGRANOS&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ComprobantesNGWebServiceMOA.SI_MPMF_MOAOP_COMPROB_NOGRANOS" name="SI_MPMF_MOAOP_COMPROB_NOGRANOS" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_COMP_NOGRANOSPDF&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PDFComprobantesNGWebServiceMOA.SI_MPMF_MOAOP_COMP_NOGRANOSPDF" name="SI_MPMF_MOAOP_COMP_NOGRANOSPDF" />
			<!--Compras consulta materiales	-->
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MMRFC_OBTENER_MATERIALES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_long" contract="ObtenerMaterialesSolpWebServiceMOA.SI_MMRFC_OBTENER_MATERIALES" name="SI_MMRFC_OBTENER_MATERIALES" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MMRFC_OBTENER_FUENTE_APROV&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ObtenerFuenteAprovisionamientoWebServiceMOA.SI_MMRFC_OBTENER_FUENTE_APROV" name="SI_MMRFC_OBTENER_FUENTE_APROV" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MMRFC_OBTENER_CONTRATO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ObtenerContratoSolpWebServiceMOA.SI_MMRFC_OBTENER_CONTRATO" name="SI_MMRFC_OBTENER_CONTRATO" />
			<!--  Echeq	 -->
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPRFC_MOAOP_MOD_CONTRATO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="EcheqModificarContratoWebServiceMOA.SI_MPRFC_MOAOP_MOD_CONTRATO" name="SI_MPRFC_MOAOP_MOD_CONTRATO" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPRFC_MOAOP_MOD_FIJACION&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="EcheqModificarFijacionWebServiceMOA.SI_MPRFC_MOAOP_MOD_FIJACION" name="SI_MPRFC_MOAOP_MOD_FIJACION" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPRFC_VISU_PENDIENTE_PAGO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="EcheqVisualizarPendientePagoWebServiceMOA.SI_MPRFC_VISU_PENDIENTE_PAGO" name="SI_MPRFC_VISU_PENDIENTE_PAGO" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPRFC_VISU_DISPONIBLE_CHEQUE&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="EcheqVisualizarDisponibleChequeWebServiceMOA.SI_MPRFC_VISU_DISPONIBLE_CHEQUE" name="SI_MPRFC_VISU_DISPONIBLE_CHEQUE" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPRFC_CARGA_APERTURA_CHEQUE&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="EcheqCargaAperturaChequeWebServiceMOA.SI_MPRFC_CARGA_APERTURA_CHEQUE" name="SI_MPRFC_CARGA_APERTURA_CHEQUE" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPRFC_ANULAR_APERTURA_CHEQUE&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="EcheqAnularAperturaChequeWebServiceMOA.SI_MPRFC_ANULAR_APERTURA_CHEQUE" name="SI_MPRFC_ANULAR_APERTURA_CHEQUE" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPRFC_MODI_DOC_CHEQUE&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="EcheqModificacionDocumentoChequeWebServiceMOA.SI_MPRFC_MODI_DOC_CHEQUE" name="SI_MPRFC_MODI_DOC_CHEQUE" />
			<endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MMRFC_OBTENER_TIPO_CAMBIO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ObtenerTipoCambioWebServiceMOA.SI_MMRFC_OBTENER_TIPO_CAMBIO" name="SI_MMRFC_OBTENER_TIPO_CAMBIO" />

		</client>
	</system.serviceModel>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.web>
		<customErrors mode="Off" />
		<sessionState timeout="600" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>