<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<system.web>
		<compilation targetFramework="4.5.2" debug="true" />
		<httpRuntime targetFramework="4.5.2" maxRequestLength="10240" />
	</system.web>
	<system.webServer>
		<modules>
			<remove name="UrlRoutingModule-4.0" />
			<add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<connectionStrings>
		<add name="ConnectionMOADB" providerName="System.Data.SqlClient" connectionString="gpXxKC1K0b8WHLMHWKI3DOw/VkKbZ5Gd1j8H+UXunIqaaS8x3xvU8Fy6TihNULC8jyDZiUGk9a4DkP/4fzdNl1hwq/h/NJqoyOHJVl1yBWDxAvaKRUKvyf9O3dQAFEeW7hDLKd227Eikb6j9Kx0PcVuWCvzeNewRnfsnwH7IeyTD40jaTtX7ulNK7kBrJzatVJvzs+Jrse5yW6PW3XNkBf9BgksIMFdRYAtou2S17Ig=" />
		<add name="CONTEXTO" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=MOAOperaciones;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="UserNameSapEnc" value="sv6WLPZyW9ukoEl5MiBnZw==" />
		<add key="PasswordSapEnc" value="JJB4bZok9i28exDKsPlaTA==" />
		<add key="CamUserEnc" value="nGuHGtwa7jlw3mp+L8orjg==" />
		<add key="CamPassEnc" value="PACrQ+YJTdEqpk6Xtzj2kA==" />
		<add key="HabilitarEnvioMail" value="true" />
		<add key="HostEmail" value="smtp.molinosagro.com.ar" />
		<add key="PortEmail" value="25" />
		<add key="EmailTo" value="materias.primas@molinosagro.com.ar" />
		<add key="EmailToFletes" value="mariadelosmilagros.labandibar@molinosagro.com.ar" />
		<add key="EmailFrom" value="moaoperaciones@molinosagro.com.ar" />
		<add key="HoraCortePesificaciones" value="14:00" />
		<add key="UserNameDataAgroWS" value="OufWV8Hz8VMciqdj1JzdJA==" />
		<add key="PasswordDataAgroWS" value="Sdz5V68CAREHA8322PZChQ==" />
		<add key="DominioDataAgroWS" value="lZKxJ8csZnNnRZcdXOytfA==" />


		<add key="DominioDataAgroWS" value="lZKxJ8csZnNnRZcdXOytfA==" />
		<add key="RutaArchivosProveedores" value="C:/ArchivosProveedores" />
		<add key="DataAgroURL" value="http://test.dataagro.com.ar:9000"/>

		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--MSAL -->
		<add key="ida:Tenant" value="webOpDev.onmicrosoft.com" />
		<add key="ida:TenantId" value="52797f85-e8e3-4d20-b3bf-70cc5e60ee71" />
		<add key="ida:ClientId" value="af885dee-a5a6-48b3-ac9a-105f9aec5ca6" />
		<add key="ida:ClientSecret" value="v33.9gNXtw_r3sqd3Uz60EdMU1s9iIA-B~" />
		<add key="ida:AadInstance" value="https://webOpDev.b2clogin.com/tfp/{0}/{1}" />
		<add key="ida:RedirectUri" value="http://localhost:58280/api/login/login" />
		<add key="ida:SignUpSignInPolicyId" value="B2C_1_Signup2" />
		<add key="ida:EditProfilePolicyId" value="b2c_1_edit_profile" />
		<add key="ida:ResetPasswordPolicyId" value="b2c_1_reset" />
		<!-- Uncomment the localhost url if you want to run the API locally -->
		<add key="api:TaskServiceUrl" value="https://aadb2cplayground.azurewebsites.net/" />
		<!--add key="api:TaskServiceUrl" value="https://localhost:44332/" /-->
		<!-- The following settings is used for requesting access tokens -->
		<add key="api:ApiIdentifier" value="https://webOpDev.onmicrosoft.com/tasks/" />
		<add key="api:ReadScope" value="demo.read" />
		<add key="api:WriteScope" value="demo.write" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.3.0" newVersion="3.3.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="sap_basic" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:30" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="5000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Basic" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IAuthService">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Ntlm" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IServicioRepositorio" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:30" maxBufferPoolSize="5000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="99999999" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
				<binding name="BasicHttpBinding_IDataAgroServices">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Basic" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_APLICACIONES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="AplicacionesWebServiceMOA.SI_MPMF_MOAOP_APLICACIONES" name="SI_MPMF_MOAOP_APLICACIONES" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_CONTRATOS&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ContratosWebServiceMOA.SI_MPMF_MOAOP_CONTRATOS" name="SI_MPMF_MOAOP_CONTRATOS" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_CREA_USER&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="CrearUsuarioWebServiceMOA.SI_MPMF_MOAOP_CREA_USER" name="SI_MPMF_MOAOP_CREA_USER" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DET_FIJACIONES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="FijacionDetalleWebServiceMOA.SI_MPMF_MOAOP_DET_FIJACIONES" name="SI_MPMF_MOAOP_DET_FIJACIONES" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DET_VINCULA&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="VinculaDetalleWebServiceMOA.SI_MPMF_MOAOP_DET_VINCULA" name="SI_MPMF_MOAOP_DET_VINCULA" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DETALLE_CCPP&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="CartaPorteDetalleWebServiceMOA.SI_MPMF_MOAOP_DETALLE_CCPP" name="SI_MPMF_MOAOP_DETALLE_CCPP" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DETALLES_CONTRATO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ContratoDetalleWebServiceMOA.SI_MPMF_MOAOP_DETALLES_CONTRATO" name="SI_MPMF_MOAOP_DETALLES_CONTRATO" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DETALLES_VENDEDOR&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="VendedorDetalleWebServiceMOA.SI_MPMF_MOAOP_DETALLES_VENDEDOR" name="SI_MPMF_MOAOP_DETALLES_VENDEDOR" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_FIJACIONES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="FijacionesWebServiceMOA.SI_MPMF_MOAOP_FIJACIONES" name="SI_MPMF_MOAOP_FIJACIONES" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_HOME&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="HomeWebServiceMOA.SI_MPMF_MOAOP_HOME" name="SI_MPMF_MOAOP_HOME" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LIQUIDACIONES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="LiquidacionesWebServiceMOA.SI_MPMF_MOAOP_LIQUIDACIONES" name="SI_MPMF_MOAOP_LIQUIDACIONES" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LIQUIDACIONES_NG&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="LiquidacionesNGWebServiceMOA.SI_MPMF_MOAOP_LIQUIDACIONES_NG" name="SI_MPMF_MOAOP_LIQUIDACIONES_NG" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LOGIN_IN&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="LoginWebServiceMOA.SI_MPMF_MOAOP_LOGIN_IN" name="SI_MPMF_MOAOP_LOGIN_IN" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LOGIN_CAMBIOPASS&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="CambioPassWebServiceMOA.SI_MPMF_MOAOP_LOGIN_CAMBIOPASS" name="SI_MPMF_MOAOP_LOGIN_CAMBIOPASS" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LOGIN_DESBUSR&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="UsuarioDesbloquearWebServiceMOA.SI_MPMF_MOAOP_LOGIN_DESBUSR" name="SI_MPMF_MOAOP_LOGIN_DESBUSR" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LOGIN_HABUSR&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="UsuarioHabilitarWebServiceMOA.SI_MPMF_MOAOP_LOGIN_HABUSR" name="SI_MPMF_MOAOP_LOGIN_HABUSR" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LOGIN_INHAUSR&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="UsuarioInhabilitarWebServiceMOA.SI_MPMF_MOAOP_LOGIN_INHAUSR" name="SI_MPMF_MOAOP_LOGIN_INHAUSR" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LOGIN_NVOUSR&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="UsuarioNuevoWebServiceMOA.SI_MPMF_MOAOP_LOGIN_NVOUSR" name="SI_MPMF_MOAOP_LOGIN_NVOUSR" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_LOGIN_OLVPASS&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="UsuarioOlvidePassWebServiceMOA.SI_MPMF_MOAOP_LOGIN_OLVPASS" name="SI_MPMF_MOAOP_LOGIN_OLVPASS" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_PERFILES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PerfilesWebServiceMOA.SI_MPMF_MOAOP_PERFILES" name="SI_MPMF_MOAOP_PERFILES" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_PERMISOS&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PermisosWebServiceMOA.SI_MPMF_MOAOP_PERMISOS" name="SI_MPMF_MOAOP_PERMISOS" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_RECEPCIONES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="RecepcionesWebServiceMOA.SI_MPMF_MOAOP_RECEPCIONES" name="SI_MPMF_MOAOP_RECEPCIONES" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_VENDEDORES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="VendedoresWebServiceMOA.SI_MPMF_MOAOP_VENDEDORES" name="SI_MPMF_MOAOP_VENDEDORES" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_PAGOS_CTA_CTE&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PagosWebServiceMOA.SI_MPMF_MOAOP_PAGOS_CTA_CTE" name="SI_MPMF_MOAOP_PAGOS_CTA_CTE" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DETALLE_PAGO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PagoDetalleWebServiceMOA.SI_MPMF_MOAOP_DETALLE_PAGO" name="SI_MPMF_MOAOP_DETALLE_PAGO" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_PAGOS_NG&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PagosNGWebServiceMOA.SI_MPMF_MOAOP_PAGOS_NG" name="SI_MPMF_MOAOP_PAGOS_NG" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_HOME_NG&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="HomeNGWebServiceMOA.SI_MPMF_MOAOP_HOME_NG" name="SI_MPMF_MOAOP_HOME_NG" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_MOVIMIENTOS_BALANZA&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="MovimientoBalanzaWebServiceMOA.SI_MPMF_MOAOP_MOVIMIENTOS_BALANZA" name="SI_MPMF_MOAOP_MOVIMIENTOS_BALANZA" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_PDF_CONTRATO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ContratoPDFWebServiceMOA.SI_MPMF_MOAOP_PDF_CONTRATO" name="SI_MPMF_MOAOP_PDF_CONTRATO" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_PDF&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PDFWebServiceMOA.SI_MPMF_MOAOP_PDF" name="SI_MPMF_MOAOP_PDF" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DETALLES_NOTICIAS&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="NoticiasDetalleWebServiceMOA.SI_MPMF_MOAOP_DETALLES_NOTICIAS" name="SI_MPMF_MOAOP_DETALLES_NOTICIAS" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_USUARIOS&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="UsuariosWebServiceMOA.SI_MPMF_MOAOP_USUARIOS" name="SI_MPMF_MOAOP_USUARIOS" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_CUENTA_CORRIENTE&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="CuentaCorrienteWebServiceMOA.SI_MPMF_MOAOP_CUENTA_CORRIENTE" name="SI_MPMF_MOAOP_CUENTA_CORRIENTE" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DET_PAGOS_NG&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PagoComprobantesWebServiceMOA.SI_MPMF_MOAOP_DET_PAGOS_NG" name="SI_MPMF_MOAOP_DET_PAGOS_NG" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_VIAJES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="FletesWebServiceMOA.SI_MPMF_MOAOP_VIAJES" name="SI_MPMF_MOAOP_VIAJES" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_VAL_IMPORTE&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="FleteValidarImporteWebServiceMOA.SI_MPMF_MOAOP_VAL_IMPORTE" name="SI_MPMF_MOAOP_VAL_IMPORTE" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_RELAC_PL&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="FletesRelacionWebServiceMOA.SI_MPMF_MOAOP_RELAC_PL" name="SI_MPMF_MOAOP_RELAC_PL" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DETALLE_CTE&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="DetalleCteWebServiceMOA.SI_MPMF_MOAOP_DETALLE_CTE" name="SI_MPMF_MOAOP_DETALLE_CTE" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_MAIL_CONTACTO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ContactoMailWebServiceMOA.SI_MPMF_MOAOP_MAIL_CONTACTO" name="SI_MPMF_MOAOP_MAIL_CONTACTO" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_CATEG_CONTACTO&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ContactoMailCategoriasWebServiceMOA.SI_MPMF_MOAOP_CATEG_CONTACTO" name="SI_MPMF_MOAOP_CATEG_CONTACTO" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_VENDED_HABILIT&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="VendedorHabilitadoWebServiceMOA.SI_MPMF_MOAOP_VENDED_HABILIT" name="SI_MPMF_MOAOP_VENDED_HABILIT" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_CP_DESPLEGABLES&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="CartaPorteFormularioDesplegablesWebServiceMOA.SI_MPMF_MOAOP_CP_DESPLEGABLES" name="SI_MPMF_MOAOP_CP_DESPLEGABLES" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_BUSCA_CTG&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="CartaPorteFormularioCTGWebServiceMOA.SI_MPMF_MOAOP_BUSCA_CTG" name="SI_MPMF_MOAOP_BUSCA_CTG" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_DET_FLETE_PROC&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="ProformaFleteProcedenciaServiceMOA.SI_MPMF_MOAOP_DET_FLETE_PROC" name="SI_MPMF_MOAOP_DET_FLETE_PROC" />
			<endpoint address="http://scatoqa.molinosagro.com.ar/Scato.serviciosWeb/ServicioRepositorio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioRepositorio" contract="ScatoWebService.IServicioRepositorio" name="BasicHttpBinding_IServicioRepositorio" />
			<!-- Pesificaciones -->
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_OBTENER_PEND_USD&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PesificacionWebServiceMOA.SI_MPMF_MOAOP_OBTENER_PEND_USD" name="SI_MPMF_MOAOP_OBTENER_PEND_USD" />
			<endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MOA_Operaciones&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MPMF_MOAOP_GUARDAR_PESIF&amp;interfaceNamespace=urn%3AOPERACIONES" binding="basicHttpBinding" bindingConfiguration="sap_basic" contract="PesificacionGuadarWebServiceMOA.SI_MPMF_MOAOP_GUARDAR_PESIF" name="SI_MPMF_MOAOP_GUARDAR_PESIF" />
			<!-- Login Data Agro -->
			<endpoint address="http://test.dataagro.com.ar:9000/services/AuthService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthService" contract="DataAgroAuthWebServiceMOA.IAuthService" name="BasicHttpBinding_IAuthService" />
			
			<endpoint address="http://test.dataagro.com.ar:9000/services/DataAgroServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataAgroServices" contract="DataAgroServices.IDataAgroServices" name="BasicHttpBinding_IDataAgroServices" />
			
		</client>
	</system.serviceModel>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

</configuration>