.dialog-accept-button {
    background-color: #0b880b;
    width: 33px !important;
}

.dialog-reject-button {
    background-color: #e33030;
    width: 33px !important;
}

:host ::ng-deep .ui-multiselected-item-token,
:host ::ng-deep .ui-multiselected-empty-token {
    padding: 2px 4px;
    margin: 0 0.286em 0 0;
    display: inline-block;
    vertical-align: middle;
    height: 1.857em;
}

:host ::ng-deep .ui-multiselected-item-token {
    background: #007ad9;
    color: #ffffff;
}

:host ::ng-deep .ui-multiselected-empty-token {
    background: #d95f00;
    color: #ffffff;
}