<style>
    .fieldset {
        max-width: 650px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px #88888854;
        padding: 20px;
        margin-top: 15px;
    }

    .subtitulo {
        box-sizing: border-box;
        color: blue;
        display: table;
        max-width: 100%;
        padding: 0;
        white-space: normal;
        font-weight: 600 !important;
        font-size: large;
    }
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 28px;
        background-color: transparent !important;
        margin: 0 !important;
    }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .labelSwitch {
        top: 5px;
        position: relative;
        margin-left: 7px;
    }

    .material {
        cursor: pointer;
    }
</style>
<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <div class="row titleSection" style="border-bottom:none;">
            <div class="col-xs-12 col-sm-10 " style="border-bottom:1px solid #707070;" *ngIf="!this.precioSeleccionado">Seleccione el material para iniciar la carga </div>
            <table id="tabla-precio-moa" class="display nowrap dataTable no-footer dtr-inline rounded shadow animate contrato-fijacion-table"
                   cellspacing="0" role="grid" aria-describedby="tableModal_info" style="width: auto; padding:10px 0;margin:0;">
                <tbody>
                    <tr>
                        <th rowspan="2" style="font-size:20px;padding: 5px 10px;">PRECIO MOA</th>
                        <th style="font-size:20px;padding: 5px 10px;cursor:pointer;" (click)="preciosDisponibles(1,3)" *ngIf="isMaterialSeleccionado('Maiz')">Maiz</th>
                        <th style="font-size:20px;padding: 5px 10px;cursor:pointer;" (click)="preciosDisponibles(2,3)" *ngIf="isMaterialSeleccionado('Trigo')">Trigo</th>
                        <th style="font-size:20px;padding: 5px 10px;cursor:pointer;" (click)="preciosDisponibles(3,3)" *ngIf="isMaterialSeleccionado('Soja')">Soja</th>
                        <th style="font-size:20px;padding: 5px 10px;cursor:pointer;" (click)="preciosDisponibles(4,3)" *ngIf="isMaterialSeleccionado('Girasol')">Girasol</th>
                    </tr>
                    <tr>
                        <td *ngIf="isMaterialSeleccionado('Maiz')"><span style="font-size:small;font-weight:bold;cursor:pointer;" id="precioMaiz" (click)="preciosDisponibles(1,3)">{{precioMaiz == true?"En mercado":precioMaiz == false?"Sin Precio":""}}</span></td>
                        <td *ngIf="isMaterialSeleccionado('Trigo')"><span style="font-size:small;font-weight:bold;cursor:pointer;" id="precioTrigo" (click)="preciosDisponibles(2,3)">{{precioTrigo == true?"En mercado":precioTrigo == false?"Sin Precio":""}}</span></td>
                        <td *ngIf="isMaterialSeleccionado('Soja')"><span style="font-size:small;font-weight:bold;cursor:pointer;" id="precioSoja" (click)="preciosDisponibles(3,3)">{{precioSoja == true?"En mercado":precioSoja == false?"Sin Precio":""}}</span></td>
                        <td *ngIf="isMaterialSeleccionado('Girasol')"><span style="font-size:small;font-weight:bold;cursor:pointer;" id="precioGirasol" (click)="preciosDisponibles(4,3)">{{precioGirasol == true?"En mercado":precioGirasol == false?"Sin Precio":""}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--Title-->
        <div class="row titleSection" *ngIf="this.precioSeleccionado">
            <div class="col-xs-12 col-sm-10 ">{{crearModificar}} <strong>Fijacion {{materialSeleccionado}}</strong> </div>
        </div>
        <mensaje></mensaje>
        <fieldset class="fieldset" *ngIf="this.precioSeleccionado">
            <label class="subtitulo">Condiciones Generales</label>
            <div class="form-group col-md-12" *ngIf="isVisibleProveedor()">
                <label for="Proveedorid" class="font-weight-bold">Proveedor</label>
                <input [(ngModel)]="contrato.Proveedorid" class="form-control" type="hidden"
                       id="proveedorinf" style="font-weight: 100 !important;">
                <ng-autocomplete [data]="proveedores" [searchKeyword]="keyword2"
                                 (selected)='selectEventProveedor($event)' 
                                 (inputChanged)='onChangeSearchProveedor($event)'
                                 (inputFocused)='selectEventProveedor($event)' [itemTemplate]="itemTemplate2"
                                 [notFoundText]="autocompleteNotFoundText"
                                 [notFoundTemplate]="notFoundTemplate2">
                </ng-autocomplete>

                <ng-template #itemTemplate2 let-item>
                    <a [innerHTML]="item.RazonSocial"></a>
                </ng-template>

                <ng-template #notFoundTemplate2 let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="tipocontrato" class="font-weight-bold">Tipo de contrato</label>
                    <select class="form-control" name="tipocontrato" readonly disabled>
                        <option value="3" selected>Fijacion</option>
                    </select>
                </div>
                <div class="form-group col-md-6" style="display:none;">
                    <label for="destino">Destino</label>
                    <select class="form-control" name="destino" [(ngModel)]="contrato.DestinoId">
                        <option *ngFor="let item of destinos" value="{{item.Id}}">{{item.Descripcion}}</option>
                    </select>
                </div>
                <!--</div>

        <div class="row">-->
                <div class="form-group col-md-6">
                    <label for="material">Material</label>
                    <select class="form-control" name="material" [(ngModel)]="contrato.MaterialId" (change)="onChangeMaterial()">
                        <option *ngFor="let item of materiales" value="{{item.Id}}">{{item.Descripcion}}</option>
                    </select>

                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="contato">Contrato</label>
                    <spinner-small #spinnerCampana></spinner-small>
                    <input [(ngModel)]="contrato.ContratoId" class="form-control" type="hidden"
                           id="contratoinf" style="font-weight: 100 !important;">
                    <ng-autocomplete [data]="pendientesFijar" [searchKeyword]="keyword3" *ngIf="!this.spinnerCampana.visible"
                                     (selected)='selectEventContratoId($event)' [(ngModel)]="pendienteFijarContrato"
                                     (inputChanged)='onChangeSearchContratoId($event)'
                                     (inputFocused)='selectEventContratoId($event)' [itemTemplate]="itemTemplate3"
                                     [notFoundText]="autocompleteNotFoundText"
                                     [notFoundTemplate]="notFoundTemplate2"
                                     minQueryLength="2"
                                     initialValue="">
                    </ng-autocomplete>

                    <ng-template #itemTemplate3 let-item>
                        <a [innerHTML]="item.Filtro"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate3 let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>

                </div>
            </div>
            <div class="row center-block" *ngIf="isVisibleContratoDetalle()">


                <label class="col-md-3 text-center">Kgs Pendientes</label>
                <label class="col-md-3 text-center">Aplicados</label>
                <label class="col-md-3 text-center">Desde</label>
                <label class="col-md-3 text-center">Hasta</label>

                <span class="col-md-3 text-center">{{pendienteFijar.KilosPendiente}}</span>
                <span class="col-md-3 text-center">{{pendienteFijar.KilosAplicados}}</span>
                <span class="col-md-3 text-center">{{pendienteFijar.FechaDesde}}</span>
                <span class="col-md-3 text-center">{{pendienteFijar.FechaHasta}}</span>



                <div id="impo-a-precio">
                    <label class="col-md-3 text-center">Bonif a Precio</label>
                </div>
                <div id="impo-sobre-precio">
                    <label class="col-md-3 text-center">Bonif Sobre Precio</label>
                </div>
                <div id="porcenteaje-a-precio">
                    <label class="col-md-3 text-center">Porc. a Precio</label>
                </div>
                <div id="porcenteaje-sobre-precio">
                    <label class="col-md-3 text-center">Porc. Sobre Precio</label>
                </div>

                <div id="impo-a-precio">
                    <span class="col-md-3 text-center">{{pendienteFijar.ImporteAPrecio}} {{pendienteFijar.MonedaAPrecio}}</span>
                </div>
                <div id="impo-sobre-precio">
                    <span class="col-md-3 text-center">{{pendienteFijar.ImporteSobrePrecio}} {{pendienteFijar.MonedaSobrePrecio}}</span>
                </div>
                <div id="porcenteaje-a-precio">
                    <span class="col-md-3 text-center">{{pendienteFijar.PorcentajeAPrecio}}</span>
                </div>
                <div id="porcenteaje-sobre-precio">
                    <span class="col-md-3 text-center">{{pendienteFijar.PorcentajeSobrePrecio}}</span>
                </div>

                <div>
                    <div class="col-md-12">
                        <label style="padding:0;">
                            Cond fijacion:
                        </label>
                        <span>{{pendienteFijar.CondicionFijacionDescripcion}}</span>
                    </div>
                    <div class="col-md-12">
                        <label style="padding:0;">
                            Cond Pago:
                        </label>
                        <span>{{pendienteFijar.CondicionPagoDescripcion}}</span>
                    </div>
                </div>
                <div>
                    <div class="col-md-6">
                        <label style="padding:0;">
                            Cantidad Minima:
                        </label>&nbsp;
                        <span>{{cantMinima }} Kg</span>
                    </div>
                    <div class="col-md-6">
                        <label style="padding:0;">
                            Cantidad Maxima:
                        </label>&nbsp;
                        <span>{{cantMaxima }} Kg</span>
                    </div>
                </div>
                <br />
            </div>


            <div class="row">
                <div class="form-group col-md-4">
                    <label for="cantidad">Cantidad <b style="color: blue;font-size: x-large;position: absolute;top: -12px;left: 69px;">(Kg.)</b></label>
                    <input type="text" class="form-control" numeric decimals="0" [(ngModel)]="contrato.Cantidad" placeholder="La cantidad expresada en Kg">
                </div>
                <div class="form-group col-md-2">
                    <label for="moneda">Moneda</label>
                    <select class="form-control" name="moneda" [(ngModel)]="contrato.MonedaId" (change)="changeMoneda($event)" [disabled]="disablePrecio()">
                        <option *ngFor="let item of monedas" value="{{item.Id}}">{{item.Descripcion}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="precio">Precio</label>
                    <input type="text" class="form-control" numeric decimals="2" [(ngModel)]="contrato.Precio" [disabled]="disablePrecio()" (keypress)="changeDiasDiferido($event)">
                </div>
                <div class="form-group col-md-2" *ngIf="isVisiblePizarra()">
                    <label class=""> Pizarra</label><label class="switch">
                        <input type="checkbox" [(ngModel)]="contrato.Pizarra" (change)="changePizarra($event)" [disabled]="isVisiblePizarra()">
                        <span class="slider round"></span>

                    </label>

                </div>
            </div>
            <div class="row" *ngIf="isVisibleProveedor()">
                <!--<div class="form-group col-md-6">
                    <label for="cantidad">Cantidad Camiones</label>
                    <input type="text" class="form-control" name="cantidad" numeric decimals="0" [(ngModel)]="contrato.CantidadCamiones">
                </div>-->
                <div class="form-group col-md-6">
                    <label for="cantidad">Zona </label>
                    <select class="form-control" name="zona" [(ngModel)]="contrato.ComercialId">
                        <option value="35">Corredor Rosario</option>
                        <option value="22">Corredor Bs As</option>
                    </select>
                </div>
            </div>


            <label class="subtitulo">Condiciones De Pago</label>
            <div class="row">
                <div class="form-group col-md-4" *ngIf="isVisiblePagoDiferido()">
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="contrato.PagoDiferidoTercero" (change)="changePagoDiferido($event)">
                        <span class="slider round"></span>

                    </label><label class="labelSwitch"> Pago diferido</label>
                </div>
                <div class="form-group col-md-4" *ngIf="contrato.PagoDiferidoTercero == true">
                    <input type="text" class="form-control" numeric decimals="0" [(ngModel)]="contrato.DiasPesificado" (input)="changeDiasDiferido($event)">
                    <label>La cantidad maxima de días de diferimiento es: {{maximoDiasDiferimiento}}</label>
                </div>
                <div class="form-group col-md-4" *ngIf="costoFinanciero != null">
                    <label [innerHTML]="costoFinanciero"></label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4" *ngIf="isVisibleDolarizado()">
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="contrato.DolarizadoTercero" (change)="changeDolarizado($event)">
                        <span class="slider round"></span>

                    </label><label class="labelSwitch"> Dolarizado</label>
                </div>
                <div class="form-group col-md-8" *ngIf="contrato.DolarizadoTercero == true">
                    <input type="text" [(ngModel)]="ObservacionDolarizadoTercero" class="form-control" placeholder="{{placeholderDolarizado}} (la fecha del día más 60 días)" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="ObservacionTercero">Observaciones</label>
                    <textarea class="form-control" name="ObservacionTercero" [(ngModel)]="ObservacionTercero"></textarea>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-md-12">
                    <spinner></spinner>
                    <button type="button" class="btn-custom btn-mediano btn-add animate " (click)="grabarContratoFijacion()" angIf="!this.spinnerComponent.visible.value"
                            style="margin: 0 10px; height: 30px; align-items: center; display: inline-flex;">
                        Grabar
                    </button>
                    <button type="button" class="btn-custom btn-mediano btn-add animate " (click)="irACargas()"
                            style="margin: 0 10px; height: 30px; align-items: center; display: inline-flex;background-color:#eee;color:black !important;">
                        Volver
                    </button>

                </div>
            </div>
        </fieldset>




    </section>
    <!--End CONTENT-->
</div>

<!-- Modal confirmar -->
<a href="#confirmModal" class="trigger-btn" id="openModalConfirmModal" data-toggle="modal" style="display:none;">    Click    to Open Confirm Modal</a>
<div class="modal fade fade-complete" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false"
     data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmacion</h4>
            </div>
            <div class="modal-body modal-notificacion">
                <p>
                    El contrato se genero correctamente.
                </p>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="irACargas()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal mensaje -->
<a href="#mensajeModal" class="trigger-btn" id="openModalMensajeModal" data-toggle="modal" style="display:none;">    Click    to Open mensaje Modal</a>
<div class="modal fade fade-complete" id="mensajeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Mensaje</h4>
            </div>
            <div class="modal-body modal-notificacion">
                <p>
                    {{mensajeModal}}
                </p>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal precios -->
<a href="#PreciosModal" class="trigger-btn" id="openModalPreciosModal" data-toggle="modal" style="display:none;">    Click    to Open Precios Modal</a>
<div class="modal fade fade-complete" id="PreciosModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false"
     data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Seleccione el precio disponible</h4>
            </div>
            <div class="modal-body modal-notificacion">
                <table class="display nowrap dataTable no-footer dtr-inline rounded shadow animate" id="preciosMateriales">
                    <thead>
                        <tr role="row">
                            <td><b>Material</b></td>
                            <td><b>Moneda</b></td>
                            <td><b>Precio</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of precioPorNegocioSeleccionado" role="row" class="material" (click)="seleccionarPrecio(item,contrato)" data-dismiss="modal">
                            <td>{{item.Material}}</td>
                            <td>{{item.MonedaId}}</td>
                            <td>{{item.Precio}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>