<!-- <p-steps [model]="items" styleClass="steps-custom" [readonly]="readonly" [(activeIndex)]="activeIndex" ></p-steps> -->

<style>
.stepper-header,
.stepper-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
  margin-top: 1.2em;
}

.stepper-header {
  margin-top: 1em;
  padding-left: 45px;
  padding-right: 45px;
  align-items: center;
}

.step {
  display: inline-block;
  cursor: pointer;
}

.circle {
  height: 2.5em;
  width: 2.5em;
  background:#F3F3F3;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
}

.separator {
  height: 0.5em;
  background:#F3F3F3;
  flex-grow: 1;
  border-radius: 2px;
}

.item {
  width: 10em;
}

.stepper-item {
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Regular';
}

.stepper-item-number {
  font-weight: bold;
  font-size: 1.5em;
}

.stepper-item-number,
.stepper-item-title {
  display: block;
  color: #999999;
}

.active {
  background: #fff;
  border: solid #1B73CB;
}

.incomplete {
  background: #fff;
  border: solid #EDA24D;
}

.complete {
  background: #5CB85C;
  border: solid #5CB85C;
}

.separator.active {
  background: #ECEEEF;
  border: solid #ECEEEF;
}

.separator.active-incomplete,
.separator.incomplete{
  background: #F0AD4E;
  border: solid #F0AD4E;
}

.separator.active-complete{
  background: #5CB85C;
  border: solid #5CB85C;
}

.item.active,
.item.incomplete,
.item.complete {
  background:none;
  border: none;
}

.active .stepper-item-number,
.active .stepper-item-title {
  color: #1B73CB;
}

.incomplete .stepper-item-number,
.incomplete .stepper-item-title {
  color: #F0AD4E;
}

.complete .stepper-item-number,
.complete .stepper-item-title {
  color: #5CB85C;
}

.disabled {
  background: #999999;
  border: solid #999999;
}
.separator.disabled {
  background: #999999;
  border: solid #999999;
}


.item.disabled {
  background:none;
  border: none;
}

.disabled .stepper-item-number,
.disabled .stepper-item-title {
  color: #999999;
}

</style>

<div class="stepper-header">
  <ng-template ngFor let-item [ngForOf]="items" let-i="index">
    <div [ngClass]="'step circle ' + getItemClass(i)" (click)="itemClick($event, item, i)"></div>
    <div [ngClass]="'separator ' + getItemClass(i)" *ngIf="i != items.length-1"></div>
  </ng-template>
</div>
<div class="stepper-items">
  <ng-template ngFor let-item [ngForOf]="items" let-i="index">
    <div [ngClass]="'step item ' + getItemClass(i)" (click)="itemClick($event, item, i)">
      <a class="stepper-item">
        <span class="stepper-item-number">Paso {{i + 1}}</span>
        <span class="stepper-item-title">{{item.label}}</span>
    </a>
    </div>
    <div class="separator" *ngIf="i != items.length-1" hidden></div>
  </ng-template>
</div>