<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 ">Altas de proveedores <strong>Pendientes</strong> </div>
        </div>
        <!--End Title-->
        <!--Search-->
        <div class="row  myRow firstSection mySearch">
            <div class="col-xs-12 col-md-12 rounded shadow">
                <title-caps>Refinar resultados</title-caps>

                <div id="searchTexto" class="col-xs-6 col-sm-4 col-md-5 ">
                    Por CUIT N°:
                    <div class="styled-select ">
                        <input type="search" class="" placeholder="" aria-controls="tableModal">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search-->
        <!-- Tables-->
        <div class="row myRow">
            <div class="clearfix myTables">
                <mensaje></mensaje>
                <spinner></spinner>
                <table id="tableModal" class="display nowrap dataTable no-footer dtr-inline rounded shadow ccpp-table"
                    cellspacing="0" role="grid" aria-describedby="tableModal_info" style="width: 100%; padding:10px 0;">
                    <thead>
                        <tr role="row">
                            <th tabindex="0" rowspan="1" colspan="1" style="">Fecha</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="">CUIT</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="">Estado</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="">Ver Documentación</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let recepcionInfo of cartaPorteList.cartasPorte | paginate: { itemsPerPage:itemsPerPage, currentPage: p }"
                            role="row" class="odd">
                            <td>Fecha: 29/04/2034</td>
                            <td>CUIT: 14534245432</td>
                            <td>Estado: Pendiente</td>
                            <td>
                                <button>VER</button>
                            </td>
                            <td>
                                <button>Aceptar</button>
                                <button>Rechazar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls-custom (pageChange)="p = $event" *ngIf="cartaPorteList">
                </pagination-controls-custom>
            </div>
        </div>
        <!-- END tables-->
    </section>
    <!--End CONTENT-->
</div>

<!-- DETALLE -->

<div class="content-wraper">

    <div class="row titleSection">Razón Social - CUIT</div>

    <div class="row myRow firstSection roundedInfo" id="container">
        <mdb-stepper #stepper>
            <mdb-step name="Step 1" label="Informe comercial">
                <h3>Informe comercial</h3>
                <div class="form-group informe-comercial">
                    <div style="flex-direction: column;">
                        <p>Informe comercial</label>
                            <button>Ver</button>
                    </div>

                </div>
            </mdb-step>
            <mdb-step name="Step 2" label="CBU">
                <h3> Constancia de CBU</h3>
                <div class="form-group">
                    <p>Constancia de CBU certificada
                        por Banco</p>
                    <button>Ver</button>
                </div>
            </mdb-step>
            <mdb-step name="Step 3" label="Documentación Impositiva">
                <h3>Documentación Impositiva</h3>
                <div class="form-group">
                    <p>Constancia de CUIT</p>
                    <button>Ver</button>
                </div>
                <div class="form-group">
                    <p>Inscripción en IIBB -local o
                        Convenio (CM05
                        vigente)</p>
                    <button>Ver</button>
                </div>
                <div class="form-group">
                    <p>Certificados de exclusión o
                        exención en Ganancias, IVA e
                        IIBB.</p>
                    <button>Ver</button>
                </div>
                <div class="form-group">
                    <p>Solamente en caso de SISA 2 / SISA 3,
                        presentar SIPER.</p>
                    <button>Ver</button>
                </div>
            </mdb-step>
            <mdb-step name="Step 4" label="Documentación">
                <h3>Documentación al día en Bolsa</h3>
                <div class="form-group">
                    <button>Ver</button>
                </div>
            </mdb-step>
            <mdb-step name="Step 7" label="">
                <div>
                    <button>Aprobar</button>
                    <button>Rechazar</button>
                </div>
            </mdb-step>
        </mdb-stepper>
    </div>
</div>


<!-- --- EMPRESA GRANOS ---- -->

<!-- EN TS: -->

private fieldArray: Array<any> = [];
    private newAttribute: any = {};

    addFieldValue() {
    this.fieldArray.push(this.newAttribute)
    this.newAttribute = {};
    }

    deleteFieldValue(index) {
    this.fieldArray.splice(index, 1);
    }


    <!-- EN HTML -->

    <!-- TABLA 1 -->

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Grano</th>
                <th>Campaña</th>
                <th>Has</th>
                <th>TNs</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let field of fieldArray; let i = index">
                <td>
                    <input [(ngModel)]="field.grano" class="form-control" type="text" name="{{field.grano}}" />
                </td>
                <td>
                    <input [(ngModel)]="field.capana" class="form-control" type="text" name="{{field.campana}}" />
                </td>
                <td>
                    <input [(ngModel)]="field.has" class="form-control" type="text" name="{{field.has}}" />
                </td>
                <td>
                    <input [(ngModel)]="field.tns" class="form-control" type="text" name="{{field.tns}}" />
                </td>
                <td>
                    <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" type="text" id="newAttributeGrano" [(ngModel)]="newAttribute.grano"
                        name="newAttributeGrano" />
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributeCampana" [(ngModel)]="newAttribute.campana"
                        name="newAttributeCampana" />
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributeHas" [(ngModel)]="newAttribute.has"
                        name="newAttributeHas" />
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributeTns" [(ngModel)]="newAttribute.has"
                        name="newAttributeTns" />
                </td>
                <td>
                    <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                </td>
            </tr>
        </tbody>
    </table>




    <!-- TABLA 2 -->
    <div>
        <p>Capacidad planta</p>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Campaña</th>
                <th>TNs</th>
                <th>Condición</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let field of fieldArray; let i = index">
                <td>
                    <input [(ngModel)]="field.capanaalm" class="form-control" type="text" name="{{field.campanaalm}}" />
                </td>
                <td>
                    <input [(ngModel)]="field.tnsalm" class="form-control" type="text" name="{{field.tnsalm}}" />
                </td>
                <td>
                    <input [(ngModel)]="field.condiscionalm" class="form-control" type="text"
                        name="{{field.condiscionalm}}" />
                </td>
                <td>
                    <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" type="text" id="newAttributeCampanaAlm"
                        [(ngModel)]="newAttribute.campanaalm" name="newAttributeCampanaAlm" />
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributeTnsAlm" [(ngModel)]="newAttribute.tnsalm"
                        name="newAttributeTnsAlm" />
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributeCondicionAlm"
                        [(ngModel)]="newAttribute.condicionalm" name="newAttributeCondicionAlm" />
                </td>
                <td>
                    <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                </td>
            </tr>
        </tbody>
    </table>