<div class="content-wraper">
  <!-- CONTENT-->
  <section class="container-fluid clearfix">
    <!--Title-->
    <div class="row titleSection">
      <div class="col-xs-12 col-sm-10 "><strong>Nueva notificación</strong> </div>
    </div>
    <!--End Title-->
    <!--Search-->
    <div class="myRow firstSection mySearch">
      <div class="col-xs-12 col-md-12 rounded shadow animate no-padding-left-right">
        <div class="col-xs-12 col-md-12 search-header">
          <title-caps>Refinar resultados</title-caps>
        </div>

        <div>
          Nombre:
        </div>

        <div>
          <input type="text" id="Nombre" [(ngModel)]="notificacion.Nombre">
        </div>

        <div>
          Fecha Inicio:
        </div>
        <div>
          <input type="date" [(ngModel)]="notificacion.FechaInicio" id="fechaInicio">
        </div>

        <div>
          Fecha Fin:
        </div>
        <div>
          <input type="date" [(ngModel)]="notificacion.FechaFin" id="fechaFin">
        </div>

        <div>
          Habilitada:
        </div>
        <div>
          <input type="checkbox" [(ngModel)]="notificacion.Habilitada" id="habilitada">
        </div>
        <div>
          Link adjunto:
        </div>

        <div>
          <input type="text" id="LinkAdjunto" [(ngModel)]="notificacion.LinkAdjunto">
        </div>
        <div>
          Mensaje:
        </div>
        <div>
          <input type="text" id="Mensaje" [(ngModel)]="notificacion.Mensaje">
        </div>
        <div>
          <div>
            Roles:
          </div>
          <span *ngFor="let rol of roles" class="col-xs-12 col-sm-12 col-md-6">
            <input type="checkbox" name="rolesSeleccionados" id="rol_{{rol.Id}}" value="{{rol.Id}}"
              [(ngModel)]="rol.checked">
            &nbsp;
            <label for="rol_{{rol.Id}}">{{rol.Nombre}}</label>
          </span>
        </div>
        <div>
          <div>
            Tipo de Usuario:
          </div>
          <span *ngFor="let tipoDeUsuario of tipoUsuarioArray" class="col-xs-12 col-sm-12 col-md-6">
            <input type="checkbox" name="tiposDeUsuarioSeleccionados" id="tipoDeUsuario_{{tipoDeUsuario.Id}}"
              value="{{tipoDeUsuario.Id}}" [(ngModel)]="tipoDeUsuario.checked">
            &nbsp;
            <label for="tipoDeUsuario_{{tipoDeUsuario.Id}}">{{tipoDeUsuario.Nombre}}</label>
          </span>
        </div>


        <div class="col-xs-12 col-md-12" label="Enviar">
          <div class="step-actions enviar">
            <button type="button" id="openModalNotificacion" data-toggle="modal" style="display:none"
              data-target="#modalNotificación" class="btn-custom btn-azul"></button>
            <input type="submit" (click)="submit()" class="btn-custom btn-guardar btn-mediano" value="Enviar">
          </div>
        </div>
      </div>
    </div>

    <!-- End Search-->
    <!-- Tables-->
    <div class="row myRow">
      <div class="clearfix myTables">
        <mensaje></mensaje>
        <spinner></spinner>
      </div>
    </div>
    <!-- END tables-->
  </section>
  <!--End CONTENT-->
</div>