<div class="shipment-card">
  <div class="shipment-icon">
    <img src="assets/camion_icon.svg" alt="Icono Camion" class="icon">
  </div>
  
  <div class="shipment-info">
    <div class="info-row">
      <span class="label">CTG</span>
      <span class="value">{{ ctg() }}</span>
    </div>
    <div class="info-row">
      <span class="label">PATENTE</span>
      <span class="value">{{ patente() }}</span>
    </div>
    <div class="info-row">
      <span class="label">PATENTE ACOPLADO</span>
      <span class="value">{{ patenteAcoplado() }}</span>
    </div>
  </div>

  <!-- <div class="chevron-icon">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M6 9l6 6 6-6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div> -->
</div>