<div class="inicio content-wraper-home">

    <app-carousel-notificaciones></app-carousel-notificaciones>

    <!-- CONTENT-->
    <section class="container-fluid clearfix ">
        <!--notificaciones-->
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-9"><strong>Información</strong></div>
            <div id="searchVer" class="col-xs-12 col-sm-3 homeFiltro">
                <filtro-fecha (ClickEvent)="getData()"></filtro-fecha>
            </div>
        </div>
        <!--End Title-->
        <mensaje #msjHome></mensaje>
        <spinner></spinner>
        <div class="row myRow firstSection roundedInfo" *ngIf="isVisible()">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="col-xs-12 col-md-12 search-header custom-card">
                    <span aria-hidden="true"><img src="/Content/images/icons/doc-file.svg" alt="doc" /></span>
                    <title-caps>Comprobantes</title-caps>
                </div>
                <div class="col-xs-12 rowInfoGrey shadow animate custom-card-body">
                    <div class="col-xs-12 ">
                        <p>
                            <a (click)="goToSeccion('/comprobante-ngs/registrado')" href="#">
                                <i class="fa fa-caret-right"
                                   aria-hidden="true"></i>Registrados <span>({{registrado}})</span>
                            </a>
                        </p>
                        <p>
                            <a (click)="goToSeccion('/comprobante-ngs/pendiente-registro')" href="#">
                                <i class="fa fa-caret-right"
                                   aria-hidden="true"></i>Pendientes de registro <span>({{pendientesRegistro}})</span>
                            </a>
                        </p>
                        <!--<p> <a (click)="goToSeccion('/comprobante-ngs/paga')" href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Pagos <span>({{pagas}})</span></a></p>-->
                    </div>
                </div>
            </div>
            <!--4-->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="col-xs-12 col-md-12 search-header custom-card">
                    <span aria-hidden="true"><img src="/Content/images/icons/pay.svg" alt="doc" /></span>
                    <title-caps>Pagos</title-caps>
                </div>
                <div class="col-xs-12 rowInfoGrey shadow animate custom-card-body">
                    <div class="col-xs-12 ">
                        <p>
                            <a (click)="goToSeccion('/pago-ngs/emitido')" href="#">
                                <i class="fa fa-caret-right"
                                   aria-hidden="true"></i>Emitidos <span>({{emitidos}})</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!--5-->
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="col-xs-12 col-md-12 search-header custom-card">
                    <span aria-hidden="true"><img src="/Content/images/icons/paper.svg" alt="doc" /></span>
                    <title-caps>Documentaci&oacute;n</title-caps>
                </div>
                <div class="col-xs-12 rowInfoGrey shadow animate custom-card-body">
                    <div class="col-xs-6 ">
                        <p>
                            <a (click)="goToSeccion('/cuenta-corriente/simple')" href="#">
                                <i class="fa fa-caret-right"
                                   aria-hidden="true"></i>Retenciones IVA <span>({{iva}})</span>
                            </a>
                        </p>
                        <p>
                            <a (click)="goToSeccion('/cuenta-corriente/simple')" href="#">
                                <i class="fa fa-caret-right"
                                   aria-hidden="true"></i>Retenciones IIBB <span>({{iibb}})</span>
                            </a>
                        </p>
                    </div>
                    <div class="col-xs-6 ">
                        <p>
                            <a (click)="goToSeccion('/cuenta-corriente/simple')" href="#">
                                <i class="fa fa-caret-right"
                                   aria-hidden="true"></i>Retenciones Gcias <span>({{ganancias}})</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12" *ngIf="isVisible()">
            <div class="row titleSection titleSectionNoBorder">
                <div class="col-xs-12 col-sm-9"><strong>&Uacute;ltimos Movimientos</strong></div>
                <div class="col-xs-12 col-sm-3 titleSectionTablePart">
                    <a (click)="goToSeccion('/cuenta-corriente/simple')" href="#"
                       style="text-decoration:none!important">
                        <div class="btnSection animate align-right text-center">Ver Todos</div>
                    </a>
                </div>
                <div class="col-xs-12">
                    <div class="alert alert-warning" *ngIf="mensajeCtaCte">
                        <i class="fa fa-thumbs-o-down"
                           aria-hidden="true"></i>{{mensajeCtaCte}}
                    </div>
                </div>
                <div class="row myRow" *ngIf="isVisibleCtaCte()">
                    <div class="clearfix myTables">
                        <table id="tableModal"
                               class="display nowrap dataTable no-footer dtr-inline rounded shadow animate boletosTable inicio-cc-table"
                               cellspacing="0" role="grid" aria-describedby="tableModal_info"
                               style="width: 100%; padding:10px 0;">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" rowspan="1" colspan="1"
                                        (click)="orderColumnBy('docDateDate')">F. Emisi&oacute;n</th>
                                    <th tabindex="0" rowspan="1" colspan="1"
                                        (click)="orderColumnBy('fecVtoDate')">F. Vto.</th>
                                    <th tabindex="0" rowspan="1" colspan="1" (click)="orderColumnBy('docNo')">
                                        N&deg; Cte.
                                    </th>
                                    <th tabindex="0" rowspan="1" colspan="1"
                                        (click)="orderColumnBy('descripcion')">Descripci&oacute;n</th>
                                    <th tabindex="0" rowspan="1" colspan="1"
                                        (click)="orderColumnBy('contrato')">Contrato</th>
                                    <th tabindex="0" rowspan="1" colspan="1" (click)="orderColumnBy('moneda')">
                                        Moneda
                                    </th>
                                    <th tabindex="0" rowspan="1" colspan="1" (click)="orderColumnBy('ukurs')">
                                        TC
                                    </th>
                                    <th tabindex="0" rowspan="1" colspan="1" (click)="orderColumnBy('debe')">
                                        Debe
                                    </th>
                                    <th tabindex="0" rowspan="1" colspan="1" (click)="orderColumnBy('haber')">
                                        Haber
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cuentaCorriente of cuentasCorrientes | orderedColumn : {property: orderedByColumn, direction: orderDirection} | paginate: { itemsPerPage:itemsPerPage, currentPage: p } ; let odd = odd"
                                    role="row" [class.odd]="!odd">
                                    <td>
                                        <a (click)="showModalTableResponsive(cuentaCorriente)" href="#"
                                           class="btnShowModal"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
                                        {{cuentaCorriente.docDate}}
                                    </td>
                                    <td>{{cuentaCorriente.fecVto}}</td>
                                    <td>
                                        <a (click)="descargaPDF(cuentaCorriente.docNo, cuentaCorriente.fiscYear)"
                                           href="#" *ngIf="cuentaCorriente.docNo != ''">
                                            <span class="fa  fa-file-pdf-o "></span> {{cuentaCorriente.xblnr}}
                                        </a>
                                    </td>
                                    <td>{{cuentaCorriente.descripcion}}</td>
                                    <td>{{cuentaCorriente.contrato}}</td>
                                    <td>{{cuentaCorriente.moneda}}</td>
                                    <td>{{cuentaCorriente.ukursString}}</td>
                                    <td>{{cuentaCorriente.debeString}}</td>
                                    <td>{{cuentaCorriente.haberString}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-template #pT="paginationApi" (pageChange)="p = $event" *ngIf="isVisible()">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <a id="tableModal_previous" class="paginate_button previous" (click)="pT.previous()"
                                   [class.disabled]="pT.isFirstPage()"> Anterior </a>
                                <span *ngFor="let page of pT.pages" [class.current]="pT.getCurrent() === page.value">
                                    <a class="paginate_button" (click)="pT.setCurrent(page.value)"
                                       *ngIf="pT.getCurrent() !== page.value">{{ page.label }}</a>
                                    <a class="paginate_button current" *ngIf="pT.getCurrent() === page.value">
                                        {{
                                        page.label
                                        }}
                                    </a>
                                </span>
                                <a id="tableModal_next" class="paginate_button next" (click)="pT.next()"
                                   [class.disabled]="pT.isLastPage()"> Siguiente </a>
                            </div>
                        </pagination-template>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End CONTENT-->
</div>