<section class="container-fluid clearfix">
    <div class="row titleSection">
        <div class="col-xs-12 col-sm-10 "> <strong>Ver Ofertas</strong></div>
    </div>
    <br>
</section>
<div class="content-wraper" style="padding-top: 0px !important;">
    <spinner></spinner>
    <!--<div style="width:450px;">

        <p-table [value]="tablaOfertas.PeticionDeOfertaPosicion"
                 [scrollable]="true" frozenWidth="200px">

            <ng-template pTemplate="frozenheader">
                <tr><th>1</th><th>1</th></tr>
                <tr><th>3</th><th>3</th></tr>
            </ng-template>
            <ng-template pTemplate="frozenbody" let-peticionPosicion>
                <tr>
                    <td>{{peticionPosicion.Id}}</td>
                    <td>{{peticionPosicion.Id}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="frozenfooter" let-peticionPosicion>
                <tr>
                    <td>hola</td>
                    <td>chau</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:600px;" colspan="3">Sale Rate</th>
                </tr>

                <tr>
                    <th style="width:100px;">SolpPosicion_Id</th>
                    <th style="width:100px;">SolpPosicion_Id</th>
                    <th style="width:200px;">TextoSuministro</th>
                    <th style="width:200px;">CantidadPendiente </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-peticionPosicion>
                <tr>
                    <td style="width:200px;">{{peticionPosicion.SolpPosicion_Id}}</td>
                    <td style="width:200px;">{{peticionPosicion.Posicion.Indice}}</td>
                    <td style="width:200px;">{{peticionPosicion.Posicion.CodigoMaterialSap.Codigo}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-peticionPosicion>
                <tr>
                    <td style="width:200px;">prueba</td>
                    <td style="width:200px;">prueba2</td>
                    <td style="width:200px;">prueba3</td>
                </tr>
            </ng-template>
        </p-table>
    </div>-->

    <div class="col-sm-12 col-md-12 col-lg-12 wrapper" style="margin-left: -15px;" *ngIf="tablaOfertas.TipoPosicionCodigo == 'MATERIALES'">
        <p-table #tabla [value]="tablaOfertas.PeticionDeOfertaPosicion" dataKey="Id" [scrollable]="true" frozenWidth="620px">
            <ng-template pTemplate="frozenheader">
                <tr style="visibility: collapse !important;">
                    <th class="headerth2" style="width: 40px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                    <th class="headerth2" style="width: 40px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                    <th class="headerth2" style="width: 100px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                    <th class="headerth2" style="width: 150px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                    <th class="headerth2" style="width: 90px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                    <th class="headerth2" style="width: 80px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                    <th class="headerth2" style="width: 60px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                    <th class="headerth2" style="width: 60px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>

                </tr>
                <tr>
                    <th class="headerth" colspan="8" style="background-color: white; width: 620px !important;">Proveedor</th>
                </tr>
                <tr>
                    <th class="headerth" rowspan="3" style="width: 40px !important; "><p-checkbox name="posiciones" [binary]="true"></p-checkbox></th>
                    <th class="headerth" rowspan="3" style="width: 40px !important; ">Pos.</th>
                    <th class="headerth" rowspan="3" style="width: 100px !important;">Codigo</th>
                    <th class="headerth" rowspan="3" style="width: 150px !important;">Descripcion </th>
                    <th class="headerth" rowspan="3" style="width: 90px !important; ">Texto de suministro</th>
                    <th class="headerth" rowspan="3" style="width: 80px !important; ">Ctd. Pendiente</th>
                    <th class="headerth" rowspan="3" style="width: 60px !important; ">Ctd.</th>
                    <th class="headerth" rowspan="3" style="width: 60px !important; ">Um</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="frozenbody" let-peticionPosicion>
                <tr style="overflow: hidden;">
                    <td class="columna" style="width: 40px !important; "><p-checkbox name="posiciones" [(ngModel)]="peticionPosicion.Selected" binary="false"></p-checkbox></td>
                    <td class="columna" style="width: 40px !important; ">{{peticionPosicion.Posicion.Indice}}</td>
                    <td class="columna" style="width: 100px !important;"><div class="columnadiv">{{peticionPosicion.Posicion.CodigoMaterialSap.Codigo}}</div></td>
                    <td class="columna" style="width: 150px !important;"><div class="columnadiv">{{peticionPosicion.Posicion.CodigoMaterialSap.Descripcion == null ? peticionPosicion.Posicion.Tarea : peticionPosicion.Posicion.CodigoMaterialSap.Descripcion}}</div></td>
                    <td class="columna" style="width: 90px !important; "><div class="columnadiv">{{peticionPosicion.Posicion.TextoSuministro}}</div></td>
                    <td class="columna" style="width: 80px !important; ">{{peticionPosicion.Posicion.CantidadPendiente | number: '1.0-0'}}</td>

                    <td pEditableColumn class="columna" style="width: 60px !important; ">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input type="text" pKeyFilter="int" [(ngModel)]="peticionPosicion.Posicion.Cantidad" (keyup)="validacionCantidad(peticionPosicion.Posicion.Cantidad, peticionPosicion.Posicion.CantidadPendiente)">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{peticionPosicion.Posicion.Cantidad | number: '1.0-0'}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td class="columna" style="width: 60px !important; ">{{peticionPosicion.Posicion.Unidad.Descripcion}}</td>
                </tr>
                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <td class="columna" colspan="8" style="width: 620px !important;">Total global</td>
                </tr>
                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <td class="columna" colspan="8" style="width: 620px !important;">Adjuntos y observaciones</td>
                </tr>
                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <td class="columna" colspan="8" style="width: 620px !important;"> </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="header" let-columns class="lista-header">
                <tr style="visibility: collapse !important;">
                    <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                        <th class="headerth2" style="width: 80px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                        <th class="headerth2" style="width: 100px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                        <th class="headerth2" style="width: 100px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                        <th class="headerth2" style="width: 100px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                        <th class="headerth2" style="width: 100px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                        <th class="headerth2" style="width: 90px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                    </ng-container>
                </tr>
                <tr>
                    <th class="headerth" *ngFor="let proveedor of tablaOfertas.Usuarios" colspan="6" style="width: 570px !important;">{{proveedor.RazonSocial}}</th>
                </tr>
                <tr>
                    <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                        <th class="headerth" style="width: 80px !important; ">Ctd. Cotizada</th>
                        <th class="headerth" style="width: 100px !important;">Um. Cotizada</th>
                        <th class="headerth" style="width: 100px !important;">Precio unidad</th>
                        <th class="headerth" style="width: 100px !important;">Precio total</th>
                        <th class="headerth" style="width: 100px !important;">Total ARP</th>
                        <th class="headerth" style="width: 90px !important; ">Fecha de entrega</th>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-peticionPosicion>
                <tr>
                    <ng-container *ngFor="let usuario of tablaOfertas.Usuarios">
                        <ng-container *ngIf="usuario.Cotizacion != null">
                            <ng-container *ngFor="let cotizacionPosicion of usuario.Cotizacion.CotizacionPosiciones">
                                <ng-container *ngIf="peticionPosicion.Id == cotizacionPosicion.PeticionDeOfertaSolpPosicion_Id">
                                    <td class="columna" style="width: 80px !important; ">{{cotizacionPosicion.Cantidad | number: '1.0-0'}}</td>
                                    <td class="columna" style="width: 100px !important;">{{cotizacionPosicion.UnidadMedida.Descripcion}}</td>
                                    <td class="columna" style="width: 100px !important;">{{cotizacionPosicion.MonedaDescripcion}} {{cotizacionPosicion.Precio | number:'1.2-2'}}</td>
                                    <td class="columna" style="width: 100px !important;">{{cotizacionPosicion.MonedaDescripcion}} {{cotizacionPosicion.PrecioTotal | number:'1.2-2'}}</td>
                                    <td class="columna" style="width: 100px !important;">ARP {{cotizacionPosicion.TotalPesos | number:'1.2-2'}}</td>
                                    <td class="columna" style="width: 90px !important; ">{{cotizacionPosicion.FechaDeEntregaFormateada}}</td>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="usuario.Cotizacion == null">
                            <td class="columna" colspan="6" style="width: 570px !important;">Sin cotizar</td>
                        </ng-container>
                    </ng-container>
                </tr>
                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <ng-container *ngFor="let usuario of tablaOfertas.Usuarios">
                        <ng-container *ngIf="proveedor.Cotizacion != null">
                            <td colspan="6" class="columna" style="width: 570px !important;">ARP {{proveedor.Cotizacion.TotalGlobal | number:'1.2-2'}}</td>
                        </ng-container>
                        <ng-container *ngIf="proveedor.Cotizacion == null">
                            <td class="columna" colspan="6" style="width: 570px !important;">Sin Total</td>
                        </ng-container>
                    </ng-container>

                </tr>

                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <ng-container *ngFor="let usuario of tablaOfertas.Usuarios">
                        <ng-container *ngIf="proveedor.Cotizacion != null">
                            <td colspan="6" class="columna" style="width: 570px !important;">
                                <div class="col-md-2" *ngIf="proveedor.Cotizacion.TieneAdjuntos">
                                    <span><img class="pointer" src="./Content/images/icons/descargar.svg" alt="descargar" (click)="descargarAdjuntosCotizacion(proveedor.Cotizacion.Id)" /></span>
                                </div>
                                {{proveedor.Cotizacion.ObservacionEconomica == null ? '' : proveedor.Cotizacion.ObservacionEconomica}}
                            </td>
                        </ng-container>
                        <ng-container *ngIf="proveedor.Cotizacion == null">
                            <td class="columna" colspan="6" style="width: 570px !important;">Sin observaciones</td>
                        </ng-container>
                    </ng-container>

                </tr>
                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <ng-container *ngFor="let usuario of tablaOfertas.Usuarios">
                        <ng-container *ngIf="usuario.Cotizacion == null">
                            <td class="columna" colspan="6" style="width: 570px !important;">
                                <button class="publicar btn btn-success" style="font-size: 12px;">
                                    Adjudicar
                                </button>
                            </td>
                        </ng-container>
                    </ng-container>

                </tr>


            </ng-template>
        </p-table>
    </div>

    <!--servicios vieja-->
    <!--<div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: -15px;" *ngIf="tablaOfertas.TipoPosicionCodigo == 'SERVICIO'">
      <p-table #tabla [value]="tablaOfertas.PeticionDeOfertaPosicion" responsiveLayout="scroll | stack" dataKey="Id">
        <ng-template pTemplate="header" let-columns class="lista-header">
          <tr style="visibility: collapse !important;">
            <th class="headerth2" style="width: 39% !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
            <th class="headerth2" style="width: 35% !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
            <th class="headerth2" style="width: 43% !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
            <th class="headerth2" style="width: 442% !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
            <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
            <th class="headerth2" style="width: 150%; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
            <th class="headerth2" style="width: 150%; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
            <th class="headerth2" style="width: 150%; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
            </ng-container>
          </tr>

          <tr>
            <th class="headerth" colspan="4"></th>
            <th class="headerth" *ngFor="let proveedor of tablaOfertas.Usuarios" colspan="3">Proveedor {{proveedor.RazonSocial}}</th>
          </tr>

          <tr>
            <th class="headerth" rowspan="3"><p-checkbox name="posiciones" [binary]="true"></p-checkbox></th>
            <th class="headerth" rowspan="3"></th>
            <th class="headerth" rowspan="3">Pos.</th>
            <th class="headerth" rowspan="3">Descripcion </th>
            <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
              <th class="headerth">Precio total</th>
              <th class="headerth">Total ARP</th>
              <th class="headerth">Fecha de entrega</th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-peticionPosicion let-expanded="expanded" let-columns="columns">
            <tr>
              <td  class="columna"><p-checkbox name="posiciones" [(ngModel)]="peticionPosicion.selected" binary="false"></p-checkbox></td>
              <td class="columna"><a href="#" [pRowToggler]="peticionPosicion"><i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i></a></td>
              <td>{{peticionPosicion.Posicion.Indice}}</td>
              <td  class="columna">{{peticionPosicion.Posicion.CodigoMaterialSap.Descripcion == null ? peticionPosicion.Posicion.Tarea : peticionPosicion.Posicion.CodigoMaterialSap.Descripcion}}</td>
              <ng-container *ngFor="let usuario of tablaOfertas.Usuarios">
                <ng-container *ngIf="usuario.Cotizacion != null">
                  <ng-container *ngFor="let cotizacionPosicion of usuario.Cotizacion.CotizacionPosiciones">
                    <ng-container *ngIf="peticionPosicion.Id == cotizacionPosicion.PeticionDeOfertaSolpPosicion_Id">
                      <td  class="columna">{{cotizacionPosicion.MonedaDescripcion}} {{cotizacionPosicion.TotalPosicionCotizacion | number:'1.2-2'}}</td>
                      <td  class="columna">ARP {{cotizacionPosicion.TotalARPCotizacionPosicion | number:'1.2-2'}}</td>
                      <td  class="columna">{{cotizacionPosicion.FechaDeEntregaFormateada}}</td>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="usuario.Cotizacion == null">
                  <td  class="columna" colspan="3">Sin cotizar</td>
                </ng-container>
              </ng-container>
            </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-peticionPosicion let-columns="columns">
          <tr>
            <td [attr.colspan]="11">
              <div class="col-sm-12 col-md-12 col-lg-12" style="font-size:16px;padding:20px">
                <p-table [value]="peticionPosicion.Posicion.Subposiciones">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="headerth" rowspan="3" style="width: 21%;">SubPos.</th>
                            <th class="headerth" rowspan="3" style="width: 36%;">Codigo</th>
                            <th class="headerth" rowspan="3" style="width: 158%;">Tarea a subcontratar</th>
                            <th class="headerth" rowspan="3" style="width: 40%;">Ctd pendiente</th>
                            <th class="headerth" rowspan="3" style="width: 30%;">Ctd.</th>
                            <th class="headerth" rowspan="3" style="width: 30%;">UM</th>
                            <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                              <th class="headerth" style="width: 50%;">Ctd cotizada</th>
                              <th class="headerth" style="width: 50%;">UM cotizada</th>
                              <th class="headerth" style="width: 50%;">Precio unidad</th>
                              <th class="headerth" style="width: 50%;">Precio total</th>
                              <th class="headerth" style="width: 50%;">Total ARP</th>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-pos>
                        <tr>
                            <td class="columna">{{pos.Numero}}</td>
                            <td class="columna">{{pos.ServicioSolpCodigo}}</td>
                            <td class="columna" >{{pos.Tarea}}</td>
                            <td class="columna">{{pos.CantidadPendiente | number: '1.0-0'}}</td>
                            <td class="columna">{{pos.Cantidad | number: '1.0-0'}}</td>
                            <td class="columna">{{pos.Unidad.Descripcion}}</td>
                            <ng-container *ngFor="let usuario of tablaOfertas.Usuarios">
                              <ng-container *ngFor="let cotizacionPosicion of usuario.Cotizacion.CotizacionPosiciones">
                                <ng-container *ngIf="cotizacionPosicion.CotizacionSubPosiciones != null">
                                <ng-container *ngFor="let cotizacionSubpo of cotizacionPosicion.CotizacionSubPosiciones">
                                      <ng-container *ngIf="pos.Id == cotizacionSubpo.SolpSubPosicion_Id">
                                        <td  class="columna">{{cotizacionSubpo.Cantidad | number: '1.0-0'}}</td>
                                        <td  class="columna">{{cotizacionSubpo.UnidadMedida.Descripcion}}</td>
                                        <td  class="columna">{{cotizacionSubpo.MonedaDescripcion}} {{cotizacionSubpo.PrecioUnidad | number:'1.2-2'}}</td>
                                        <td  class="columna">{{cotizacionSubpo.MonedaDescripcion}} {{cotizacionSubpo.PrecioTotalSubPosCotizacion | number:'1.2-2'}}</td>
                                        <td  class="columna">ARP {{cotizacionSubpo.TotalARPSubPosCotizacion | number: '1.2-2'}}</td>
                                      </ng-container>
                                    </ng-container>
                                  </ng-container>
                                <ng-container *ngIf="cotizacionPosicion.CotizacionSubPosiciones == null">
                                  <td  class="columna" colspan="5">Sin cotizar</td>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                        </tr>
                    </ng-template>
                  </p-table>
              </div>
             </td>
          </tr>
      </ng-template>
        <ng-template pTemplate="footer">
            <tr>
              <td colspan="4" style="text-align: end;"  class="columna">Total global</td>
              <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                <ng-container *ngIf="proveedor.Cotizacion != null">
                <td colspan="3"  class="columna">ARP {{proveedor.Cotizacion.TotalGlobalSubPos | number: '1.2-2'}}</td>
              </ng-container>
              <ng-container *ngIf="proveedor.Cotizacion == null">
                <td  class="columna" colspan="3">Sin Total</td>
              </ng-container>
            </ng-container>
            </tr>
            <tr>
              <td colspan="4" style="text-align: end;"  class="columna">Adjuntos y observaciones</td>
                <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                    <ng-container *ngIf="proveedor.Cotizacion != null">
                        <td colspan="3"  class="columna">
                          <div class="col-md-2" *ngIf="proveedor.Cotizacion.TieneAdjuntos">
                            <span><img class="pointer" src="./Content/images/icons/descargar.svg" alt="descargar" (click)="descargarAdjuntosCotizacion(proveedor.Cotizacion.Id)"/></span>
                          </div>
                          {{proveedor.Cotizacion.ObservacionEconomica == null ? '' : proveedor.Cotizacion.ObservacionEconomica}}
                        </td>
                    </ng-container>
                    <ng-container *ngIf="proveedor.Cotizacion == null">
                      <td  class="columna" colspan="3">Sin observaciones</td>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
              <td colspan="4" style="text-align: end;"  class="columna">Visita técnica obligatoria</td>
                <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                    <ng-container *ngIf="proveedor.Cotizacion != null">
                        <td colspan="3"  class="columna" [style.color]="proveedor.EstadoVisitaColor">
                          {{proveedor.EstadoVisita}}
                        </td>
                    </ng-container>
                    <ng-container *ngIf="proveedor.Cotizacion == null">
                      <td  class="columna" colspan="3">Sin observaciones</td>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
              <td colspan="4" style="text-align: end;"  class="columna">Propuesta técnica</td>
                <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                    <ng-container *ngIf="proveedor.Cotizacion != null">
                        <td colspan="3"  class="columna" [style.color]="proveedor.EstadoPropuestaTecnicaColor">
                          {{proveedor.EstadoPropuestaTecnica}}
                        </td>
                    </ng-container>
                    <ng-container *ngIf="proveedor.Cotizacion == null">
                      <td  class="columna" colspan="3">Sin observaciones</td>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
              <td colspan="4" class="columna"></td>
              <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                <td colspan="3"  class="columna" style="text-align: center;">
                  <button class="publicar btn btn-success" style="font-size: 12px;">
                    Adjudicar
                  </button>
                </td>
              </ng-container>
            </tr>
        </ng-template>
      </p-table>
    </div>-->
    <!--servicios nueva-->
    <div class="col-sm-12 col-md-12 col-lg-12 wrapper" style="margin-left: -15px;" *ngIf="tablaOfertas.TipoPosicionCodigo == 'SERVICIO'">
        <p-table #tabla [value]="tablaOfertas.PeticionDeOfertaPosicion" dataKey="Id" [scrollable]="true" frozenWidth="465px">
            <ng-template pTemplate="frozenheader">
                <tr style="visibility: collapse !important;">
                    <th class="headerth2" style="width: 40px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                    <th class="headerth2" style="width: 35px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                    <th class="headerth2" style="width: 40px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                    <th class="headerth2" style="width: 350px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                </tr>
                <tr>
                    <th class="headerth" colspan="4" style="background-color: white; width: 465px !important;">Proveedor</th>
                </tr>
                <tr>
                    <th class="headerth" style="width: 40px !important;" rowspan="3"><p-checkbox name="posiciones" [binary]="true"></p-checkbox></th>
                    <th class="headerth" style="width: 35px !important;" rowspan="3"></th>
                    <th class="headerth" style="width: 40px !important;" rowspan="3">Pos.</th>
                    <th class="headerth" style="width: 350px !important;" rowspan="3">Descripcion </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="frozenbody" let-peticionPosicion>
                <tr style="overflow: hidden;">
                    <td class="columna" style="width: 40px !important;"><p-checkbox name="posiciones" [(ngModel)]="peticionPosicion.selected" binary="false"></p-checkbox></td>
                    <td class="columna" style="width: 35px !important;"><!--<a href="#" [pRowToggler]="peticionPosicion"><i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i></a>-->+</td>
                    <td class="columna" style="width: 40px !important;">{{peticionPosicion.Posicion.Indice}}</td>
                    <td class="columna" style="width: 350px !important;">{{peticionPosicion.Posicion.CodigoMaterialSap.Descripcion == null ? peticionPosicion.Posicion.Tarea : peticionPosicion.Posicion.CodigoMaterialSap.Descripcion}}</td>
                </tr>
                <tr style="overflow: hidden;">
                    <td class="columna" style="width: 40px !important;">header</td>
                    <td class="columna" style="width: 35px !important;">sub</td>
                    <td class="columna" style="width: 40px !important;">pos</td>
                    <td class="columna" style="width: 350px !important;"></td>
                </tr>

                <tr style="overflow: hidden;" *ngFor="let subpos of peticionPosicion.Posicion.Subposiciones">
                    <td class="columna">{{subpos.Numero}}</td>
                    <td class="columna">{{subpos.ServicioSolpCodigo}}</td>
                    <td class="columna">{{subpos.Tarea}}</td>
                    <td class="columna">{{subpos.Cantidad | number: '1.0-0'}}</td>
                    <!--<td class="columna">{{subpos.Unidad.Descripcion}}</td>-->
                </tr>








                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <td class="columna" colspan="4" style="width: 465px !important;">Total global</td>
                </tr>
                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <td class="columna" colspan="4" style="width: 465px !important;">Adjuntos y observaciones</td>
                </tr>
                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <td class="columna" colspan="4" style="width: 465px !important;">Visita técnica obligatoria</td>
                </tr>
                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <td class="columna" colspan="4" style="width: 465px !important;">Propuesta técnica</td>
                </tr>
                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <td class="columna" colspan="4" style="width: 465px !important;"></td>
                </tr>
            </ng-template>

            <ng-template pTemplate="header" let-columns class="lista-header">
                <tr style="visibility: collapse !important;">
                    <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                        <th class="headerth2" style="width: 150px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                        <th class="headerth2" style="width: 150px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                        <th class="headerth2" style="width: 150px !important; height: 0px !important; background-color: transparent !important; border: none !important;"></th>
                    </ng-container>
                </tr>

                <tr>
                    <th class="headerth" *ngFor="let proveedor of tablaOfertas.Usuarios" colspan="3" style="width: 450px !important;">{{proveedor.RazonSocial}}</th>
                </tr>

                <tr>
                    <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                        <th class="headerth" style="width: 150px !important; height: 34px;">Precio total</th>
                        <th class="headerth" style="width: 150px !important;height: 34px;">Total ARP</th>
                        <th class="headerth" style="width: 150px !important;height: 34px;">Fecha de entrega</th>
                    </ng-container>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-peticionPosicion>
                <tr>
                    <ng-container *ngFor="let usuario of tablaOfertas.Usuarios">
                        <ng-container *ngIf="usuario.Cotizacion != null">
                            <ng-container *ngFor="let cotizacionPosicion of usuario.Cotizacion.CotizacionPosiciones">
                                <ng-container *ngIf="peticionPosicion.Id == cotizacionPosicion.PeticionDeOfertaSolpPosicion_Id">
                                    <td class="columna" style="width: 150px !important;">{{cotizacionPosicion.MonedaDescripcion}} {{cotizacionPosicion.TotalPosicionCotizacion | number:'1.2-2'}}</td>
                                    <td class="columna" style="width: 150px !important;">ARP {{cotizacionPosicion.TotalARPCotizacionPosicion | number:'1.2-2'}}</td>
                                    <td class="columna" style="width: 150px !important;">{{cotizacionPosicion.FechaDeEntregaFormateada}}</td>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="usuario.Cotizacion == null">
                            <td class="columna" style="width: 450px !important;" colspan="3">Sin cotizar</td>
                        </ng-container>
                    </ng-container>
                </tr>

                <tr>
                    <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                        <th class="headerth" style="width: 150px !important;">Ctd cotizada</th>
                        <th class="headerth" style="width: 150px !important;">UM cotizada</th>
                        <th class="headerth" style="width: 150px !important;">Precio unidad</th>
                        <!--<th class="headerth" style="width: 50%;">Precio total</th>
                        <th class="headerth" style="width: 50%;">Total ARP</th>-->
                    </ng-container>
                </tr>



                <tr style="overflow: hidden;" *ngFor="let subpos of peticionPosicion.Posicion.Subposiciones">

                    <ng-container *ngFor="let usuario of tablaOfertas.Usuarios">
                        <ng-container *ngFor="let cotizacionPosicion of usuario.Cotizacion.CotizacionPosiciones">
                            <ng-container *ngIf="cotizacionPosicion.CotizacionSubPosiciones == null">
                                <td class="columna" colspan="3">Sin cotizar</td>
                            </ng-container>
                            <ng-container *ngIf="cotizacionPosicion.CotizacionSubPosiciones != null">
                                <ng-container *ngFor="let cotizacionSubpo of cotizacionPosicion.CotizacionSubPosiciones">
                                    <ng-container *ngIf="subpos.Id == cotizacionSubpo.SolpSubPosicion_Id">
                                        <td class="columna" style="width: 150px !important;">{{cotizacionSubpo.Cantidad | number: '1.0-0'}}</td>
                                        <td class="columna" style="width: 150px !important;">{{cotizacionSubpo.UnidadMedida.Descripcion}}</td>
                                        <td class="columna" style="width: 150px !important;">{{cotizacionSubpo.MonedaDescripcion}} {{cotizacionSubpo.PrecioUnidad | number:'1.2-2'}}</td>
                                        <!--<td class="columna">{{cotizacionSubpo.MonedaDescripcion}} {{cotizacionSubpo.PrecioTotalSubPosCotizacion | number:'1.2-2'}}</td>
                                        <td class="columna">ARP {{cotizacionSubpo.TotalARPSubPosCotizacion | number: '1.2-2'}}</td>-->
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                </tr>








                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                        <ng-container *ngIf="proveedor.Cotizacion != null">
                            <td colspan="3" style="width: 450px !important;" class="columna">ARP {{proveedor.Cotizacion.TotalGlobalSubPos | number: '1.2-2'}}</td>
                        </ng-container>
                        <ng-container *ngIf="proveedor.Cotizacion == null">
                            <td class="columna" colspan="3" style="width: 450px !important;">Sin Total</td>
                        </ng-container>
                    </ng-container>
                </tr>
                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                        <ng-container *ngIf="proveedor.Cotizacion != null">
                            <td colspan="3" style="width: 450px !important;" class="columna">
                                <div class="col-md-2" *ngIf="proveedor.Cotizacion.TieneAdjuntos">
                                    <span><img class="pointer" src="./Content/images/icons/descargar.svg" alt="descargar" (click)="descargarAdjuntosCotizacion(proveedor.Cotizacion.Id)" /></span>
                                </div>
                                {{proveedor.Cotizacion.ObservacionEconomica == null ? '' : proveedor.Cotizacion.ObservacionEconomica}}
                            </td>
                        </ng-container>
                        <ng-container *ngIf="proveedor.Cotizacion == null">
                            <td class="columna" style="width: 465px !important;" colspan="3">Sin observaciones</td>
                        </ng-container>
                    </ng-container>
                </tr>
                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                        <ng-container *ngIf="proveedor.Cotizacion != null">
                            <td colspan="3" style="width: 450px !important;" class="columna" [style.color]="proveedor.EstadoVisitaColor">
                                {{proveedor.EstadoVisita}}
                            </td>
                        </ng-container>
                        <ng-container *ngIf="proveedor.Cotizacion == null">
                            <td class="columna" style="width: 450px !important;" colspan="3">Sin observaciones</td>
                        </ng-container>
                    </ng-container>
                </tr>
                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                        <ng-container *ngIf="proveedor.Cotizacion != null">
                            <td colspan="3" style="width: 450px !important;" class="columna" [style.color]="proveedor.EstadoPropuestaTecnicaColor">
                                {{proveedor.EstadoPropuestaTecnica}}
                            </td>
                        </ng-container>
                        <ng-container *ngIf="proveedor.Cotizacion == null">
                            <td class="columna" style="width: 450px !important;" colspan="3">Sin observaciones</td>
                        </ng-container>
                    </ng-container>
                </tr>
                <tr *ngIf="esUltimaPosicion(peticionPosicion)">
                    <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                        <td colspan="3" style="width: 450px !important;" class="columna" style="text-align: center;">
                            <button class="publicar btn btn-success" style="font-size: 12px;">
                                Adjudicar
                            </button>
                        </td>
                    </ng-container>
                </tr>
            </ng-template>

            <ng-template pTemplate="rowexpansion" let-peticionPosicion let-columns="columns">
                <tr>
                    <td [attr.colspan]="11">
                        <div class="col-sm-12 col-md-12 col-lg-12" style="font-size:16px;padding:20px">
                            <p-table [value]="peticionPosicion.Posicion.Subposiciones">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="headerth" rowspan="3" style="width: 21%;">SubPos.</th>
                                        <th class="headerth" rowspan="3" style="width: 36%;">Codigo</th>
                                        <th class="headerth" rowspan="3" style="width: 158%;">Tarea a subcontratar</th>
                                        <th class="headerth" rowspan="3" style="width: 40%;">Ctd pendiente</th>
                                        <th class="headerth" rowspan="3" style="width: 30%;">Ctd.</th>
                                        <th class="headerth" rowspan="3" style="width: 30%;">UM</th>
                                        <ng-container *ngFor="let proveedor of tablaOfertas.Usuarios">
                                            <th class="headerth" style="width: 50%;">Ctd cotizada</th>
                                            <th class="headerth" style="width: 50%;">UM cotizada</th>
                                            <th class="headerth" style="width: 50%;">Precio unidad</th>
                                            <th class="headerth" style="width: 50%;">Precio total</th>
                                            <th class="headerth" style="width: 50%;">Total ARP</th>
                                        </ng-container>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-pos>
                                    <tr>
                                        <td class="columna">{{pos.Numero}}</td>
                                        <td class="columna">{{pos.ServicioSolpCodigo}}</td>
                                        <td class="columna">{{pos.Tarea}}</td>
                                        <td class="columna">{{pos.CantidadPendiente | number: '1.0-0'}}</td>
                                        <td class="columna">{{pos.Cantidad | number: '1.0-0'}}</td>
                                        <td class="columna">{{pos.Unidad.Descripcion}}</td>
                                        <ng-container *ngFor="let usuario of tablaOfertas.Usuarios">
                                            <ng-container *ngFor="let cotizacionPosicion of usuario.Cotizacion.CotizacionPosiciones">
                                                <ng-container *ngIf="cotizacionPosicion.CotizacionSubPosiciones != null">
                                                    <ng-container *ngFor="let cotizacionSubpo of cotizacionPosicion.CotizacionSubPosiciones">
                                                        <ng-container *ngIf="pos.Id == cotizacionSubpo.SolpSubPosicion_Id">
                                                            <td class="columna">{{cotizacionSubpo.Cantidad | number: '1.0-0'}}</td>
                                                            <td class="columna">{{cotizacionSubpo.UnidadMedida.Descripcion}}</td>
                                                            <td class="columna">{{cotizacionSubpo.MonedaDescripcion}} {{cotizacionSubpo.PrecioUnidad | number:'1.2-2'}}</td>
                                                            <td class="columna">{{cotizacionSubpo.MonedaDescripcion}} {{cotizacionSubpo.PrecioTotalSubPosCotizacion | number:'1.2-2'}}</td>
                                                            <td class="columna">ARP {{cotizacionSubpo.TotalARPSubPosCotizacion | number: '1.2-2'}}</td>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                                <ng-container *ngIf="cotizacionPosicion.CotizacionSubPosiciones == null">
                                                    <td class="columna" colspan="5">Sin cotizar</td>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>