.headerth {
    font-size: 11px !important;
    cursor: pointer;
    background-color: #4760ac !important;
    color: white !important;
    font-weight: bold !important;
    height: 33px !important;
}

.columna {
    word-break: break-all;
    word-wrap: break-word;
    font-size: 10px;
    height: 40px;
    max-height: 40px;
    overflow: hidden;
}
.espacio {
    word-break: break-all;
    word-wrap: break-word;
    font-size: 4px;
    height: 4px;
    max-height: 4px;
    overflow: hidden;
    border:none !important;
}

.columnadiv {
    word-break: break-all;
    word-wrap: break-word;
    font-size: 10px;
    height: 30px;
    max-height: 30px;
    overflow: hidden;
}

.wrapper {
    min-height: 265px !important;
    position: relative;
    overflow-x: auto;
}


.border2-right {
    border-right: 2px solid grey !important;
}

.border2-left {
    border-left: 2px solid grey !important;
}

::ng-deep a *,
::ng-deep a *:before,
::ng-deep a *:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.titleSection1 {
    font-size: 24px !important;
    border-bottom: 1px solid #707070;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.noVisible {
    font-size: 2rem;
    color: grey;
    display: flex;
    justify-content: center;
}