<form [formGroup]="formulario">
    <!-- Form-->
    <div class="container-fluid">
        <!-- CONTENT-->
        <!-- Contiene todo -->
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <mensaje></mensaje>
            <div class="inputCompras">
                <div class="row myRow" style="padding-top: 2px;">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 alinearTitulo">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput">
                            Nombre de pedido *
                            <div class="styled-select">
                                <input formControlName="nombreDePedido" pInputText type="text" (blur)="onBlur('nombreDePedido')" [(ngModel)]="model.nombreDePedido" placeholder="Ingrese nombre de obra o material" aria-controls="tableModal">
                            </div>

                            <div *ngIf="mostrarValidacion('nombreDePedido', model.nombreDePedido)">
                                <p class="text-danger">campo obligatorio</p>
                            </div>
                        </div>

                        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 margenInput">
                            Fiscal contrato *
                            <div class="styled-select">
                                <!-- Va a ser un select a futuro -->
                                <input pInputText type="text" formControlName="fiscalContrato" (blur)="onBlur('fiscalContrato')" [(ngModel)]="model.fiscalContrato" class="fourRounded" placeholder="Ingrese nombre de fiscal" aria-controls="tableModal">
                            </div>
                            <div *ngIf="mostrarValidacion('fiscalContrato', model.fiscalContrato)">
                                <p class="text-danger">campo obligatorio</p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margenInput">
                            Mail fiscal
                            <div class="styled-select">
                                <input id="txtUsuarioMail" type="text" formControlName="mail" (blur)="onBlur('mail')" pInputText [(ngModel)]="model.mail" class="fourRounded" placeholder="Ingrese el mail" aria-controls="tableModal">
                            </div>
                            <div *ngIf="formulario.get('mail').hasError('pattern') && formulario.get('mail').touched" class="text-danger">
                                El formato del correo electrónico no es válido.
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 alinearTitulo">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inputRight margenInput">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                Fecha tentativa de entrega de ofertas *
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="form-group styled-select">
                                    <p-calendar [ngModelOptions]="{standalone:true}" name="campo4" [(ngModel)]="model.fechaEntrega" [locale]="locale" [style]="{'width': '75%'}" [showIcon]="true" dateFormat="dd-M-yy" appendTo="body" [readonlyInput]="true" [minDate]="configurarFechaCalendar ? null : hoy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                                </div>
                            </div>


                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 prime-hora">
                                <p-calendar [ngModelOptions]="{standalone:true}" name="campo5" class="styled-select" [(ngModel)]="model.horaEntrega" [locale]="locale" [showIcon]="true" icon="fa fa-clock-o" [timeOnly]="true" [readonlyInput]="true"></p-calendar>
                            </div>

                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: -13px;">
                            Tel&eacute;fono
                            <div class="styled-select">
                                <input [ngModelOptions]="{standalone:true}" name="campo6" type="search" [(ngModel)]="model.telefono" class="fourRounded" placeholder="Ingrese número de telefono" aria-controls="tableModal">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alinearTitulo">
                    <div class="margenInput obligatorio">
                        * Campos obligatorios
                    </div>
                </div>
            </div>
        </section>
    </div>

</form>