<html>
	<head>
		<meta http-equiv=Content-Type content="text/html; charset=UTF-8" />
	</head>
	<body style="margin-left: 20px;">
		<div style="width: 100%">
			<table style="width: 100%; margin-top: 70px;">
				<tbody>
					<tr>
						<td colspan="2">
							<b>Sres: Molinos Agro S.A.</b>
						</td>
					</tr>
					<tr>
						<td style="width: 5%;">
						</td>
						<td style="width: 95%; padding-top: 20px; padding-bottom: 20px;">
							<b>Declaración de Conformidad según criterios de sustentabilidad para la producción de Biomasa, de acuerdo con los requisitos de la Directiva {3}</b>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<b>De mi mayor consideración:</b>
						</td>
					</tr>
					<tr>
						<td style="width: 5%;">
						</td>
						<td style="width: 95%; padding-top: 10px;">
							<b>Me dirijo a Uds. Para presentar la documentación requerida, para dar cumplimiento a la normativa Internacional vigente (Reglamento EU 2023/1115), sus políticas y procesos internos.<br />Para ello, acompañamos a la presente, la siguiente documentación, la cual se declara bajo juramento, que es fiel a la original y se encuentra plenamente vigente:</b>
						</td>
					</tr>
					<tr>
						<td style="width: 5%;">
						</td>
						<td style="width: 95%; padding-top: 20px; padding-bottom: 20px;">
							<b>1- Declaración de sustentabilidad completa<br />
							2- Copia del Estatuto (última versión vigente)<br />
							3- Copia del poder de representación legal a nombre del firmante de la DDJJ<br />
							4- En caso de persona física solo adjuntar copia del DNI en lugar de los puntos 2 y 3</b>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="width: 100%;">
			<table style="width: 70%; margin-left: 80px; border: 0.5px solid black; border-collapse: collapse;">
				<tbody>
					<tr>
						<td style="width: 30%; border: 0.5px solid black; border-collapse: collapse; padding: 10px 5px 10px 5px;">
							Fecha
						</td>
						<td style="width: 70%; border: 0.5px solid black; border-collapse: collapse;">
							{0}
						</td>
					</tr>
					<tr>
						<td style="border: 0.5px solid black; border-collapse: collapse; padding: 10px 5px 10px 5px;">
							Razón social
						</td>
						<td style="border: 0.5px solid black; border-collapse: collapse;">
							{1}
						</td>
					</tr>
					<tr>
						<td style="border: 0.5px solid black; border-collapse: collapse; padding: 10px 5px 10px 5px;">
							CUIT
						</td>
						<td style="border: 0.5px solid black; border-collapse: collapse;">
							{2}
						</td>
					</tr>
					<tr>
						<td style="border: 0.5px solid black; border-collapse: collapse; padding: 10px 5px 10px 5px;">
							Nombre y apellido
						</td>
						<td style="border: 0.5px solid black; border-collapse: collapse;">
						</td>
					</tr>
					<tr>
						<td style="border: 0.5px solid black; border-collapse: collapse; padding: 10px 5px 10px 5px;">
							DNI
						</td>
						<td style="border: 0.5px solid black; border-collapse: collapse;">
						</td>
					</tr>
					<tr>
						<td style="border: 0.5px solid black; border-collapse: collapse; padding: 10px 5px 10px 5px;">
							Cargo
						</td>
						<td style="border: 0.5px solid black; border-collapse: collapse;">
						</td>
					</tr>
					<tr>
						<td style="border: 0.5px solid black; border-collapse: collapse; padding: 40px 5px 40px 5px;">
							Firma
						</td>
						<td style="border: 0.5px solid black; border-collapse: collapse;">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>