<body>
    <div>
        <table class="tablaPosiciones">
            <thead>
                <tr>
                    <th style="width: 5%">||NOMBRE_OBRA||</th>
                    <th style="width: 8%"><img width="95" src="https://b2cmoagro.blob.core.windows.net/moaoperaciones/logo.png" /></th>
                    <th style="width: 41%"></th>
                    <th style="width: 8%">||FISCAL_CONTRATO|| ||REVISADO_POR||</th>
                    <th style="width: 8%">||FECHA_PRESENTACION||</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
        </table>
    </div>
</body>

