﻿
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="fechaLugar">
        San Lorenzo, ||FECHA_CREACION||.
    </div>

    <div>
        <table class="tablaPrimeraPagina">
            <tr>
                <td>
                    <p class="margenPrimeraTabla">
                        <b>"||NOMBRE_OBRA||"</b>
                    </p>
                    <p class="margenPrimeraTabla">
                        <b>Solp: </b> ||NRO_SOLP||
                    </p>
                    <p class="margenPrimeraTabla">
                        <b>Fiscal de contrato:</b>
                    </p>
                    <p class="margenPrimeraTabla">
                        ||FISCAL_CONTRATO||
                    </p>
                    <p class="margenPrimeraTabla">
                        Celular: ||TELEFONO||
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div style="padding-top: 30px;">
        <table class="tablaPrimeraPagina">
            <tr>
                <td>
                    <p class="margenPrimeraTabla">
                        <b>Fecha de presentación de las ofertas:</b> ||FECHA_PRESENTACION||
                    </p>
                    <p class="margenPrimeraTabla">
                        <b>Dirigir ofertas únicamente a por sobre cerrado a:</b>
                    </p>
                    <p class="margenPrimeraTabla">
                        ||USUARIO_COMPRAS|| /Compras
                    </p>
                    <p class="margenPrimeraTabla">
                        Benielli 398
                    </p>
                    <p class="margenPrimeraTabla">
                        (2200) San Lorenzo
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div style="page-break-before:always">&nbsp;</div>

    <!--<div class="espacioEncabezado">
                    <th style="width: 50%; height: 5%" colspan="2"><img width="95" src="https://b2cmoagro.blob.core.windows.net/moaoperaciones/logo.png" /></th>
    </div>-->

    <div>
        <h4 class="titulos">
            1 - Especificacion técnica de las obras.:
        </h4>

        <div>
            ||ESPECIFICACION_TECNICA||
        </div>
        <div>
            ||LISTADO_ADJUNTOS||
        </div>
    </div>

    <div style="page-break-before:always">&nbsp;</div>

    <div>
        <h4 class="titulos">
            DETALLE DE LA COTIZACIÓN:
        </h4>

        <p class="titulos">
            Oferente: ||NOMBRE_OBRA||
        </p>

        <table class="tablaPosiciones">
            <thead>
                <tr>
                    <th colspan="6">DETALLE</th>
                </tr>
                <tr>
                    <th style="width: 5%">Serv.</th>
                    <th style="width: 8%">Código</th>
                    <th style="width: 41%">Descripción</th>
                    <th style="width: 8%">Ctd</th>
                    <th style="width: 8%">Unidad</th>
                    <th style="width: 10%">Precio</th>
                </tr>
            </thead>
            <tbody>
                ||TABLA_POSICIONES_SUBPOSICIONES||
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align: right">TOTAL&nbsp;</td>
                    <td colspan="2"></td>
                </tr>
            </tfoot>
        </table>

        <p class="titulos">
            Plazo de entrega: ||PLAZO_ENTREGA|| dias.
        </p>
    </div>

    <div style="page-break-before:always">&nbsp;</div>

    <!--<div class="espacioEncabezado">
        <table class="tablaPosiciones">
            <thead>
                <tr>
                    <th style="width: 75%; height: 5%" colspan="6">||NOMBRE_OBRA||</th>
                    <th style="width: 50%; height: 5%" colspan="2"><img width="95" src="https://b2cmoagro.blob.core.windows.net/moaoperaciones/logo.png" /></th>
                </tr>
                <tr>
                    <th style="width: 30%; height: 5%" colspan="6"></th>
                    <th style="width: 25%; height: 5%">||FISCAL_CONTRATO|| <br /> ||REVISADO_POR||</th>
                    <th style="width: 25%; height: 5%">||FECHA_PRESENTACION||</th>
                </tr>
            </thead>
        </table>
    </div>-->

    <div>
        <h4 class="titulos anexos">
            Estimación de Horas
        </h4>

        <div>
            <table class="tablaPosiciones">
                <tr>
                    <th style="width: 35%">
                        Categoria OUCRA
                    </th>
                    <th style="width: 20%">
                        Normales
                    </th>
                    <th style="width: 20%">
                        Nocturnas
                    </th>
                    <th style="width: 20%">
                        Extras
                    </th>
                </tr>
                <tr>
                    <td>
                        Oficial Especializado
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>
                        Oficial
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>
                        Medio Oficial
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>
                        Ayudante
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>
                        <b>Porcentaje de incidencia</b>
                    </td>
                    <td colspan="3" style="text-align: center">Indicar % de incidencia sobre presupuesto</td>                 
                </tr>           
            </table>
        </div>
    </div>
</body>
</html>
