<html>
<head>
    {0}
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8" />

</head>
<body>
    <div style="width: 100%">
        <table style="width:100%;border: none;" cellspacing="0" cellpadding="0">
            <tbody style="border: none;">
                <tr>
                    <td class="cls_005" colspan="2">
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td class="cls_005" style="width:10%;">
                                        <img width=85 height=35 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHwAAAAxAQMAAAAiFl9PAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAE/SURBVCiR1dIxasMwFAZgFZVqKXZGDyK+gkOHqlDsoRcReOjSQSbQLqWOMSRLaC/QNldR0JAl0Cso1eCtKGTRYJyqS/FzT9A3CP4PId4PQuh3RmgwAiTcZRbATRsDwMrBG2FtIcS1znQfMiwhlFiWADo8K2Uvn7Q5AoDbfFTO+uB0AoA4LY79N8le8w4sute6BWB22kEwGnbbGC0BfDRgcRQfj3YIICOK/sFQMoSQSGmq2j5il70tJKJBvPPw4lzoytVKo3R8XUillleSTsyKcZSmrFgr9cpkVCgqBLp/EkW1ySmzbFpH3MOdmFabi4iJZEqY5uhhy/NqfskYSxoPGt1uucHzMRMegmQnkVkWCj//wKR5F8ZDVC4OQRA3NjNfwn+BzygjB3oWKz1eb3kKa5z/KTrIp2wAoR0Akf74BkOJjeNT/qbFAAAAAElFTkSuQmCC" />

                                    </td>
                                    <td style="width:12%; text-align:center">
                                        <div>
                                            <h1>Molinos Agro S.A.</h1>
                                            <p class="s1">Av. Pdte. Manuel Quintana 192 (1014) CABA</p>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="width:10%"></td>
                    <td class="cls_005" colspan="2">
                        <table class="border" style="border-collapse: collapse;border: 1px solid black;  width: 100%; text-align: center;">
                            <tbody>
                                <tr class="border cls_005">
                                    <td class="peticion" style="background-color: #c1c1c1;">
                                        PETICION DE OFERTA
                                    </td>
                                </tr>
                                <tr>
                                    <td class="peticion">
                                        No: {1}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <br />

        <table style="width: 100%">
            <tbody>
                <tr>
                    <td class="cls_005" width="55%" style="border-style: solid; border-width: 1px; background-color: #e6e6e6;">
                        <table style="width: 100%; ">
                            <tbody>
                                <tr class="cls_005">
                                    <td>
                                        <p class="s3" style="text-indent: 20em;">
                                            Proveedor Nro: <strong>{2}</strong>
                                        </p><br />
                                        <label class="s4">&nbsp;{3}</label><br />
                                        <label class="s3">&nbsp;{4}</label><br />
                                        <label class="s3">&nbsp;{5}</label><br />
                                        <label class="s3">&nbsp;{6}</label><br />
                                        <label class="s3">&nbsp;{7}</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="cls_005" width="40%">
                        <table style="width: 100%; border-collapse: collapse;">
                            <tbody>
                                <tr class="cls_005">
                                    <td style="border-top: 1px solid;">
                                        <label class="s4">&nbsp;&nbsp;Plazo de la oferta</label><br />
                                        <label class="s4">&nbsp;&nbsp;Fecha de entrega</label><br />
                                        <label class="s4">&nbsp;&nbsp;Inicio periodo de validez</label><br />
                                        <label class="s4">&nbsp;&nbsp;Fin periodo de validez</label>
                                    </td>

                                    <td style="border-top: 1px solid;">
                                        <label class="s4">: {8}</label><br />
                                        <label class="s4">: {9}</label><br />
                                        <label class="s4">:</label><br />
                                        <label class="s4">:</label>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="height: 5px; border-bottom: 1px solid; ">
                                    </td>
                                    <td style="height: 5px; border-bottom: 1px solid;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <table style="width: 205%">
                            <tbody>
                                <tr>
                                    <td class="s4" style="border-top: 1px solid; border-left: 1px solid;border-right: 1px solid;">
                                        <p class="s4" style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Lugar de Entrega:</p>
                                        <p class="s4" style="padding-left: 17pt;text-indent: 0pt;text-align: left;">{10}</p>
                                        <br />
                                    </td>

                                </tr>
                                <tr>
                                    <td style="height: 10px; border-bottom: 1px solid; border-left: 1px solid;border-right: 1px solid;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="cls_005" colspan="2" width="40%">
                        <table class="border" style="border-collapse: collapse;border: 1px solid black;  width: 100%; background-color: #e6e6e6;">
                            <tbody>
                                <tr class="border cls_005">
                                    <td>
                                        <label class="s4"><strong>&nbsp;FECHA DE CREACION</strong></label><br />
                                        <label class="s5"> &nbsp;ORG. DE COMPRAS (2029)</label><br />
                                        <label class="s5">&nbsp; CENTRO</label><br />
                                        <label class="s5">&nbsp;GESTIONO</label>
                                    </td>
                                    <td class="s4">
                                        <label class="s4"><strong>: {11}</strong></label><br />
                                        <label class="s5">: {12}</label><br />
                                        <label class="s5">: {13}</label><br />
                                        <label class="s5">: {14}</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="s9" style="border-top: 1px solid; height: 5px">
                                        Tel: 03476-438529/8576/9120  Fax: 03476-438502
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="height: 20px"></div>

        <table style="
         border: 1px solid;
         border-collapse: collapse;
         width: 100%; ">
            <thead style="background-color: #cccccc;">
                <tr style="text-align: center">
                    <br />
                    <th class="s4">POS</th>
                    <th class="s4">MATERIAL</th>
                    <th class="s4">DENOMINACIÓN</th>
                    <th class="s4">CANTIDAD <br /> PET-OFERTA</th>
                    <th class="s4">UNIDAD</th>
                    <th class="s4">PLAZO OFERTA</th>
                    <th class="s4">FECHA ENTREGA</th>
                </tr>              
            </thead>
            <tbody class="border" style="text-align: center">               
                    {15}               
                <tr>
                    <td colspan="7">                      
                        <p class="s5" style="padding-left: 13pt;text-indent: 0pt;line-height: 130%;text-align: left;">NOTA: De acuerdo a la Resolución 3419 (DGI) del 29/10/91 para toda factura/remito y/o equivalente deberán confeccionarse Original y Triplicado del proveedor, más dos copias adicionales para tramitación interna.</p>
                        <p class="s5" style="padding-left: 13pt;text-indent: 0pt;line-height: 130%;text-align: left;">NOTA II: No corresponde la emisión de Factura de Crédito por cancelación de la operación mediante la entrega de los medios de pago previstos en el régimen de Factura de Crédito dentro de los 30 días o los días que correspondan si las condiciones de pago convenidas fueran a un plazo menor a 30 días contados desde su fecha de emisión.</p>
                        <p class="s5" style="padding-left: 13pt;text-indent: 0pt;line-height: 9pt;text-align: left;">No se aceptarán facturas cuya fecha de emisión sea anterior a 72 horas de la fecha de recepción de la misma.</p>
                        <p class="s5" style="padding-left: 13pt;text-indent: 0pt;text-align: left;">Los remitos y facturas deberán identificar el número de Orden de Compra y el nombre de la persona o departamento de nuestra compañía al cual se está enviando la factura.</p>
                        <p class="s5" style="padding-left: 13pt;padding-right: 5pt;text-indent: 0pt;line-height: 130%;text-align: left;">En la Factura Comercial deberá indicarse "PLAZO DE PAGO" s/régimen de Factura de Crédito 30 días o los días que correspondan si las condiciones de pago convenidas fueran a un plazo menor a 30 días y la leyenda: "LA PRESENTE FACTURA SE CANCELARÁ MEDIANTE LA ENTREGA DE LOS MEDIOS DE PAGO PREVISTOS EN EL RÉGIMEN DE FACTURA DE CRÉDITO DENTRO DE LOS 30 DÍAS O LOS DÍAS QUE CORRESPONDAN SI LAS CONDICIONES DE PAGO CONVENIDAS FUERAN A UN PLAZO MENOR A 30 DÍAS CONTADO DESDE SU FECHA DE EMISIÓN". Por cualquier consulta</p>
                        <p style="padding-left: 13pt;text-indent: 0pt;line-height: 9pt;text-align: left;"><a href="http://www.molinos.com.ar/" class="s8" target="_blank">acceda a www.molinos.com.ar.</a></p>
                        <p class="s4" style="padding-left: 56pt;text-indent: 0pt;text-align: left;">IMPORTANTE: En los REMITOS y FACTURAS se deberá incluir el NÚMERO DE DOCUMENTO del PEDIDO correspondiente y nuestro Número de Material.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
