<body>
    <div class="fechaLugar">
        San Lorenzo, ||FECHA_PRESENTACION||.
    </div>

    <div>
        <table class="tablaPrimeraPagina">
            <tr>
                <td>
                    <p class="margenPrimeraTabla">
                        <b>"||NOMBRE_OBRA||"</b>
                    </p>
                    <p class="margenPrimeraTabla">
                        <b>Solp: </b> ||NRO_SOLP||
                    </p>
                    <p class="margenPrimeraTabla">
                        <b>Fiscal de contrato:</b>
                    </p>
                    <p class="margenPrimeraTabla">
                        ||FISCAL_CONTRATO||
                    </p>
                    <p class="margenPrimeraTabla">
                        Celular: ||TELEFONO||
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div style="padding-top: 30px;">
        <table class="tablaPrimeraPagina">
            <tr>
                <td>
                    <p class="margenPrimeraTabla">
                        <b>Fecha de presentación de las ofertas:</b> ||FECHA_PRESENTACION||
                    </p>
                    <p class="margenPrimeraTabla">
                        <b>Dirigir ofertas únicamente a por sobre cerrado a:</b>
                    </p>
                    <p class="margenPrimeraTabla">
                        ||USUARIO_COMPRAS|| /Compras
                    </p>
                    <p class="margenPrimeraTabla">
                        Benielli 398
                    </p>
                    <p class="margenPrimeraTabla">
                        (2200) San Lorenzo
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div style="page-break-before:always">&nbsp;</div>

    <div>
        <h4 class="titulos">
            ÍNDICE:
        </h4>
        <p>
            1-Objeto del pliego.
        </p>
        <p>
            2-Alcance de las prestaciones a cargo de MOA.
        </p>
        <p>
            3-Alcance de las prestaciones a cargo del contratista.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;3.a-Consideraciones generales.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;3.b-Consideraciones particulares.
        </p>
        <p>
            4-Cotización y plazo de ejecución o entrega.
        </p>
        <p>
            5-presentación de Ofertas.
        </p>
        <p>
            6-Consultas.
        </p>
        <p>
            7-Inadmisibilidad de ofertas.
        </p>
        <p>
            8-Seguridad, Higiene, Medio Ambiente y buenas prácticas de Manufactura.
        </p>
        <p>
            9-Evaluación de proveedores.
        </p>
        <p>
            10-Reclamos.
        </p>
        <p>
            11-Multa por atraso de obra.
        </p>
        <p>
            12-Requisitos para el ingreso a la planta.
        </p>
    </div>

    <div style="page-break-before:always">&nbsp;</div>

    <div>
        <h4 class="titulos">
            1-Objeto del pliego:
        </h4>

        <p>
            Por medio del presente nos dirigimos a ustedes a efectos de invitarlos a la presentación
            de una oferta para la ejecución del pliego de acuerdo a especificaciones adjuntas.
            El presente constituye una invitación a ofertar por parte de Molinos
            Agro S.A. (en adelante MOA), quien se reserva la facultad de
            contratar o no lo especificado. Así, ni la presentación de las
            propuestas, ni el cumplimiento de los recaudos en ella previstos,
            dará derecho o lugar a reclamo alguno contra MOA por parte de las
            empresas invitadas a ofertar. MOA se reserva además el derecho a
            declarar este pedido de ofertas desierto.
        </p>
    </div>

    <div>
        <h4 class="titulos">
            2-Alcance de las prestaciones a cargo de MOLINOS AGRO S.A.:
        </h4>

        <p>
            Lugar para obrador: MOA habilitará un
            lugar dentro del predio destinado a obradores, si considera que la
            presencia de un obrador en planta es indispensable para la ejecución
            de la tarea y se gestionará el ingreso y egreso del mismo de acuerdo
            al procedimiento. Además deberá exhibir la habilitación
            correspondiente.
            En ese caso se deberán prever vestuarios, comedores para el personal propio y
            subcontratista, no pudiendo usar las instalaciones de MOA. Los mismos
            responderán a convenios vigentes e indicados por MOA. La limpieza
            del sector estará a su cargo. Estará obligado a retirar
            diariamente del área de trabajo y obrador todo el material sobrante,
            el cual será depositado en zonas que asigne MOA. , pudiendo aplicar
            la DO  multas  si la orden indicada en el libro de obra para cumplir
            con el orden y la seguridad, no es cumplida en el lapso indicado.
            Se dispondrá de elementos contra incendio de acuerdo a las normas
            vigentes.
        </p>
        <p>
            Energía eléctrica: Será provista por
            MOA en líneas de obradores existentes y preverá la distribución de
            acuerdo a sus necesidades y las instrucciones que en ese aspecto
            figuran en las Normas de Seguridad para Contratistas.
        </p>
        <p>
            Las instalaciones, conductores, fichas
            y/o elementos adicionales necesarios para compatibilizar la
            instalación del contratista con el tablero de MOA serán a cargo y
            costo del contratista. En el caso de ser necesaria la utilización de
            equipamientos eléctricos de mayor potencia el contratista deberá
            indicarlo.
        </p>
        <p>
            Toda instalación y/o tablero de uso
            durante el montaje deberá cumplir con lo indicado por MOA, este
            poseerá como mínimo disyuntor y guarda motor, según especificación
            de MOA.
        </p>
        <p>
            El traslado de la energía hasta los
            lugares de obra, se materializará colocando &quot;palmeras&quot; con
            la separación necesaria para lograr que la catenaria supere los 5
            metros de alto, o una altura mayor según la necesidad del
            contratista.
        </p>
        <p>
            Agua para obrador: Será provista por MOA
            en su terreno, las características del agua provista por MOA es de
            Servicios, no siendo la misma potable.
        </p>
        <p>
            La contratista será responsable de
            proveer y distribuir a su personal de agua de tipo potable, dispuesta
            en dispensers distribuidos en obrador y/o en las cercanías de la
            realización de las obras. Es responsabilidad exclusiva del
            contratista asegurar la calidad del agua que provea a su personal.
        </p>
    </div>

    <div>
        <h4 class="titulos">
            3-Alcance de las prestaciones a cargo del contratista:
        </h4>
        <h4 class="titulos">
            3.a-Consideraciones generales:
        </h4>
        <p>
            La oferta comprenderá todos los trabajos y rubros necesarios para
            ejecutar y terminar de acuerdo a las reglas del buen arte, la
            totalidad de los trabajos indicados en la solicitud de cotización,
            de acuerdo a los planos que pudieran entregarse y a este pliego,
            incluyendo también todos aquellos que sin estar expresamente
            indicados fueran necesarios.
        </p>
        <p>
            La ejecución de la ingeniería de detalle de la obra estará a cargo
            del oferente y salvo que se aclare especialmente no entregará planos
            de ingeniería básica o detalle ni planos generales, preliminares o
            informativos. El relevamiento lo deberá realizar el oferente en base
            a lo descrito en este pliego haciendo constar en su oferta cualquier
            divergencia que considere oportuna, no pudiendo luego de adjudicada
            la obra realizar reclamos basados en desconocimiento o interpretación
            errónea de la misma.
        </p>
        <p>
            El contratista proveerá todos los
            materiales, insumos, consumibles, elementos de protección personal,
            equipos, medios de elevación necesarios para realizar los trabajos
            solicitados, en los distintos ítems de la especificación de tareas
            excepto los expresamente indicados como provisión de MOA.
        </p>
        <p>
            Todos los materiales desmontados serán
            llevados a los lugares indicados por MOA.
        </p>
        <p>
            Todos los materiales provistos por MOA
            serán retirados del almacén de acuerdo al procedimiento particular.
        </p>
        <p>
            Deberá mantenerse la obra en su conjunto de manera limpia y ordenada y la empresa contratista entregara una
            vez finalizada libre de residuos de cualquier naturaleza y en
            condiciones de uso. No se recibirá el remito del trabajo terminado
            hasta tanto no se cumplimenten estos requisitos, y el trabajo sea
            inspeccionado y aprobado por personal de MOA, de acuerdo al
            procedimiento Lista de Chequeo de orden y limpieza en final de obra.
            Al finalizar el trabajo y para darlo por culminado, el fiscal de
            contrato deberá realizar la evaluación final del mismo.
        </p>
        <p>
            El contratista limpiará, acondicionará
            y pintará todas las superficies reparadas según especificaciones y
            normas internas de MOA.

        </p>
        <p>
            El contratista deberá designar un representante técnico, quien deberá
            contar con la aprobación de MOA.  La persona designada deberá ser
            competente, capaz de recibir, cumplir y hacer cumplir las órdenes
            y/o indicaciones  de la dirección de obra. La función del
            representante técnico finalizará con la recepción definitiva de la
            obra.
        </p>
        <p>
            Todas las inspecciones que se deban
            realizar según los distintos ítems, serán realizadas conjuntamente
            con la supervisión de MOA.
        </p>
        <p>
            Los oferentes deberán relevar
            obligatoriamente la totalidad del trabajo a realizar, mediciones,
            condiciones de trabajo, etc, en planta junto con supervisores de MOA
            previo a la cotización.
        </p>
        <p>
            Los oferentes suministrarán a su cargo
            los equipos de montaje, herramientas, máquinas herramientas,
            andamios y aparatos de izaje adecuados al trabajo a realizar en
            condiciones confiables y con las certificaciones que se requieran en
            normas de MOA. En caso de imperfecciones, dichos equipos y/o
            herramientas deberán ser reemplazados sin objeción alguna.
        </p>
        <p>
            Los oferentes suministrarán personal de
            montaje que cumplimente los requerimientos legales y administrativos
            definidos en el reglamento para contratistas vigente a la fecha. El
            oferente deberá cumplir con todos los requisitos y normas
            establecidos por MOA en todos los aspectos referidos a seguridad
            industrial.
        </p>
        <p>
            Cuando la obra justifique el uso de un obrador, el Contratista deberá
            solicitar la Tarjeta de habilitación de uso de obradores en planta.
            El obrador deberá cumplir con los requerimientos del Decreto 911/96
            “Seguridad en la Construcción” y el Decreto 351/79 reglamentario
            de la Ley de Seguridad Laboral 19.587. una vez finalizada la obra se
            deberá presentar la tarjeta donde certifique el retiro del mismo
            junto con el remito final del trabajo, estos serán requisitos
            necesarios para comenzar el trámite de pago del servicio prestado.
        </p>
        <p>
            El Contratista debe considerar en su provisión incluidos todos los
            gastos necesarios para realización de las tareas incluyéndose los
            viáticos (traslados, comidas, combustible, alojamiento), como todo
            lo inherente para el ingreso a planta  (seguros, ART, estudios
            médicos, etc.) requeridos por las Normas de Ingreso de Contratistas
            de MOA anexados al presente.
        </p>
        <p>
            MOA deslinda cualquier responsabilidad por pérdida, robo o daño que se
            produzca a los equipos o instalaciones del contratista, así como
            también de todos los materiales y o elementos entregados para la
            ejecución de la obra (partes de equipos o estructuras) hasta el
            instante de la recepción provisoria de cada equipo.
        </p>
        <p>
            El contratista confeccionará un parte diario que deberá ser presentado
            diariamente para su rubricación al fiscal de contrato.
        </p>
        <p>
            La visita a la obra es obligatoria, se debe coordinar con el fiscal de
            contrato que figura en la carátula.
        </p>
        <p>
            Se deberá tener en cuenta que una vez adjudicada la Obra, todo el
            personal que requiera ingresar a planta a realizar tareas,
            incluyéndose las de relevamiento deberá cumplimentar todos los
            requerimientos legales y administrativos definidos en el reglamento
            para contratistas vigente a la fecha  como así también  todos los
            aspectos referidos a Seguridad, Higiene y Medio Ambiente.
        </p>

        <h4 class="titulos">
            3.b-Consideraciones particulares:
        </h4>

        <h4>
            3.b.1: Especificación técnica de tareas.
        </h4>
        <!--<div>
            <p>3.b - Consideraciones particulares:</p>
            <p>3.b.1 Especificación  técnica:</p>
            <p>
                <span class="ql-size-small">Especificación técnica de la obra, generalidades, detalles, puntos de control, planos, diagramas , etc.</span>
            </p>
        </div>-->
        <div>
            ||ESPECIFICACION_TECNICA||
        </div>
        <div>
            ||LISTADO_ADJUNTOS||
        </div>
    </div>
    <div>
        <h4 class="titulos">
            4-Cotización y plazo de ejecución:
        </h4>
        <p>
            La ejecución de todas las tareas será la que figure en la Orden de
            Compra correspondiente, que en principio se estima en ||PLAZO_EJECUCION|| dias corridos desde la emisión de la misma.

            (o indicar la cantidad de días con que se cuenta a partir de tener el
            equipo disponible, en una parada programada u que el trabajo depende
            de otros).
        </p>
        <p>
            La jornada laboral normal se establece en principio de ||DIAS_JORNADA_LABORAL|| de ||INICIO_FINAL_HS_JORNADA_LABORAL||hs,
            quedando la posibilidad de ampliarla o modificarla con el acuerdo delfiscal de contrato.
        </p>
        <p>
            La obra será contratada por el sistema de ajuste alzado, por lo cual se
            consideran incluidos en el monto total del contrato o precio, todos
            los trabajos y materiales que fueran necesarios para cumplir lo
            especificado, aun aquellos que a pesar de no estar indicados
            específicamente hagan a la correcta ejecución de la obra de acuerdo
            a las reglas del buen arte.
        </p>
        <p>
            No está previsto ningún tipo de anticipo para el presente trabajo ni
            avances parciales, por lo que se podrá facturar a la finalización
            de las tareas con la conformidad del fiscal del contrato. En caso de
            requerirlos, deberán estar aprobados por el comprador y figurar en
            la orden de compra para que sean aceptados por MOA
        </p>
        <p>
            Con la presentación de las ofertas, el oferente entregará un plan de
            trabajo detallando las tareas que lo componen en concordancia con los
            ítems de la oferta o resumen de éstos para ser sometido a la
            aprobación de MOA.
        </p>
        <p>
            Todos los días de lluvia y sus consecuencias deberán ser registrados por
            el Contratista en el Libro de Notas de pedido, firmado por ambas
            partes, quedando a criterio de la dirección de obra determinar si
            corresponde.

        </p>
        <p>
            El Contratista deberá considerar que dentro del plazo total se
            consideran incluidos 4 días/mes de lluvias que no justificarán
            ampliación de plazo, a partir de ahí se computará lo que
            corresponda.
        </p>
    </div>
    <div>
        <h4 class="titulos">
            5-presentación de Ofertas:
        </h4>

        <p>
            Las ofertas se recibirán hasta las 12: 00 hs del día y en la dirección
            especificados en la carátula, por sobre cerrado con membrete de la
            empresa. Deben estar dirigidas a la persona de compras
            correspondiente, mencionando el número de pliego.
        </p>
    </div>

    <div>
        <h4 class="titulos">
            6-Consultas:
        </h4>
        <p>
            En el caso de
            requerir los oferentes alguna aclaración sobre los documentos de la
            licitación, deberán hacerlo por escrito
            y serán dirigidas a nombre de la persona de compras identificada en
            la carátula.  Todas las consultas tendrán carácter de circular
            aclaratoria, por lo que serán incorporadas al pliego como perfección
            del contrato. Las mismas deben ser enviadas por mail a la dirección
            de correo identificada en la carátula hasta dos días antes del
            cierre de la cotización, para permitir el envío de una circular a
            los demás oferentes en el caso de que MOA lo considere necesario.
        </p>
    </div>

    <div>
        <h4 class="titulos">
            7-Inadmisibilidad de ofertas:
        </h4>

        <p>
            Será causal de in
            admisibilidad, la oferta presentada por aquellas empresas que
            previamente no concurran a la planta a relevar las tareas a ser
            desarrolladas
        </p>
        <p>
            No se tomarán como
            válidas aquellas ofertas en que el oferente no deje expresa
            constancia de que acepta los términos y condiciones previamente
            mencionados, como así también aquellos que hacen a la política de
            la empresa.
        </p>
        <p>
            MOA se reserva el derecho de declarar desierto este concurso, si así lo
            considerara conveniente, eximiéndose de la obligación de presentar
            justificación alguna a los oferentes.
        </p>
    </div>

    <div>
        <h4 class="titulos">
            8-Seguridad, Higiene, Medio Ambiente y buenas prácticas de Manufactura:
        </h4>

        <p>
            El contratista deberá cumplir y respetar la normativa vigente o aquella
            que pudiese surgir durante el desarrollo de éste contrato, ya sea a
            nivel nacional, provincial y/o municipal, como las internas de MOA en
            lo referente a Seguridad, Higiene, Medio Ambiente y buenas prácticas
            de Manufacturas.
        </p>

        <p>
            Deberá contar además,
            con un servicio a cargo de un profesional en Seguridad e Higiene con
            la matricula al día. Es obligación por parte del contratista
            disponer la presencia permanente en el lugar de trabajo, de un
            técnico en Seguridad e Higiene debidamente matriculado durante el
            100% del tiempo que dure la realización de las tareas emergentes del
            presente, registrando las visitas a planta y las observaciones
            realizadas en un “Libro de Visitas de Responsables de SHyMA
            (Seguridad, Higiene y Medio ambiente)” que a tal efecto se
            encuentra en la portería de ingreso.
            En el caso que el técnico de seguridad no pueda estar el 100% del
            tiempo se tendrán que suspender las tareas hasta que este vuelva a
            su correspondiente puesto de trabajo.
        </p>
        <p>
            previo al comienzo de las tareas de montaje, el contratista deberá entregar
            completa la planilla de análisis de seguridad en el trabajo que se
            adjunta para ser sometida a la aprobación de MOA.
        </p>
        <p>
            El contratista deberá, además, presentar un plan Anual de
            Capacitación, como también toda la documentación necesaria
            referente a capacitaciones que el departamento SHyMA considere
            necesario de acuerdo a los trabajos a realizar o los desvíos de
            seguridad que pudiesen ser observados.
        </p>
        <p>
            Se adjunta archivo con <b>AST (Análisis de Seguridad en el trabajo)</b>
            utilizado para tareas no rutinarias. El <b>AST</b>
            es una herramienta que permite
            evaluar previamente paso a paso durante el desarrollo de la tarea de
            cuáles son los riesgos presentes, las acciones correctivas para esos
            riesgos asociados; y que si, a pesar de todos los cuidados falla
            algo, qué acción correctiva llevar a cabo. Es nuestro mapa de
            seguridad para la realización del trabajo. En consecuencia el
            oferente debe, capacitar, seguir y cumplir todas y cada una de las
            recomendaciones en el indicadas.
        </p>
        <p>
            por su alta potencialidad de accidentes
            está terminantemente prohibido el uso de amoladora con disco de
            corte.
        </p>
        <p>
            La empresa contratista debe presentar  un
            certificado expedido por su ART alegando que no se encuentran
            alcanzados ante las resolución 01/05 (pYMES - 50) o 363/16 (p.E.S.E.
            +50). Si que están alcanzadas por los programas de reducción de
            accidentes no se habilitará el ingreso a planta.
        </p>
    </div>

    <div>
        <h4 class="titulos">
            9-Evaluación de proveedores:
        </h4>

        <p>
            Las tareas derivadas del presente pliego serán observadas por parte de
            MOA y de acuerdo al procedimiento particular, siendo el resultado
            vinculante a la ejecución y finalización del trabajo, como así
            también a futuras adjudicaciones.
        </p>
    </div>

    <div>
        <h4 class="titulos">
            10-Reclamos:
        </h4>

        <p>
            La presentación de la oferta implica por parte del oferente el perfecto
            conocimiento de las obligaciones emergentes del presente, y
            consecuentemente, implica la renuncia previa y absoluta a cualquier
            reclamo posterior a la firma del contrato, basado en desconocimiento
            o errores en los cálculos, planos u otros. Consecuentemente no se
            admitirán reclamos por adicionales, mayores costos u otros.
        </p>
        <p>
            Todo trabajo defectuoso, a juicio del fiscal del contrato deberá
            corregirse por el contratista  no admitiéndose excusa de ninguna
            especie. Hasta tanto los defectos no sean corregidos, MOA tendrá la
            facultad de no liquidar ninguna certificación de obra, pudiendo
            después de un tiempo prudencial, realizar la corrección a cuenta
            del contratista si este no lo hubiera hecho.
        </p>
        <p>

            Es obligación del contratista conocer la documentación a fondo y
            comunicar con debida antelación los errores u omisiones, que
            pudieran existir en los planos y/o documentación que se pudiese
            haber entregado para subsanarlos a tiempo, por lo que queda
            establecido que los materiales y/o jornales que puedan utilizarse
            para este fin serán pagados por el contratista.
        </p>
    </div>

    <div>
        <h4 class="titulos">
            11-Multa por atraso de obra:
        </h4>

        <p>

            La Contratista será penalizada económicamente si la entrega de las
            instalaciones/bienes excede el plazo fijado por causas imputables al
            proveedor y devengará en la aplicación de una multa de un (0,5) por
            ciento diario acumulativo del monto total de la OC (máximo 10 % del
            total de la OC).
        </p>
        <p>

            Los trabajos adicionales al proyecto inicial no ampliarán el plazo de
            obra/bien, por lo que el proveedor deberá incrementar su capacidad
            operativa para afrontar los mismos. Independientemente de ello, en
            caso de atrasos mayores a diez (10) días por causa imputable al
            proveedor, MOA se reserva el derecho de cancelar el contrato y
            convocar a otra empresa para concluir el trabajo responsabilizándose
            la contratista por los mayores costos que eventualmente pudieren
            surgir de tales circunstancias.
        </p>
    </div>

    <div>
        <h4 class="titulos">
            12-Requisitos para el ingreso a la planta:
        </h4>

        <p>
            El contratista deberá gestionar todas las habilitaciones
            correspondientes para ingresar a las plantas de MOA a través de
            AQUILES SISTEMAS DE INFORMACIÓN S.R.L. Inclusive la Ordenanza 97/80
            REGISEPORT de prefectura Naval Argentina–. La cual establece que
            todas las empresas que trabajan dentro de la jurisdicción de
            prefectura Naval Argentina, deben estar habilitadas &nbsp;en el
            registro creado para tal fin (tanto la empresa como su personal).
        </p>
        <p>
            En caso de que la empresa contratista este bajo encuadre sindical UOCRA
            deberá presentar constancia de vigente en INSTITUTO DE ESTADISTICA
            Y&nbsp;REGISTRO DE LA INDUSTRIA DE LA CONSTRUCCION – IERIC. De no
            corresponder su aplicación, deberá presentar una nota fundada
            legalmente donde explique porque considera que no corresponde su
            inscripción.
        </p>
        <p>
            La nómina completa del personal del contratista deberá ser presentada
            al departamento de Recursos Humanos de la compañía, conteniendo de
            cada uno de los dependientes, nombre y apellido, domicilio, fecha de
            nacimiento, DNI , categoría y número de cuil junto con la
            respectiva alta en ART.
        </p>
        <p>
            El contratista será responsable por todos los accidentes personales y/o
            daños materiales ocasionados durante la prestación del servicio,
            imputables a negligencia, impericia, imprudencia o inobservancia de
            los reglamentos del personal que ella provee. Es requisito
            indispensable para el ingreso, cumplimentar con las normas de
            seguridad e higiene que se encuentra en <a href="http://www.molinos.com.ar">www.molinos.com.ar</a>
        </p>
    </div>

    <div style="page-break-before:always">&nbsp;</div>

    <div>
        <h4 class="titulos anexos">
            ANEXO 1
        </h4>

        <h4 class="titulos">
            DETALLE DE LA COTIZACIÓN:
        </h4>

        <p class="titulos">
            Oferente: ||NOMBRE_OBRA||
        </p>

        <table class="tablaPosiciones">
            <thead>
                <tr>
                    <th colspan="6">DETALLE</th>
                </tr>
                <tr>
                    <th style="width: 5%">Serv.</th>
                    <th style="width: 8%">Código</th>
                    <th style="width: 41%">Descripción</th>
                    <th style="width: 8%">Ctd</th>
                    <th style="width: 8%">Unidad</th>
                    <th style="width: 10%">Precio</th>
                </tr>
            </thead>
            <tbody>
                ||TABLA_POSICIONES_SUBPOSICIONES||
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align: right">TOTAL&nbsp;</td>
                    <td colspan="2"></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div style="page-break-before:always">&nbsp;</div>

    <div>
        <h4 class="titulos anexos">
            ANEXO 2: Cronograma de Tareas (Diagrama Gantt)
        </h4>

        <p>
            A presentar por el oferente y sujeta a aprobación de MOA.
        </p>
    </div>

    <div>
        <h4 class="titulos anexos">
            ANEXO 3: Grilla acuerdo UOCRA
        </h4>

        <p>
            A completar por el oferente en el caso de que proveedor tuviera que
            realizar trabajos dentro del predio de MOA, según la estimación de
            cantidad de horas y de operarios con los que se presupuesta la tarea.
        </p>

        <p>
            El valor de las horas COPA no debe ser considerado en la oferta, se
            tendrá en cuenta por separado y se liquidarán al finalizar la obra
            o a fin de cada mes si esta se extiende entre dos o más meses, de
            acuerdo al registro de ingreso de personas contratistas de la
            portería de MOA.
        </p>

        <div class="tablaPosiciones">
            <table class="tablaPosiciones">
                <tr>
                    <th style="width: 25%">
                        Detalle Hs
                    </th>
                    <th style="width: 15%">
                        Normales
                    </th>
                    <th style="width: 15%">
                        Nocturnas
                    </th>
                    <th style="width: 15%">
                        Extras
                    </th>
                </tr>

                <tr>
                    <td>
                        Cantidad de horas UOCRA
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
        <div style="padding-top: 30px;">
            <table class="tablaPosiciones">
                <tr>
                    <th style="width: 31%">
                        Detalle personal Categorías
                    </th>
                    <th style="width: 20%">
                        Cantidad
                    </th>
                    <th style="width: 20%">
                        Nombres
                    </th>
                </tr>
                <tr>
                    <td>
                        Oficial Especializado
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Oficial con Esp. 15%
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Oficial con Esp. 10%
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Oficial con Esp. 5%
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Oficial
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Medio Oficial
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Ayudante
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Grilla persona/horas
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Técnico de Seguridad
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Fabricación en taller externo
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</body>
