<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 "><strong>Mis Consultas</strong> </div>
        </div>
        <!--End Title-->
        <div class="row myRow">
            <div class="clearfix myTables">
                <div class="display nowrap dataTable no-footer dtr-inline rounded shadow animate usuarios-list-table">
                    <p-table #dt [columns]="colsFiltered" [value]="consultas" dataKey="id" [paginator]="true" [rows]="5" >
                        <ng-template pTemplate="caption">
                            <div class="ui-helper-clearfix" style="text-align: right">
                                <div style="float:left">
                                    <button type="button" pButton icon="fa fa-file-excel-o " iconPos="left" label="Exportar" (click)="dt.exportCSV()" style="background-color:#075088;"></button> &nbsp;
                                    <button type="button" pButton icon="fa fa-refresh" (click)="listarConsultas()" style="background-color: #067935;"></button>
                                </div>
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Buscar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 1em"></th>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width.em': col.width}">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th style="width: 2em"></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th *ngFor="let col of columns" [ngSwitch]="col.filterType">
                                    <p-spinner *ngSwitchCase="'number'" (onChange)="dt.filter(col.numberValue, col.field, 'equals')" [(ngModel)]="col.numberValue" [min]="1" size="3"></p-spinner>
                                    <input *ngSwitchCase="'text'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                    <div *ngSwitchCase="'custom'">
                                        <p-multiSelect *ngIf="col.field == 'EstadoConsulta'" [options]="estados" defaultLabel="Todos" optionLabel="Descripcion" dataKey="Id"  [maxSelectedLabels]="1"
                                            (onChange)="dt.filter(getIds($event.value), 'EstadoConsultaId', 'in')">
                                            <ng-template let-estado pTemplate="item">
                                                <span class="label label-default" [ngStyle]="{'background-color': estado.value.Color}" >{{estado.label}}</span>
                                            </ng-template>
                                        </p-multiSelect>

                                        <p-multiSelect *ngIf="col.field == 'Categoria'" [options]="categorias" defaultLabel="Todos" optionLabel="Nombre" dataKey="Id" [maxSelectedLabels]="1"
                                            (onChange)="dt.filter(getIds($event.value), 'CategoriaId', 'in'); setSubcategorias($event.value)" ></p-multiSelect>
                                        
                                        <p-multiSelect *ngIf="col.field == 'SubCategoria'" [options]="subcategoriasList" defaultLabel="Todos"  [maxSelectedLabels]="1"
                                            (onChange)="dt.filter($event.value, 'SubCategoriaId', 'in')" ></p-multiSelect>
                                    </div>
                                    <div *ngSwitchCase="'date'">
                                        <p-selectButton [options]="datesRange" [(ngModel)]="col.selectedRange" multiple="multiple" (onChange)="cambiarCalendar(dt, col)"></p-selectButton>
                                        <p-calendar #lastdate  [(ngModel)]="col.fecha" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy" [readonlyInput]="true"
                                        [(selectionMode)]="col.selectionMode" (onClose)="onFechaRangeChange(dt, col)" (onSelect)="onFechaChange(dt, col)" [style]="{'width':'250%'}"
                                        ></p-calendar>
                                    </div>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td>
                                    <a style="cursor: pointer;" [pRowToggler]="rowData">
                                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                    </a>
                                </td>
                                <td *ngFor="let col of columns" [ngSwitch]="col.filterType">
                                    <span *ngSwitchDefault> {{rowData[col.field]}} </span> 
                                    <div *ngSwitchCase="'custom'">
                                        <span class="label label-default" *ngIf="col.field == 'EstadoConsulta'; else defaultField"
                                        [ngStyle]="{'background-color': rowData.EstadoConsulta.Color}" >{{rowData.EstadoConsulta.Descripcion}}</span>
                                        <ng-template #defaultField>{{rowData[col.field].Nombre}}</ng-template>
                                    </div>
                                    <span *ngSwitchCase="'date'" >{{rowData[col.field] | date:'dd/MM/yyyy'}}</span>
                                </td>
                                <td style="text-align: center">
                                    <a [routerLink]="['/consulta/detalle', { idConsulta:rowData.Id } ]"><button pButton type="button" class="p-button-secondary" style="background-color: #067935;" icon="fa fa-comments-o"></button></a>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                            <tr>
                                <td [attr.colspan]="columns.length + 2">
                                    <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                                       
                                        <div class="ui-g-12 ui-md-12">
                                            <div class="ui-g">
                                                <div class="ui-g-6">
                                                    <b>Razón Social:</b> {{rowData.Fecha | date:'dd/MM/yyyy'}}
                                                </div>
                                                <div class="ui-g-6">
                                                    <b>Contrato:</b> {{rowData.ComprobanteNo}}
                                                </div>
                                                <div class="ui-g-6">
                                                    <b>CUIT:</b> {{rowData.ContratoNo}}
                                                </div>
                                                <div class="ui-g-6">
                                                    <b>Comprobante:</b> {{rowData.Importe}}
                                                </div>
                                                <div class="ui-g-6">
                                                    <b>Comprobante:</b> {{rowData.Impuesto}}
                                                </div>
                                                <div class="ui-g-6">
                                                    <b>Comprobante:</b> {{rowData.BolsaEmisoraOblea}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <!-- END tables-->
    </section>
    <!--End CONTENT-->
</div>
