.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }
  
  .popup-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  