<style>
    .modal-backdrop {
        z-index: -1 !important;
    }
</style>
<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-6 "><strong>Cartas de Porte: Descargas</strong> </div>
            <div class="col-xs-12 col-sm-6">
                <spinner-small></spinner-small>
                <a (click)="exportExcel()" href="#" style="text-decoration:none!important"
                    *ngIf="!this.spinnerSmallComponent.visible">
                    <div class="btnSection animate align-right">Exportar <img src="Content/images/buttons/EXPORT.svg" />
                    </div>
                </a>
                <a (click)="validarCheckboxesFotos()" style="text-decoration:none!important">
                    <div class="btnSection animate align-right" style="margin: 0 10px;">Descargar <span
                            class="fa fa-download" aria-hidden="true"></span></div>
                </a>

                <!--OLD DOWNLOAD
                <button type="button" class="btn btn-info col-xs-12 col-sm-11" (click)="validarCheckboxesFotos()"
                    style="margin: 0 10px; height: 30px; align-items: center; display: flex; background: #172f8f; border: none; justify-content: center;">
                    Descargar <span class="fa fa-file-image-o" style="padding-left: 10px;"></span>

                </button>-->
            </div>
        </div>


        <!--End Title-->
        <!--Search-->
        <div class="row myRow firstSection mySearch">
            <div class="col-xs-12 col-md-12 rounded shadow animate">
                <div class="col-xs-12 col-md-12 search-header">
                    <title-caps>Refinar resultados</title-caps>
                </div>
                <div id="searchVer" class="col-xs-12 col-sm-6 col-md-15">
                    Ver:
                    <filtro-fecha (ClickEvent)="getData()"></filtro-fecha>
                </div>
                <div id="searchVendedor" class="col-xs-12  col-sm-6 col-md-15">
                    Por Vendedor:
                    <div class="styled-select ">
                        <dropdown [tipoDropdown]="'filtroVariable'" [options]="filtroVendedor"
                            (select)="setFiltroVendedor($event)"></dropdown>
                    </div>
                </div>
                <div id="searchProducto" class="col-xs-12 col-sm-6 col-md-15">
                    Por Producto:
                    <div class="styled-select ">
                        <dropdown [tipoDropdown]="'filtroVariable'" [options]="filtroProducto"
                            (select)="setFiltroProducto($event)"></dropdown>
                    </div>
                </div>
                <div id="searchCCPP" class="col-xs-12 col-sm-6 col-md-15 ">
                    Por CCPP N°:
                    <div class="styled-select ">
                        <input type="search" class="" placeholder="" [value]="filtroCCPP"
                            (input)="filtroCCPP = $event.target.value" aria-controls="tableModal">
                    </div>
                </div>
                <div id="searchCCPP" class="col-xs-12 col-sm-6 col-md-15 ">
                    Por Contrato:
                    <div class="styled-select ">
                        <input type="search" class="" placeholder="" [value]="filtroContrato"
                            (input)="filtroContrato = $event.target.value" aria-controls="tableModal">
                    </div>
                </div>
                <div id="searchMostrar" class="col-xs-12 col-sm-6 col-md-15">
                    Mostrar:
                    <div class="styled-select ">
                        <dropdown [tipoDropdown]="'numberItems'" (select)="setItemsPerPage($event)"></dropdown>
                    </div>
                </div>
                <div id="showSearch" onClick="openSearch()">
                    <div style="">
                        <div class="fa fa-angle-double-right" aria-hidden="true"></div>
                    </div>
                    <div>VER MÁS OPCIONES DE BÚSQUEDA</div>
                </div>
                <div id="hideSearch" onClick="closeSearch()">
                    <div style="">
                        <div class="fa fa-times" aria-hidden="true"></div>
                    </div>
                    <div>OCULTAR OPCIONES DE BÚSQUEDA</div>
                </div>
            </div>
        </div>
        <!-- End Search-->
        <!-- Tables-->

        <div class="row myRow">
            <div class="clearfix myTables">
                <mensaje></mensaje>
                <spinner></spinner>
                <table *ngIf="isVisible()" id="tableModal"
                    class="display nowrap dataTable no-footer dtr-inline rounded shadow animate ccpp-descarga-table"
                    cellspacing="0" role="grid" aria-describedby="tableModal_info"
                    style="width: 100%; padding:10px 10px;">

                    <thead>


                        <tr role="row">
                            <th tabindex="0" rowspan="1" colspan="1" style="text-align: left;">Seleccionar
                                <input type="checkbox" name="all" [checked]="isAllChecked()"
                                    (change)="checkAll($event)" />
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1" style="text-align: left;"
                                (click)="orderColumnBy('fechaDescargaDate')">Fecha
                                <div>
                                    <span>
                                        <i
                                            [ngClass]="{'fa': true, 'fa-arrow-up': true, 'arrow': true, 'unselected': orderedByColumn === 'fechaDescargaDate' && orderDirection > 0 }"></i>
                                        <i
                                            [ngClass]="{'fa': true, 'fa-arrow-down': true, 'arrow': true, 'unselected': orderedByColumn === 'fechaDescargaDate' && orderDirection < 0 }"></i>
                                    </span>
                                </div>
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1" style="text-align: left;"
                                (click)="orderColumnBy('cartaPorte')">
                                CCPP Nº
                                <div>
                                    <span>
                                        <i
                                            [ngClass]="{'fa': true, 'fa-arrow-up': true, 'arrow': true, 'unselected': orderedByColumn === 'cartaPorte' && orderDirection > 0 }"></i>
                                        <i
                                            [ngClass]="{'fa': true, 'fa-arrow-down': true, 'arrow': true, 'unselected': orderedByColumn === 'cartaPorte' && orderDirection < 0 }"></i>
                                    </span>
                                </div>
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1" style="text-align: center;">
                                Discrepancia Calidad
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1" style="text-align: left;"
                                (click)="orderColumnBy('producto')">
                                Producto
                                <div>
                                    <span>
                                        <i
                                            [ngClass]="{'fa': true, 'fa-arrow-up': true, 'arrow': true, 'unselected': orderedByColumn === 'producto' && orderDirection > 0 }"></i>
                                        <i
                                            [ngClass]="{'fa': true, 'fa-arrow-down': true, 'arrow': true, 'unselected': orderedByColumn === 'producto' && orderDirection < 0 }"></i>
                                    </span>
                                </div>
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1" style="text-align: left;"
                                (click)="orderColumnBy('contrnum')">Contrato Molinos
                                <div>
                                    <span>
                                        <i
                                            [ngClass]="{'fa': true, 'fa-arrow-up': true, 'arrow': true, 'unselected': orderedByColumn === 'contrnum' && orderDirection > 0 }"></i>
                                        <i
                                            [ngClass]="{'fa': true, 'fa-arrow-down': true, 'arrow': true, 'unselected': orderedByColumn === 'contrnum' && orderDirection < 0 }"></i>
                                    </span>
                                </div>
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1" style="text-align: left;"
                                (click)="orderColumnBy('cg')">
                                CG
                                <div>
                                    <span>
                                        <i
                                            [ngClass]="{'fa': true, 'fa-arrow-up': true, 'arrow': true, 'unselected': orderedByColumn === 'cg' && orderDirection > 0 }"></i>
                                        <i
                                            [ngClass]="{'fa': true, 'fa-arrow-down': true, 'arrow': true, 'unselected': orderedByColumn === 'cg' && orderDirection < 0 }"></i>
                                    </span>
                                </div>
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1" style="text-align: left;"
                                (click)="orderColumnBy('netoDescontado')">
                                Recibido
                                <div>
                                    <span>
                                        <i
                                            [ngClass]="{'fa': true, 'fa-arrow-up': true, 'arrow': true, 'unselected': orderedByColumn === 'netoDescontado' && orderDirection > 0 }"></i>
                                        <i
                                            [ngClass]="{'fa': true, 'fa-arrow-down': true, 'arrow': true, 'unselected': orderedByColumn === 'netoDescontado' && orderDirection < 0 }"></i>
                                    </span>
                                </div>
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1" style="text-align: left;"
                                (click)="orderColumnBy('vendedor')" *ngIf="isCorredor()">Vendedor
                                <div>
                                    <span>
                                        <i
                                            [ngClass]="{'fa': true, 'fa-arrow-up': true, 'arrow': true, 'unselected': orderedByColumn === 'vendedor' && orderDirection > 0 }"></i>
                                        <i
                                            [ngClass]="{'fa': true, 'fa-arrow-down': true, 'arrow': true, 'unselected': orderedByColumn === 'vendedor' && orderDirection < 0 }"></i>
                                    </span>
                                </div>
                            </th>

                        </tr>
                    </thead>


                    <tbody>
                        <tr *ngFor="let recepcionInfo of data.cartasPorte | customFilter : 'producto' : productoSelected | customFilter : 'vendedor' : vendedorSelected | customFilter : 'cartaPorte' : filtroCCPP | customFilter : 'contrnum' : filtroContrato | orderedColumn : {property: orderedByColumn, direction: orderDirection} | paginate: { itemsPerPage:itemsPerPage, currentPage: p } ; let odd = odd"
                            role="row" [class.odd]="!odd">
                            <td>
                                <div class="form">
                                    <div class="form-check" style="text-align: center;">
                                        <input type="checkbox" class="form-check-input" name="descargarcb[]"
                                            value="{{recepcionInfo.cartaPorte}}" [(ngModel)]="recepcionInfo.state">
                                    </div>
                                </div>
                            </td>
                            <td style="text-align: left;">
                                <a (click)="showModalTableResponsive(recepcionInfo)" class="btnShowModal">
                                    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                </a>
                                {{recepcionInfo.fechaDescarga}}
                            </td>
                            <td style="text-align: left; display: flex;">
                                <a class="animate"
                                    (click)="goToSeccionParam('/carta-porte/detalle', recepcionInfo.cartaPorte)"
                                    href="#" style="align-items: left; display: flex;">{{recepcionInfo.cartaPorte}}</a>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-info btn-lg"
                                    (click)="abrirModal(recepcionInfo.cartaPorte)"
                                    style="background: none; border: none; padding: 0 10px; margin: 0 5px;">
                                    <span class="fa fa-file-image-o" style="color: #172f8f;"></span>
                                </button>
                            </td>
                            <td>
                                <button
                                 *ngIf="recepcionInfo.PuedeDiscreparCalidad" 
                                 type="button"
                                    class="btn btn-info btn-lg" (click)="consultaDisconformidadCalidad(recepcionInfo)"
                                    style="background: none; border: none; padding: 0 10px; margin: 0 5px;">
                                    <span class="fa fa-exclamation-circle" style="color: #172f8f;"></span>
                                </button>
                            </td>
                            <td style="text-align: left;">{{recepcionInfo.producto}}</td>
                            <td style="text-align: left;">
                                <a class="animate"
                                    (click)="goToSeccionParam('/contrato/detalle', recepcionInfo.contrnum)"
                                    href="#">{{recepcionInfo.contrnum}}</a>
                            </td>
                            <td style="text-align: left;">{{recepcionInfo.cg}}</td>
                            <td style="text-align: left;">{{recepcionInfo.netoDescontadoString}}</td>
                            <td *ngIf="isCorredor()" style="text-align: left;">{{recepcionInfo.vendedor}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-template #pT="paginationApi" (pageChange)="p = $event" *ngIf="isVisible()">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <a id="tableModal_previous" class="paginate_button previous" (click)="pT.previous()"
                            [class.disabled]="pT.isFirstPage()"> Anterior </a>
                        <span *ngFor="let page of pT.pages" [class.current]="pT.getCurrent() === page.value">
                            <a class="paginate_button" (click)="pT.setCurrent(page.value)"
                                *ngIf="pT.getCurrent() !== page.value">{{ page.label }}</a>
                            <a class="paginate_button current" *ngIf="pT.getCurrent() === page.value">{{ page.label
                                }}</a>
                        </span>
                        <a id="tableModal_next" class="paginate_button next" (click)="pT.next()"
                            [class.disabled]="pT.isLastPage()"> Siguiente </a>
                    </div>
                </pagination-template>
            </div>
        </div>
        <!-- END tables-->
        <!-- Modal -->
        <button type="button" style="display:none" id="openModalHiddenButton" data-toggle="modal"
            data-target="#myModal"></button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            onClick="abrirModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Foto CCPP N° {{cartaPorteDescarga}} </h4>
                    </div>
                    <div class="modal-body">
                        <img src="{{fotoSrc}}" id="CartaPorteImagen" class="img-responsive"
                            style="display: block; max-width: 100%;" />
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" id="CartaPorteDescargar" download="{{cartaPorteDescarga}}.jpg"
                            href="{{fotoSrc}}">Descargar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End CONTENT-->
</div>