<div class="rounded shadow" >
    <section class="container-fluid clearfix">
        <div class="col-xs-12 col-md-12 title" #headerCompras>
            <strong>Propuesta Económica</strong>
        </div>
        <div class="linea"></div>
        <br>
        <div class="row myRow" style="padding-top: 2px;">
            <div class="col-md-12">
                <strong>
                    Por favor, revise los archivos adjuntos antes de cotizar; puede descargarlos
                    <span style="text-decoration: underline; cursor:pointer"
                        (click)="generarZipPliego(peticion.Solp_Id)">aquí</span>
                </strong>
            </div>
        </div>
        <div class="row myRow" style="padding-top: 2px;">
            <div *ngIf="posicionesCompra != undefined">
            </div>
            <div class="row-fluid">
                <div class="table-container">
                    <p-table class="table-responsive" styleClass="font-size: 10px" #tabla
                        [value]="peticion.PeticionDeOfertaPosicion" dataKey="Id">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th class="columna" style="width: 43px; background-color: #4760ac !important;
                                    text-transform: none !important;">No disp.</th>
                                <th class="columna" style="width: 80px; background-color: #4760ac !important;
                                    text-transform: none !important;">SOLP</th>
                                <th class="columna" style="width: 43px; background-color: #4760ac !important;
                                    text-transform: none !important;">Pos.</th>
                                <th class="columna" style="width: 57px; background-color: #4760ac !important;
                                    text-transform: none !important;">Código</th>
                                <th class="columna" style="width: 82px; background-color: #4760ac !important;
                                    text-transform: none !important;">Descripción</th>
                                <th class="columna" style="width: 76px; background-color: #4760ac !important;
                                    text-transform: none !important;">Texto de <br /> suministro</th>
                                <th class="columna" style="width: 62px; background-color: #4760ac !important;
                                    text-transform: none !important;">Modelo</th>
                                <th class="columna" style="width: 72px; background-color: #4760ac !important;
                                    text-transform: none !important;">Ctd.<br /> solicitada</th>
                                <th class="columna" style="width: 72px; background-color: #4760ac !important;
                                    text-transform: none !important;">Um.<br /> solicitada</th>
                                <th class="columna" style="width: 72px; background-color: #4a1884 !important;
                                    text-transform: none !important;">Ctd.<br /> cotizada</th>
                                <th class="columna" style="width: 96px; background-color: #4a1884 !important;
                                    text-transform: none !important;">Um.<br /> cotizada</th>
                                <th class="columna" style="width: 104px; background-color: #4a1884 !important;
                                    text-transform: none !important;">Moneda</th>
                                <th class="columna" style="width: 70px; background-color: #4a1884 !important;
                                    text-transform: none !important;">Precio<br /> Unidad</th>
                                <th class="columna" style="width: 80px; background-color: #4760ac !important;
                                    text-transform: none !important;">Precio<br /> Total</th>
                                <th class="columna" style="width: 80px; background-color: #4a1884 !important;
                                    text-transform: none !important;">Fecha de <br />vigencia</th>
                                <th class="columna" style="width: 80px; background-color: #4760ac !important;
                                    text-transform: none !important;">Fecha de <br />entrega</th>
                                <th class="columna" style="width: 90px; background-color:#4a1884 !important;
                                    text-transform: none !important;">Plazo de <br /> entrega</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-posicionesCompra let-expanded="expanded" let-columns="columns"
                            let-editing="editing">
                            <tr>
                                <td class="columna"><p-checkbox name="posicionesCompra"
                                        [(ngModel)]="posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible"
                                        binary="false"
                                        (click)="noDisponible(posicionesCompra.Posiciones.CotizacionPosicion)"></p-checkbox>
                                </td>
                                <td class="columna">{{posicionesCompra?.Posiciones?.NroSolp}}</td>
                                <td class="columna">{{posicionesCompra?.Posiciones?.Indice}}</td>
                                <td class="columna">{{posicionesCompra?.Posiciones?.Codigo}}</td>
                                <td class="columna">{{posicionesCompra?.Posiciones?.Tarea}}</td>
                                <td class="columna">{{posicionesCompra?.Posiciones?.TextoSuministro}}</td>
                                <td class="columna">{{posicionesCompra?.Posiciones?.Modelo}}</td>
                                <td class="columna">{{posicionesCompra?.Posiciones?.Cantidad | number:'1.2-2'}}</td>
                                <td class="columna">{{posicionesCompra?.Posiciones?.UnidadComprasDescripcion}}</td>

                                <td pEditableColumn class="columna">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="number"
                                                [disabled]="posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible == true"
                                                [(ngModel)]="posicionesCompra.Posiciones.CotizacionPosicion.Cantidad"
                                                pKeyFilter="num"
                                                (focus)="onEditarCelda(posicionesCompra.Posiciones.CotizacionPosicion, 'Cantidad', 0)"
                                                (blur)="onReestablecerValor(posicionesCompra.Posiciones.CotizacionPosicion, 'Cantidad')"
                                                numeric-format
                                                (ngModelChange)="calcularValorNeto(posicionesCompra?.Posiciones?.CotizacionPosicion, posicionesCompra.Id); mostrarMensajeNoRespetaCondiciones()" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <div [ngClass]="{'invalido': (esFinalizado && posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible != true && posicionesCompra.Posiciones.CotizacionPosicion.Cantidad != undefined) &&
                                             (posicionesCompra.Posiciones.CotizacionPosicion.Cantidad <= 0)} ">
                                                {{ posicionesCompra?.Posiciones?.CotizacionPosicion?.Cantidad |
                                                number:'1.2-2'}} </div>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn class="columna">
                                    <div [ngClass]="{'invalido': esFinalizado && posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible != true && 
                                     (posicionesCompra.Posiciones.CotizacionPosicion.UnidadDeMedida_Id <= 0)} ">
                                        <p-dropdown [options]="getUnidades(posicionesCompra)" dataKey="Codigo"
                                            optionLabel="Descripcion"
                                            [disabled]="posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible == true"
                                            [(ngModel)]="posicionesCompra.Posiciones.CotizacionPosicion.UnidadMedida"
                                            placeholder="Unidad" [style]="{'width':'170px'}" [dropdown]="true"
                                            (onFocus)=" $event.target.select();" filter="true" appendTo="body"
                                            resetFilterOnHide="true"
                                            (onChange)="onSelectUnidad(posicionesCompra.Posiciones.CotizacionPosicion, posicionesCompra.Id, $event);">
                                        </p-dropdown>
                                    </div>
                                </td>
                                <td class="columna">
                                    <div [ngClass]="{'invalido': esFinalizado && posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible != true && 
                                     (posicionesCompra.Posiciones.CotizacionPosicion.Moneda_Id <= 0)}">

                                        <p-dropdown dataKey="Codigo"
                                            [disabled]="posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible == true"
                                            [options]="monedaCompras" placeholder="Moneda"
                                            [(ngModel)]="posicionesCompra.Posiciones.CotizacionPosicion.Moneda"
                                            [style]="{'width':'150px'}" optionLabel="CodigoDescripcion" appendTo="body"
                                            (onFocus)=" $event.target.select();"
                                            (onChange)="onSelectMoneda(posicionesCompra.Posiciones.CotizacionPosicion, posicionesCompra.Id,$event)"
                                            [minLength]="1" [dropdown]="true" emptyMessage="Ningúna moneda encontrada"
                                            [autoHighlight]="true" [forceSelection]="true">

                                            <ng-template let-item pTemplate="selectedItem">
                                                <span>{{item.value.Codigo}}</span>
                                            </ng-template>
                                            <ng-template let-item pTemplate="item">
                                                <div>
                                                    <div><b>{{item.value.Codigo}}</b> - {{item.value.Descripcion}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>

                                    </div>
                                </td>


                                <td pEditableColumn class="columna">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="number"
                                                [disabled]="posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible == true"
                                                [(ngModel)]="posicionesCompra.Posiciones.CotizacionPosicion.Precio"
                                                (focus)="onEditarCelda(posicionesCompra.Posiciones.CotizacionPosicion, 'Precio', 0)"
                                                (blur)="onReestablecerValor(posicionesCompra.Posiciones.CotizacionPosicion, 'Precio')"
                                                numeric-format
                                                (ngModelChange)="calcularValorNeto(posicionesCompra?.Posiciones?.CotizacionPosicion, posicionesCompra.Id); mostrarMensajeNoRespetaCondiciones()" />
                                        </ng-template>

                                        <ng-template pTemplate="output">
                                            <div [ngClass]="{'invalido': (esFinalizado && posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible != true && posicionesCompra.Posiciones.CotizacionPosicion.Precio != undefined) &&
                                             (posicionesCompra.Posiciones.CotizacionPosicion.Precio <= 0)}"
                                                pKeyFilter="int">
                                                {{ posicionesCompra?.Posiciones?.CotizacionPosicion?.Precio |
                                                number:'1.2-2'}}
                                            </div>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>


                                <td class="columna">
                                    {{ posicionesCompra?.Posiciones?.CotizacionPosicion?.PrecioTotal | number:'1.2-2' }}
                                </td>
                                <td pEditableColumn class="columna" style="cursor:pointer">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input" style="width: 100% !important">
                                            <p-calendar [minDate]="hoy" class="calendar" appendTo="body" [locale]="es"
                                                dateFormat="dd-M-yy"
                                                [disabled]="posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible == true"
                                                [(ngModel)]="posicionesCompra.Posiciones.CotizacionPosicion.FechaDeVigencia">
                                            </p-calendar>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <div style="height: 20px;" [ngClass]="{'invalido': esFinalizado && posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible != true &&
                                         (posicionesCompra.Posiciones.CotizacionPosicion.FechaDeVigencia == null)}">
                                                {{ posicionesCompra?.Posiciones?.CotizacionPosicion?.FechaDeVigencia |
                                                date:'dd/MM/yy' }}
                                            </div>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td class="columna">
                                    {{ posicionesCompra?.Posiciones?.CotizacionPosicion?.FechaDeEntrega |
                                    date:'dd/MM/yy' }}
                                </td>
                                <td class="columna" style="overflow: hidden; height: 25px; text-align: center;">
                                    <div
                                        [ngClass]="{'invalido': esFinalizado && posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible != true 
                                && (posicionesCompra.Posiciones.CotizacionPosicion.PrimerPlazoDeOferta <= 0 || posicionesCompra.Posiciones.CotizacionPosicion.PrimeraCantidad <= 0)}">
                                        <button class="plazoDeOferta btn" style="font-size: 13px;"
                                            (click)="abrirPlazoDeOferta(posicionesCompra?.Posiciones?.CotizacionPosicion, posicionesCompra?.Posiciones?.Cantidad)">
                                            Agregar
                                        </button>

                                    </div>
                                </td>


                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <div *ngIf="visualizarMensajeDeModificacion" class="col-md-12">
            <strong>Por favor, explique en las observaciones por qué modificó la cantidad y/o unidad de medida.</strong>
        </div>
        <br>
        <div class="col-md-12 row myRow alinearTitulo margenInput">
            <div class="col-md-12 titulosModal">
                <label *ngIf="!peticion.PideDescripcionTecnica; else elseText1">El material <strong>cumple</strong> las
                    especificaciones técnicas solicitadas:</label>
                <ng-template #elseText1>
                    <label *ngIf="!peticion.PideDocumentacionTecnica; else elseText2">
                        <strong>Es obligatorio adjuntar una descripción técnica sin valores comerciales.</strong>
                    </label>
                    <ng-template #elseText2>
                        <label>
                            <strong>Es obligatorio adjuntar una descripción técnica y la documentación
                                respaldatoria.</strong>
                        </label>
                    </ng-template>
                </ng-template>
            </div>
        </div>
        <ng-container *ngIf="!peticion.PideDescripcionTecnica">
            <div class="col-md-12">
                <div class="col-md-2" style="width: 10px;">
                    <label>Sí</label>
                </div>
                <div class="col-md-2">
                    <input type="radio" id="RespetaMateriales1" name="respetaMateriales"
                        [(ngModel)]="peticion.RespetaMateriales" [value]="true" />
                </div>
                <div class="col-md-2" style="width: 10px;">
                    <label>No</label>
                </div>
                <div class="col-md-2">
                    <input type="radio" id="RespetaMateriales2" name="respetaMateriales"
                        [(ngModel)]="peticion.RespetaMateriales" [value]="false" />
                </div>
            </div>
        </ng-container>
        <div class="inputCompras">
            <p>
                <ngb-alert type="danger" [dismissible]="false" *ngIf="visualizarAlert">
                    <strong>Error! </strong>{{ error }}
                </ngb-alert>
            </p>
            <div class="row myRow" style="padding-top: 2px;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label *ngIf="peticion.PideDescripcionTecnica || visualizarMensajeDeModificacion; else elseText"
                        for="editorTexto">
                        <strong>Adjuntar documentación *</strong>
                    </label>
                    <ng-template #elseText>
                        <label for="editorTexto">
                            <strong>Adjuntar documentación </strong>(opcional)
                        </label>
                    </ng-template>
                    <p-fileUpload [styles]="{'margin-left':'-13px; cursor: pointer;'}" name="fileUploadPeticionDeOferta"
                        auto="true" multiple="multiple" chooseLabel="Elegir archivo" [showUploadButton]=false
                        [showCancelButton]=false [customUpload]="true" (uploadHandler)="uploadHandler($event)">
                        <ng-template let-file pTemplate="file"></ng-template>
                    </p-fileUpload>
                </div>

                <div class="col-md-12 row" style="margin-left: -1px; margin-bottom: 3px">
                    <p-panel *ngIf="peticion?.Cotizacion?.ArchivosCotizacion?.length > 0 || archivos?.length > 0"
                        header="Anexos agregados" [toggleable]="true" [collapsed]="false">
                        <div class="row myRow">
                            <!-- <div>
                            <label class="labelCompras" for="editorTexto"> Anexos agregados</label>
                        </div>  -->
                            <!-- Archivos que ya fueron guardados-->
                            <div class="col-xs-12 col-md-9" *ngFor="let archivo of archivos">
                                <img class="pointer" src="./Content/images/icons/trashRed.svg" alt="imageAlt"
                                    (click)="eliminarArchivo(true, archivo)" style="width: 26px;" />
                                <a class="pointer" (click)="descargarArchivo(archivo)">
                                    {{archivo.name}}
                                </a>
                            </div>
                            <!--Fin Archivos que ya fueron guardados-->
                            <!--Archivos nuevos-->
                            <div class="col-xs-12 col-md-9"
                                *ngFor="let archivo of peticion.Cotizacion.ArchivosCotizacion">
                                <img class="pointer" src="./Content/images/icons/trashRed.svg" alt="imageAlt"
                                    (click)="eliminarArchivo(false, archivo)" style="width: 26px;" />
                                <a class="pointer" (click)="descargarArchivo(archivo)" style="font-weight: lighter;">
                                    {{archivo.Nombre}}
                                </a>
                            </div>
                            <!--Fin Archivos nuevos -->
                        </div>
                    </p-panel>
                </div>
                <div class="row myRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label *ngIf="visualizarMensajeDeModificacion; else elseObs" for="editorTexto">
                            <strong>Observaciones *</strong>
                        </label>
                        <ng-template #elseObs>
                            <label for="editorTexto">
                                <strong>Observaciones </strong>(opcional)
                            </label>
                        </ng-template>
                        <textarea name="Observacion" ngDefaultControl [(ngModel)]="this.peticion.ObservacionEconomica"
                            placeholder="Agregue los comentarios que crea necesarios..." cols="30" rows="1"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <app-plazo-de-oferta [(displayPlazo)]="displayPlazo" (cerrarPlazoEmitter)="cerrarPlazo()"
            [(cotizacionPosicion)]="cotizacionPosicion" [(cantidadSolicitada)]="cantidadSolicitada">
        </app-plazo-de-oferta>
    </section>
</div>
<br>
<div class="rounded shadow">
    <section class="container-fluid clearfix">
        <div class="col-xs-12 col-md-12 title">
            <strong>Cotización y plazo de Ejecución</strong>
        </div>
        <div class="linea"></div>
        <div class="inputCompras">
            <div class="row myRow" style="padding-top: 2px;">
                <!--Agregar la lista de los archivos -->
                <div class="col-md-12 row" style="margin-left: -1px; margin-bottom: 3px">
                    <p-panel *ngIf="peticion?.ArchivosPaso4Cotizacion?.length > 0" header="Documentación anexada"
                        [toggleable]="true" [collapsed]="false">
                        <div class="row myRow">
                            <!-- Archivos que ya fueron guardados-->
                            <div class="col-xs-12 col-md-9"
                                *ngFor="let archivoCotizacion of peticion?.ArchivosPaso4Cotizacion">
                                <a class="pointer" (click)="descargarArchivo(archivoCotizacion)">
                                    {{archivoCotizacion.Nombre}}
                                </a>
                            </div>
                            <!--Fin Archivos que ya fueron guardados-->
                        </div>
                    </p-panel>
                </div>
                <div class="row myRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="labelCompras">
                            <strong style="font-size: 14px;">
                                Observaciones
                            </strong>
                        </label>
                        <textarea name="ObservacionCotizacion" ngDefaultControl
                            [(ngModel)]="peticion.ObservacionCotizacion" cols="30" rows="1"
                            [disabled]="true"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>