<section class="container-fluid clearfix">
    <div class="col-xs-12 col-md-12 title" #headerCompras>
        <strong>Propuesta Económica</strong>
    </div>
    <div class="linea"></div>
    <br>
    <div class="row myRow" style="padding-top: 2px;">
        <div class="col-md-12">
            <strong>Por favor, revise los archivos adjuntos antes de cotizar, puede descargarlos <span
                    style="text-decoration: underline; cursor:pointer"
                    (click)="generarZipPliego(peticion.Solp_Id)">aquí</span></strong>
        </div>
    </div>
    <div class="row myRow" style="padding-top: 2px;">
        <div *ngIf="posicionesCompra != undefined">
        </div>
        <p-table class="table-responsive" styleClass="font-size: 10px" #tabla
            [value]="peticion.PeticionDeOfertaPosicion" dataKey="Id">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="columna" style="width: 43px; background-color: #4760ac !important;
                                    text-transform: none !important;">No disp.</th>
                    <th class="columna" style="width: 43px; background-color: #4760ac !important;
                                    text-transform: none !important;">Pos.</th>
                    <th class="columna" style="width: 57px; background-color: #4760ac !important;
                                    text-transform: none !important;">Código</th>
                    <th class="columna" style="width: 82px; background-color: #4760ac !important;
                                    text-transform: none !important;">Descripción</th>
                    <th class="columna" style="width: 76px; background-color: #4760ac !important;
                                    text-transform: none !important;">Texto de <br /> suministro</th>
                    <th class="columna" style="width: 62px; background-color: #4760ac !important;
                                    text-transform: none !important;">Modelo</th>
                    <th class="columna" style="width: 72px; background-color: #4760ac !important;
                                    text-transform: none !important;">Ctd.<br /> solicitada</th>
                    <th class="columna" style="width: 72px; background-color: #4760ac !important;
                                    text-transform: none !important;">Um.<br /> solicitada</th>
                    <th class="columna" style="width: 72px; background-color: #4a1884 !important;
                                    text-transform: none !important;">Ctd.<br /> cotizada</th>
                    <th class="columna" style="width: 96px; background-color: #4a1884 !important;
                                    text-transform: none !important;">Um.<br /> cotizada</th>
                    <th class="columna" style="width: 104px; background-color: #4a1884 !important;
                                    text-transform: none !important;">Moneda</th>
                    <th class="columna" style="width: 70px; background-color: #4a1884 !important;
                                    text-transform: none !important;">Precio<br /> Unidad</th>
                    <th class="columna" style="width: 80px; background-color: #4760ac !important;
                                    text-transform: none !important;">Precio<br /> Total</th>
                    <th class="columna" style="width: 80px; background-color: #4a1884 !important;
                    text-transform: none !important;">Fecha de <br />entrega</th>
                    <th class="columna" style="width: 66px; background-color:#4a1884 !important;
                    text-transform: none !important;">Plazo de <br /> entrega</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-posicionesCompra let-expanded="expanded" let-columns="columns"
                let-editing="editing">
                <tr>
                    <td class="columna"><p-checkbox name="posicionesCompra" [(ngModel)]="posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible" binary="false" (click)="noDisponible(posicionesCompra.Posiciones.CotizacionPosicion)"></p-checkbox></td>
                    <td class="columna">{{posicionesCompra?.Posiciones?.Indice}}</td>
                    <td class="columna">{{posicionesCompra?.Posiciones?.Codigo}}</td>
                    <td class="columna">{{posicionesCompra?.Posiciones?.Tarea}}</td>
                    <td class="columna">{{posicionesCompra?.Posiciones?.TextoSuministro}}</td>
                    <td class="columna">{{posicionesCompra?.Posiciones?.Modelo}}</td>
                    <td class="columna">{{posicionesCompra?.Posiciones?.Cantidad | number:'1.2-2'}}</td>
                    <td class="columna">{{posicionesCompra?.Posiciones?.UnidadComprasDescripcion}}</td>

                    <td pEditableColumn class="columna">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [disabled]="posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible == true"
                                       [(ngModel)]="posicionesCompra.Posiciones.CotizacionPosicion.Cantidad"
                                       pKeyFilter="num"
                                       (focus)="onEditarCelda(posicionesCompra.Posiciones.CotizacionPosicion, 'Cantidad', 0)"
                                       (input)="onReestablecerValor(posicionesCompra.Posiciones.CotizacionPosicion, 'Cantidad')"
                                       (blur)="onReestablecerValor(posicionesCompra.Posiciones.CotizacionPosicion, 'Cantidad')"
                                       (ngModelChange)="calcularValorNeto(posicionesCompra?.Posiciones?.CotizacionPosicion, posicionesCompra.Id); mostrarMensajeNoRespetaCondiciones()" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                <div [ngClass]="{'invalido': (esFinalizado && posicionesCompra.Posiciones.CotizacionPosicion.Cantidad != undefined) && 
                              (posicionesCompra.Posiciones.CotizacionPosicion.Cantidad <= 0)} ">
                                    {{ posicionesCompra?.Posiciones?.CotizacionPosicion?.Cantidad | number:'1.2-2'}} </div>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn class="columna">
                        <div [ngClass]="{'invalido': esFinalizado && 
                        (posicionesCompra.Posiciones.CotizacionPosicion.UnidadDeMedida_Id <= 0)} ">
                            <p-dropdown [options]="unidades" dataKey="Codigo" optionLabel="Descripcion" 
                                [disabled]="posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible == true"
                                [(ngModel)]="posicionesCompra.Posiciones.CotizacionPosicion.UnidadMedida"
                                placeholder="Unidad" [style]="{'width':'170px'}" [dropdown]="true"
                                (onFocus)=" $event.target.select();" filter="true"  appendTo="body"
                                resetFilterOnHide="true"
                                (onChange)="onSelectUnidad(posicionesCompra.Posiciones.CotizacionPosicion, posicionesCompra.Id, $event);">
                            </p-dropdown>
                        </div>
                    </td>
                    <td class="columna">
                        <div [ngClass]="{'invalido': esFinalizado &&
                             (posicionesCompra.Posiciones.CotizacionPosicion.Moneda_Id <= 0)}">
                            
                             <p-dropdown
                                        dataKey="Codigo" 
                                        [disabled]="posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible == true"
                                        [options]="monedaCompras"
                                        placeholder="Moneda"
                                        [(ngModel)]="posicionesCompra.Posiciones.CotizacionPosicion.Moneda"
                                        [style]="{'width':'150px'}"
                                        optionLabel="CodigoDescripcion"
                                        appendTo="body"
                                        (onFocus)=" $event.target.select();"                                
                                        (onChange)="onSelectMoneda(posicionesCompra.Posiciones.CotizacionPosicion, posicionesCompra.Id,$event)"
                                        [minLength]="1"
                                        [dropdown]="true"
                                        emptyMessage="Ningúna moneda encontrada"
                                        [autoHighlight]="true"
                                        [forceSelection]="true">

                                        <ng-template let-item pTemplate="selectedItem">
                                            <span>{{item.value.Codigo}}</span>
                                        </ng-template>
                                        <ng-template let-item pTemplate="item">
                                            <div>
                                                <div><b>{{item.value.Codigo}}</b> - {{item.value.Descripcion}}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>

                        </div>
                    </td>


                    <td pEditableColumn class="columna">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number"
                                       [disabled]="posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible == true"
                                       [(ngModel)]="posicionesCompra.Posiciones.CotizacionPosicion.Precio"
                                       pKeyFilter="num"
                                       (focus)="onEditarCelda(posicionesCompra.Posiciones.CotizacionPosicion, 'Precio', 0)"
                                       (input)="onReestablecerValor(posicionesCompra.Posiciones.CotizacionPosicion, 'Precio')"
                                       (blur)="onReestablecerValor(posicionesCompra.Posiciones.CotizacionPosicion, 'Precio')"
                                       (ngModelChange)="calcularValorNeto(posicionesCompra?.Posiciones?.CotizacionPosicion, posicionesCompra.Id); mostrarMensajeNoRespetaCondiciones()" />
                            </ng-template>

                            <ng-template pTemplate="output">
                                <div [ngClass]="{'invalido': (esFinalizado && posicionesCompra.Posiciones.CotizacionPosicion.Precio != undefined) && 
                            (posicionesCompra.Posiciones.CotizacionPosicion.Precio <= 0)}" pKeyFilter="int">
                                    {{ posicionesCompra?.Posiciones?.CotizacionPosicion?.Precio | number:'1.2-2'}}
                                </div>
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    
                    <td class="columna">{{posicionesCompra?.Posiciones?.CotizacionPosicion?.PrecioTotal |
                        number:'1.2-2'}}</td>
                    <td pEditableColumn class="columna" style="cursor:pointer">
                        <p-cellEditor>
                            <ng-template pTemplate="input" style="width: 100% !important">
                                <p-calendar [minDate]="hoy" class="calendar" appendTo="body" [locale]="es"
                                    dateFormat="dd-M-yy" [disabled]="posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible == true"
                                    [(ngModel)]="posicionesCompra.Posiciones.CotizacionPosicion.FechaDeEntrega"                                    
                                    (ngModelChange)="calcularPlazo(posicionesCompra?.Posiciones?.CotizacionPosicion, posicionesCompra.Id)"
                                    >
                                </p-calendar>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <div style="height: 20px;" [ngClass]="{'invalido': esFinalizado && 
                                     (posicionesCompra.Posiciones.CotizacionPosicion.FechaDeEntrega == null)}">
                                    {{ posicionesCompra?.Posiciones?.CotizacionPosicion?.FechaDeEntrega |
                                    date:'dd/MM/yy' }}
                                </div>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn class="columna">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [disabled]="posicionesCompra.Posiciones.CotizacionPosicion.NoDisponible == true"
                                    [(ngModel)]="posicionesCompra.Posiciones.CotizacionPosicion.PlazoDeEntrega"
                                    pKeyFilter="int"
                                    (ngModelChange)="calcularFechaEntrega(posicionesCompra?.Posiciones?.CotizacionPosicion, posicionesCompra.Id)"
                                    (onFocus)=" $event.target.select();" />
                                  
                                </ng-template>
                            <ng-template pTemplate="output">
                                {{ posicionesCompra?.Posiciones?.CotizacionPosicion?.PlazoDeEntrega | number: '1.0-0' }}
                                días
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="visualizarMensajeDeModificacion" class="col-md-12">
        <strong>Por favor, explique en las observaciones por qué modificó la cantidad y/o unidad de medida.</strong>
    </div>
    <br>
    <div class="col-md-12 row myRow alinearTitulo margenInput">
        <div class="col-md-12 titulosModal">
            <label>La propuesta técnica de <strong>materiales</strong> respeta las condiciones de pago*</label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-2" style="width: 10px;">
            <label>Si</label>
        </div>
        <div class="col-md-2">
            <input type="radio" id="RespetaMateriales1" name="respetaMateriales"
                   [(ngModel)]="peticion.RespetaMateriales" [value]="true" />
        </div>
        <div class="col-md-2" style="width: 10px;">
            <label>No</label>
        </div>
        <div class="col-md-2">
            <input type="radio" id="RespetaMateriales2" name="respetaMateriales"
                   [(ngModel)]="peticion.RespetaMateriales" [value]="false" />
        </div>
    </div>
    <div class="inputCompras">
        <p>
            <ngb-alert type="danger" [dismissible]="false" *ngIf="visualizarAlert">
                <strong>Error! </strong>{{ error }}</ngb-alert>
        </p>
        <div class="row myRow" style="padding-top: 2px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="labelCompras" for="editorTexto"> <strong style="font-size: 14px;">
                    Adjuntar documentación (opcional)
                    </strong> </label>
                <p-fileUpload [styles]="{'margin-left':'-13px; cursor: pointer;'}" name="fileUploadPeticionDeOferta"
                    auto="true" multiple="multiple" chooseLabel="Elegir archivo" [showUploadButton]=false
                    [showCancelButton]=false [customUpload]="true" (uploadHandler)="uploadHandler($event)">
                    <ng-template let-file pTemplate="file">
                    </ng-template>
                </p-fileUpload>
            </div>

            <div class="col-md-12 row" style="margin-left: -1px; margin-bottom: 3px">
                <p-panel *ngIf="peticion?.Cotizacion?.ArchivosCotizacion?.length > 0 || archivos?.length > 0"
                    header="Anexos agregados" [toggleable]="true" [collapsed]="false">
                    <div class="row myRow">
                        <!-- <div>
                            <label class="labelCompras" for="editorTexto"> Anexos agregados</label>
                        </div>  -->
                        <!-- Archivos que ya fueron guardados-->
                        <div class="col-xs-12 col-md-9" *ngFor="let archivo of archivos">
                            <img class="pointer" src="./Content/images/icons/trashRed.svg" alt="imageAlt"
                                (click)="eliminarArchivo(true, archivo)" style="width: 26px;" />
                            <a class="link-archivo pointer" (click)="descargarArchivo(archivo)">
                                {{archivo.name}}</a>
                        </div>
                        <!--Fin Archivos que ya fueron guardados-->
                        <!--Archivos nuevos-->
                        <div class="col-xs-12 col-md-9" *ngFor="let archivo of peticion.Cotizacion.ArchivosCotizacion">
                            <img class="pointer" src="./Content/images/icons/trashRed.svg" alt="imageAlt"
                                (click)="eliminarArchivo(false, archivo)" style="width: 26px;" />
                            <a class="link-archivo pointer" (click)="descargarArchivo(archivo)"
                                style="font-weight: lighter;">
                                {{archivo.Nombre}}</a>
                        </div>
                        <!--Fin Archivos nuevos -->
                    </div>
                </p-panel>
            </div>
            <div class="row myRow">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="labelCompras"><strong style="font-size: 14px;">Observaciones
                            (opcional)</strong></label>
                    <textarea name="Observacion" ngDefaultControl [(ngModel)]="this.peticion.ObservacionEconomica"
                        placeholder="Agregue los comentarios que crea necesario..." cols="30"
                        rows="1"></textarea>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>