<div class="row titleSection">
    <div class="col-xs-12 col-sm-10 ">
        <strong>
            Cotización {{peticion.TipoPosicionCodigo}} | SOLP #{{peticion.NroSolp}}
            <b *ngIf="peticion.PeticionDeOfertaPosicion != null && peticion.PeticionDeOfertaPosicion != undefined">
                | PO # {{peticion.PeticionDeOfertaPosicion[0]?.PeticionDeOferta_Id}}
            </b>
        </strong>
    </div>
</div>

<div class="content-wraper alinearAlturaMenuDashboard row1 myRow firstSection material" *ngIf="peticion.TipoPosicionCodigo == 'MATERIALES'">
    <div class="rounded shadow">
        <app-cotizacion-material #cotizacionMaterial [esFinalizado]="esFinalizado" [peticion]="peticion" [posicionesCompra]="posicionesCompra"></app-cotizacion-material>
    </div>
</div>


<div class="content-wraper alinearAlturaMenuDashboard row1 myRow firstSection servicio" *ngIf="peticion.TipoPosicionCodigo == 'SERVICIO'">
    <div class="rounded shadow">
        <app-cotizacion-servicio #cotizacionServicio [esFinalizado]="esFinalizado" [peticion]="peticion" [posicionesCompra]="posicionesCompra"></app-cotizacion-servicio>

    </div>
</div>

<p-sidebar visible="true" position="bottom" [modal]="false" [showCloseIcon]="false" dismissible="false" appendTo="body">
    <div class="row">
        <div class="col-xs-1 col-md-1">
        </div>
        <div class="col-xs-3 col-md-3" style="text-align: center;">
            <!-- <button class="btn btn-danger" (click)="cancelarSolp()"><i class="fa fa-reply"></i>&nbsp; CANCELAR</button> -->
            <button class="btn btn-secondary botonesCompras" (click)="goToSeccion('/compras/dashboardProveedor');">
                <i class="fa fa-arrow-left"></i>&nbsp; VOLVER
            </button>&nbsp;
        </div>
        <div class="col-xs-8 col-md-8" style="text-align: center;">
            <button *ngIf="peticion.CotizacionEstado_Id == 2 || peticion.CotizacionEstado_Id == 0" class="btn btn-primary botonesComprasColor" (click)="guardarCotizacion()" style="margin-right: 50px;">GUARDAR BORRADOR</button>
            <button class="btn btn-success botonesComprasColor" (click)="onShowFinalizarDialog()">FINALIZAR Y ENVIAR</button>
        </div>
    </div>
</p-sidebar>


<p-dialog [(visible)]="displayCotizacionCreada" [width]="400" modal="modal" appendTo="body" [draggable]="false" [contentStyle]="{'overflow':'visible', 'max-height':'150px', 'min-height':'100px'}" [closable]="false">
    <p-header class="headerModal">
        <b>{{esFinalizado ? "COTIZACIÓN FINALIZADA" : "COTIZACIÓN PROVISORIA"}}</b>
    </p-header>
    <br>
    <p>{{esFinalizado ? "La cotización se finalizó correctamente." : 'Para enviar la propuesta y que pueda ser considerada debe seleccionar "Finalizar y enviar".'}}</p>
    <br>
    <p-footer>
        <button type="button" class="btn btn-primary botonesComprasColor botonModal" (click)="salir()">Aceptar</button>
    </p-footer>
</p-dialog>

<p-confirmDialog #dialogo header="Confirmación" icon="pi pi-exclamation-triangle" [width]="400" [responsive]="true" appendTo="body">
    <p-footer>
        <button type="button" pButton label="Cancelar" class="ui-button-info botonModal" (click)="dialogo.reject()"></button>
        <button type="button" pButton label="Aceptar" class="ui-button-success botonModal" (click)="dialogo.accept()"></button>
    </p-footer>
</p-confirmDialog>


<p-dialog [(visible)]="displayHoras" [width]="400" modal="modal" appendTo="body" [draggable]="false" [contentStyle]="{'overflow':'visible', 'max-height':'150px', 'min-height':'100px'}" [closable]="false">
    <p-header class="headerModal">
        <b>Confirmación horas</b>
    </p-header>
    <br>
    <p>No se han realizado cambios en la grilla de horas <b>¿Desea continuar?</b></p>
    <br>
    <p-footer>       
       <button type="button" pButton label="Cancelar" class="ui-button-info botonModal" (click)="salirHoras()"></button>        
       <button type="button" pButton label="Aceptar" class="ui-button-success botonModal" (click)="aceptarHoras()"></button>
    </p-footer>   
</p-dialog>


<p-dialog [(visible)]="displayPropuestaEconomica" [width]="400" modal="modal" appendTo="body" [draggable]="false" [contentStyle]="{'overflow':'visible', 'max-height':'150px', 'min-height':'100px'}" [closable]="false">
    <p-header class="headerModal">
        <b>Confirmación Propuesta Ecónomica</b>
    </p-header>
    <br>
    <p>No se han realizado cambios en la observacion económica o en los archivos adjuntos <b>¿Desea continuar?</b></p>
    <br>
    <p-footer>       
       <button type="button" pButton label="Cancelar" class="ui-button-info botonModal" (click)="salirPropuestaEconomica()"></button>        
       <button type="button" pButton label="Aceptar" class="ui-button-success botonModal" (click)="aceptarPropuestaEconomica()"></button>
    </p-footer>   
</p-dialog>

<p-dialog [(visible)]="displayPropuestaTecnica" [width]="400" modal="modal" appendTo="body" [draggable]="false" [contentStyle]="{'overflow':'visible', 'max-height':'150px', 'min-height':'100px'}" [closable]="false">
    <p-header class="headerModal">
        <b>Confirmación Propuesta Técnica</b>
    </p-header>
    <br>
    <p>No se han realizado cambios en la observacion técnica o en los archivos adjuntos <b>¿Desea continuar?</b></p>
    <br>
    <p-footer>       
       <button type="button" pButton label="Cancelar" class="ui-button-info botonModal" (click)="salirPropuestaTecnica()"></button>        
       <button type="button" pButton label="Aceptar" class="ui-button-success botonModal" (click)="aceptarPropuestaTecnica()"></button>
    </p-footer>   
</p-dialog>
