<div class="content-wraper msf">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection titleSectionTable">
            <div class="col-xs-12 col-sm-10 animate" style="vertical-align:bottom;"><strong>Informar una liquidaci&oacute;n</strong>
            </div>
        </div>
        <!--End Title-->
        <!--Search-->
        <div class="row myRow firstSection mySearch cargaDeDatos">
            <div class="col-xs-12 col-md-12 rounded shadow animate">
                <div class="col-xs-12 col-md-12 search-header">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Liquidaciones:
                    <div class="styled-select">
                        <input #fileInput type="file" multiple (change)="cargarArchivo($event)" placeholder="Cargar Archivo">
                    </div>
                    <p style="color: #959595; font-weight: normal;">Formato de archivo aceptado: pdf, jpg o png. El tamaño m&aacute;ximo por archivo es de 4mb, siendo el máximo total por solicitud de 20 mb o 10 archivos</p>
                </div>
                <div class="row myRow">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4 col-lg-3 headerbar">
                        <re-captcha #recaptchaComponent (captchaResponse)="handleCorrectCaptcha($event)" site_key="6LcuYm4UAAAAAIoEEAYe5mrkPUNemcT4blHgjide"></re-captcha>
                    </div>
                </div>
                <div class="row myRow cargaDeDatosBtn">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <spinner-small></spinner-small>
                        <a (click)="subirPDF()" href="#" style="text-decoration:none!important"
                            *ngIf="!this.spinnerSmallComponent.visible">
                            <div class="btn-custom btn-mediano btn-add animate align-right">Enviar <span class="fa  fa-play "></span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End CONTENT-->
</div>