<modal #myModal tabindex="-1">
    <modal-header>
        <h1>{{modalHeader}}</h1>
    </modal-header>
    <modal-content>
        <table *ngIf="showLiquidaciones" id="tableModal"
            class="display nowrap dataTable no-footer dtr-inline rounded shadow animate layout-liquidaciones-table"
            cellspacing="0" role="grid" aria-describedby="tableModal_info" style="width: 100%; padding:10px 0;">
            <thead>
                <tr role="row">
                    <th tabindex="0" rowspan="1" colspan="1" style="">Fecha</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="">Carta Porte</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="">Kgs. Liquidados</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="">Kgs. Recibidos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let infoItem of modalInfoLiquidacion ; let odd = odd" role="row" [class.odd]="!odd">
                    <td>{{infoItem.fecha}}</td>
                    <td>
                        <a class="animate"
                            (click)="goToSeccionParamFromModal('/carta-porte/detalle', infoItem.cartaPorte)"
                            href="#">{{infoItem.cartaPorte}}</a>
                    </td>
                    <td>{{infoItem.kgLiquidadosString}}</td>
                    <td>{{infoItem.kgRecibidosString}}</td>
                </tr>
            </tbody>
        </table>
        <table *ngIf="showComprobantes" id="tableModal"
            class="display nowrap dataTable no-footer dtr-inline rounded shadow animate " cellspacing="0" role="grid"
            aria-describedby="tableModal_info" style="width: 100%; padding:10px 0;">
            <thead>
                <tr role="row">
                    <th tabindex="0" rowspan="1" colspan="1" style="">Fecha</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="">N&uacute;mero Comprobante</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="">Importe</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let infoItem of modalInfoComprobante ; let odd = odd" role="row" [class.odd]="!odd">
                    <td>{{infoItem.fechaDoc}}</td>
                    <td>{{infoItem.nroComprobante}}</td>
                    <td>{{infoItem.importe}}</td>
                </tr>
            </tbody>
        </table>
        <table *ngIf="showFleteProcedencia" id="tableModal"
            class="display nowrap dataTable no-footer dtr-inline rounded shadow animate " cellspacing="0" role="grid"
            aria-describedby="tableModal_info" style="width: 100%; padding:10px 0;">
            <thead>
                <tr role="row">
                    <th tabindex="0" rowspan="1" colspan="1" style="">Fecha</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="">Carta de Porte</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="">Importe Flete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let infoItem of modalInfoFleteProcedencia ; let odd = odd" role="row" [class.odd]="!odd">
                    <td>{{infoItem.fechaIngreso}}</td>
                    <td>{{infoItem.cartaPorte}}</td>
                    <td>{{infoItem.importeUsdmString}}</td>
                </tr>
            </tbody>
        </table>
        <dl class="dl-horizontal" *ngIf="showDetalle">
            <ng-container *ngFor="let info of modalInfoDetalle">
                <dt>{{info.etiqueta}}</dt>
                <dd>{{info.valor}}</dd>
            </ng-container>
        </dl>
        <dl class="dl-horizontal" *ngIf="showNoticias">
            <dt>T&iacute;tulo:</dt>
            <dd>{{modalNoticias.cabecera.titulo}}</dd>
            <dt>Fecha:</dt>
            <dd>{{modalNoticias.cabecera.fecha}}</dd>
            <dt>Desc.:</dt>
            <dd>{{modalNoticias.contenido.contenido}}</dd>
        </dl>
        <ng-container *ngIf="showFlete">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    Factura:
                    <div class="styled-select">
                        <input type="search" class="" placeholder="" [value]="modalInfoFlete.factura"
                            (input)="modalInfoFlete.factura = $event.target.value" aria-controls="tableModal">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    Fecha de Emisi&oacute;n:
                    <form action="" class="form-horizontal styled-select form_datetime_form2" role="form">
                        <fieldset>
                            <div>
                                <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-MM-dd"
                                    data-link-field="dtp_input_fletes">
                                    <input type="text" value="{{modalInfoFlete.fechaEmision}}" id="noCursor" readonly />
                                    <span class="input-group-addon"><span class="fa fa-calendar "></span></span>
                                </div>
                                <input type="hidden" #dtp_input_fletes id="dtp_input_fletes" class="dtp_input_fletes"
                                    value="{{modalInfoFlete.fechaEmision}}" />
                                <br />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    PDF:
                    <div class="styled-select">
                        <input type="file" (change)="cargarPDF($event)" placeholder="Cargar PDF" accept=".pdf">
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <mensaje-modal #mensajeModal></mensaje-modal>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a (click)="guardarTarifas(dtp_input_fletes.value)" href="#" style="text-decoration:none!important">
                        <div class="btnSection animate align-right"
                            style="background: #009688; opacity: 1; color: white;">Guardar <span
                                class="fa  fa-floppy-o"></span></div>
                    </a>
                </div>
            </div>
        </ng-container>
        <!-- <ng-container *ngIf="showEmpresaCambiarEstado"> -->
        <!--<div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            Factura:
            <div class="styled-select">
                <input type="search" class="" placeholder="" [value]="modalInfoFlete.factura"
                       (input)="modalInfoFlete.factura = $event.target.value" aria-controls="tableModal">
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            Fecha de Emisi&oacute;n:
            <form action="" class="form-horizontal styled-select form_datetime_form2" role="form">
                <fieldset>
                    <div>
                        <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-MM-dd"
                             data-link-field="dtp_input_fletes">
                            <input type="text" value="{{modalInfoFlete.fechaEmision}}" id="noCursor" readonly />
                            <span class="input-group-addon"><span class="fa fa-calendar "></span></span>
                        </div>
                        <input type="hidden" #dtp_input_fletes id="dtp_input_fletes" class="dtp_input_fletes"
                               value="{{modalInfoFlete.fechaEmision}}" />
                        <br />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            PDF:
            <div class="styled-select">
                <input type="file" (change)="cargarPDF($event)" placeholder="Cargar PDF" accept=".pdf">
            </div>
            <br />
        </div>
    </div>
    <div class="row">
        <mensaje-modal #mensajeModal></mensaje-modal>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a (click)="guardarTarifas(dtp_input_fletes.value)" href="#" style="text-decoration:none!important">
                <div class="btnSection animate">Guardar <span class="fa  fa-floppy-o"></span></div>
            </a>
        </div>
    </div>-->
        <!-- <div class="row">
                <div class="col-xs-12">
                    prueba
                </div>
            </div>
        </ng-container> -->
    </modal-content>
    <modal-footer>
        <div *ngIf="showLiquidaciones" class="col-xs-12">
            <a (click)="exportExcel(modalLiquidacionContrato, modalLiquidacionSecuencia, modalLiquidacionComprobante)"
                href="#" style="text-decoration:none!important">
                <div class="btnSection animate align-right" style="background: #009688; opacity: 1; color: white;">
                    Exportar <img style="margin-left: 15px;" src="Content/images/buttons/EXPORT_MODAL.svg" /></div>
            </a>
        </div>

        <div *ngIf="showFleteProcedencia" class="col-xs-12">
            <a (click)="exportExcelFleteProcedencia(modalInfoContratoProcedencia)" href="#"
                style="text-decoration:none!important">
                <div class="btnSection animate align-right" style="background: #009688; opacity: 1; color: white;">
                    Exportar <img style="margin-left: 15px;" src="Content/images/buttons/EXPORT_MODAL.svg" /></div>
            </a>
        </div>
    </modal-footer>
</modal>

<div class="main-panel">
    <!--User-->
    <div class="header">
        <div class="logo">
            <img src="/Content/images/header/logo.png" class="img-responsive" (click)="clickLogo()">
        </div>
        <div *ngIf="!menuSmall && isAuthorized('MOSTRAR BUSCADOR INTELIGENTE')" class="col-md-6"
            style="margin: auto; padding: unset;">
            <app-buscador-inteligente></app-buscador-inteligente>
        </div>
        <div class="User-wrapper">
            <div class="UserBar clearfix">
                <nav>
                    <ul class="nav">
                        <li class="" *ngIf="isAuthorized('CONSULTAR DATOS FISCALES'); else mostrarUsuario">
                            <div class="user-info-container">
                                <a (click)="goToSeccion('/dato-fiscal/situacion-fiscal')" href="#" class="user-name"
                                    *ngIf="isAuthorized('CONSULTAR DATOS FISCALES')">
                                    <strong>{{nombre}}</strong>
                                </a>
                                <strong class="user-name"
                                    *ngIf="!isAuthorized('CONSULTAR DATOS FISCALES')">{{nombre}}</strong>

                                <span class="user-code">C&oacute;digo de proveedor {{proveedor}} </span>
                            </div>
                        </li>
                        <ng-template #mostrarUsuario>
                            <li>
                                <div class="user-info-container">
                                    <span class="user-name">
                                        <strong>{{username}}</strong>
                                    </span>
                                </div>
                            </li>
                        </ng-template>
                        <!-- <li *ngIf="isAuthorized('CONSULTAR DOCUMENTACION')"><a
                                (click)="goToSeccion('/dato-fiscal/documentacion')" href="#" class="animate"><span
                                    class="fa fa-file-text" aria-hidden="true"></span>Documentación </a></li>
                        <li><a (click)="editarCuenta()" href="#" class="animate"><span
                                    class="fa fa-key" aria-hidden="true"></span>Editar cuenta</a></li>
                        <li *ngIf="isAuthorized('SELECCIONAR VENDEDOR')"><a
                                (click)="goToSeccion('/usuario/cambio-vendedor')" class="animate" href="#"><span
                                    class="fa fa-id-badge" aria-hidden="true"></span>Cambio de vendedor </a></li>
                        <li><a (click)="cerrarSesion()" href="#" class="animate"><span class="fa fa-sign-out"
                                    aria-hidden="true"></span>Cerrar sesión</a></li> -->
                        <li>
                            <div id="UserNotification" class="clearfix">
                                <span id="notificationOpen" onClick="notificationClose()">
                                    <span id="notificationBell" class="fa fa-bell-o" aria-hidden="true"></span>
                                    <span class="badge">{{quantityCommunications}}</span>
                                </span> <span id="notificationClose" onClick="notificationClose()">
                                    <span id="notificationBell"
                                          class="fa fa-bell-o" aria-hidden="true"></span> <span id="notificationBell"
                                                                                                class="badge">{{quantityCommunications}}</span>
                                </span>
                            </div>
                        </li>
                        <li id="liUser"><span id="userOpenSmall" onClick="userOpenSmall()" class="fa fa-user-circle-o"
                                aria-hidden="true"></span> <span id="userCloseSmall" onClick="userCloseSmall()"
                                class="fa fa-user-circle-o" aria-hidden="true"></span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="menuSmall">
            <div class="logoSmall"> <a href="#Inicio" data-toggle="tab"> <img
                        src="../Content/images/header/logoSmall.png" class="img-responsive"> </a> </div>
            <nav>
                <ul class="nav">
                    <li id="liHome">
                        <span class="MenuSmallText"> INICIO</span>
                        <span (click)="goToSeccion('/home')"
                              *ngIf="isAuthorized('CONSULTAR HOME') && isGranosSelected()" class="fa fa-home "
                              aria-hidden="true"></span>
                        <span (click)="goToSeccion('/home-ngs')"
                              *ngIf="isAuthorized('CONSULTAR HOME NG') && isNoGranosSelected()" class="fa fa-home "
                              aria-hidden="true"></span>
                    </li>
                    <li id="liUser">
                        <span class="MenuSmallText">USUARIO</span><span id="userOpenSmall"
                                                                        onClick="userOpenSmall()" class="fa fa-user-circle-o" aria-hidden="true"></span> <span id="userCloseSmall" onClick="userCloseSmall()" class="fa fa-times"
                                                                                                                                                               aria-hidden="true"></span>
                    </li>
                    <li id="liNoti">
                        <span class="badge">{{quantityCommunications}}</span>
                        <span id="notificationOpenSmall" onClick="notificationCloseSmall()" class="fa fa-bell-o" aria-hidden="true"></span>
                        <span id="notificationCloseSmall" onClick="notificationCloseSmall()" class="fa fa-times" aria-hidden="true"></span>
                    </li>
                </ul>
            </nav>
            <div class="myMenu"><span class="MenuSmallText"> MENÚ </span><span id="myMenuOpen" class="fa fa-bars"
                    aria-hidden="true" onClick="openNav()"></span> <span id="myMenuClose" onClick="closeNav()"
                    class="fa fa-times" aria-hidden="true"></span> </div>
        </div>
    </div>

    <div *ngIf="menuSmall" class="col-xs-12 col-md-12">
        <app-buscador-inteligente-small></app-buscador-inteligente-small>
    </div>
    <!-- Navegación -->
    <barra-nav id="mySidenav" class="sidebar">
        <div class="sidebar-wrapper">
            <div class="switch" *ngIf="isAmbos()">
                <input type="radio" class="switch-input" name="view" value="week" id="week"
                    [checked]="isGranosSelected()" (click)="setGranos()">
                <label for="week" class="switch-label switch-label-off">GRANOS</label>
                <input type="radio" class="switch-input" name="view" value="month" id="month"
                    [checked]="isNoGranosSelected()" (click)="setNoGranos()">
                <label for="month" class="switch-label switch-label-on">NO GRANOS</label>
                <span class="switch-selection"></span>
            </div>
            <div id="accordionMenu" role="tablist" aria-multiselectable="true">

                <!--Nueva seccion Novedades-->
                <div class="panel panel-default">
                    <div class="panel-heading seccion" role="tab" id="contacto">
                        <a class="link-header collapsed" data-toggle="collapse"
                           (click)="goToSeccion('/mis-novedades')" href="#" data-parent="#accordionMenu">
                            <!--data-toggle="tab">-->Novedades
                        </a>
                    </div>
                </div>

                <div class="panel panel-default" *ngIf="isAuthorized('MENU')">
                    <div class="panel-heading seccion" role="tab" id="misOperaciones">
                        <a class="link-header collapsed" data-toggle="collapse" data-parent="#accordionMenu"
                           href="#collapseMO" aria-expanded="false" aria-controls="collapseMO">
                            Mis Operaciones <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="collapseMO" class="collapse" aria-labelledby="misOperaciones" role="tabpanel">
                        <div class="panel-body">
                            <div *ngIf="isAuthorized('CONSULTAR CONTRATOS') && isGranosSelected()">
                                <a (click)="goToSeccion('/contrato/vigente')" href="#">
                                    <!--data-toggle="tab">-->Contratos
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('CONSULTAR CARTAS PORTE') && isGranosSelected()">
                                <a (click)="goToSeccion('/carta-porte/descarga')" href="#">
                                    <!--data-toggle="tab"-->Cartas de Porte
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('CONSULTAR LIQUIDACIONES') && isGranosSelected()">
                                <a (click)="goToSeccion('/liquidacion/aprobada')" href="#">
                                    <!--data-toggle="tab">-->Liquidaciones
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('CONSULTAR COMPROBANTES') && isNoGranosSelected()">
                                <a (click)="goToSeccion('/comprobante-ngs/registrada')" href="#">
                                    <!--data-toggle="tab">-->Comprobantes
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('CONSULTAR PAGOS NG') && isNoGranosSelected()">
                                <a (click)="goToSeccion('/pago-ngs/emitido')" href="#">
                                    <!--data-toggle="tab">-->Pagos
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('CARGAR FACT PROV') && isNoGranosSelected()">
                                <a (click)="goToSeccion('/factura')" href="#">Factura</a>
                            </div>
                            <div *ngIf="isAuthorized('CONSULTAR CUENTA CORRIENTE') && isNoGranosSelected()">
                                <a (click)="goToSeccion('/cuenta-corriente/simple')" href="#">
                                    <!--data-toggle="tab">-->Cuenta Corriente
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('CONSULTAR FLETE') && isNoGranosSelected()">
                                <a (click)="goToSeccion('/flete/a-facturar')" href="#">
                                    <!--data-toggle="tab">-->Fletes
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="panel panel-default" *ngIf="isAuthorized('MENU') && isGranosSelected()">
        <div class="panel-heading seccion" role="tab" id="misReportes">
            <a class="link-header collapsed" data-toggle="collapse" data-parent="#accordionMenu"
                href="#collapseRepo" aria-expanded="false" aria-controls="collapseRepo">
                Mis Cargas <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
        </div>
        <div id="collapseRepo" class="collapse" aria-labelledby="misReportes" role="tabpanel">
            <div class="panel-body">
                <div *ngIf="isAuthorized('CONSULTAR CONTRATOS') && isGranosSelected()">
                    <a (click)="goToSeccion('/reporte/contrato')" href="#">
                       Contratos
                    </a>
                </div>
            </div>
        </div>
    </div>-->

                <div class="panel panel-default" *ngIf="isAuthorized('MENU') && isGranosSelected()">
                    <div class="panel-heading seccion" role="tab" id="infoFinanciera">
                        <a class="link-header collapsed" data-toggle="collapse" data-parent="#accordionMenu"
                           href="#collapseIF" aria-expanded="false" aria-controls="collapseIF">
                            Informaci&oacute;n Financiera <span class="glyphicon glyphicon-chevron-down"
                                                                aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="collapseIF" class="collapse" aria-labelledby="infoFinanciera" role="tabpanel">
                        <div class="panel-body">
                            <div *ngIf="isAuthorized('CONSULTAR CUENTA CORRIENTE') && isGranosSelected()">
                                <a (click)="goToSeccion('/cuenta-corriente/simple')" href="#">
                                    Cuenta Corriente
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('CONSULTAR PAGOS') && isGranosSelected()">
                                <a (click)="goToSeccion('/pago/emitido')" href="#">
                                    Pagos
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" *ngIf="isAuthorized('MENU')">
                    <div class="panel-heading seccion" role="tab" id="operar">
                        <a class="link-header collapsed" data-toggle="collapse" data-parent="#accordionMenu"
                           href="#collapseO" aria-expanded="false" aria-controls="collapseO">
                            Operar <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="collapseO" class="collapse" aria-labelledby="operar" role="tabpanel">
                        <div class="panel-body">
                            <ng-container *ngIf="isGranosSelected()">

                                <div *ngIf="isAuthorized('ABM APLICACIONES CCPP')">
                                    <a (click)="goToSeccion('/aplicaciones-ccpp')" href="#">
                                        {{
"Aplicación de
                                        CCPP"|uppercase
                                        }}
                                    </a>
                                </div>
                                <div *ngIf="isAuthorized('ARCHIVOS BOLETOS')">
                                    <a (click)="goToSeccion('/archivos-boleto/listar')" href="#">Boletos</a>
                                </div>

                                <div *ngIf="isAuthorized('ABM CAMPOS SUSTENTABLE')">
                                    <a (click)="goToSeccion('/sustentable/listado-campos')" href="#">
                                        Campo
                                        Sustentable
                                    </a>
                                </div>
                                <div *ngIf="isAuthorized('CONSULTAR VENDEDOR STATUS')">
                                    <a (click)="goToSeccion('/vendedor/status')" href="#">
                                        Consulta de Vendedor
                                    </a>
                                </div>
                                <div *ngIf="(isAuthorized('PESIFICACION') || isAuthorized('VER PESIFICACIONES')) && isGranosSelected()">
                                    <a (click)="goToSeccion('/pesificacion')" href="#"> Pesificaci&oacute;n</a>
                                </div>
                                <div *ngIf="isAuthorized('CREAR CONTRATOS')">
                                    <a (click)="goToSeccion('/crear-contrato/cargarnegocio')" href="#">
                                        Carga de
                                        negocios
                                    </a>
                                </div>
                                <div *ngIf="isAuthorized('CREAR CONTRATOS')">
                                    <a (click)="goToSeccion('/reporte/contrato')" href="#">Reporte de mis cargas</a>
                                </div>
                                <div *ngIf="isAuthorized('VER ECHEQ')">
                                    <a (click)="goToSeccion('/echeq/gestion')" href="#">Gestión Echeq</a>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="isNoGranosSelected() || (!isAmbos() && (isCliente() || isAuthorized('CONSULTAR HOME NG')))">
                                <div>
                                    <a (click)="goToSeccion('/ordenes-de-carga/')" href="#">Ordenes de carga</a>
                                </div>
                                <div *ngIf="isAuthorized('VER ORDENES DE CARGA FASON')">
                                    <a (click)="goToSeccion('/ordenes-de-carga-fason/')" href="#">
                                        Ordenes de carga
                                        fason
                                    </a>
                                </div>
                                <div *ngIf="isAuthorized('VER ORDENES DE CARGA RESIDUOS')">
                                    <a (click)="goToSeccion('/ordenes-residuos/')" href="#">Residuos e Insumos</a>
                                </div>
                                <div>
                                    <a (click)="goToSeccion('/reporte-contrato/')" href="#">Reporte de contratos</a>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading seccion" role="tab" id="documentacion">
                        <a class="link-header collapsed" data-toggle="collapse" data-parent="#accordionMenu"
                           href="#collapseDoc" aria-expanded="false" aria-controls="collapseDoc">
                            {{isGranosSelected() ? 'Alta y Documentaci&oacute;n' : 'Documentaci&oacute;n'}} <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="collapseDoc" class="collapse" aria-labelledby="documentacion" role="tabpanel">
                        <div class="panel-body">
                            <div *ngIf="isAuthorized('CONSULTAR DATOS FISCALES')">
                                <a (click)="goToSeccion('/dato-fiscal/situacion-fiscal')" href="#">
                                    <!--data-toggle="tab">-->Mi situaci&oacute;n fiscal
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('CONSULTAR VENDEDORES')">
                                <a (click)="goToSeccion('/dato-fiscal/vendedor')" href="#">
                                    <!--data-toggle="tab">-->Mis Vendedores
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('CONSULTAR VENDEDOR PENDIENTES')">
                                <a (click)="goToSeccion('/dato-fiscal/vendedores-pendientes')" href="#">
                                    <!--data-toggle="tab">-->Vendedores Pendientes
                                </a>
                            </div>
                            <div>
                                <a (click)="goToSeccion('/dato-fiscal/documentacion')" href="#">
                                    <!--data-toggle="tab">-->Documentos e Informaci&oacute;n &uacute;til
                                </a>
                            </div>
                            <div *ngIf="isGranosSelected() && isAuthorized('ALTA EMPRESA GRANOS') && !isAuthorized('CONSULTAR VENDEDOR PENDIENTES') && !esUsuarioComercial">
                                <a (click)="goToSeccion('/alta-empresa-granos')" href="#">
                                    <!--data-toggle="tab">-->Alta Empresa
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('ALTA EMPRESA NO GRANOS')">
                                <a (click)="goToSeccion('/alta-empresa-no-granos')" href="#">
                                    <!--data-toggle="tab">-->Alta Proveedor
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('ESTADO SOLICITUD') && !isAuthorized('CONSULTAR VENDEDOR PENDIENTES')">
                                <a (click)="goToSeccion('/estado-solicitud')" href="#">
                                    <!--data-toggle="tab">-->Estado solicitud
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
    <div class="panel panel-default" *ngIf="isAuthorized('CONTACTO MAIL')">
        <div class="panel-heading seccion" role="tab" id="operar">
            <a class="link-header collapsed" data-toggle="collapse" data-parent="#accordionMenu"
                href="#collapseConsultas" aria-expanded="false" aria-controls="collapseConsultas">
                Consultas <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
        </div>
        <div id="collapseConsultas" class="collapse" aria-labelledby="operar" role="tabpanel">
            <div class="panel-body">
                <div *ngIf="isAuthorized('CONTACTO MAIL') && isGranosSelected()">
                    <a (click)="goToSeccion('/mis-consultas')" href="#"> Mis Consultas</a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="isAuthorized('CONTACTO MAIL')">
        <div class="panel-heading seccion" role="tab" id="contacto">
            <a class="link-header collapsed" data-toggle="collapse" (click)="goToSeccion('/contacto')"
                href="#" data-parent="#accordionMenu">
                Contacto
            </a>
        </div>
    </div>


    <!-- Esto está repetido aproposito. Si puede CARGAR CONSULTA lo direcciona a la parte de alta. Caso contrario lo lleva al listado-->
                <div class="panel panel-default"
                     *ngIf="isAuthorized('CONTACTO MAIL') && !isAuthorized('CARGAR CONSULTA') ">
                    <div class="panel-heading seccion" role="tab" id="contacto">
                        <a class="link-header collapsed" data-toggle="collapse"
                           (click)="goToSeccion('/consulta/mis-consultas')" href="#" data-parent="#accordionMenu">
                            <!--data-toggle="tab">-->Contacto
                        </a>
                    </div>
                </div>
                <div class="panel panel-default"
                     *ngIf="isAuthorized('CONTACTO MAIL') && isAuthorized('CARGAR CONSULTA') ">
                    <div class="panel-heading seccion" role="tab" id="contacto">
                        <a class="link-header collapsed" data-toggle="collapse" (click)="goToSeccion('/consulta')"
                           href="#" data-parent="#accordionMenu">
                            <!--data-toggle="tab">-->Contacto
                        </a>
                    </div>
                </div>
                <!-- <div class="panel panel-default" *ngIf="isAuthorized('CONTACTO MAIL')">
        <div class="panel-heading seccion" role="tab" id="contacto">
            <a class="link-header collapsed" data-toggle="collapse" (click)="goToSeccion('/contacto')"
                href="#" data-parent="#accordionMenu">
                <data-toggle="tab">Contacto
            </a>
        </div>
    </div> -->
                <div class="panel panel-default" *ngIf="isAuthorized('CONTACTO MAIL')">
                    <div class="panel-heading seccion" role="tab" id="faq">
                        <a class="link-header collapsed" data-toggle="collapse" (click)="goToSeccion('/faq')" href="#"
                           data-parent="#accordionMenu">
                            <!--data-toggle="tab">-->Preguntas Frecuentes
                        </a>
                    </div>
                </div>
                <div class="panel panel-default"
                     *ngIf="(isAuthorized('ABM USUARIOS') || isAuthorized('ABM EMPRESAS') || isAuthorized('VER ALTAS NO GRANOS') || isAuthorized('ABM NOTIFICACIONES')) ">
                    <div class="panel-heading seccion" role="tab" id="usuarios">
                        <a class="link-header collapsed" data-toggle="collapse" data-parent="#accordionMenu"
                           href="#collapseU" aria-expanded="false" aria-controls="collapseU">
                            Administraci&oacute;n <span class="glyphicon glyphicon-chevron-down"
                                                        aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="collapseU" class="collapse" aria-labelledby="usuarios" role="tabpanel">
                        <div class="panel-body">
                            <div *ngIf="isAuthorized('ABM USUARIOS')">
                                <a (click)="goToSeccion('/usuario/list')" href="#">
                                    Listado de usuarios
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('ABM EMPRESAS')">
                                <a (click)="goToSeccion('/altas')" href="#">
                                    <!--data-toggle="tab">-->Altas Pendientes
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('ABM NOTIFICACIONES')">
                                <a (click)="goToSeccion('/novedades')" href="#">
                                    Novedades
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('VER ALTAS NO GRANOS')">
                                <a (click)="goToSeccion('/usuario/alta-empresa-no-granos')" href="#">
                                    Alta Empresa No Granos
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('GUARDADO Y CONSULTA DE LOG PESIFICACIONES')">
                                <a (click)="goToSeccion('/logPesificacion')" href="#">
                                    Administración de pesificaciones
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('GESTION IMPUESTOS CM05')">
                                <a (click)="goToSeccion('/gestionCM05')" href="#">
                                    Gestion de Impuestos
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" *ngIf="!isAmbos() || isNoGranosSelected()">
                    <div class="panel-heading seccion" role="tab" id="compras"
                         *ngIf="isAuthorized('VER SOLAPA COMPRA')">
                        <a class="link-header collapsed" data-toggle="collapse" data-parent="#accordionMenu"
                           href="#collapseCompras" aria-expanded="false" aria-controls="collapseCompras">
                            Compras <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="collapseCompras" class="collapse" aria-labelledby="compras" role="tabpanel">
                        <div class="panel-body">
                            <div *ngIf="isAuthorized('ABM SOLP')">
                                <a (click)="goToSeccion('/compras/dashboard')" href="#">
                                    DASHBOARD SOLICITANTE
                                </a>
                            </div>

                            <div *ngIf="isAuthorized('VER SOLPS COMPRADOR')">
                                <a (click)="goToSeccion('/compras/dashboardComprador')" href="#">
                                    DASHBOARD COMPRADOR
                                </a>
                            </div>

                            <div *ngIf="isAuthorized('VER SOLPS PROVEEDOR')">
                                <a (click)="goToSeccion('/compras/dashboardProveedor')" href="#">
                                    DASHBOARD PROVEEDOR
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('VER SOLPS PROVEEDOR')">
                                <a (click)="goToSeccion('/compras/reporte-oc')" href="#">
                                    REPORTE ORDEN DE COMPRA
                                </a>
                            </div>
                            <div  *ngIf="isAuthorized('ABM SOLP')">
                                <a (click)="goToSeccion('/compras/dashboardCertificacionDeServicios')" href="#">
                                    CERTIFICACIÓN DE SERVICIOS
                                </a>
                            </div>

                            <div>
                                <a (click)="goToSeccion('/compras/dashboardCertificacionDeServiciosProveedores')" href="#">
                                    CERTIFICACIÓN DE SERVICIOS PROVEEDOR
                                </a>
                            </div>
                            <div *ngIf="isAuthorized('VER SOLPS COMPRADOR')">
                                <a (click)="goToSeccion('/compras/crear-po-multiple')" href="#">
                                    PUBLICAR PO MULTIPLE
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-default" *ngIf="!isAmbos() || isNoGranosSelected()">
                    <div class="panel-heading seccion" role="tab" id="apikey" *ngIf="isAuthorized('APIKEY')">
                        <a class="link-header collapsed" data-toggle="collapse" data-parent="#accordionMenu"
                           href="#collapseApikey" aria-expanded="false" aria-controls="collapseApikey">
                            API <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="collapseApikey" class="collapse" aria-labelledby="apikey" role="tabpanel"
                         *ngIf="isAuthorized('APIKEY')">
                        <div class="panel-body">
                            <div>
                                <a (click)="goToSeccion('/apikey')" href="#">
                                    Gestionar ApiKey
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- DEPRECADO! -->
                <!-- <nav>
        <ul class="nav">



            <li>
                <a class="animate" [ngClass]="(isSelectedMenu('aduana')) ? 'active' : ''"
                    (click)="goToSeccion('/aduana/pesada-online')" *ngIf="isAuthorized('CONSULTAR PESADAS')"
                    href="#">
                    data-toggle="tab">Aduana
                </a>
            </li>
            <li>
                <a class="animate " [ngClass]="(isSelectedMenu('ryd')) ? 'active' : ''"
                    (click)="goToSeccion('/ryd/carga-pesada')" *ngIf="isAuthorized('REGISTRAR PESADA')" href="#">
                    data-toggle="tab">RYD
                </a>
            </li>
            <li>
                <a class="animate" [ngClass]="(isSelectedMenu('ryd-mantenimiento')) ? 'active' : ''"
                    (click)="goToSeccion('/ryd-mantenimiento/balanzas')" *ngIf="isAuthorized('ABM BALANZAS')"
                    href="#">
                    data-toggle="tab">RYD Mantenimiento
                </a>
            </li>




        </ul>
    </nav> -->
            </div>
        </div>
    </barra-nav>
    <div class="alert alert-danger alert-dismissible flotante fade in" *ngIf="mensajeError != ''" role="alert"><button
            type="button" class="close" (click)="mensajeError = ''"><span aria-hiden="true">&times;</span></button><i
            class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{mensajeError}}</div>
    <div class="alert alert-warning alert-dismissible flotante fade in" *ngIf="mensajeInfo != ''" role="alert">
        <button type="button" class="close" (click)="mensajeInfo = ''"><span aria-hiden="true">&times;</span></button><i
            class="fa fa-thumbs-o-down" aria-hidden="true"></i>{{mensajeInfo}}
    </div>
    <div class="alert alert-success alert-dismissible flotante fade in" *ngIf="mensajeSuccess != ''" role="alert">
        <button type="button" class="close" (click)="mensajeSuccess = ''"><span
                aria-hiden="true">&times;</span></button><i class="fa fa-thumbs-o-up"
            aria-hidden="true"></i>{{mensajeSuccess}}
    </div>
    <!-- Tab panes -->
    <div class="SubMenu-wrapper row">
        <div class="SubMenu myTab clearfix col-xs-12 col-sm-10" [hidden]="!tieneSecciones">
            <div class="tab-content ">
                <div class="tab-pane fade active in" id="Inicio">
                    <ul class="nav">
                        <li *ngFor="let seccion of seccionList"><a class="animate"
                                [ngClass]="(isSelectedSeccion(seccion.nombre)) ? 'active' : ''"
                                (click)="goToSeccion(seccion.link)" href="#">{{seccion.nombre}}</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div *ngIf="isSeccionVisitada() && textoTooltip" class="tooltipscontainer col-2 col-xs-1 col-sm-1"
            style="float: right;">
            <div class="tooltipAyuda">
                <img src="Content/images/buttons/information.svg" />
                <span>Ayuda</span>
            </div>
            <span class="tooltiptexto" aria-hidden="true">
                <label [innerHTML]="textoTooltip"></label>
                <br>
                <label [innerHTML]="textoTooltip2"></label>
            </span>
        </div>


        <div *ngIf="!isSeccionVisitada() && textoTooltip" class="tooltipscontainer col-2 col-xs-1 col-sm-1"
            style="float: right;">
            <div class="tooltipAyuda">
                <img src="Content/images/buttons/information.svg" />
                <span>Ayuda</span>
            </div>
            <span class="tooltiptextoPrimerLog" aria-hidden="true">
                <button id="botonTransparente" class="botonTransparente" (click)="actualizarSeccionVisitada()"><i
                        class="glyphicon glyphicon-remove"></i></button>
                <br>
                <label [innerHTML]="textoTooltip"></label>
                <br>
                <label [innerHTML]="textoTooltip2"></label>
            </span>
        </div>
    </div>

    <!-- END Tab panes -->


    <router-outlet></router-outlet>
</div>
<header-user id="userSmall" style="display:none; margin-right: 25px;">
    <usuario-small id="usuarioSmall" class="clearfix">
        <div class="headerbar">
            <div class="col-md-12 col-sm-12 userData" *ngIf="isAuthorized('CONSULTAR DOCUMENTACION')">
                <a (click)="goToSeccion('/dato-fiscal/documentacion')" onClick="userCloseSmall()" href="#"
                    class="animate">
                    Documentación<span class="fa fa-file-text" aria-hidden="true"></span>
                </a>
            </div>
            <!-- <div class="col-md-12 col-sm-12 userData">
                <a (click)="goToSeccion('/usuario/cambio-contrasenia')" href="#" class="animate">
                    Cambio de contraseña<span aria-hidden="true"><img src="/Content/images/header/key-solid.svg" style="width: 16px; height: 16px; color: #959595;" alt="clave"/></span>
                </a>
            </div> -->
            <div class="col-md-12 col-sm-12 userData" *ngIf="isAuthorized('SELECCIONAR VENDEDOR')">
                <a (click)="goToSeccion('/usuario/cambio-vendedor')" href="#" class="animate"
                    onClick="userCloseSmall()">
                    Cambio de vendedor<span class="fa fa-id-card" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-md-12 col-sm-12 userData no-border">
                <a (click)="cerrarSesion()" href="#" class="animate" onClick="userCloseSmall()">
                    Cerrar sesión<span class="fa fa-sign-out" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </usuario-small>
</header-user>
<div *ngIf="showComunicaciones">
    <div *ngIf="noticiasNotEmpty()">
        <notifications-container id="notificationSmall" style="display:none; margin-right: 125px; width: 35%; background: #F4F4F4;">
            <noti-small id="notiSmall" class="clearfix">
                <app-comunicaciones (cerrarComunicaciones)="cerrarComunicaciones()"></app-comunicaciones>
            </noti-small>
        </notifications-container>
    </div>
</div>
<block-ui></block-ui>