<style>
    .fieldset {
        max-width: 650px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px #88888854;
        padding: 20px;
        margin-top: 15px;
    }

    .subtitulo {
        box-sizing: border-box;
        color: blue;
        display: table;
        max-width: 100%;
        padding: 0;
        white-space: normal;
        font-weight: 600 !important;
        font-size: large;
    }
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 28px;
        background-color: transparent !important;
        margin: 0 !important;
    }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .labelSwitch {
        top: 5px;
        position: relative;
        margin-left: 7px;
    }
</style>
<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 ">Crear Contrato <strong>A Precio</strong> </div>
        </div>
        <fieldset class="fieldset">
            <label class="subtitulo">Condiciones Generales</label>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="tipocontrato" class="font-weight-bold">Tipo de contrato</label>
                    <select class="form-control" name="tipocontrato" readonly disabled>
                        <option value="2" selected>A Precio</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="destino">Destiono</label>
                    <select class="form-control" name="destino">
                        <option *ngFor="let item of destinos" value="{{item.Id}}">{{item.Descripcion}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="material">Material</label>
                    <select class="form-control" name="material">
                        <option *ngFor="let item of materiales" value="{{item.Id}}">{{item.Descripcion}}</option>
                    </select>

                </div>
                <div class="form-group col-md-6">
                    <label for="camania">Campaña</label>
                    <select class="form-control" name="campania">
                        <option *ngFor="let item of campanias" value="{{item.Id}}">{{item.Descripcion}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="cantidad">Cantidad (Kg.)</label>
                    <input type="text" class="form-control" name="cantidad"  numeric decimals="0">
                </div>
                <div class="form-group col-md-4">
                    <label for="precio">Precio</label>
                    <input type="text" class="form-control" name="precio"  numeric decimals="2">
                </div>
                <div class="form-group col-md-2">
                    <label for="moneda">Moneda</label>
                    <select class="form-control" name="moneda">
                        <option *ngFor="let item of monedas" value="{{item.Id}}">{{item.Descripcion}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="condVend">Condicion vendedor</label>
                    <select class="form-control" name="moneda">
                        <option *ngFor="let item of condicionVendedor" value="{{item.Id}}">{{item.Descripcion}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="localidad">Localidad</label>                    
                    <input [(ngModel)]="contrato" class="form-control" type="hidden"
                           id="localidadinf" style="font-weight: 100 !important;">
                    <ng-autocomplete [data]="data" [searchKeyword]="keyword"
                                     (selected)='selectEventInforme($event)' [(ngModel)]="informe.localidad"
                                     (inputChanged)='onChangeSearchInforme($event)'
                                     (inputFocused)='selectEventInforme($event)' [itemTemplate]="itemTemplate"
                                     [notFoundText]="autocompleteNotFoundText"
                                     [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.Nombre"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="boleto">Boleto</label>
                    <select class="form-control" name="boleto">
                        <option value="1">Confirma</option>
                        <option value="2">Físico</option>
                        <option value="3">Ninguno</option>
                        <option value="4">Carta Oferta</option>
                        <!--<option value="5">Físico</option>-->
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="bolsa">Bolsa</label>
                    <select class="form-control" name="bolsa">
                        <option *ngFor="let item of bolsas" value="{{item.Id}}">{{item.Descripcion}}</option>
                    </select>
                </div>
            </div>
            <label class="subtitulo">Condiciones Generales</label>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>

                    </label><label class="labelSwitch"> Pago diferido</label>
                </div>
                <div class="form-group col-md-12">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>

                    </label><label class="labelSwitch"> Dolarizado</label>
                </div>
            </div>
        </fieldset>




    </section>
    <!--End CONTENT-->
</div>