<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 "><strong>Reporte de Contratos</strong> </div>

            <div class="row align-right">
                <div class="col-xs-12 col-sm-8 col-md-8" style="display: flex; justify-content: flex-end;">
                    <a (click)="exportExcelReporteContrato()" style="text-decoration:none!important">
                        <div class="btnSection animate align-right">
                            Exportar <img src="Content/images/buttons/EXPORT.svg" alt="exportar" />
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <!--End Title-->
        <!--Search-->
        <!--
        <div class="row">
            <div class="col-md-4">
            -->
        <div class="row myRow firstSection mySearch">
            <div class="col-xs-12 col-md-12 rounded shadow animate">
                <div class="col-xs-12 col-md-12 search-header">
                    <spinner-small></spinner-small>
                    <title-caps>Refinar resultados</title-caps>
                </div>
                <div id="searchVer" class="col-xs-12 col-sm-12 col-md-12">
                    <app-filtro-fecha-reporte leyenda="Rango máximo de 8 meses" (ClickEvent)="getListadoFechas()"
                        (FiltroPendientes)="filtroPendientes($event)"></app-filtro-fecha-reporte>
                </div>
                <div id="searchProducto" class="col-xs-12 col-sm-6 col-md-15">
                    <p>Producto:</p>
                    <div class="styled-select">
                        <dropdown [tipoDropdown]="'filtroVariable'" [options]="filtroProducto"
                            (select)="setFiltroProducto($event)"></dropdown>
                    </div>
                </div>

                <div id="searchVendedor" class="col-xs-12 col-sm-6 col-md-15" *ngIf="esInterno || esCorredor">
                    <p>Cliente</p>
                    <div class="styled-select">
                        <dropdown [tipoDropdown]="'filtroVariable'" [options]="filtroCliente"
                            (select)="setFiltroCliente($event)"></dropdown>
                    </div>
                </div>

                <div id="searchTipoContrato" class="col-xs-12 col-sm-6 col-md-15">
                    <p>Nro Contrato</p>
                    <div class="styled-select">
                        <input type="search" class="" placeholder="" [(ngModel)]="filtroContrato"
                            (ngModelChange)="setFiltroContrato($event)" aria-controls="tableModal"
                            [disabled]="disabled">
                    </div>
                </div>

                <div id="searchProducto" class="col-xs-12 col-sm-6 col-md-15">
                    <p>Tipo Contrato:</p>
                    <div class="styled-select">
                        <dropdown [tipoDropdown]="'filtroVariable'" [options]="filtroTipoContrato"
                            (select)="setFiltroTipoContrato($event)"></dropdown>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 margenInput mt-4">
                    <div style="float: right">
                        <button type="button" pButton icon="fa fa-refresh" (click)="getListado()"
                            style="background-color: #075088; float: right; left: -10px; top: 50%;"></button> &nbsp;
                    </div>

                </div>

            </div>
        </div>
        <!-- End Search-->
        <!-- Tables-->

        <div class="row myRow">
            <div class="clearfix myTables">
                <mensaje></mensaje>
                <spinner></spinner>
                <table id="tableModal" *ngIf="isVisible()"
                    class="display nowrap dataTable no-footer dtr-inline rounded shadow animate" role="grid"
                    aria-describedby="tableModal_info" style="width: 100%; padding:30px 0;">
                    <thead>
                        <tr role="row">
                            <th tabindex="0" rowspan="1" colspan="1">
                                Nro de Contrato

                            </th>
                            <th tabindex="0" rowspan="1" colspan="1" *ngIf="verNroPedidoCliente">
                                Nro Pedido de Cliente

                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">
                                Fecha

                            </th>
                            <th tabindex="0" rowspan="1" colspan="1" *ngIf="verCliente">
                                Cliente
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1" *ngIf="verCorredor">
                                Corredor
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">
                                Producto
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">
                                Kgs Totales

                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">
                                Kgs Entregados

                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">
                                Kgs Pendientes
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">
                                Precio
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">
                                Observaciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cabeceraContrato of cabecera | customFilter : 'Contrato' : filtroContrato  | orderedColumn : {property: (orderedByColumn), direction: orderDirection} ; let odd = odd"
                            role="row" [class.odd]="!odd">
                            <td><a class="animate" style="cursor:pointer;" data-toggle="modal"
                                    data-target="#modalDetalleContrato"
                                    (click)="guardarFiltros();verDetalleContrato(cabeceraContrato.Contrato)">{{cabeceraContrato.Contrato}}</a>
                            </td>
                            <td *ngIf="verNroPedidoCliente">{{cabeceraContrato.PedidoCliente}}</td>
                            <td>{{cabeceraContrato.FechaDesde| date: 'dd/MM/yyyy'}}</td>
                            <td *ngIf="verCliente">{{cabeceraContrato.NombreCliente}}</td>
                            <td *ngIf="verCorredor"
                                [ngStyle]="{'font-weight':cabeceraContrato.Corredor == 'TOTAL' ? '900': ''}">
                                {{cabeceraContrato.Corredor}}</td>

                            <td>
                                <div
                                    [ngStyle]="{'color':cabeceraContrato.ColorProducto,'font-weight':cabeceraContrato.NombreCliente == '' ? '700': ''}">
                                    {{cabeceraContrato.DescripcionMaterial}}
                                </div>
                            </td>
                            <td [ngStyle]="{'font-weight':cabeceraContrato.NombreCliente == '' ? '700': ''}">
                                {{cabeceraContrato.KilosTotales | number:'':'es'}}</td>
                            <td [ngStyle]="{'font-weight':cabeceraContrato.NombreCliente == '' ? '700': ''}">
                                {{cabeceraContrato.KilosEntregados | number:'':'es'}}</td>
                            <td [ngStyle]="{'font-weight':cabeceraContrato.NombreCliente == '' ? '700': ''}">
                                {{cabeceraContrato.KilosPendienteEntrega | number:'':'es'}}</td>
                            <td>{{cabeceraContrato.Precio}}</td>
                            <td>{{cabeceraContrato.CondicionEntrega}}</td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr role="row" class="totalTable">
                            <td></td>
                            <td *ngIf="verTipoContrato"></td>
                            <td *ngIf="verNroPedidoCliente"></td>
                            <td></td>
                            <td *ngIf="verCliente"></td>
                            <td *ngIf="verCorredor"></td>
                            <td style="text-align :center" tabindex="0">TOTAL</td>
                            <td [ngStyle]="{'font-weight':'bold'}">{{KilosTotales | number:'':'es'}}</td>
                            <td [ngStyle]="{'font-weight':'bold'}">{{KilosEntregados | number:'':'es'}}</td>
                            <td [ngStyle]="{'font-weight':'bold'}">{{KilosPendienteEntrega | number:'':'es'}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END tables-->
    </section>
    <!--End CONTENT-->
</div>

<button type="button" #modalDetalleReporteContrato style="display:none" id="openModalDetalleReporteContrato"
    data-toggle="modal" data-target="#modalDetalleContrato"></button>

<div class="modal fade" id="modalDetalleContrato" tabindex="-1" role="dialog" aria-labelledby="cartaDePresentacionLabel"
    data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width: max-content;">
            <div class="modal-header">
                <button #cerrarModalDetalle id="cerrarModalUsuario" type="button" class="close btn-close"
                    data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="cartaDePresentacionLabel">Contrato {{contratoSeleccionadoId}}</h4>
            </div>
            <div class="modal-body">
                <app-detalle (navegarDetalle)="cerrarModalDetalle.click()"></app-detalle>
            </div>
        </div>
    </div>
</div>