<div class="content-wraper alinearAlturaMenuDashboard">

    <section class="container-fluid clearfix">
        <div>
            <!--Title-->
            <div class="row titleSection">
                <div class="col-xs-12 col-sm-10" style="margin-top: 60px;"> <strong>Estado de solicitudes</strong></div>
            </div>
            <!--End title-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row myRow" style=" margin-bottom: 15px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-left: -46px;">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" *ngIf="usuarioInterno"style="position: relative; top: -10px;">
                            <p-autoComplete [(ngModel)]="proveedorSeleccionado" [suggestions]="proveedores"
                                            (completeMethod)="searchProveedor($event)" 
                                            placeholder="Seleccione un proveedor" field="RazonSocial" [minLength]="3"
                                            id="buscadorProveedor" >
                                <ng-template let-proveedor pTemplate="item">
                                    <div class="ui-helper-clearfix">
                                        <div style="font-size:12px;margin:10px 10px 0 0">{{proveedor.RazonSocial}}</div>
                                        <div style="font-size:10px;color:darkgrey;margin:10px 10px 0 0">
                                            {{proveedor.CUIT}} - {{proveedor.RazonSocial}}
                                        </div>
                                    </div>
                                </ng-template>
                            </p-autoComplete>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " pInputText type="text"
                                   [(ngModel)]="nroOc" placeholder="Buscar por número de OC">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <p-calendar showButtonBar="true" [showIcon]="true" placeholder="Filtro fechas"
                                        dateFormat="dd/mm/yy" (onSelect)="onSelect($event)" appendTo="body" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2030"
                                        [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" [locale]="locale"
                                        (onClearClick)="returnToTodaysDate()">
                            </p-calendar>
                        </div>
                        <div class="col-xs-3 col-md-2 col-lg-2  buttonBuscar">
                            <button class="btn buscar" (click)="onBuscar()">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <spinner></spinner>
    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: -15px;">
        <p-table #tabla [value]="ordenDeCompraSap" [paginator]="true" [rows]="10" responsiveLayout="scroll | stack" dataKey="Id" sortMode="multiple">
            <ng-template pTemplate="header" let-columns>
                <tr style="font-size: 15px;">
                    <th [pSortableColumn]="'Cabecera.OrdenDeCompra'" class="columna" style="text-transform: none !important;">Nro OC <p-sortIcon [field]="'Cabecera.OrdenDeCompra'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon></th>
                    <th [pSortableColumn]="'Cabecera.FechaCreacion'" class="columna" style="text-transform: none !important;">Fecha adjudicacion <p-sortIcon [field]="'Cabecera.FechaCreacion'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon></th>
                    <th [pSortableColumn]="'Cabecera.MontoTotal'" class="columna" style="text-transform: none !important;">Monto Total <p-sortIcon [field]="'Cabecera.MontoTotal'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon></th>
                    <th [pSortableColumn]="'Cabecera.Moneda'" class="columna" style="text-transform: none !important;">Moneda <p-sortIcon [field]="'Cabecera.Moneda'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon></th>
                    <th class="columna" style="width: 300px !important; text-transform: none !important;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td style="text-align: center;" colspan="5">No hay ordenes de compra</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td class="columna">{{ rowData.Cabecera.OrdenDeCompra }}</td>
                    <td class="columna">{{ rowData.Cabecera.FechaCreacion | customDateFormat | date :'d/M/yyyy' }}</td>
                    <td class="columna">{{ rowData.Cabecera.MontoTotal }}</td>
                    <td class="columna">{{ rowData.Cabecera.Moneda }}</td>
                    <td class="columna">
                        <button class="publicar btn btn-success" (click)="verDetalleOrdenDeCompra(rowData.Cabecera.OrdenDeCompra)">
                            Ver detalle
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-orden-de-compra-detalle [(displayOrdenDeCompra)]="displayOrdenDeCompra"
                             (cerrarOrdenDeCompraEmitter)="cerrarOrdenDeCompra()"
                             [(ordenDeCompra)]="ordenDeCompra">
</app-orden-de-compra-detalle>