<div class="content-wraper">
  <!-- CONTENT-->
  <section class="container-fluid clearfix">
    <!--Title-->
    <div class="row titleSection">
      <div class="col-xs-12 col-sm-10 ">
        <strong> Orden de carga #{{ordenDeCarga.Id}}</strong>
        <!-- <strong *ngIf="notificacion.Id == 0">Nueva notificación</strong>
        <strong *ngIf="notificacion.Id > 0">Editar notificación</strong> -->
        <div class="semaforo {{ordenDeCarga.ColorSemaforo}}">
        </div>
      </div>
    </div>
    <!--End Title-->
    <!--Search-->
    <div class="mySearch">
      <div *ngIf="mensajeError != ''" class="formulario-input;">
        <div class="alert alert-danger">
          <i aria-hidden="true" class="fa fa-exclamation-triangle"></i>{{mensajeError}}
        </div>
      </div>
      <div class="col-xs-12 col-md-12 rounded shadow animate no-padding-left-right">
        <div class="formulario-campo">
          <div class="col-xs-12 col-md-12 search-header">
            <title-caps>Información</title-caps>
          </div>
          <div class="formulario">
            <div class="col-xs-12 col-md-6">
              <div class="formulario-label">
                CUIT cliente: {{ordenDeCarga.CUITCliente}}
              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="formulario-label">
                Nombre chofer:{{ordenDeCarga.Chofer}}
              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="formulario-label">
                Patente acoplado: {{ordenDeCarga.PatenteAcoplado}}
              </div>
            </div>


            <div class="col-xs-12 col-md-6">
              <div class="formulario-label">
                Chasis acopado: {{ordenDeCarga.ChasisAcoplado}}
              </div>
            </div>


            <div class="col-xs-12 col-md-6">
              <div class="formulario-label">
                Razon social transporte: {{ordenDeCarga.Transporte}}
              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="formulario-label">
                Producto: {{ordenDeCarga.Producto}}
              </div>
            </div>


            <div class="col-xs-12 col-md-6">
              <div class="formulario-label">
                Cantidad: {{ordenDeCarga.Cantidad}}
              </div>
            </div>

            <div class="col-xs-12 col-md-12">
              <div class="formulario-label">
                Observaci&oacute;n: {{ordenDeCarga.Observacion}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Search-->
    <!-- Tables-->
    <div class="row myRow">
      <div class="clearfix myTables">
        <mensaje></mensaje>
        <spinner></spinner>
      </div>
    </div>
    <!-- END tables-->
  </section>
  <!--End CONTENT-->
</div>