.tablaInformacion {
    font-size: 18px;
    color: #707070;
    font-weight: 500;
}

.containerBotones>div {
    padding-bottom: 10px;
}

.semaforo {
    margin-bottom: -5px;
}

.alertScato {
    color: red;
}

.green_entregada {
    background-color: lightseagreen;
    border: 1px solid darkturquoise;
}