.logoTicketPesada {
    max-width: 100%;
    width: 210px;
    height: 100px;
}

body {
    background-color: white!important;
    font-size: 64px;
}

.container {
    display: flex;
    align-content: center;
    flex-direction:column;
    justify-content: center;
    max-width: 30em;
}

.btnContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.logoContainer {
    justify-content: center;
    display: flex;
    margin-top: 3em;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.subtitulo {
    font-weight: 600;
    font-size: 16px;
}

.captchaContainer{
    margin: 15px 0px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.selectorContainer{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    gap: 1rem;
    justify-content: center;
}