<style>
    .fieldset {
        min-width: min-content;
        max-width: 650px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px #88888854;
        padding: 20px;
        margin-top: 15px;
    }

    .subtitulo {
        box-sizing: border-box;
        color: blue;
        display: table;
        max-width: 100%;
        padding: 0;
        white-space: normal;
        font-weight: 600 !important;
        font-size: large;
    }
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 28px;
        background-color: transparent !important;
        margin: 0 !important;
    }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .labelSwitch {
        top: 5px;
        position: relative;
        margin-left: 7px;
    }
</style>
<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 "> <strong>Alta Masiva</strong> </div>
        </div>
        <mensaje></mensaje>
        <fieldset class="fieldset">
            <div *ngIf="this.conError.length == 0 && this.sinError.length == 0">
                <div class="alert alert-warning ng-star-inserted">
                    <i aria-hidden="true" class="fa fa-exclamation-triangle"></i>Por favor, cargar las cantidades en Kg.
                </div>
                <div class="row">
                    <div class="form-group col-md-6 subtitulo">
                        <a href="https://www.afip.gob.ar/genericos/guiavirtual/archivos/localidades.pdf" target="_blank"
                           style="text-decoration:none!important">
                            <div class="doc-header no-border">
                                <p>
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>Descargar Localidades ONCCA
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 subtitulo">
                        <a href="https://b2cmoagro.blob.core.windows.net/moaopublic/AltaMasiva.xlsx" target="_blank"
                           style="text-decoration:none!important">
                            <div class="doc-header no-border">
                                <p>
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>Descargar archivo modelo
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="contratoAcuerdo" class="font-weight-bold">Contrato Acuerdo</label>
                        <select type="text" class="form-control" name="contratoacuerdoid" numeric decimals="0" [(ngModel)]="contratoAcuerdo" style=" width: auto; display: inline; margin-left: 20px;">
                            <option *ngFor="let item of contratosAcuerdo" value="{{item.Id}}">{{item.Filtro}}</option>
                        </select>

                    </div>
                    <div class="form-group col-md-12">
                        <label for="certificadoExclusionGanancias">
                            <img src="../../../../Content/images/buttons/ChoseFile.svg" />
                        </label>
                        <input type="file" class="form-control-file" style="display:none;" id="certificadoExclusionGanancias"
                               (change)="handleFileInput($event.target.files, 'certificadoExclusionGanancias')"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">


                        <div class="container-archivos" style="padding-top:7px; display: inline; padding-left: 10px;">
                            <i class="link-archivo">{{archivoNombre}}</i>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="form-group col-md-12">
                        <spinner></spinner>
                        <button type="button" class="btn-custom btn-mediano btn-add animate align-right" (click)="grabarContratoAltaMasiva()" *ngIf="!this.spinnerComponent.visible.value"
                                style="margin: 0 10px; align-items: center; display: inline-flex;">
                            Grabar
                        </button>
                        <button type="button" class="btn-custom btn-mediano btn-add animate align-right" (click)="irACargas()"
                                style="margin: 0 10px; align-items: center; display: inline-flex;background-color:#eee;color:black !important;">
                            Volver
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="this.conError.length > 0 || this.sinError.length > 0">
                <div class="row myRow firstSection mySearch">
                    <div class="col-xs-12 col-md-12 rounded shadow animate" style="padding-bottom:0; margin-top:0;">
                        <div class="col-xs-12 col-md-12 search-header" style="margin-bottom:0; border-radius: 10px;">
                            <title-caps>Resultado de la importación</title-caps>
                        </div>

                    </div>
                </div>
                <table id="conError" class="display nowrap dataTable no-footer dtr-inline rounded shadow animate ccpp-table" cellspacing="0" role="grid" *ngIf="this.conError.length > 0">
                    <thead>
                        <tr>
                            <th>Linea</th>
                            <th>Error</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of conError">
                            <td>{{item.Row+2}}</td>
                            <td><div *ngIf="item.IsFatal" style='color:red'>No se pudo procesar el archivo.</div><div style="color:lightcoral" *ngFor="let e of item.Errors">{{e}}</div></td>
                        </tr>
                    </tbody>
                </table>
                <br />

                <table id="sinError" class="display nowrap dataTable no-footer dtr-inline rounded shadow animate ccpp-table" cellspacing="0" role="grid" *ngIf="this.sinError.length > 0">
                    <thead>
                        <tr>
                            <th>Linea creadas correctamente</th>
                            <th>Contrato Corredor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of sinError">
                            <td>{{item.Row+2}}</td>
                            <td>{{item.ContratoCorredor}}</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div class="row">
                    <div class="form-group col-md-12">
                        <button type="button" class="btn-custom btn-mediano btn-add animate align-right" (click)="irACargas()"
                                style="margin: 0 10px; align-items: center; display: inline-flex;background-color:#eee;color:black !important;">
                            Volver
                        </button>
                    </div>
                </div>
            </div>

        </fieldset>




    </section>
    <!--End CONTENT-->
</div>