.btn-borrar {
    background-color: var(--brand-color-green);
}

.btn-sin-fondo {
    background: none;
    border: none;
}

.btn-descargar,
.btn-borrar {
    font-size: 22px;
    color: var(--brand-color-green);
    margin-right: 5px;
    height: 15px;
}

.btn-descargar {
    background-color: var(--brand-color-green);
    -webkit-mask: url('/Content/images/icons/Kmz_file_format_symbol.svg') no-repeat 100% 100%;
    mask: url('/Content/images/icons/Kmz_file_format_symbol.svg') no-repeat 100% 100%;
    width: 25px;
    height: 30px;
}

input:disabled,
::ng-deep .ui-autocomplete-input:disabled,
::ng-deep .ui-inputtext:disabled {
    opacity: 0.9 !important;
    background-color: #bebebe !important;
    color: #333232 !important;
}

::ng-deep .ui-autocomplete-input {
    top: 0px;
}

::ng-deep .ui-autocomplete {
    top: 0 !important;
}

::ng-deep .ui-autocomplete-input {
    width: calc(99% - 33px) !important;
}
