.show {
    display: inline;
}

.hidden {
    display: none;
}

.modal,
.container {
    margin-top: 128px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.label {
    font-weight: 100 !important;
    color: #172f8f !important;
    font-size: 17px !important;
    padding-left: 0 !important;
    text-align: start !important;
}

.padding-5-0 {
    padding: 5px 0;
}

.padding-0-5 {
    padding: 0 5px;
}

.formulario-label {
    font-size: 15px;
    font-weight: 500;
    color: #172f8f;
}

.margin-5px {
    margin: 0 5px !important;
}

.titulo {
    font-size: 17px;
    font-weight: 500;
    color: #172f8f;
}

.form-control-file {
    margin: 10px 0;
}
