#solicitudes-estado-solicitante.content-wraper {
    margin: 0;
    padding-top: 2rem;
    padding-right: 1.2rem;
    margin-top: 0;
    position: relative;
    font-family: "Roboto Condensed", Arial, sans-serif !important;
}

.content-wraper {
    overflow: hidden;
}

.reasignacionIcon {
    position: fixed !important;
    left: 0;
    top: 0;
    width: calc(100%);
    height: calc(100%);
    background-color: #f4f4f4;
    z-index: 10;
    /* hide scrollbar but allow scrolling */
    overflow-y: auto;
    box-sizing: border-box;
    /* for Internet Explorer, Edge */
    /* for Firefox */
}

.fullscreen {
    position: fixed !important;
    left: 0;
    top: 0;
    width: calc(100%);
    height: calc(100%);
    background-color: #f4f4f4;
    z-index: 10;
    /* hide scrollbar but allow scrolling */
    overflow-y: auto;
    box-sizing: border-box;
    /* for Internet Explorer, Edge */
    /* for Firefox */
}

.fullscreen.show-scrollbar {
    display: block; /* Forzar la barra de desplazamiento visible */
    
}

.ingresante {
    display: inline-block;
}

.ingresante span {
    color: blue;
}

.filtro-oc-input {
    margin-left: 0.4em;
    height: 1.8em;
    position: relative;
    font-family: "Roboto Condensed", Arial, sans-serif !important;
}

.filtro-usuario-input {
    margin-left: 0.4em;
    height: 1.8em;
    position: relative;
    font-family: "Roboto Condensed", Arial, sans-serif !important;
}

.boton-enviar-motivo {
    padding: 10px;
    justify-content: center;
    display: flex;
}

/* FILTERS */
.filters-row {
    padding: 4px 8px;
    border-top: 0.5px solid #959595;
    border-left: 0.5px solid #959595;
    border-right: 0.5px solid #959595;
    border-top-right-radius: 5px;
    width: max-content;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters-row > div + div:before {
    content: "|";
    padding: 0.6em;
    color: #959595;
    position: inherit;
    bottom: 0.3em;
    font-size: 1.3em;
}

:host
    ::ng-deep
    .filtro-estado-certificacion
    > p-dropdown#select-estado-certificacion
    > .ui-dropdown {
    height: 1.8em;
    width: 17em !important;
    position: relative;
}

:host
    ::ng-deep
    .filtro-estado-certificacion
    > p-dropdown#select-estado-certificacion
    > .ui-dropdown
    > .ui-dropdown-label {
    font-size: 0.9em !important;
    font-family: "Roboto Condensed", Arial, sans-serif !important;
    padding: 0.2em 0.4em;
    margin-bottom: 0;
}

:host
    ::ng-deep
    .filtro-estado-certificacion
    > p-dropdown#select-estado-certificacion
    > .ui-dropdown.ui-dropdown-open
    > .ui-dropdown-panel
    > .ui-dropdown-items-wrapper
    > .ui-dropdown-items {
    font-size: 0.9em !important;
}

/* TABLE */
.container-table {
    margin-top: 1em;
}

.aprobada {
    width: fit-content;
    background-color: green;
    color: white;
    padding: .2em 1em;
    text-align: center;
    align-content: center;
    display: grid;
    font-weight: bold;
    margin: auto;
}

.pendiente-aprobacion {
    width: fit-content;
    background-color: #ff701a;
    color: white;
    padding: .2em 1em;
    text-align: center;
    align-content: center;
    display: grid;
    font-weight: bold;
    margin: auto;
}

.rechazada {
    width: fit-content;
    background-color: #b90d0d;
    color: white;
    padding: .2em 1em;
    text-align: center;
    align-content: center;
    display: grid;
    font-weight: bold;
    margin: auto;
}

.anulada {
    width: fit-content;
    background-color: #6d6b6b;
    color: white;
    padding: .2em 1em;
    text-align: center;
    align-content: center;
    display: grid;
    font-weight: bold;
    margin: auto;
}

/* TABLE */
.emptyData {
    text-align: center !important;
}

::ng-deep #solicitudes-estado-solicitante .ui-table-wrapper {
    overflow: auto;
}

::ng-deep #solicitudes-estado-solicitante .ui-table table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

::ng-deep #solicitudes-estado-solicitante table th {
    word-wrap: normal;
    white-space: nowrap;
    width: max-content;
    color: #fff !important;
    text-align: center;
}

::ng-deep #solicitudes-estado-solicitante .ui-table .ui-table-thead > tr > th {
    padding: 0.3em 1em !important;
    font-size: 1.1rem;
}

::ng-deep #solicitudes-estado-solicitante .ui-table tr {
    width: max-content;
}

::ng-deep #solicitudes-estado-solicitante .level1 th,
::ng-deep #solicitudes-estado-solicitante .ui-sortable-column.ui-state-highlight {
    background-color: #666 !important;
}

::ng-deep #solicitudes-estado-solicitante .level2 th {
  background-color: #075088 !important;
  font-size: 1.1rem !important;
  white-space: wrap;
  max-width: 6em;
}

::ng-deep #solicitudes-estado-solicitante .level2 th.anterior {
  border-color: white;
  background-color: #F9C834 !important;
  color: #333 !important;
}

::ng-deep #solicitudes-estado-solicitante .level2 th.acertificar {
  border-color: white;
  background-color: #2269c4 !important;
  color: #fff;
}

::ng-deep #solicitudes-estado-solicitante .level2 th.acumulado {
  border-color: white;
  background-color: #00B050 !important;
  color: #fff;
}

::ng-deep #solicitudes-estado-solicitante .level2 td.descripcion {
  max-width: 10em;
  white-space: wrap;
}

::ng-deep #solicitudes-estado-solicitante .level1 tr th:first-child {
    min-width: 4rem;
}

::ng-deep #solicitudes-estado-solicitante table td {
    text-align: left;
    white-space: nowrap;
    font-size: 1.1rem;
}

::ng-deep #solicitudes-estado-solicitante table td:first-child {
    max-width: 0;
}

::ng-deep #solicitudes-estado-solicitante .level1 th:first-child {
    max-width: 6rem;
}

::ng-deep #solicitudes-estado-solicitante i.ui-sortable-column-icon {
    color: white;
    font-size: 1.1rem;
    padding-left: 0.8rem;
}

::ng-deep .filtro-fechas #btnAplicar {
    display: none !important;
    visibility: hidden !important;
}

/*Second table headers*/
.limitHeadersSize {
    max-width:9em;
}

.center-content {
    text-align:center !important;
}

i#btn-fullscreen {
    transform: rotate(-90deg);
}

i#btn-fullscreen,
i#btn-filtros,
i#btn-reasignacion {
    font-size: 1.7rem;
    float: right;
    margin-top: .6em;
    margin-left: 1em;
    background-color: transparent;
    cursor: pointer;
}

i#btn-exportar {
    font-size: 1.7rem;
    float: right;
    margin-top: .6em;
    margin-left: 1em;
    background-color: transparent;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.5; /* Esto le da un aspecto de deshabilitado */
  }

.filtro-nro-orden>input[type=text],
:host ::ng-deep p-autocomplete.filtro-proveedor>span>input[type=text] {
    border-radius: 4px;
    border: 1px solid #ddd;
    height: 2.69em;
    width: 100%;
    height: 2.68em;
    padding: 0.429em;
    font-family: Roboto Regular;
    font-size: 15px;
    line-height: 21.4333px;
}

.filtro-nro-orden>input:active,
.filtro-nro-orden>input:hover,
.filtro-nro-orden>input:focus,
:host ::ng-deep p-autocomplete.filtro-proveedor>span>input[type=text]:active,
:host ::ng-deep p-autocomplete.filtro-proveedor>span>input[type=text]:hover,
:host ::ng-deep p-autocomplete.filtro-proveedor>span>input[type=text]:focus {
    border: 1px solid #ddd;
}

::ng-deep p-autocomplete.filtro-proveedor .ui-autocomplete-loader.pi.pi-spinner.pi-spin {
    margin: auto !important;
}

:host ::ng-deep p-autocomplete.filtro-proveedor>span.ui-autocomplete {
    top: -10px !important;
}

.aux-panel {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    margin: .5em 0 1em 0;
    width: 40%;
}

.aux-panel:has(.columns-config-container) {
    background-color: rgba(255, 255, 255, .93) !important;
}

.aux-panel-header {
    padding: 10px;
    background-color: #959595;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding-left: 15px;
    min-height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aux-panel-header>.pi-times {
    cursor: pointer;
}

.aux-panel-body {
    margin: 1em;
}

/* Columns Config Panel */
.aux-panel-body:has(> .columns-config-container) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 1em 0;
}

.search-filters .btn-buscar {
    background-color: #1C7CD5;
    border-color: #1C7CD5;
    color: white;
    font-size: 1.3em;
    padding: .31em 2em;
    margin-top: 1.6em;
    width: 100%;
}

/* Search Panel */
.search-filters p {
    color: #075088;
    font-weight: bold !important;
}

.btn-action {
    width: 30px !important;
    border: none;
    margin: 0.3rem;
    transition: background 0.2s linear 0.1s, color 0.2s linear 0s;
}

.btn-action.accept-btn {
    background-color: #0b880b !important;
    color: #fff;
}

.btn-action.reject-btn {
    background-color: #e33030 !important;
    color: #fff;
}

td.anulador {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    max-width: 12em;
  }
  
td.anulador:hover {
    overflow: visible;
    white-space: normal !important;
    word-break: break-all;
    height: auto;
}

td.aprobador {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  max-width: 12em;
}

td.aprobador:hover {
    overflow: visible;
    white-space: normal !important;
    word-break: break-all;
    height: auto;
}

td:has(> div.ingresante) {
  max-width: 12em;
  overflow: hidden;
}

.ingresante > span {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 11em;
  display: block;
}

.ingresante:hover > span {
  overflow: visible;
  white-space: normal;
  word-break: break-all;
  height: auto;
}

/* Rules here apply to devices from 1280px and up */
@media (min-width: 1279px) {
    :host ::ng-deep #solicitudes-estado-solicitante .ui-table tr th:first-child {
        font-size: 1.1rem !important;
        min-width: 4rem;
    }
}

.text-center {
  text-align: center !important;
}

.see-all {
    color: white;
    background-color: #1c7cd5;
    border: none;
    border-radius: 6px;
    font-weight: bolder;
    text-align: center;
}

.see-provider {
    color: white;
    background-color: rgb(76, 173, 76);
    border: none;
    border-radius: 6px;
    font-weight: bolder;
    text-align: center;
}

.input-wrapper {
    position: relative;
    top: 5px;
}

.char-limit-message {
    position: absolute;
    top: 80px;
    right: 0;
    color: gray;
    font-size: 12px;
}

.textoLibre {
    margin-bottom: 20px;
    resize: none;
    overflow-wrap: break-word;
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .table-options{
    display: flex;
  }

  .refresh-row{
    padding: 4px 8px;
    border-top: 0.5px solid #959595;
    border-left: 0.5px solid #959595;
    border-top-left-radius: 5px;
    width: max-content;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
        cursor: pointer;
    }
  }