<div id="solicitudes" class="content-wraper">
    <!-- HEADER -->
    <section class="container-fluid clearfix">
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10">
                <strong>Dashboard - Solicitudes de certificaciones</strong>
            </div>
        </div>
        <br />
    </section>
    <!-- HEADER END -->
    <p-messages [value]="msgs"></p-messages>
    <spinner></spinner>
    <div class="container-tabla" #elementToToggle>
        <!-- FILTERS -->
        <div class="filters-row">
            <i class="pi pi-filter"></i>
            <div class="filtro-oc">
                <input
                    class="filtro-oc-input"
                    pInputText
                    type="text"
                    (input)="
                        tabla.filterGlobal($event.target.value, 'contains')
                    "
                    placeholder="Busqueda por OC"
                    [disabled]="tablaPO.length <= 0"
                />
            </div>
            <div class="filtro-estado-certificacion">
                <p-dropdown [(ngModel)]="estadoCertificacion" id="select-estado-certificacion" (onChange)="filtrarPorEstado($event)" optionLabel="name" [disabled]="tablaPO.length <= 0" [options]="listadoEstadoCertificacion" placeholder="Seleccione un estado de certificación"></p-dropdown>
            </div>

            <div *ngIf="havePermision">
                <button *ngIf="!isAll;" (click)="SeeAll()" class="see-all">Ver todo</button>
                <button *ngIf="isAll;" (click)="SeeForProvider()" class="see-provider">Ver por proveedor</button>
            </div>
        </div>
        <!-- FILTERS END -->
        <!-- TABLE 1 -->
        <p-table
            #tabla
            class="level1"
            [value]="tablaPO"
            dataKey="EntradaServicio"
            [paginator]="true"
            [rows]="innerWidth && innerWidth < 1399 ? 6 : 10"
            [columns]="columns"
            [globalFilterFields]="['OrdenCompra']"
            responsiveLayout="scroll | stack"
            rowExpandMode="single"
        >
            <!-- TABLE 1 HEADERS -->
            <ng-template pTemplate="header" let-columns class="lista-header">
                <tr>
                    <th></th>
                    <ng-container *ngFor="let col of defaultTablesConfig[0].columns">
                        <th [id]="col.id" *ngIf="col.sortable && col.visible" [pSortableColumn]="col.field">{{ col.header }}<p-sortIcon [field]="col.field"></p-sortIcon></th>
                        <th [id]="col.id" *ngIf="!col.sortable && col.visible">{{ col.header }}</th>
                    </ng-container>
                </tr>
            </ng-template>
            <!-- TABLE 1 HEADERS END -->
            <!-- TABLE 1 BODY -->
            <ng-template
                pTemplate="body"
                let-rowData
                let-columns="columns"
                let-expanded="expanded"
            >
                <tr [pSelectableRow]="rowData">
                    <td>
                        <a
                            *ngIf="rowData.entradaServicioDetalle?.length > 0"
                            href="#"
                            [pRowToggler]="rowData"
                            (click)="toggleRow(rowData)"
                        >
                            <i
                                [ngClass]="
                                    expanded
                                        ? 'pi pi-chevron-down'
                                        : 'pi pi-chevron-right'
                                "
                            ></i>
                        </a>
                    </td>
                    <td>{{ rowData.EntradaServicio }}</td>
                    <td>
                        {{ rowData.FechaCreacion }}
                    </td>
                    <td>{{ rowData.OrdenCompra || "" }}</td>
                    <td>{{ rowData.CUIT | defaultData }}</td>
                    <td>{{ rowData.Proveedor | defaultData }}</td>
                    <td>{{ rowData.Descripcion | defaultData }}</td>
                    <td>{{ rowData.MontoTotal | customDecimalPipe | number:'1.2-2' }}</td>
                    <td> 
                        <div class="usuario-area">
                            <span>{{ rowData.Ingresante }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="aprobada" *ngIf="rowData.Estado === 'Aprobada'"><span>Aprobada</span> </div>
                        <div class="pendiente-aprobacion" *ngIf="rowData.Estado === 'Pendiente Aprobación'">
                            <span>Pendiente de aprobación</span>
                        </div>
                        <div class="rechazada" *ngIf="rowData.Estado === 'Rechazado'"> <span>Rechazada</span></div>
                    </td>
                    <td *ngIf="rowData.Estado === 'Pendiente Aprobación' && (userId === 'A' || userId === 'AI' || userId === 'FAI' || userId === 'FA')">
                        <button
                            type="button"
                            pButton
                            icon="pi pi-check"
                            class="btn accept-btn"
                            (click)="enviarAprobacion(rowData.NumeroCertificacion)"
                            [disabled]="!equalsIgnoreCase(rowData.Aprobador,usuario)"
                        ></button>
                        <button
                            type="button"
                            pButton
                            icon="pi pi-times"
                            class="btn reject-btn"
                            (click)="verMotivosRechazos(rowData)"
                            [disabled]="!equalsIgnoreCase(rowData.Aprobador,usuario)"
                        ></button>
                    </td>
                    <td *ngIf="rowData.Estado === 'Pendiente Aprobación' && (userId === 'F' || userId === 'FAI' || userId === 'FA' || userId === 'FI')">
                        <button
                            type="button"
                            pButton
                            label="Ver suplente"
                            (click)="verSuplentes(rowData.Suplente, rowData.EntradaServicio)"
                            [disabled]="rowData.Suplente === null || !equalsIgnoreCase(rowData.Fiscal,usuario)"
                        ></button>
                    </td>
                    <td *ngIf="rowData.Estado === 'Pendiente Aprobación' || rowData.Estado === 'Aprobada'">{{ rowData.Aprobador | defaultData}}</td>
                    <td *ngIf="rowData.Estado === 'Rechazado'">{{ rowData.MotivoRechazo | defaultData}}</td>
                </tr>
            </ng-template>
            <!-- TABLE 1 BODY END -->
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="emptyData" colspan="15">
                        No hay ordenes de compra para mostrar
                    </td>
                </tr>
            </ng-template>

            <ng-template
                pTemplate="rowexpansion"
                let-rowData
                let-columns="columns"
            >
                <tr>
                    <td colspan="18">
                        <!-- TABLE 2 -->
                        <p-table
                            class="level2"
                            [value]="rowData.entradaServicioDetalle"
                            responsiveLayout="scroll | stack"
                            dataKey="NumeroLinea"
                            [columns]="columns"
                        >
                            <!-- TABLE 2 HEADERS -->
                            <ng-template pTemplate="header">
                                <ng-container *ngFor="let col of defaultTablesConfig[1].columns">
                                    <th [id]="col.id" *ngIf="col.sortable && col.visible" [pSortableColumn]="col.field">{{ col.header }}<p-sortIcon [field]="col.field"></p-sortIcon></th>
                                    <th [id]="col.id" *ngIf="!col.sortable && col.visible">{{ col.header }}</th>
                                </ng-container>
                            </ng-template>
                            <!-- TABLE 2 HEADERS END -->
                            <!-- TABLE 2 BODY -->
                            <ng-template
                                pTemplate="body"
                                let-rowDetalle
                                let-expanded="expanded"
                            >
                                <tr>
                                    <td>{{ rowDetalle.NumeroLinea }}</td>
                                    <td>{{ rowDetalle.CodigoServicio }}</td>
                                    <td>{{ rowDetalle.TextoBreveServicio }}</td>
                                    <td>{{ rowDetalle.Cantidad }}</td>
                                    <td>{{ rowDetalle.UM }}</td>
                                    <td>{{ rowDetalle.Monto }}</td>
                                    <!-- <td></td> Cantidad real ? no se que va -->
                                    <td>{{ rowDetalle.CantidadCertificar }}</td>
                                    <td>{{ rowDetalle.PorcentajeCertificar }}</td>
                                    <td>{{ rowDetalle.MontoCertificar }}</td>
                                    <td>{{ rowDetalle.NroRemito }}</td>
                                </tr>
                            </ng-template>
                            <!-- TABLE 2 BODY END -->
                        </p-table>
                        <!-- TABLE 2 END -->
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <!-- TABLE 1 END -->
    </div>
    <!-- <app-filtro-dashboard-certificacion-de-servicios></app-filtro-dashboard-certificacion-de-servicios> -->
</div>
<p-dialog
    header="Motivo del rechazo de la certificación"
    [(visible)]="mostrarMotivosRechazos"
    [modal]="true" 
    [responsive]="true"
    [appendTo]="'body'"
    [contentStyle]="{'overflow':'visible', 'min-width': '500px'}"
    [draggable]="false"
    (onHide)="ocultandoModal()"
>
    <form [formGroup]="formularioMotivosRechazo">
        <p-dropdown
            appendTo="body"
            [options]="motivos"
            formControlName="motivo"
            optionLabel="name"
            placeholder="Selecciona un motivo"
        ></p-dropdown>
        <div class="input-wrapper" *ngIf="formularioMotivosRechazo.get('motivo').value.name !== null">
            <textarea 
                formControlName="observaciones"
                class="textoLibre" 
                [disabled]="formularioMotivosRechazo.invalid" 
                type="text" 
                placeholder="En este espacio puede escribir una observación adicional." 
                maxlength="50">
            </textarea>
            <p class="char-limit-message">Max 50 caracteres</p>
        </div>
        <p-button class="boton-enviar-motivo" label="Enviar" (onClick)="enviarMotivo()" [disabled]="formularioMotivosRechazo.invalid"></p-button>
    </form>
</p-dialog>
<p-dialog
    header="Suplente a reasignar"
    [(visible)]="mostrarSuplentes"
    [modal]="true" 
    [responsive]="true"
    [appendTo]="'body'"
    [contentStyle]="{'overflow':'visible'}"
    [draggable]="false"
>
    <form [formGroup]="formularioSuplente">
        <input
            formControlName="suplente"
            pInputText
            type="text"
            readonly
        />
        <!-- <p-dropdown
            appendTo="body"
            [options]="suplentes"
            formControlName="suplente"
            optionLabel="name"
            placeholder="Seleccionar suplente"
        ></p-dropdown> -->
        <p-button class="boton-enviar-motivo" label="Reasignar" (onClick)="reasignar()" [disabled]="formularioSuplente.invalid"></p-button>
    </form>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" appendTo="body"></p-confirmDialog>