<div class="content-wraper">
  <!-- CONTENT-->
  <section class="container-fluid clearfix">
    <!--Title-->
    <div class="row titleSection">
      <div class="col-xs-12 col-sm-10 "><strong>Órdenes de carga</strong> </div>
      <div class="col-xs-12 col-sm-2" style="display: flex; justify-content: flex-end;">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-custom col-xs-12 col-sm-11 btn-add btn-grande"
          (click)="goToSeccion('/ordenes-de-carga/alta')" id="modalToggleButton">
          Nueva OC
        </button>

      </div>
    </div>
    <!--End Title-->
    <!--Search-->
    <div class="myRow mySearch">
      <div class="col-xs-12 col-md-12 rounded shadow animate no-padding-left-right">
        <div class="col-xs-12 col-md-12 search-header">
          <title-caps>Refinar resultados</title-caps>
        </div>
        <div id="searchTexto" class="col-xs-12 col-sm-6 col-md-15">
          <p>Contrato:</p>
          <div class="styled-select">
            <input type="search" class="" placeholder="Ingrese numero de contrato" [value]="" aria-controls="tableModal"
              [(ngModel)]="filtroAlta">
          </div>
        </div>

        <div *ngIf=" esInterno || esComercial || esMesaFas || !esCliente()" id="searchCliente"
          class="col-xs-12 col-sm-6 col-md-15">
          <p>Por Cliente:</p>
          <div class="styled-select">
            <input type="search" class="" placeholder="Ingrese razon social de cliente" [value]=""
              aria-controls="tableModal" [(ngModel)]="filtroCliente">
          </div>
        </div>

        <div *ngIf="!esTercero" id="searchEstado" class="col-xs-12 col-sm-6 col-md-15">
          <p>Por Estado:</p>
          <div>
            <p-multiSelect [options]="descripcionEstadoOrdenCarga" defaultLabel="Estados" [(ngModel)]="estadosSelected"
              selectedItemsLabel="{0} Items seleccionados" (onChange)="filtrarListado();setEstadosFiltroFAS()"
              appendTo="body">
            </p-multiSelect>
          </div>
        </div>

        <div id="searchProducto" class="col-xs-12 col-sm-6 col-md-15">
          <p>Por Producto:</p>
          <div class="styled-select">
            <select name="product" [(ngModel)]="productoSelected">
              <option value="Todos">
                Todos
              </option>
              <option *ngFor="let material of listaMateriales" value="{{material.Descripcion}}">
                {{material.Descripcion}}
              </option>
            </select>
          </div>
        </div>

        <div id="searchVer" class="col-xs-12 col-sm-6 col-md-15">
          <p>Ver:</p>
          <filtro-fecha (ClickEvent)="getListado()"></filtro-fecha>
        </div>


        <div id="searchPedido" class="col-xs-12 col-sm-6 col-md-15" style="margin-top: 8px;">
          Factura anticipada:
          <div class="styled-select ">
            <select [(ngModel)]="filtroTipoContrato">
              <option [value]="null" selected>Todos</option>
              <option [value]="tipoContrato.FacturaAnticipada" selected>Con pedido anticipado</option>
              <option [value]="tipoContrato.Normal" selected>Sin pedido anticipado</option>
            </select>
          </div>
        </div>

        <div style="float: right; height: 70px;">
          <button type="button" pButton icon="fa fa-refresh" (click)="getListado()"
            style="background-color: #075088; float: right; left: -10px; top: 50%;"></button> &nbsp;
        </div>
      </div>
    </div>

    <!-- End Search-->
    <!-- Tables-->
    <div class="row myRow">
      <div class="clearfix myTables" style="overflow-x:auto;">
        <mensaje></mensaje>
        <spinner></spinner>
        <table #tabla *ngIf="data && data.length != 0;" id="tableModal"
          class="display nowrap dataTable no-footer dtr-inline rounded shadow animate ccpp-table" cellspacing="0"
          role="grid" aria-describedby="tableModal_info"
          style="width: 100%; padding:10px 0; background: white !important;">
          <thead>
            <tr role="row">
              <th *ngIf="puedeEnviarASAP"><input type="checkbox" [(ngModel)]="seleccionaTodos"
                  (click)="seleccionarTodos()" /></th>
              <th>Id</th>
              <th *ngIf="esMesaFas || esInterno">Entrega</th>
              <th *ngIf="esInterno || esComercial || esPuerto || esMesaFas || esCorredor">Cliente</th>
              <th *ngIf="esMesaFas">Cuit cliente</th>
              <th *ngIf="esInterno">Corredor</th>
              <th>Estado</th>
              <th>Fecha</th>
              <th>Contrato</th>
              <th *ngIf="esInterno || esMesaFas">Pedido</th>
              <th>Producto</th>
              <th>Patente chasis</th>
              <th *ngIf="esInterno || esComercial || esPuerto || esMesaFas"></th>
              <th>Detalle</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ordenDeCarga of data | 
                customFilter : 'Contrato' : filtroAlta | 
                customFilter : 'Material' : (productoSelected  == 'Todos' ? '' : productoSelected) | 
                customFilter : 'RazonSocialCliente' : filtroCliente | 
                customNumericFilter : 'TipoContrato' : filtroTipoContrato | 
                orderedColumn : {property: orderedByColumn, direction: orderDirection} | 
                paginate: { itemsPerPage:itemsPerPage, currentPage: p }; let odd = odd" role="row" [class.odd]="!odd">
              <td *ngIf="puedeEnviarASAP"><input type="checkbox" [checked]="estaListadoParaSAP(ordenDeCarga)"
                  [disabled]="!ordenDeCarga.NoEstaEnSAP" (click)="seleccionarItem(ordenDeCarga)" /></td>
              <td>{{ordenDeCarga.Id}}</td>
              <td *ngIf="esMesaFas || esInterno">{{ordenDeCarga.Entrega}}</td>
              <td *ngIf="esInterno || esComercial || esPuerto || esMesaFas || esCorredor">
                {{ordenDeCarga.RazonSocialCliente}}</td>
              <td *ngIf="esMesaFas">{{ordenDeCarga.CUITCliente}}</td>
              <td *ngIf="esInterno">{{ordenDeCarga.RazonSocialCorredor}}</td>
              <td>{{ordenDeCarga.DescripcionEstadoListado}}</td>
              <!-- <td *ngIf="esTercero || esPuerto">{{ordenDeCarga.Orden}}</td> -->
              <td>{{ordenDeCarga.Fecha}}</td>
              <td>{{ordenDeCarga.Contrato}}</td>
              <td *ngIf="esInterno || esMesaFas">{{ordenDeCarga.Pedido}}</td>
              <td>{{ordenDeCarga.Material}}</td>
              <td style="text-align: center;">{{ordenDeCarga.PatenteChasis}}
                <span *ngIf="ordenDeCarga.Escalable" class="fa fa-truck" aria-hidden="true"></span>
              </td>
              <td *ngIf="esInterno || esComercial || esPuerto || esMesaFas">
                <div class="semaforo {{ordenDeCarga.ColorSemaforo}}">
                </div>
              </td>
              <td>
                <a class="cursor" style="cursor: pointer;"
                  (click)="goToSeccionParam('/ordenes-de-carga/detalle/', ordenDeCarga.Id)">
                  Ver
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <div>
          <div style="float: right; height: 70px;padding-top:5px;">
            <button [disabled]="!listaEnviarASAP.length" type="button" class="btn btn-custom btn-success btn-mediano"
              *ngIf="puedeEnviarASAP" (click)="enviarASAP()">Enviar a SAP</button>
          </div>
        </div>

        <pagination-template #pT="paginationApi" (pageChange)="p = $event" *ngIf="data && data.length != 0">
          <div class="dataTables_paginate paging_simple_numbers">
            <a id="tableModal_previous" class="paginate_button previous" (click)="pT.previous()"
              [class.disabled]="pT.isFirstPage()"> Anterior </a>
            <span *ngFor="let page of pT.pages" [class.current]="pT.getCurrent() === page.value">
              <a class="paginate_button" (click)="pT.setCurrent(page.value)" *ngIf="pT.getCurrent() !== page.value">{{
                page.label }}</a>
              <a class="paginate_button current" *ngIf="pT.getCurrent() === page.value">{{ page.label }}</a>
            </span>
            <a id="tableModal_next" class="paginate_button next" (click)="pT.next()" [class.disabled]="pT.isLastPage()">
              Siguiente </a>
          </div>
        </pagination-template>
      </div>
    </div>
    <!-- END tables-->
  </section>
  <!--End CONTENT-->
</div>