.semaforo {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: inline-block;
}

.red {
    background-color: #ff6666;
    border: 1px solid red;
}

.yellow {
    background-color: papayawhip;
    border: 1px solid yellow;
}

.orange {
    background-color: #ffa734;
    border: 1px solid rgb(255, 153, 0);
}

.green {
    background-color: palegreen;
    border: 1px solid greenyellow;
}

.bluesap {
    background-color: #075088;
    border: 1px solid #03253f;
}

.green_entregada {
    background-color: lightseagreen;
    border: 1px solid darkturquoise;
}

::ng-deep .ui-multiselect {
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    color: #3f4845 !important;
    overflow: hidden !important;
    min-width: 100%;
}

.icon-truck {
    width: 23px;
    padding-top: 5px;
}