<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-12"> Pesificacion: <strong>Operaciones a Pesificar</strong></div>
        </div>
        <!--End Title-->

        <mensaje></mensaje>
        <spinner></spinner>

        <div *ngIf="isVisible()" class="row myRow firstSection mySearch cargaDeDatos">
            <div style="padding-top: 15px;" class="rounded shadow col-xs-12">
                <!-- Nav tabs -->
                <div class="col-xs-12">
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#individual" aria-controls="individual"
                               *ngIf="permitirCarga" role="tab" data-toggle="tab">Carga Individual</a>
                        </li>
                        <li role="presentation">
                            <a href="#masiva" aria-controls="profile" role="tab"
                               *ngIf="permitirCarga" data-toggle="tab">Carga Masiva</a>
                        </li>
                        <li role="presentation">
                            <a href="#pendiente" aria-controls="profile" role="tab"
                               id="linkPendiente" data-toggle="tab">Pendiente</a>
                        </li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="individual">
                        <div class="row myRow cargaDeDatosFields cargaDeDatosForm">
                            <div class="col-xs-12">
                                Contrato: *
                                <div class="styled-select ">
                                    <input type="search" class="fourRounded" placeholder="1234567"
                                           aria-controls="tableModal" [(ngModel)]="contrato" numeric decimals="0"
                                           (ngModelChange)="changeContrato($event)">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                Fijacion:
                                <div class="styled-select ">
                                    <input type="search" class="fourRounded" placeholder="123456789"
                                           aria-controls="tableModal" [(ngModel)]="fijacion" numeric decimals="0"
                                           (ngModelChange)="changeFijacion($event)">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                Cantidad (Kg): *
                                <div class="styled-select ">
                                    <input type="number" class="fourRounded" placeholder="" aria-controls="tableModal"
                                           [(ngModel)]="cantidad" numeric decimals="0">

                                </div>
                            </div>
                            <div class="col-xs-12"></div>
                            <div class="col-xs-12">
                                Fecha de Pesificacion: <b>{{fecha.FechaPesificacion}}</b> (El horario de corte es a las
                                {{fecha.HoraDeCorte}}hs)
                            </div>
                            <div class="col-xs-12" *ngIf="this.visibleSoja200" style="color:red;">
                                Si el contrato es de Soja el TC de pesificación será de {{soja200.Cotizacion}} ARS desde
                                el {{soja200.DesdeString}} al {{soja200.HastaString}}
                            </div>
                            <div class="col-xs-12" *ngIf="dolarGirasol" style="color:red;">
                                Si el contrato es de Girasol el TC de pesificación será de {{dolarGirasol.Cotizacion}}
                                ARS desde
                                el {{dolarGirasol.DesdeString}} al {{dolarGirasol.HastaString}}
                            </div>
                            <div class="col-xs-12" *ngIf="dolarMaiz" style="color:red;">
                                Si el contrato es de Maiz el TC de pesificación será de {{dolarMaiz.Cotizacion}}
                                ARS desde
                                el {{dolarMaiz.DesdeString}} al {{dolarMaiz.HastaString}}
                            </div>

                            <hr>
                            <div class="row myRow cargaDeDatosBtn">
                                <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                                    <spinner-small></spinner-small>
                                    <a href="#" style="text-decoration:none!important" id="openModalHiddenButton"
                                       data-toggle="modal" data-target="#myModalConfirmacion"
                                       *ngIf="this.visibleEnviar">
                                        <div class="btnSection animate">Enviar <span class="fa fa-play "></span></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="masiva">
                        <div class="row myRow cargaDeDatosFields cargaDeDatosForm">
                            <div class="col-xs-12">
                                <a href="../../../Documentacion/Pesificados carga masiva.docx" target="_blank"
                                   style="text-decoration:none!important">
                                    <div class="documento">
                                        <p><i class="fa fa-file-word-o" aria-hidden="true"></i>Carga masiva</p>
                                        Se detallan como generar el archivo a subir para una carga masiva de
                                        pesificaciones
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12">
                                Archivo: *
                                <div class="styled-select">
                                    <input type="file" accept=".csv" (change)="cargarArchivo($event)"
                                           placeholder="Cargar Archivo">
                                </div>
                            </div>
                            <hr>
                            <div class="row myRow cargaDeDatosBtn">
                                <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                                    <spinner-small></spinner-small>
                                    <a (click)="cargaMasiva()" href="#" style="text-decoration:none!important"
                                       *ngIf="this.visibleEnviar">
                                        <div class="btnSection animate">Enviar <span class="fa fa-play "></span></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="pendiente">
                        <div class="row myRow cargaDeDatosFields cargaDeDatosForm">
                            <div class="col-xs-12">
                                <table id="tableModal"
                                       class="display nowrap dataTable no-footer dtr-inline rounded shadow ccpp-table"
                                       cellspacing="0" role="grid" aria-describedby="tableModal_info"
                                       style="width: 100%; padding:10px 0;">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1"
                                                (click)="orderColumnBy('NroContrato')">Contrato</th>
                                            <th tabindex="0" rowspan="1" colspan="1"
                                                (click)="orderColumnBy('Fijacion')">Fijación</th>
                                            <th tabindex="0" rowspan="1" colspan="1"
                                                (click)="orderColumnBy('CantidadPendiente')">Kilos Pendientes</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="contratos != null">
                                        <tr *ngFor="let cont of contratos | orderedColumn : {property: orderedByColumn, direction: orderDirection} | paginate: { itemsPerPage:itemsPerPage, currentPage: p } ; let odd = odd"
                                            role="row" [class.odd]="!odd">
                                            <td>{{cont.NroContrato}}</td>
                                            <td>{{cont.Fijacion}}</td>
                                            <td>{{round(cont.CantidadPendiente)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination-template #pT="paginationApi" (pageChange)="p = $event"
                                                     *ngIf="isVisiblePaginacion()">
                                    <div class="dataTables_paginate paging_simple_numbers">
                                        <a id="tableModal_previous" class="paginate_button previous"
                                           (click)="pT.previous()" [class.disabled]="pT.isFirstPage()"> Anterior </a>
                                        <span *ngFor="let page of pT.pages"
                                              [class.current]="pT.getCurrent() === page.value">
                                            <a class="paginate_button" (click)="pT.setCurrent(page.value)"
                                               *ngIf="pT.getCurrent() !== page.value">{{ page.label }}</a>
                                            <a class="paginate_button current" *ngIf="pT.getCurrent() === page.value">
                                                {{
                                                page.label
                                                }}
                                            </a>
                                        </span>
                                        <a id="tableModal_next" class="paginate_button next" (click)="pT.next()"
                                           [class.disabled]="pT.isLastPage()"> Siguiente </a>
                                    </div>
                                </pagination-template>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--End CONTENT-->
</div>

<!--  modal -->
<!-- Modal -->
<div class="modal fade" id="myModalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     data-backdrop="false" style="overflow-y: scroll;background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog" role="document" style="width: 1020px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="hidemyModal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Confirmación</h4>

            </div>
            <div class="modal-body" style="padding-top:0;">

                <!-- DETALLE -->

                <div class="content-wraper" style="margin-top:0;padding-top:0">

                    <div class="row myRow firstSection roundedInfo" id="container">
                        <mdb-stepper #stepper>
                            <div class="col-md-12">
                                <mdb-step name="Step 1" label="Informe comercial">
                                    <h3>
                                        Está seguro de que desea Pesificar el Contrato: {{contrato}}, Fijación:
                                        {{fijacion}} por {{cantidad}} kilos?
                                    </h3>

                                </mdb-step>

                            </div>
                        </mdb-stepper>
                    </div>

                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-info btn-lg" *ngIf="this.visibleEnviar"
                        (click)="guardarPesificaciones()"
                        style="margin: 0 10px; height: 30px; align-items: center; display: inline-flex; background: #172f8f; border: none;">
                    Aceptar
                </button>
                <button type="button" class="btn btn-info btn-lg" *ngIf="this.visibleEnviar" data-dismiss="modal"
                        style="margin: 0 10px; height: 30px; align-items: center; display: inline-flex; background: #172f8f; border: none;">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>