<div class="content-wraper alinearAlturaMenuDashboard">

    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 "> <strong>¿Qu&eacute; tipo de SOLP quiere iniciar?</strong></div>
        </div>
        <!--End title-->
        <div class="col-xs-12">
            <div class="row">
                <!--Cards-->
                <div class="col-md-4" *ngFor="let card of cards" (click)="goToSeccionParam(card.path, card.tipoSolp)">

                    <div *ngIf="card.nombre == 'Con pliego'; else sinpliego" class="card cardCompra">
                        <h3 class="cardText">
                            {{card.nombre}}
                            <h6>
                                {{subtitulos[0].nombre}}
                            </h6>
                        </h3>
                    </div>

                    <ng-template #sinpliego>
                        <div class="card cardCompra">
                            <h3 class="cardText">
                                {{card.nombre}}
                                <h6>
                                    {{subtitulos[1].nombre}}
                                </h6>
                            </h3>
                        </div>
                    </ng-template>

                </div>
                <!--End Cards-->
            </div>
        </div>
        <spinner></spinner>
        <div>
            <div class="row titleSection">
                <div class="col-xs-12 col-sm-10" style="margin-top: 60px;"> <strong>Estado de solicitudes</strong></div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row myRow col-xs-12 col-sm-12 col-md-12 col-lg-12 "
                    style="margin-top: 1em; margin-bottom: 15px;">

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="margin-left: -46px;">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inputAltura" pInputText type="text"
                                [(ngModel)]="nroSolp" placeholder="Buscar por numero de solp">
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <p-multiSelect [options]="estadoSolpItem" [(ngModel)]="selectEstadoSolp"
                                defaultLabel="Estado SOLP"></p-multiSelect>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 estiloCalendarDashboard">
                            <p-calendar showButtonBar="true" [showIcon]="true" #myCalendar placeholder="Filtro fechas"
                                dateFormat="dd/mm/yy" (onSelect)="onSelect($event)" appendTo="body"
                                [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" [locale]="locale"
                                (onClearClick)="returnToTodaysDate()" class="styled-select">
                            </p-calendar>
                        </div>

                        <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <button class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inputAltura botonFechaDashboard " type="text" pButton (click)="op.toggle($event, actualTarget)">
                                Fecha <span class="pull-right fa fa-calendar-o"></span>
                            </button>
                        </div> -->
                    </div>

                    <!-- <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 inputAltura" style="margin-top: 10px;"> -->
                    <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> -->
                    <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="color: rgb(209, 199, 199)">
                <p-radioButton name="dashboard" value="Materiales" label="Materiales" inputId="materialesDashboard" disabled></p-radioButton>
            </div> -->
                    <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p-radioButton name="dashboard" value="Servicios" label="Servicios" [(ngModel)]="serviciosDashboard" inputId="serviciosDashboard"></p-radioButton>
            </div>
        </div> -->
                    <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="border-left: 1px solid black;"> -->
                    <!--<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="border-left: 1px solid black; margin-top: 8px;">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <p-checkbox class="checkboxFechas" binary="true" label="SAP" (onChange)="filtrarPorSap()">
                            </p-checkbox>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <p-checkbox class="checkboxFechas" binary="true" label="Mantenimiento" (onChange)="filtrarPorMantenimiento()"></p-checkbox>
                        </div>
                    </div>-->
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 padding1" style="margin-top: 11px;">
                        <!--<span class="padding1">
                            <p-checkbox class="checkboxFechas" binary="false" name="Materiales" inputId="Materiales" label="Materiales" [(ngModel)]="Materiales"
                                        (onChange)="filtrarGrilla()">
                            </p-checkbox>
                        </span>
                        <span class="padding1">
                            <p-checkbox class="checkboxFechas" binary="false" label="Servicios" [(ngModel)]="Servicios"
                                        (onChange)="filtrarGrilla()"></p-checkbox>
                        </span>-->

                        <span
                            style="border-left: 1px solid black;margin-top: 1px;padding-left: 9px;padding-right: 1px;margin-left: 8px;">
                            <p-checkbox class="checkboxFechas" binary="true" label="SAP" [(ngModel)]="sap">
                            </p-checkbox>
                        </span>
                        <span class="padding1" style="margin-right: 5px; margin-left: 5px;">
                            <p-checkbox class="checkboxFechas" binary="true" label="OT" pTooltip="Mantenimiento"
                                [(ngModel)]="mantenimiento"></p-checkbox>
                        </span>
                        <span class="padding1" style="margin-right: 5px;">
                            <p-checkbox class="checkboxFechas" binary="true" label="Web" [(ngModel)]="web"></p-checkbox>
                        </span>
                    </div>
                    <div class="form-group col-md-2 col-lg-1  buttonBuscar" style="margin-left: 14px;">
                        <button class="btn buscar" (click)="onBuscar()">Buscar</button>
                    </div>
                    <!-- </div>     -->
                </div>

            </div>
        </div>
    </section>



    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: -15px;">      
        <p-table #tabla [value]="tablaSolp" dataKey="Id">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 40px"></th>
                    <th [pSortableColumn]="'TipoSolpSap'" data-toggle="tooltip" title="Numero SOLP"
                        style="display: none">
                        Tipo Solp
                    </th>
                    <th data-toggle="tooltip" title="Acciones SOLP"></th>
                    <th style="cursor:pointer" title="Numero SOLP" (click)="onOrder('NroSolp')">
                        Numero SOLP
                        <span><i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': columnaOrden === 'NroSolp' && orden == 'DESC'  }"></i>
                            <i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': columnaOrden === 'NroSolp' && orden == 'ASC' }"></i>
                        </span>
                    </th>

                    <th title="Nombre de pedido" style="cursor:pointer" (click)="onOrder('NombreDeObra')">
                        Nombre de pedido
                        <span><i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': columnaOrden === 'NombreDeObra' && orden == 'DESC'  }"></i>
                            <i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': columnaOrden === 'NombreDeObra' && orden == 'ASC' }"></i>
                        </span>
                    </th>

                    <th title="Fecha de creacion de SOLP" style="cursor:pointer" (click)="onOrder('FechaCreacion')">
                        Fecha creacion
                        <span><i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': columnaOrden === 'FechaCreacion' && orden == 'DESC'  }"></i>
                            <i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': columnaOrden === 'FechaCreacion' && orden == 'ASC' }"></i>
                        </span>
                    </th>

                    <th title="Estado de documento" style="cursor:pointer"
                        (click)="onOrder('EstadoDocumento.Descripcion')">
                        Estado Doc
                        <span><i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': columnaOrden === 'EstadoDocumento.Descripcion' && orden == 'DESC'  }"></i>
                            <i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': columnaOrden === 'EstadoDocumento.Descripcion' && orden == 'ASC' }"></i>
                        </span>
                    </th>

                    <th title="Estado SOLP" style="cursor:pointer" (click)="onOrder('EstadoSolpDescripcion')">
                        Estado Solp
                        <span><i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': columnaOrden === 'EstadoSolpDescripcion' && orden == 'DESC'  }"></i>
                            <i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': columnaOrden === 'EstadoSolpDescripcion' && orden == 'ASC' }"></i>
                        </span>
                    </th>

                    <th title="Tipo de  SOLP" style="cursor:pointer" (click)="onOrder('TipoSolp.Descripcion')">
                        Tipo
                        <span><i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': columnaOrden === 'TipoSolp.Descripcion' && orden == 'DESC'  }"></i>
                            <i
                                [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': columnaOrden === 'TipoSolp.Descripcion' && orden == 'ASC' }"></i>
                        </span>
                    </th>
                    <th data-toggle="tooltip" title="Vincular a pliego">
                        Vincular Pliego
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
                <tr [pSelectableRow]="rowData">
                    <td (dblclick)="onRowDblClick($event, rowData)"> 
                        <div *ngIf="rowData.TienePeticionDeOferta">
                        <a href="#" [pRowToggler]="rowData">
                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                        </a>
                    </div>
                    </td>
                    <td style="display:none;">
                        {{rowData.TipoSolpSap}}
                    </td>
                    <td class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 0px; padding-right: 0px;">

                        <div *ngIf="rowData.TipoSolpSap == 2" class="col-md-2">
                            <span><img class="pointer" src="./Content/images/icons/worker.svg" alt="Mantenimiento"
                                    style="height:25px; cursor:default" /></span>
                        </div>
                        <div *ngIf="rowData.TipoSolpSap == 3" class="col-md-2">
                            <span>
                                <img class="pointer" src="./Content/images/icons/SAP.svg" alt="SAP"
                                    style="width: 30px; height: 30px; cursor:default" />
                            </span>
                        </div>
                        <div class="col-md-2"
                            *ngIf="(rowData.NroSolp == '' || rowData.NroSolp == null) && rowData.UsuarioActual.Mail == usuario">
                            <span><img class="pointer" src="./Content/images/icons/trash.svg" alt="trash"
                                    (click)="eliminarPosicionDashboard(rowData.Id)" /></span>
                        </div>
                        <div class="col-md-2"
                            *ngIf="rowData.EstadoSolpSap.Descripcion != 'Liberada' && (rowData.UsuarioActual.Mail == usuario || verTodas)">
                            <span>
                                <img class="pointer" src="./Content/images/icons/editar.svg" alt="editar"
                                    (click)="goToSeccionEdit('/compras/solp', rowData.Id, rowData.NroSolp)" /></span>
                        </div>
                        <div class="col-md-2">
                            <span><img class="pointer" src="./Content/images/icons/descargar.svg" alt="descargar"
                                    (click)="generarZipPliego(rowData.Id)" /></span>
                        </div>
                    </td>
                    <td>
                        {{rowData.NroSolp}}
                    </td>
                    <td>
                        {{rowData.NombreDeObra || "" }}
                    </td>
                    <td>
                        {{rowData.FechaCreacion | date:'dd/MM/yyyy'}}
                    </td>
                    <td>
                        {{rowData.EstadoDocumento.Descripcion}}
                    </td>
                    <td>
                        <span [style.color]="getColorDocumentoSolp(rowData)">
                            {{rowData.EstadoSolpDescripcion}}
                        </span>
                    </td>
                    <td>
                        {{ rowData.TipoSolp.Descripcion || "" }}
                    </td>
                    <td class="col-sm-12 col-md-12 col-lg-12">
                        <button style="white-space: normal; text-align: center; vertical-align: middle;"
                            class="btn btn-success botonesComprasColor" *ngIf="rowData.VincularPliego"
                            (click)="vincularAPliego(rowData.Id)" [disabled]="rowData.PliegoVinculado"
                            [ngStyle]="{'background-color':(rowData.PliegoVinculado && rowData.VincularPliego) ? 'grey':'green', 'border-color':(rowData.PliegoVinculado && rowData.VincularPliego) ? 'grey':'green' } ">
                            {{(rowData.PliegoVinculado) ? "Pliego vinculado" : "Vincular a Pliego" }}
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                <tr>
                    <td [attr.colspan]="9">
                        <div class="col-sm-12 col-md-12 col-lg-12" style="font-size:16px;padding:20px">
                            <p-tabView>
                                <p-tabPanel header="Licitaciones" [selected]="true">
                                    <p-table [value]="rowData.PeticionesDeOferta">
                                        <ng-template pTemplate="header">
                                            <tr style="font-size: 15px;">                                               
                                                <th class="columna" style="text-transform: none !important;">Pedido de Cotización</th>
                                                <th class="columna" style="text-transform: none !important;">Plazo de Oferta</th>
                                                <th class="columna" style="text-transform: none !important;">Estado Lic.</th>
                                                <th class="columna" style="width: 300px !important; text-transform: none !important;"></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-licitacion>
                                            <tr>                                    
                                                <td class="columna">{{licitacion.Id}}</td>
                                                <td class="columna">                                                    
                                                    {{licitacion.PlazoDeOferta | customDateFormat | date :'d/M/yyyy'}}
                                                </td>
                                                <td class="columna" [style.color]="licitacion.EstadoColor">{{licitacion.Estado}}</td>
                                                <td class="columna">                                                   
                                                    <button *ngIf="licitacion.Estado == 'Abierto'" class="publicar btn" style="margin-right: 10px;" (click)="obtenerPeticionDeOferta(licitacion.Id)">
                                                        Revisión Técnica
                                                    </button>
                                                    <button class="publicar btn " style="margin-right: 10px;"  (click)="obtenerPeticionDeOfertaCircular(licitacion.Id)">
                                                        Circular
                                                    </button>
                                                </td>
                                                
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </p-tabPanel>                                
                            </p-tabView>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>      
    <p-paginator #paginator [rows]="10" [totalRecords]="length" (onPageChange)="handlePageEvent($event)"></p-paginator>
</div>
</div>

<app-revision-tecnica           
                [(displayRevisionTecnica)]="displayRevisionTecnica"
                (cerrardisplayRevisionTecnicaEmitter)="cerrarModalRevisionTecnica()"
                (descargarArchivoEmitter)="descargarArchivo($event)"
                (descargarAdjuntosCotizacionEmitter)="descargarAdjuntosCotizacion($event)"
                (grabarRevisionTecnicaEmitter)="grabarRevisionTecnica()"
                [(peticion)]="peticion">
</app-revision-tecnica> 

<app-circular
    [(locale)]="es"
    [(displayCircular)]="displayCircular"
    (cerrarCircularEmitter)="cerrarCircular()"
    [(peticion)]="peticion">
</app-circular>   


<!-- Modal eliminacion de SOLP-->
<p-confirmDialog #dialogo header="Eliminar SOLP" icon="pi pi-exclamation-triangle" [width]="400" [responsive]="true"
    appendTo="body">
    <p-footer>
        <button type="button" pButton label="Cancelar" class="ui-button-info botonModal"
            (click)="dialogo.reject()"></button>
        <button type="button" pButton label="Aceptar" class="ui-button-success botonModal"
            (click)="dialogo.accept()"></button>
    </p-footer>
</p-confirmDialog>
<!--fin modal eliminacion de SOLP-->