<div class="content-wraper alinearAlturaMenuDashboard">
    <section class="container-fluid clearfix">
             <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 "> <strong>¿Qu&eacute; tipo de SOLP quiere iniciar?</strong></div>
        </div>
            <!--End title-->
        <div class="col-xs-12">
            <div class="row">
                <!--Cards-->
                <div class="col-md-3" *ngFor="let card of cards" (click)="goToSeccion(card.path)">
                    <div class="card cardCompra">
                        <h3 class="cardText">{{card.nombre}}</h3>
                    </div>
                </div>
                <!--End Cards-->
            </div>
        </div>
    </section>
</div>


