<!-- <div class="content-wraper alinearAlturaMenuDashboard">
    <section class="container-fluid clearfix">
            
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 "> <strong>Estado de solicitudes</strong></div>
        </div>
           
        <div class="col-xs-12">
            <div class="row">
               
            </div>

            <div class="col-xs-12">
                <div class="row">
               
                </div>
        </div>
    </section>
</div> -->