<div class="content-wraper">
    <!-- CONTENT-->
    <section class="container-fluid clearfix">
        <!--Title-->
        <div class="row titleSection">
            <div class="col-xs-12 col-sm-10 fixtwobuttons">Aduana: <strong>Listado de Pesadas Historicas</strong> </div>
        </div>
        <!--End Title-->
        <!--Add 1-->
        <div class="row myRow firstSection mySearch cargaDeDatos">
            <div class="rounded shadow">
                <div class="row myRow cargaDeDatosFields">
                    <div class="col-xs-12 col-sm-6 ">
                        Fecha Inicio:
                        <div class="styled-select input-group date form_datetime_Inicio" data-provide="datepicker" data-date="" data-date-format="dd/MM/yyyy HH:ii" data-link-field="dtp_input_inicio">
                            <input type="text" value="{{fechaInicio}}" id="noCursor" readonly />
                            <span class="input-group-addon"><span class="fa fa-calendar "></span></span>
                        </div>
                        <input type="hidden" #dtp_input_inicio id="dtp_input_inicio" value="{{fechaInicio}}"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 ">
                        Fecha Fin:
                        <div class="styled-select input-group date form_datetime_Fin" data-provide="datepicker" data-date="" data-date-format="dd/MM/yyyy HH:ii" data-link-field="dtp_input_fin">
                            <input type="text" value="{{fechaFin}}" id="noCursor" readonly />
                            <span class="input-group-addon"><span class="fa fa-calendar "></span></span>
                        </div>
                        <input type="hidden" #dtp_input_fin id="dtp_input_fin" value="{{fechaFin}}" />
                    </div>
                </div>
                <hr>
                <div class="row myRow cargaDeDatosBtn">
                    <div class="col-xs-12 col-sm-3 col-sm-offset-9 ">
                        <a (click)="getDataEvent(dtp_input_inicio.value, dtp_input_fin.value)" href="#" style="text-decoration:none!important">
                            <div class="btnSection animate">Buscar <span class="fa  fa-search "></span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End add 1-->
        <!-- Tables-->
        <div class="row myRow">
            <spinner></spinner>
            <mensaje></mensaje>
            <div class="clearfix myTables" *ngIf="isVisible()">
                <table id="tableModal" class="display nowrap dataTable no-footer dtr-inline rounded shadow animate pesada-historica-table" cellspacing="0" role="grid" aria-describedby="tableModal_info" style="width: 100%; padding:10px 0;">
                    <thead>
                        <tr role="row">
                            <th tabindex="0" rowspan="1" colspan="1" style="">Fecha y Hora Inicio</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="">Balanza</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="">Total Embarcado [Kg]</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="">Commodity</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="">Bodega</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="">Destino</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="">Exportador</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="">Vapor</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="">Peso Programado [Kg]</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="">Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pesada of pesadasList | paginate: { itemsPerPage:itemsPerPage, currentPage: p } ; let odd = odd" role="row" class="odd">
                            <td tabindex="0"><a (click)="showModalTableResponsive(pesada)" class="btnShowModal"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a> {{pesada.fechaIncio}}</td>
                            <td>{{pesada.balanza}}</td>
                            <td>{{pesada.totalEmbarcado}}</td>
                            <td>{{pesada.commodity}}</td>
                            <td>{{pesada.bodega}}</td>
                            <td>{{pesada.destino}}</td>
                            <td>{{pesada.exportador}}</td>
                            <td>{{pesada.vapor}}</td>
                            <td>{{pesada.pesoProgramado}}</td>
                            <td><a class="animate" [routerLink]="['/aduana/pesada/detalle', {centro:pesada.centro, nroOrden:pesada.id } ]"><span class="fa  fa-search "></span></a></td>
                        </tr>
                    </tbody>
                </table>
                <pagination-template #pT="paginationApi" (pageChange)="p = $event" *ngIf="isVisible()">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <a id="tableModal_previous" class="paginate_button previous" (click)="pT.previous()" [class.disabled]="pT.isFirstPage()"> Anterior </a>
                        <span *ngFor="let page of pT.pages" [class.current]="pT.getCurrent() === page.value">
                            <a class="paginate_button" (click)="pT.setCurrent(page.value)" *ngIf="pT.getCurrent() !== page.value">{{ page.label }}</a>
                            <a class="paginate_button current" *ngIf="pT.getCurrent() === page.value">{{ page.label }}</a>
                        </span>
                        <a id="tableModal_next" class="paginate_button next" (click)="pT.next()" [class.disabled]="pT.isLastPage()"> Siguiente </a>
                    </div>
                </pagination-template>
            </div>
        </div>
        <!-- END tables-->
    </section>
    <!--End CONTENT-->
</div>


<mensaje></mensaje>


